00_test_quequed-ArtrKAadIyMLAnN9.json
{"updatedAt":"2026-02-25T16:58:05.503Z","createdAt":"2026-02-25T14:57:21.079Z","id":"ArtrKAadIyMLAnN9","name":"00_Test_Quequed","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"send_queue_rce_test","authentication":"basicAuth","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[416,-192],"id":"8bace818-bebe-4303-af99-a5ae8a11a98a","name":"From_Dport","webhookId":"fd26a72f-448c-4a67-ad3f-8c5d6b4ecc7e","credentials":{"httpBasicAuth":{"id":"oLD7fPFDLdNYPBuY","name":"test-diego"}}},{"parameters":{"functionCode":"const body = $json.body || {};\n\nconst camposObligatorios = ['RequestExportId', 'DamId', 'RdId', 'TransmissionType', 'Dam', 'Regime', 'Year', 'TopologyId'];\n\nfor (const campo of camposObligatorios) {\n  if (!body.hasOwnProperty(campo) || body[campo] === '') {\n    throw new Error(`Falta el campo: ${campo}`);\n  }\n}\n\nreturn [\n  {\n    json: {\n      ...body\n    }\n  }\n];"},"name":"Validar Entrada","type":"n8n-nodes-base.function","typeVersion":1,"position":[640,-192],"id":"60493399-b762-4487-afda-c607c926b4c4"},{"parameters":{"queue":"=queue_rce_test","sendInputData":false,"message":"={{ JSON.stringify($json) }}","options":{}},"type":"n8n-nodes-base.rabbitmq","typeVersion":1.1,"position":[864,-192],"id":"14c0a71d-9441-41f5-b550-ee0feb8e6d29","name":"RabbitMQ","credentials":{"rabbitmq":{"id":"djaHZlIVYJrdjpga","name":"RabbitMQ-RCE"}}},{"parameters":{"functionCode":"return [{\n  json: {\n    success: true,\n    message: \"OK\"\n  }\n}];"},"name":"Evaluar Resultado","type":"n8n-nodes-base.function","typeVersion":1,"position":[1088,-192],"id":"35bd5b99-adb7-46c5-9ca5-6f1d09e2dd5c"},{"parameters":{"options":{}},"name":"Respuesta personalizada","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1312,-192],"id":"3bbfa8b1-d2dc-49d6-abcc-d757d30db70f"},{"parameters":{"options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1344,-384],"id":"2e86e592-ad0f-4ce2-ba05-f998125c5454","name":"Send an Email","webhookId":"f0c54935-a669-4022-a454-01426df8fd2e"}],"connections":{"From_Dport":{"main":[[{"node":"Validar Entrada","type":"main","index":0}]]},"Validar Entrada":{"main":[[{"node":"RabbitMQ","type":"main","index":0}]]},"RabbitMQ":{"main":[[{"node":"Evaluar Resultado","type":"main","index":0}]]},"Evaluar Resultado":{"main":[[{"node":"Respuesta personalizada","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"From_Dport":[{"json":{"headers":{"content-type":"application/json","authorization":"Basic dGVzdDp0ZXN0","user-agent":"PostmanRuntime/7.51.1","accept":"*/*","cache-control":"no-cache","postman-token":"ddd8dccd-efcd-4823-80c3-7acb64a1c1ea","host":"n8n-dev.dpwc.local:5678","accept-encoding":"gzip, deflate, br","connection":"keep-alive","content-length":"266"},"params":{},"query":{},"body":{"RequestExportId":230278,"DamId":138718,"RdId":0,"TransmissionType":"RM","Dam":"555555","Regime":"40","Year":"2025","TopologyId":10000,"User":"send_json_to_n8n_dev","Password":"Dport!2025!:::"},"webhookUrl":"http://n8n-dev.dpwc.local:5678/webhook-test/send_queue_rce_test","executionMode":"test"}}]},"versionId":"9aa171c5-ab8f-48d2-889b-a9353d19aed5","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-25T14:57:21.079Z","createdAt":"2026-02-25T14:57:21.079Z","role":"workflow:owner","workflowId":"ArtrKAadIyMLAnN9","projectId":"qKHJHnveidvROPB6"}],"activeVersion":null,"tags":[]}