00_test_quequed-0SRcdaakrN_Y0wKGqwoxN.json
{"updatedAt":"2026-02-23T16:31:41.620Z","createdAt":"2026-02-23T16:06:13.273Z","id":"0SRcdaakrN_Y0wKGqwoxN","name":"00_Test_Quequed","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"send_queue_rce_test","authentication":"basicAuth","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-144,-80],"id":"7a21fb60-8a82-4f91-9df1-a8d113d181ec","name":"From_Dport","webhookId":"fd26a72f-448c-4a67-ad3f-8c5d6b4ecc7e","credentials":{"httpBasicAuth":{"id":"oLD7fPFDLdNYPBuY","name":"test-diego"}}},{"parameters":{"functionCode":"const body = $json.body || {};\n\nconst camposObligatorios = ['RequestExportId', 'DamId', 'RdId', 'TransmissionType', 'Dam', 'Regime', 'Year', 'TopologyId'];\n\nfor (const campo of camposObligatorios) {\n  if (!body.hasOwnProperty(campo) || body[campo] === '') {\n    throw new Error(`Falta el campo: ${campo}`);\n  }\n}\n\nreturn [\n  {\n    json: {\n      ...body\n    }\n  }\n];"},"name":"Validar Entrada","type":"n8n-nodes-base.function","typeVersion":1,"position":[80,-80],"id":"5e354466-f286-4fb7-b06b-5950183022f5"},{"parameters":{"queue":"queue_rce_test","sendInputData":false,"message":"={{ JSON.stringify($json) }}","options":{}},"type":"n8n-nodes-base.rabbitmq","typeVersion":1.1,"position":[304,-80],"id":"749f3a31-c3f8-4242-bc37-036b8f9c572c","name":"RabbitMQ","credentials":{"rabbitmq":{"id":"djaHZlIVYJrdjpga","name":"RabbitMQ-RCE"}}},{"parameters":{"functionCode":"return [{\n  json: {\n    success: true,\n    message: \"OK\"\n  }\n}];"},"name":"Evaluar Resultado","type":"n8n-nodes-base.function","typeVersion":1,"position":[496,-96],"id":"7f77ff72-9267-4e29-a5dc-8155ff4339cb"},{"parameters":{"options":{}},"name":"Respuesta personalizada","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[752,-80],"id":"fe8053ab-72a5-4a1f-9a57-bcb01b5dd250"}],"connections":{"From_Dport":{"main":[[{"node":"Validar Entrada","type":"main","index":0}]]},"Validar Entrada":{"main":[[{"node":"RabbitMQ","type":"main","index":0}]]},"RabbitMQ":{"main":[[{"node":"Evaluar Resultado","type":"main","index":0}]]},"Evaluar Resultado":{"main":[[{"node":"Respuesta personalizada","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9e214fb0-710a-441e-a531-4ec3083f81b1","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-23T16:06:13.273Z","createdAt":"2026-02-23T16:06:13.273Z","role":"workflow:owner","workflowId":"0SRcdaakrN_Y0wKGqwoxN","projectId":"khlpUs0kaQRR8lOt"}],"activeVersion":null,"tags":[{"updatedAt":"2026-01-29T19:38:07.251Z","createdAt":"2026-01-29T19:38:07.251Z","id":"hgiC5mh0O6mMZqSE","name":"GDC-XXXX"}]}