01_readqueuexmlgenerateok-fUhEXjGlh1b6vQXc.json
{"updatedAt":"2025-11-04T16:51:24.664Z","createdAt":"2025-09-15T20:56:44.532Z","id":"fUhEXjGlh1b6vQXc","name":"01_ReadQueueXmlGenerateOK","active":false,"isArchived":false,"nodes":[{"parameters":{"queue":"queue_xml_generate","options":{"acknowledge":"laterMessageNode"}},"type":"n8n-nodes-base.rabbitmqTrigger","typeVersion":1,"position":[-1792,-64],"id":"76bd5826-a964-4a12-872a-e85ec4c990ff","name":"Read Queue Generate XML","credentials":{"rabbitmq":{"id":"vsvI9Lg7vTP32Drt","name":"RabbitMQ account"}}},{"parameters":{"jsCode":"return [{\n  json: JSON.parse($input.first().json.content)\n}]\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1568,-64],"id":"9108f15d-36f5-43de-b19c-260f66ab7bf6","name":"Parse Reading","notesInFlow":false},{"parameters":{"method":"POST","url":"=https://sp2dca-apiis1.dpwc.local:5043/api/aw-fast/FastGateway/GenerateXML","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n   \"RequestExportId\":{{ $json.RequestExportId }},\n   \"DamId\":{{ $json.DamId }},\n   \"RdId\": {{ $json.RdId }},\n   \"TransmissionType\":\"{{ $json.TransmissionType }}\",\n   \"Dam\":\"{{ $json.Dam }}\",\n   \"Regime\":\"{{ $json.Regime }}\",\n   \"Year\":\"{{ $json.Year }}\",\n   \"TopologyId\":{{ $json.TopologyId }},\n   \"User\":\"send_json_to_n8n_dev\",\n   \"Password\":\"Dport!2025!:::\"\n}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1344,-64],"id":"4a00ce94-1c9d-4f69-a4a0-27ea1b48e6ac","name":"Send WS Generate XML","credentials":{"httpBasicAuth":{"id":"AcT919njxjFmHrNy","name":"send_sunat_queues"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"// Decrementa y clampa originaldata.retryCount\nconst item = $input.first().json;\nconst current = Number(item.originaldata?.retryCount ?? 0);\nconst next = Math.max(current - 1, 0);\nitem.originaldata = item.originaldata || {};\nitem.originaldata.retryCount = next;\n\n// (Opcional) si quieres “acarrear” secondsToRetry desde la última respuesta:\nif (item.response?.result?.secondsToRetry != null) {\n  item.originaldata.secondsToRetry = Number(item.response.result.secondsToRetry);\n}\n\nreturn [{ json: item }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-448,-64],"id":"c11cba4e-70e3-4247-bee5-e0666dd02584","name":"Update Count Retry"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2e9c24c4-5c3f-4426-bd89-e2b22123ebe8","leftValue":"={{ $json.originaldata.retryCount }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-224,-64],"id":"184133df-cdfc-46b0-86f9-5b727e7dfb35","name":"Validate Retries"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('ParseSuccessResponse').item.json.response.status }}","rightValue":"SUCCESS","operator":{"type":"string","operation":"equals"},"id":"6f59abc1-c070-4d53-8868-a7966791fe44"}],"combinator":"and"},"renameOutput":true,"outputKey":"SUCCESS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ed496190-4e85-49cd-8ceb-305d07d380ec","leftValue":"={{ $('ParseSuccessResponse').item.json.response.status }}","rightValue":"WARNING","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"WARNING"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3d626c03-1e22-438c-83c7-d0879c949812","leftValue":"={{ $('ParseSuccessResponse').item.json.response.status }}","rightValue":"ERROR","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ERROR"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-672,-368],"id":"16aa8810-b213-4ce7-90ef-dae2e84a9497","name":"Validation Reponse"},{"parameters":{"method":"POST","url":"http://10.208.101.92:1801/api/CRUD/sendEmail","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"email\": \"dpwc.docyprocesosaduaneros@dpworld.com;franklin.milla@dpworld.com;manuel.cuya@dpworld.com\",\n    \"subject\": \"Transmisión automática {{$('ParseSuccessResponse').item.json.originaldata.TransmissionType}} - Error Generación XML - DAM:{{ $json.originaldata.Year }}-{{ $json.originaldata.Regime }}-{{ $json.originaldata.Dam }}\",\n    \"body\": \"<html><body><p>Estimados,</p><p>La siguiente solicitud de exportación: <b>{{ $json.originaldata.RequestExportId }}</b>, con DAM: {{ $json.originaldata.Year }}-{{ $json.originaldata.Regime }}-{{ $json.originaldata.Dam }}</p><p>Ha dado error en la generación de XML al <b>superar la cantidad de intentos</b> por lo siguiente:<p><p style='color: red'><b>{{ $json.response.message }}</b><p></br><p>Favor verificar y solucionar el error en el módulo de {{ $('ParseSuccessResponse').item.json.originaldata.TransmissionType === 'RM' ? 'DAM' : 'RD' }}, y luego continuar con la transmisión de forma manual.<p><p>Atte,</p><p>DP World</p></body></html>\"\n}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,-176],"id":"7a0061ca-b1cf-4acd-a647-1431dd8cde18","name":"Send Email Retries"},{"parameters":{"method":"POST","url":"http://10.208.101.92:1801/api/CRUD/sendEmail","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"email\": \"dpwc.docyprocesosaduaneros@dpworld.com;franklin.milla@dpworld.com;manuel.cuya@dpworld.com\",\n  \"subject\": \"Transmisión automática {{$('ParseSuccessResponse').item.json.originaldata.TransmissionType}} - Error Generación XML - DAM:{{ $('ParseSuccessResponse').item.json.originaldata.Year }}-{{ $('ParseSuccessResponse').item.json.originaldata.Regime }}-{{ $('ParseSuccessResponse').item.json.originaldata.Dam }}\",\n  \"body\": \"<html><body><p>Estimados,</p><p>La siguiente solicitud de exportación: <b>{{ $('ParseSuccessResponse').item.json.originaldata.RequestExportId }}</b>, con DAM: {{ $('ParseSuccessResponse').item.json.originaldata.Year }}-{{ $('ParseSuccessResponse').item.json.originaldata.Regime }}-{{ $('ParseSuccessResponse').item.json.originaldata.Dam }}</p><p>Ha dado error en la generación de XML por lo siguiente:</p><p style='color: red'><b>{{ $('ParseSuccessResponse').item.json.response.message }}</b></p><br/><p>Favor verificar y solucionar el error en el módulo de {{ $('ParseSuccessResponse').item.json.originaldata.TransmissionType === 'RM' ? 'DAM' : 'RD' }}, y luego continuar con la transmisión de forma manual.</p><p>Atte,</p><p>DP World</p></body></html>\"\n}\n","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,-368],"id":"ccfb6758-b95e-4904-804e-cc4105afa8f0","name":"Send Email Error"},{"parameters":{"assignments":{"assignments":[{"id":"5abf7038-95d9-43a0-a7bb-038c31c4202d","name":"error.message","value":"={{ $('ParseErrorResponse').item.json.response.message }}","type":"string"},{"id":"68151956-e363-4b07-8706-1257f5f39495","name":"error.stack","value":"={{ $('ParseErrorResponse').item.json.response.stacktrace }}","type":"string"},{"id":"d5d2eb49-2655-4ee8-afe7-e99be5dd3458","name":"node.name","value":"={{ $workflow.name }}","type":"string"},{"id":"1f3de402-3184-49cd-a84c-7249954e1c9a","name":"data.damid","value":"={{ $('ParseErrorResponse').item.json.originaldata.DamId }}","type":"string"},{"id":"04719210-a722-4dbf-abfd-3a747fe655f8","name":"data.rdid","value":"={{ $('ParseErrorResponse').item.json.originaldata.RdId }}","type":"string"},{"id":"b96561d0-e61e-4126-af56-84301f867e02","name":"data.transmissiontype","value":"={{ $('ParseErrorResponse').item.json.originaldata.TransmissionType }}","type":"string"},{"id":"ecd08711-02a3-4b41-8ec3-11ba22af71cc","name":"data.dam","value":"={{ $('ParseErrorResponse').item.json.originaldata.Dam }}","type":"string"},{"id":"dc07e139-54c9-47ad-98b9-423d0ba3bae6","name":"data.regime","value":"={{ $('ParseErrorResponse').item.json.originaldata.Regime }}","type":"string"},{"id":"3b0e027e-61fc-4d9a-a2b4-e9a70cb53f54","name":"data.year","value":"={{ $('ParseErrorResponse').item.json.originaldata.Year }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-224,192],"id":"3f0c0699-5078-4ecf-9885-96da46dd8d12","name":"Parse Error Response"},{"parameters":{"method":"POST","url":"http://10.208.101.92:1801/api/CRUD/sendEmail","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"email\": \"dpwc.docyprocesosaduaneros@dpworld.com;franklin.milla@dpworld.com;manuel.cuya@dpworld.com\",\n    \"subject\": \"Transmisión automática {{$json.data.transmissiontype}} - Error Generación XML - DAM:{{ $json.data.year }}-{{ $json.data.regime }}-{{ $json.data.dam }}\",\n    \"body\": \"<html><body><p>Estimados,</p><p>La siguiente solicitud de exportación: <b>{{ $json.data.damid }}</b>, con DAM: {{ $json.data.year }}-{{ $json.data.regime }}-{{ $json.data.dam }}, ha generado el siguiente error: </p><p>{{ $json.error.message }}</p><p>Favor de comunicarse con TI y generar la transmisión de forma manual.</p><p>Atte,</p><p>DP World</p></body></html>\"\n}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,192],"id":"d47fe0be-07a9-40e4-abbc-544fab071040","name":"Send Email Error WorkFlow"},{"parameters":{"amount":"={{ $json.originaldata.secondsToRetry || 30 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[672,16],"id":"d220f0c6-e210-4f11-9a38-fcf41b06ec4d","name":"Pause","webhookId":"16f1026b-b8be-462b-9afb-bca611824110"},{"parameters":{"queue":"queue_sunat_transmission","sendInputData":false,"message":"={{ JSON.stringify($('ParseSuccessResponse').item.json.originaldata) }}","options":{}},"type":"n8n-nodes-base.rabbitmq","typeVersion":1.1,"position":[896,-512],"id":"669b85a4-6b91-47ca-b69c-536e76095de0","name":"Send New Queue Sunat Transmission","credentials":{"rabbitmq":{"id":"vsvI9Lg7vTP32Drt","name":"RabbitMQ account"}}},{"parameters":{"queue":"queue_xml_generate","sendInputData":false,"message":"={{ JSON.stringify($('ParseSuccessResponse').item.json.originaldata) }}","options":{}},"type":"n8n-nodes-base.rabbitmq","typeVersion":1.1,"position":[896,16],"id":"41c02d20-17b9-49d5-a4f2-c69ff918c30a","name":"Re Send Queue Generate XML","credentials":{"rabbitmq":{"id":"vsvI9Lg7vTP32Drt","name":"RabbitMQ account"}}},{"parameters":{"method":"POST","url":"https://sp2dca-apiis1.dpwc.local:5043/api/aw-fast/FastGateway/ReleaseTransmissionAutomatic","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.originalData }}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,-208],"id":"2b49a754-3bdf-45cb-aa5b-b3270c570541","name":"Release Transmission","onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"5dedd9df-f31f-440d-80e5-b0e202d7dd78","name":"mailStatus","value":"={{ $json.status }}","type":"string"},{"id":"14800a2c-d48c-4c83-8b09-b659403b963b","name":"originalData","value":"={{ $('Read Queue Generate XML').item.json.content }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,-208],"id":"35efd9f0-138b-482e-ba1c-1580fb80fd2c","name":"Parse Email Response"},{"parameters":{"operation":"deleteMessage"},"type":"n8n-nodes-base.rabbitmq","typeVersion":1.1,"position":[1120,-192],"id":"cb779285-afc6-402e-833b-66ee216003b2","name":"Delete Queue Generate XML","credentials":{"rabbitmq":{"id":"vsvI9Lg7vTP32Drt","name":"RabbitMQ account"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"response\": {{ $json.statusResponse }},\n  \"originaldata\": {\n    \"RequestExportId\": {{ $('Parse Reading').item.json.RequestExportId || null }},\n    \"DamId\": {{ $('Parse Reading').item.json.DamId || null }},\n    \"RdId\": {{ $('Parse Reading').item.json.RdId || 0 }},\n    \"TransmissionType\": \"{{ $('Parse Reading').item.json.TransmissionType || '' }}\",\n    \"Dam\": \"{{ $('Parse Reading').item.json.Dam || '' }}\",\n    \"Regime\": \"{{ $('Parse Reading').item.json.Regime || '' }}\",\n    \"Year\": \"{{ $('Parse Reading').item.json.Year || '' }}\",\n    \"User\": \"{{ $('Parse Reading').item.json.User || '' }}\",\n    \"Password\": \"{{ $('Parse Reading').item.json.Password || '' }}\",\n    \"TopologyId\": {{ $('Parse Reading').item.json.TopologyId || null }},\n    \"retryCount\": {{ $('Parse Reading').item.json.retryCount || 3 }},\n    \"secondsToRetry\": {{ $json.result?.secondsToRetry || 30 }}\n  }\n}\n","includeOtherFields":"=","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1120,-352],"id":"5b293d93-41b0-4d56-a7a1-5d2af3236404","name":"ParseSuccessResponse"},{"parameters":{"mode":"raw","jsonOutput":"={{\n  {\n    response: {\n       status: \"ERROR\",\n       message: $json.error?.message ?? $json.message ?? 'Error desconocido',\n      stacktrace: $json.error?.stack ?? '',\n       \"key\": 8000},\n    originaldata: {\n      RequestExportId: $('Parse Reading').item.json.RequestExportId ?? null,\n      DamId: $('Parse Reading').item.json.DamId ?? null,\n      RdId: $('Parse Reading').item.json.RdId ?? 0,\n      TransmissionType: $('Parse Reading').item.json.TransmissionType ?? '',\n      Dam: $('Parse Reading').item.json.Dam ?? '',\n      Regime: $('Parse Reading').item.json.Regime ?? '',\n      Year: $('Parse Reading').item.json.Year ?? '',\n      User: $('Parse Reading').item.json.User ?? '',\n      Password: $('Parse Reading').item.json.Password ?? '',\n      TopologyId: $('Parse Reading').item.json.TopologyId ?? null,\n      retryCount: $('Parse Reading').item.json.retryCount ?? 3,\n      secondsToRetry: $json.result?.secondsToRetry ?? 30,\n    }\n    \n  }\n}}","includeOtherFields":"=","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-672,192],"id":"d6c39af0-954b-4875-89fa-a99c39a4bcf7","name":"ParseErrorResponse"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"log_n8n","mode":"list","cachedResultName":"log_n8n"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"message","value":"={{ $json.response.message }}"},{"column":"stacktrace","value":"={{ $json.response.key }}"},{"column":"node","value":"Send WS Generate XML"},{"column":"request","value":"={{ $json.originaldata }}"},{"column":"response","value":"={{ $json.response }}"},{"column":"recordid","value":"={{ $json.originaldata.RequestExportId }}"},{"column":"key","value":"={{ $json.response.key }}"},{"column":"status","value":"={{ $json.response.status }}"},{"column":"flow","value":"={{ $workflow.name }}"}]},"options":{}},"name":"InsertSuccessLog","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[-896,-352],"id":"a85c7809-fe62-41af-b060-b0cda7e452a4","credentials":{"postgres":{"id":"d53NEEOjDqHRzRm6","name":"Postgres account 2"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"mode":"list","value":"log_n8n"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"node","value":"Send WS Generate XML"},{"column":"recordid","value":"={{ $json.originaldata.RequestExportId }}"},{"column":"request","value":"={{ $json.originaldata }}"},{"column":"response","value":"={{ $('Send WS Generate XML').item.json.error }}"},{"column":"status","value":"={{ $('Send WS Generate XML').item.json.error.name }}"},{"column":"message","value":"={{ $('Send WS Generate XML').item.json.error.message }}"},{"column":"key","value":"8000"},{"column":"stacktrace","value":"={{ $('Send WS Generate XML').item.json.error.stack }}"},{"column":"flow","value":"={{ $workflow.name }}"}]},"options":{}},"name":"InsertErrorLog","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[-448,192],"id":"f24431d7-6b43-45ce-b8dc-40d5137a336e","credentials":{"postgres":{"id":"d53NEEOjDqHRzRm6","name":"Postgres account 2"}}},{"parameters":{"mode":"raw","jsonOutput":"={{\n{\n  response: {\n    status: $json.statusResponse?.status || $json.error?.name,\n    message: $json.statusResponse?.message || $json.error?.message,\n    stacktrace: $json.error?.stack || '',\n    key: $json.statusResponse?.key || 8000\n  },\n  originaldata: {\n    RequestExportId: $node[\"Parse Reading\"].json.RequestExportId || null,\n    DamId: $node[\"Parse Reading\"].json.DamId || null,\n    RdId: $node[\"Parse Reading\"].json.RdId || 0,\n    TransmissionType: $node[\"Parse Reading\"].json.TransmissionType || '',\n    Dam: $node[\"Parse Reading\"].json.Dam || '',\n    Regime: $node[\"Parse Reading\"].json.Regime || '',\n    Year: $node[\"Parse Reading\"].json.Year || '',\n    User: $node[\"Parse Reading\"].json.User || '',\n    Password: $node[\"Parse Reading\"].json.Password || '',\n    TopologyId: $node[\"Parse Reading\"].json.TopologyId || null,\n    retryCount: $node[\"Parse Reading\"].json.retryCount || 3,\n    secondsToRetry: $json.result?.secondsToRetry || 30\n  }\n}\n}}\n","includeOtherFields":"=","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[672,-208],"id":"938dcc6f-45fd-4a31-9db4-69433b5f4fc9","name":"ParseResponse"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"log_n8n","mode":"list","cachedResultName":"log_n8n"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"message","value":"={{ $json.response.message }}"},{"column":"stacktrace","value":"={{ $json.response.stacktrace }}"},{"column":"node","value":"Release Transmission"},{"column":"request","value":"={{ $json.originaldata }}"},{"column":"response","value":"={{ $json.response }}"},{"column":"recordid","value":"={{ $json.originaldata.RequestExportId }}"},{"column":"key","value":"={{ $json.response.key }}"},{"column":"status","value":"={{ $json.response.status }}"},{"column":"flow","value":"={{ $workflow.name }}"}]},"options":{}},"name":"InsertLog","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[896,-208],"id":"84665168-e71d-4b00-a21a-46b031f21c61","credentials":{"postgres":{"id":"d53NEEOjDqHRzRm6","name":"Postgres account 2"}}},{"parameters":{"content":"## GENERATE XML","height":1168,"width":3360,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1968,-704],"typeVersion":1,"id":"927aac87-9cf5-4db8-8b29-037b4a62258d","name":"Sticky Note"}],"connections":{"Read Queue Generate XML":{"main":[[{"node":"Parse Reading","type":"main","index":0}]]},"Parse Reading":{"main":[[{"node":"Send WS Generate XML","type":"main","index":0}]]},"Send WS Generate XML":{"main":[[{"node":"ParseSuccessResponse","type":"main","index":0}],[{"node":"ParseErrorResponse","type":"main","index":0}]]},"Update Count Retry":{"main":[[{"node":"Validate Retries","type":"main","index":0}]]},"Validate Retries":{"main":[[{"node":"Send Email Retries","type":"main","index":0}],[{"node":"Pause","type":"main","index":0}]]},"Validation Reponse":{"main":[[{"node":"Send New Queue Sunat Transmission","type":"main","index":0}],[{"node":"Update Count Retry","type":"main","index":0}],[{"node":"Send Email Error","type":"main","index":0}],[],[]]},"Send Email Retries":{"main":[[{"node":"Parse Email Response","type":"main","index":0}]]},"Send Email Error":{"main":[[{"node":"Parse Email Response","type":"main","index":0}]]},"Parse Error Response":{"main":[[{"node":"Send Email Error WorkFlow","type":"main","index":0}]]},"Send Email Error WorkFlow":{"main":[[{"node":"Parse Email Response","type":"main","index":0}]]},"Pause":{"main":[[{"node":"Re Send Queue Generate XML","type":"main","index":0}]]},"Send New Queue Sunat Transmission":{"main":[[{"node":"Delete Queue Generate XML","type":"main","index":0}]]},"Re Send Queue Generate XML":{"main":[[{"node":"Delete Queue Generate XML","type":"main","index":0}]]},"Release Transmission":{"main":[[{"node":"ParseResponse","type":"main","index":0}]]},"Parse Email Response":{"main":[[{"node":"Release Transmission","type":"main","index":0}]]},"ParseSuccessResponse":{"main":[[{"node":"InsertSuccessLog","type":"main","index":0}]]},"ParseErrorResponse":{"main":[[{"node":"InsertErrorLog","type":"main","index":0}]]},"InsertSuccessLog":{"main":[[{"node":"Validation Reponse","type":"main","index":0}]]},"InsertErrorLog":{"main":[[{"node":"Parse Error Response","type":"main","index":0}]]},"ParseResponse":{"main":[[{"node":"InsertLog","type":"main","index":0}]]},"InsertLog":{"main":[[{"node":"Delete Queue Generate XML","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"KVW9hshItNEvzyI4"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"84d91a57-43cb-4496-810d-f5a3b22bf5d8","triggerCount":1,"shared":[{"updatedAt":"2025-09-15T20:56:44.532Z","createdAt":"2025-09-15T20:56:44.532Z","role":"workflow:owner","workflowId":"fUhEXjGlh1b6vQXc","projectId":"qKHJHnveidvROPB6"}],"tags":[{"updatedAt":"2025-09-25T20:25:47.066Z","createdAt":"2025-09-23T20:55:21.169Z","id":"AqVIfFmictF9YGtn","name":"GDC-2490"}]}