01_test_quequed-i8D5pzbW6SG6gWlX.json
{"updatedAt":"2026-02-27T21:33:30.319Z","createdAt":"2026-02-27T20:03:17.683Z","id":"i8D5pzbW6SG6gWlX","name":"01_Test_Quequed","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"return [{\n  json: JSON.parse($input.first().json.content)\n}]\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-32,848],"id":"410caf92-4c7b-461c-9323-035ccd180ae1","name":"Parse Reading","notesInFlow":false},{"parameters":{"jsCode":"\nconst item = $input.first().json;\nconst current = Number($('Send WS Query Ticket').first().json.result.retryCount ?? $('ParseSuccessResponse').first().json.originaldata.retryCount);\nconst next = Math.max(current - 1, 0);\n\nitem.originaldata = item.originaldata || {};\nitem.originaldata.retryCount = next;\n\n// (Opcional) si quieres “acarrear” secondsToRetry desde la última respuesta:\nif (item.response?.result?.secondsToRetry != null) {\n  item.originaldata.secondsToRetry = Number(item.response.result.secondsToRetry);\n}\n\nreturn [{ json: item }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1968,976],"id":"b57311e9-68cc-4b8d-8507-0347a6e2e5f2","name":"Update Count Retry"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2e9c24c4-5c3f-4426-bd89-e2b22123ebe8","leftValue":"={{ $json.originaldata.retryCount }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2192,976],"id":"48a3802f-4584-47f5-b898-a6c0ce369634","name":"Validate Retries"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('ParseSuccessResponse').item.json.response.status }}","rightValue":"SUCCESS","operator":{"type":"string","operation":"equals"},"id":"6f59abc1-c070-4d53-8868-a7966791fe44"}],"combinator":"and"},"renameOutput":true,"outputKey":"SUCCESS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ed496190-4e85-49cd-8ceb-305d07d380ec","leftValue":"={{ $('ParseSuccessResponse').item.json.response.status }}","rightValue":"WARNING","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"WARNING"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3d626c03-1e22-438c-83c7-d0879c949812","leftValue":"={{ $('ParseSuccessResponse').item.json.response.status }}","rightValue":"ERROR","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ERROR"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1408,416],"id":"2a2f2ce8-ec68-46f0-a05e-89e1286e4e4f","name":"Validation Reponse"},{"parameters":{"method":"POST","url":"https://uat-extapidportrest.dpworld.pe:5443/api/CRUD/sendEmail","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"email\": \"dpwc.docyprocesosaduaneros@dpworld.com;franklin.milla@dpworld.com;manuel.cuya@dpworld.com\",\n    \"subject\": \"Transmisión automática RM - Error Consulta TICKET - DAM:{{ $('ParseSuccessResponse').item.json.originaldata.Year }}-{{ $('ParseSuccessResponse').item.json.originaldata.Regime }}-{{ $('ParseSuccessResponse').item.json.originaldata.Dam }}\",\n    \"body\": \"<html><body><p>Estimados,</p><p>La siguiente solicitud de exportación: {{ $('ParseSuccessResponse').item.json.originaldata.RequestExportId }}<b></b>, con DAM: {{ $('ParseSuccessResponse').item.json.originaldata.Year }}-{{ $('ParseSuccessResponse').item.json.originaldata.Regime }}-{{ $('ParseSuccessResponse').item.json.originaldata.Dam }}</p><p>Ha dado error en la Consulta TICKET al <b>superar la cantidad de intentos</b> por lo siguiente:<p><p style='color: red'><b>{{ $('Validation Reponse').item.json.message }}</b><p></br><p>Favor verificar y solucionar el error en el módulo de {{ $('ParseSuccessResponse').item.json.originaldata.TransmissionType === 'RM' ? 'DAM' : 'RD' }}, y luego continuar con la transmisión de forma manual.<p><p>Atte,</p><p>DP World</p></body></html>\"\n}","options":{"allowUnauthorizedCerts":false}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2416,880],"id":"7d3e9e0c-ac49-44a8-851e-c0b087b45166","name":"Send Email Retries"},{"parameters":{"method":"POST","url":"https://uat-extapidportrest.dpworld.pe:5443/api/CRUD/sendEmail","sendBody":true,"specifyBody":"json","jsonBody":"={{ \n  JSON.stringify({\n    email: \"dpwc.docyprocesosaduaneros@dpworld.com;franklin.milla@dpworld.com;manuel.cuya@dpworld.com\",\n    subject: \"Transmisión automática $('ParseSuccessResponse').item.json.originaldata.TransmissionType - Error Consulta TICKET - DAM: \" +\n      $('ParseSuccessResponse').item.json.originaldata.Year + \"-\" +\n      $('ParseSuccessResponse').item.json.originaldata.Regime + \"-\" +\n      $('ParseSuccessResponse').item.json.originaldata.Dam,\n    body: `<html><body>\n      <p>Estimados,</p>\n      <p>La siguiente solicitud de exportación: \n      <b>${$('ParseSuccessResponse').item.json.originaldata.RequestExportId}</b>, \n      con DAM: ${$('ParseSuccessResponse').item.json.originaldata.Year}-\n      ${$('ParseSuccessResponse').item.json.originaldata.Regime}-\n      ${$('ParseSuccessResponse').item.json.originaldata.Dam}</p>\n      <p>Ha dado error en la Consulta TICKET por lo siguiente:</p>\n      <p style='color: red'><b>${$json.message || $json.statusResponse.message}</b></p>\n      <p>Favor verificar y solucionar el error en el módulo de $('ParseSuccessResponse').item.json.originaldata.TransmissionType === 'RM' ? 'DAM' : 'RD', \n      y luego continuar con la transmisión de forma manual.</p>\n      <p>Atte,<br>DP World</p>\n    </body></html>`\n  })\n}}\n","options":{"allowUnauthorizedCerts":false}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2416,688],"id":"d9293848-1266-41e3-907a-a47fb1e0a716","name":"Send Email Error"},{"parameters":{"assignments":{"assignments":[{"id":"5abf7038-95d9-43a0-a7bb-038c31c4202d","name":"error.message","value":"={{ $('ParseErrorResponse').item.json.response.message }}","type":"string"},{"id":"68151956-e363-4b07-8706-1257f5f39495","name":"error.stack","value":"={{ $('ParseErrorResponse').item.json.response.stacktrace }}","type":"string"},{"id":"d5d2eb49-2655-4ee8-afe7-e99be5dd3458","name":"node.name","value":"={{ $workflow.name }}","type":"string"},{"id":"1f3de402-3184-49cd-a84c-7249954e1c9a","name":"data.damid","value":"={{ $('ParseErrorResponse').item.json.originaldata.DamId }}","type":"string"},{"id":"04719210-a722-4dbf-abfd-3a747fe655f8","name":"=data.rdid","value":"={{ $('ParseErrorResponse').item.json.originaldata.RdId }}","type":"string"},{"id":"b96561d0-e61e-4126-af56-84301f867e02","name":"data.transmissiontype","value":"={{ $('ParseErrorResponse').item.json.originaldata.TransmissionType }}","type":"string"},{"id":"ecd08711-02a3-4b41-8ec3-11ba22af71cc","name":"data.dam","value":"={{ $('ParseErrorResponse').item.json.originaldata.Dam }}","type":"string"},{"id":"c67ba122-9ad2-4491-99fc-fbdb278d4970","name":"data.year","value":"={{ $('ParseErrorResponse').item.json.originaldata.Year }}","type":"string"},{"id":"dc07e139-54c9-47ad-98b9-423d0ba3bae6","name":"data.regime","value":"={{ $('ParseErrorResponse').item.json.originaldata.Regime }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2192,1184],"id":"8d6e13dc-4130-4e58-a825-e631ec1c50e9","name":"Parse Error Response"},{"parameters":{"method":"POST","url":"https://uat-extapidportrest.dpworld.pe:5443/api/CRUD/sendEmail","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"email\": \"dpwc.docyprocesosaduaneros@dpworld.com;franklin.milla@dpworld.com;manuel.cuya@dpworld.com\",\n    \"subject\": \"Transmisión automática {{ $json.data.TransmissionType }} - Error Consulta TICKET - DAM:{{ $json.data.year }}-{{ $json.data.regime }}-{{ $json.data.dam }}\",\n    \"body\": \"<html><body><p>Estimados,</p><p>La siguiente solicitud de exportación: <b>{{ $json.data.damid }}</b>, con DAM: {{ $json.data.year }}-{{ $json.data.regime }}-{{ $json.data.dam }}, ha generado el siguiente error: </p><p>{{ $json.error.message }}</p><p>Favor de comunicarse con TI y generar la consulta de ticket de forma manual.</p><p>Atte,</p><p>DP World</p></body></html>\"\n}","options":{"allowUnauthorizedCerts":false}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2416,1184],"id":"08a7e3df-6444-4547-846e-cfa34ac2661b","name":"Send Email Error WorkFlow"},{"parameters":{"amount":"={{ $json.originaldata.secondsToRetry || 30 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3088,1024],"id":"3a4b1e59-c15d-4026-8607-b17571d0f44b","name":"Pause","webhookId":"679674a9-2d13-48d8-a8f5-76fd5ca00fd9"},{"parameters":{"method":"POST","url":"https://uat-dpw-fast-be.dpwc.local:5043/api/aw-fast/FastGateway/ReleaseTransmissionAutomatic","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.originalData }}","options":{"allowUnauthorizedCerts":false,"timeout":120000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2864,688],"id":"d77bfdc6-c0f6-4bea-b2f0-b4d9c52ea15e","name":"Release Transmission","onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"5dedd9df-f31f-440d-80e5-b0e202d7dd78","name":"mailStatus","value":"={{ $json.status }}","type":"string"},{"id":"14800a2c-d48c-4c83-8b09-b659403b963b","name":"originalData","value":"={{ $('Read Queue Query Ticket').item.json.content }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2640,688],"id":"478ea8c5-e98c-4d44-83a9-b605962eb80e","name":"Parse Email Response"},{"parameters":{"queue":"queue_rce_test","options":{"acknowledge":"laterMessageNode"}},"type":"n8n-nodes-base.rabbitmqTrigger","typeVersion":1,"position":[-256,848],"id":"58ac661d-7a32-4bfa-acfc-726c69eb77c3","name":"Read Queue Query Ticket","credentials":{"rabbitmq":{"id":"djaHZlIVYJrdjpga","name":"RabbitMQ-RCE"}}},{"parameters":{"method":"POST","url":"={{ $json.URL_API_FAST }}","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n   \"RequestExportId\":{{ $json.RequestExportId }},\n   \"DamId\":{{ $json.DamId }},\n   \"RdId\": {{ $json.RdId }},\n   \"TransmissionType\":\"{{ $json.TransmissionType }}\",\n   \"Dam\":\"{{ $json.Dam }}\",\n   \"Regime\":\"{{ $json.Regime }}\",\n   \"Year\":\"{{ $json.Year }}\",\n   \"TopologyId\":{{ $json.TopologyId }},\n   \"User\":\"{{ $json.User }}\",\n   \"Password\":\"{{ $json.Password }}\"\n}","options":{"allowUnauthorizedCerts":false,"timeout":120000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[656,848],"id":"76273931-8e44-4945-8718-92b5a05ed908","name":"Send WS Query Ticket","executeOnce":true,"credentials":{"httpBasicAuth":{"id":"oLD7fPFDLdNYPBuY","name":"test-diego"}},"onError":"continueErrorOutput"},{"parameters":{"queue":"queue_query_ticket","sendInputData":false,"message":"={{\n  JSON.stringify({\n    ...$('ParseSuccessResponse').item.json.originaldata,\n    retryCount: $('Update Count Retry').item.json.originaldata.retryCount\n  })\n}}","options":{}},"type":"n8n-nodes-base.rabbitmq","typeVersion":1.1,"position":[3312,1024],"id":"7c577141-bf97-4d63-aaa4-add58439774b","name":"Re Send Queue Query Ticket","credentials":{"rabbitmq":{"id":"djaHZlIVYJrdjpga","name":"RabbitMQ-RCE"}}},{"parameters":{"queue":"queue_query_channel","sendInputData":false,"message":"={{ JSON.stringify($('ParseSuccessResponse').item.json.originaldata) }}","options":{}},"type":"n8n-nodes-base.rabbitmq","typeVersion":1.1,"position":[3312,32],"id":"6c4ae061-ac6a-4660-acb9-0560cc745d24","name":"Send New Queue Query Channel","credentials":{"rabbitmq":{"id":"djaHZlIVYJrdjpga","name":"RabbitMQ-RCE"}}},{"parameters":{"operation":"deleteMessage"},"type":"n8n-nodes-base.rabbitmq","typeVersion":1.1,"position":[3536,608],"id":"d0e53b02-77d0-4acf-9d29-7e759a2c8d0f","name":"Delete Queue Query Ticket","credentials":{"rabbitmq":{"id":"djaHZlIVYJrdjpga","name":"RabbitMQ-RCE"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c64bc5a3-f294-4d51-8475-e735e93362a4","leftValue":"={{ $('ParseSuccessResponse').item.json.originaldata.TransmissionType }}","rightValue":"RM","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2640,112],"id":"be02d7c9-26b4-49fc-819d-59ea913c2350","name":"Validate Transmission Type"},{"parameters":{"amount":"={{ Number($json?.value ?? 20) }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3088,32],"id":"c30ff30d-4fc2-41d1-b1f3-3028ac7dceac","name":"Wait","webhookId":"89a06c7a-9e17-42f7-9f21-08f6e75be11b"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"response\": {{ $json.statusResponse }},\n  \"originaldata\": {\n    \"RequestExportId\": {{ $('Parse Reading').item.json.RequestExportId || null }},\n    \"DamId\": {{ $('Parse Reading').item.json.DamId || null }},\n    \"RdId\": {{ $('Parse Reading').item.json.RdId || 0 }},\n    \"TransmissionType\": \"{{ $('Parse Reading').item.json.TransmissionType || '' }}\",\n    \"Dam\": \"{{ $('Parse Reading').item.json.Dam || '' }}\",\n    \"Regime\": \"{{ $('Parse Reading').item.json.Regime || '' }}\",\n    \"Year\": \"{{ $('Parse Reading').item.json.Year || '' }}\",\n    \"User\": \"{{ $('Parse Reading').item.json.User || '' }}\",\n    \"Password\": \"{{ $('Parse Reading').item.json.Password || '' }}\",\n    \"TopologyId\": {{ $('Parse Reading').item.json.TopologyId || null }},\n    \"retryCount\": {{ $('Parse Reading').item.json.retryCount || 3 }},\n    \"secondsToRetry\": {{ $json.result?.secondsToRetry || 30 }}\n  }\n}\n","includeOtherFields":"=","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[896,448],"id":"84c07084-e3a9-4386-8e9b-832eb42114e4","name":"ParseSuccessResponse"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"log_n8n","mode":"list","cachedResultName":"log_n8n"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"message","value":"={{ $json.response.message }}"},{"column":"stacktrace","value":"={{ $json.response.key }}"},{"column":"node","value":"Send WS Query Ticket"},{"column":"request","value":"={{ $json.originaldata }}"},{"column":"response","value":"={{ $json.response }}"},{"column":"recordid","value":"={{ $json.originaldata.RequestExportId }}"},{"column":"key","value":"={{ $json.response.key }}"},{"column":"status","value":"={{ $json.response.status }}"},{"column":"flow","value":"={{ $workflow.name }}"}]},"options":{}},"name":"InsertSuccessLog","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1184,432],"id":"31853e61-e830-4768-a6ca-ead67e59e497","credentials":{"postgres":{"id":"dfJyjunPElTn8XPg","name":"postgress_du_dev"}}},{"parameters":{"mode":"raw","jsonOutput":"={{\n  {\n    response: {\n       status: \"ERROR\",\n       message: $json.error?.message ?? $json.message ?? 'Error desconocido',\n      stacktrace: $json.error?.stack ?? '',\n       \"key\": 8000},\n    originaldata: {\n      RequestExportId: $('Parse Reading').item.json.RequestExportId ?? null,\n      DamId: $('Parse Reading').item.json.DamId ?? null,\n      RdId: $('Parse Reading').item.json.RdId ?? 0,\n      TransmissionType: $('Parse Reading').item.json.TransmissionType ?? '',\n      Dam: $('Parse Reading').item.json.Dam ?? '',\n      Regime: $('Parse Reading').item.json.Regime ?? '',\n      Year: $('Parse Reading').item.json.Year ?? '',\n      User: $('Parse Reading').item.json.User ?? '',\n      Password: $('Parse Reading').item.json.Password ?? '',\n      TopologyId: $('Parse Reading').item.json.TopologyId ?? null,\n      retryCount: $('Parse Reading').item.json.retryCount ?? 3,\n      secondsToRetry: $json.result?.secondsToRetry ?? 30,\n    }\n    \n  }\n}}","includeOtherFields":"=","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1744,1184],"id":"92f100ca-530f-4b64-a48d-166e011dfbfc","name":"ParseErrorResponse"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"mode":"list","value":"log_n8n"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"node","value":"Send WS Query Ticket"},{"column":"recordid","value":"={{ $json.originaldata.RequestExportId }}"},{"column":"request","value":"={{ $json.originaldata }}"},{"column":"response","value":"={{ $('Send WS Query Ticket').item.json.error }}"},{"column":"status","value":"={{ $('Send WS Query Ticket').item.json.error.name }}"},{"column":"message","value":"={{ $('Send WS Query Ticket').item.json.error.message }}"},{"column":"key","value":"8000"},{"column":"stacktrace","value":"={{ $('Send WS Query Ticket').item.json.error.stack }}"},{"column":"flow","value":"={{ $workflow.name }}"}]},"options":{}},"name":"InsertErrorLog","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1968,1184],"id":"1626b527-54bc-4c6c-93ca-05bb28de48ec","credentials":{"postgres":{"id":"dfJyjunPElTn8XPg","name":"postgress_du_dev"}}},{"parameters":{"mode":"raw","jsonOutput":"={{\n{\n  response: {\n    status: $json.statusResponse?.status || $json.error?.name,\n    message: $json.statusResponse?.message || $json.error?.message,\n    stacktrace: $json.error?.stack || '',\n    key: $json.statusResponse?.key || 8000\n  },\n  originaldata: {\n    RequestExportId: $node[\"Parse Reading\"].json.RequestExportId || null,\n    DamId: $node[\"Parse Reading\"].json.DamId || null,\n    RdId: $node[\"Parse Reading\"].json.RdId || 0,\n    TransmissionType: $node[\"Parse Reading\"].json.TransmissionType || '',\n    Dam: $node[\"Parse Reading\"].json.Dam || '',\n    Regime: $node[\"Parse Reading\"].json.Regime || '',\n    Year: $node[\"Parse Reading\"].json.Year || '',\n    User: $node[\"Parse Reading\"].json.User || '',\n    Password: $node[\"Parse Reading\"].json.Password || '',\n    TopologyId: $node[\"Parse Reading\"].json.TopologyId || null,\n    retryCount: $node[\"Parse Reading\"].json.retryCount || 3,\n    secondsToRetry: $json.result?.secondsToRetry || 30\n  }\n}\n}}\n","includeOtherFields":"=","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3088,688],"id":"988b20f4-c28b-4256-9dea-438c645e140e","name":"ParseResponse"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"log_n8n","mode":"list","cachedResultName":"log_n8n"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"message","value":"={{ $json.response.message }}"},{"column":"stacktrace","value":"={{ $json.response.stacktrace }}"},{"column":"node","value":"Release Transmission"},{"column":"request","value":"={{ $json.originaldata }}"},{"column":"response","value":"={{ $json.response }}"},{"column":"recordid","value":"={{ $json.originaldata.RequestExportId }}"},{"column":"key","value":"={{ $json.response.key }}"},{"column":"status","value":"={{ $json.response.status }}"},{"column":"flow","value":"={{ $workflow.name }}"}]},"options":{}},"name":"InsertLog","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[3312,688],"id":"c5e582b0-485d-46da-bfcb-f14616f4776f","credentials":{"postgres":{"id":"dfJyjunPElTn8XPg","name":"postgress_du_dev"}}},{"parameters":{"method":"POST","url":"https://uat-dpw-fast-be.dpwc.local:5043/api/aw-fast/FastGateway/DisapproveRequestExport","sendBody":true,"specifyBody":"json","jsonBody":"={{ \n  JSON.stringify({\n    RequestExportId: $('Parse Reading').item.json.RequestExportId,\n    DamId: $('Parse Reading').item.json.DamId,\n    RdId: $('Parse Reading').item.json.RdId,\n    TransmissionType: $('Parse Reading').item.json.TransmissionType,\n    Dam: $('Parse Reading').item.json.Dam,\n    Regime: $('Parse Reading').item.json.Regime,\n    Year: $('Parse Reading').item.json.Year,\n    TopologyId: $('Parse Reading').item.json.TopologyId,\n    User: $('Parse Reading').item.json.User,\n    Password: $('Parse Reading').item.json.Password,\n    Motive: $json.message\n  })\n}}\n","options":{"allowUnauthorizedCerts":false,"timeout":120000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2016,496],"id":"c836a97f-1a60-4efe-8cf0-919c31d8a66e","name":"Disaprove Export Request","onError":"continueErrorOutput"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.key }}","rightValue":304,"operator":{"type":"number","operation":"equals"},"id":"b1483312-6a2f-43a0-a270-3f88c8120ccc"}],"combinator":"and"},"renameOutput":true,"outputKey":"304"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2e2e0eea-1cf1-49c5-b454-c19803073b14","leftValue":"={{ $json.key }}","rightValue":305,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"305"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0f5199ff-0b1a-441d-a6ba-1363a80a9efc","leftValue":"={{ $json.key }}","rightValue":306,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"306"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c5470d8b-703b-445b-931e-eeb00ef90463","leftValue":"={{ $json.key }}","rightValue":307,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"307"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4c22d8b0-9e44-413e-ac13-5f5b2cf44f70","leftValue":"={{ $json.key }}","rightValue":308,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"308"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"acc23a56-08f6-4c12-9ad2-1c1a11b5ed1d","leftValue":"={{ $json.key }}","rightValue":309,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"309"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f09d6b18-acf1-432e-bd5e-e8b2e3b286d7","leftValue":"={{ $json.key }}","rightValue":314,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"314"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"OTROS"}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[1776,416],"id":"2c4e7e56-ee29-4424-8a49-13b28b29cf36","name":"ValidateError"},{"parameters":{"method":"POST","url":"https://uat-extapidportrest.dpworld.pe:5443/api/CRUD/sendEmail","sendBody":true,"specifyBody":"json","jsonBody":"={{ \n  JSON.stringify({\n    email: \"dpwc.docyprocesosaduaneros@dpworld.com;franklin.milla@dpworld.com;manuel.cuya@dpworld.com\",\n    subject: \"Transmisión automática \" + $('ParseSuccessResponse').item.json.originaldata.TransmissionType +\" - Error al Rechazar Solicitud - DAM: \" +\n      $('ParseSuccessResponse').item.json.originaldata.Year + \"-\" +\n      $('ParseSuccessResponse').item.json.originaldata.Regime + \"-\" +\n      $('ParseSuccessResponse').item.json.originaldata.Dam,\n    body: `<html><body>\n      <p>Estimados,</p>\n      <p>La siguiente solicitud de exportación: \n      <b>${$('ParseSuccessResponse').item.json.originaldata.RequestExportId}</b>, \n      con DAM: ${$('ParseSuccessResponse').item.json.originaldata.Year}-\n      ${$('ParseSuccessResponse').item.json.originaldata.Regime}-\n      ${$('ParseSuccessResponse').item.json.originaldata.Dam}</p>\n      <p>Ha dado error en al querer rechazar la solicitud en automático(por errores SUNAT) por lo siguiente:</p>\n      <p style='color: red'><b>${$json.message || $json.statusResponse.message}</b></p>\n      <p>Favor rechazar la solcicitud en Dport de forma manual.</p>\n      <p>Atte,<br>DP World</p>\n    </body></html>`\n  })\n}}\n","options":{"allowUnauthorizedCerts":false}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2416,304],"id":"9475e53b-b370-4186-964e-0d63c965a2f5","name":"Send Email Disaprove","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"24b73304-24c1-433e-816c-f0f47fc019e5","leftValue":"={{ $json.statusResponse.status }}","rightValue":"ERROR","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2192,368],"id":"93875929-d8af-4f5f-be2c-375770250bfe","name":"ValidaRespuestaDisaprove"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"cosettings","mode":"list","cachedResultName":"cosettings"},"limit":1,"where":{"values":[{"column":"key","value":"DELAY_BETWEEN_QUERY_TICKET_QUERY_CHANNEL"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2864,32],"id":"04a3cda2-f8b2-460f-b6d2-00ffb3e1857d","name":"DELAY_BETWEEN_QUERY_TICKET_QUERY_CHANNEL","credentials":{"postgres":{"id":"dfJyjunPElTn8XPg","name":"postgress_du_dev"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"cosettings","mode":"list","cachedResultName":"cosettings"},"where":{"values":[{"column":"key","value":"URL_TEST"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[192,656],"id":"21d52b8e-7fa4-4ab9-9361-f37e5e154425","name":"obtener_cosseting_urlAPI","notesInFlow":true,"credentials":{"postgres":{"id":"dfJyjunPElTn8XPg","name":"postgress_du_dev"}},"notes":"Nodo para obtener  flechitas"},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"cosettings","mode":"list","cachedResultName":"cosettings"},"where":{"values":[{"column":"key","value":"URL_TEST"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[192,848],"id":"60ecdae4-6d40-414e-b9d2-3f73c0e5a894","name":"obtener_cossetingEnviCorreo","notesInFlow":true,"credentials":{"postgres":{"id":"dfJyjunPElTn8XPg","name":"postgress_du_dev"}},"notes":"Nodo para obtener  flechitas"},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"cosettings","mode":"list","cachedResultName":"cosettings"},"where":{"values":[{"column":"key","value":"URL_TEST"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[192,1040],"id":"29710e86-0deb-4c0c-9594-03556f9a9faf","name":"obtener_cossetingAPIDESAPROBNACION","notesInFlow":true,"credentials":{"postgres":{"id":"dfJyjunPElTn8XPg","name":"postgress_du_dev"}},"notes":"Nodo para obtener  flechitas"},{"parameters":{"assignments":{"assignments":[{"id":"62c7067a-8cc7-468d-9c12-b8cb25513cd1","name":"URL_API_FAST","value":"={{ $json.value }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[400,656],"id":"40139e4e-7f30-47c7-94b0-47a26c0d86a8","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"62c7067a-8cc7-468d-9c12-b8cb25513cd1","name":"URL_API_ENVIOCORREO","value":"={{ $json.value }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[432,864],"id":"7fb7d19e-fccf-4578-bce6-8c6fff4b281e","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"62c7067a-8cc7-468d-9c12-b8cb25513cd1","name":"URL_API_DESAPROBACION","value":"={{ $json.value }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,1024],"id":"fed39656-6ebf-4a7c-8c23-28eefbfbfabe","name":"Edit Fields2"}],"connections":{"Parse Reading":{"main":[[{"node":"obtener_cosseting_urlAPI","type":"main","index":0},{"node":"obtener_cossetingEnviCorreo","type":"main","index":0},{"node":"obtener_cossetingAPIDESAPROBNACION","type":"main","index":0}]]},"Update Count Retry":{"main":[[{"node":"Validate Retries","type":"main","index":0}]]},"Validate Retries":{"main":[[{"node":"Send Email Retries","type":"main","index":0}],[{"node":"Pause","type":"main","index":0}]]},"Validation Reponse":{"main":[[{"node":"Validate Transmission Type","type":"main","index":0}],[{"node":"Update Count Retry","type":"main","index":0}],[{"node":"ValidateError","type":"main","index":0}]]},"Send Email Retries":{"main":[[{"node":"Parse Email Response","type":"main","index":0}]]},"Send Email Error":{"main":[[{"node":"Parse Email Response","type":"main","index":0}]]},"Parse Error Response":{"main":[[{"node":"Send Email Error WorkFlow","type":"main","index":0}]]},"Send Email Error WorkFlow":{"main":[[{"node":"Parse Email Response","type":"main","index":0}]]},"Pause":{"main":[[{"node":"Re Send Queue Query Ticket","type":"main","index":0}]]},"Release Transmission":{"main":[[{"node":"ParseResponse","type":"main","index":0}]]},"Parse Email Response":{"main":[[{"node":"Release Transmission","type":"main","index":0}]]},"Read Queue Query Ticket":{"main":[[{"node":"Parse Reading","type":"main","index":0}]]},"Send WS Query Ticket":{"main":[[{"node":"ParseSuccessResponse","type":"main","index":0}],[{"node":"ParseErrorResponse","type":"main","index":0}]]},"Re Send Queue Query Ticket":{"main":[[{"node":"Delete Queue Query Ticket","type":"main","index":0}]]},"Send New Queue Query Channel":{"main":[[{"node":"Delete Queue Query Ticket","type":"main","index":0}]]},"Validate Transmission Type":{"main":[[{"node":"DELAY_BETWEEN_QUERY_TICKET_QUERY_CHANNEL","type":"main","index":0}],[{"node":"Delete Queue Query Ticket","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Send New Queue Query Channel","type":"main","index":0}]]},"ParseSuccessResponse":{"main":[[{"node":"InsertSuccessLog","type":"main","index":0}]]},"InsertSuccessLog":{"main":[[{"node":"Validation Reponse","type":"main","index":0}]]},"ParseErrorResponse":{"main":[[{"node":"InsertErrorLog","type":"main","index":0}]]},"InsertErrorLog":{"main":[[{"node":"Parse Error Response","type":"main","index":0}]]},"ParseResponse":{"main":[[{"node":"InsertLog","type":"main","index":0}]]},"InsertLog":{"main":[[{"node":"Delete Queue Query Ticket","type":"main","index":0}]]},"Disaprove Export Request":{"main":[[{"node":"ValidaRespuestaDisaprove","type":"main","index":0}],[{"node":"Send Email Disaprove","type":"main","index":0}]]},"ValidateError":{"main":[[{"node":"Disaprove Export Request","type":"main","index":0}],[{"node":"Disaprove Export Request","type":"main","index":0}],[{"node":"Disaprove Export Request","type":"main","index":0}],[{"node":"Disaprove Export Request","type":"main","index":0}],[{"node":"Disaprove Export Request","type":"main","index":0}],[{"node":"Disaprove Export Request","type":"main","index":0}],[{"node":"Disaprove Export Request","type":"main","index":0}],[{"node":"Send Email Error","type":"main","index":0}]]},"Send Email Disaprove":{"main":[[{"node":"Parse Email Response","type":"main","index":0}]]},"ValidaRespuestaDisaprove":{"main":[[{"node":"Parse Email Response","type":"main","index":0}],[{"node":"Send Email Disaprove","type":"main","index":0}]]},"DELAY_BETWEEN_QUERY_TICKET_QUERY_CHANNEL":{"main":[[{"node":"Wait","type":"main","index":0}]]},"obtener_cosseting_urlAPI":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"obtener_cossetingEnviCorreo":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"obtener_cossetingAPIDESAPROBNACION":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Send WS Query Ticket","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Send WS Query Ticket","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Send WS Query Ticket","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Read Queue Query Ticket":[{"json":{"fields":{"deliveryTag":1,"redelivered":true,"exchange":"","routingKey":"queue_rce_test","messageCount":0},"properties":{"headers":{}},"content":"{\"RequestExportId\":230278,\"DamId\":138718,\"RdId\":0,\"TransmissionType\":\"RCE\",\"Dam\":\"555555\",\"Regime\":\"40\",\"Year\":\"2025\",\"TopologyId\":10000,\"User\":\"send_json_to_n8n_dev\",\"Password\":\"Dport!2025!:::\"}"},"pairedItem":{"item":0}}]},"versionId":"c497b2df-a56f-455b-bd53-c13eaae6dd32","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-27T20:03:17.683Z","createdAt":"2026-02-27T20:03:17.683Z","role":"workflow:owner","workflowId":"i8D5pzbW6SG6gWlX","projectId":"khlpUs0kaQRR8lOt"}],"activeVersion":null,"tags":[]}