01_test_quequed-ZfszLpYpELDIbSIv.json
{"updatedAt":"2026-02-27T16:57:05.483Z","createdAt":"2026-02-27T16:29:02.833Z","id":"ZfszLpYpELDIbSIv","name":"01_Test_Quequed","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"f3980b5b-92ea-4919-b5a7-94f6d3edc340","name":"When clicking ‘Execute workflow’"},{"parameters":{"method":"POST","url":"={{ $json.value }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[416,0],"id":"160a45d5-a983-46e8-a957-d7966a9442df","name":"HTTP Request","alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[656,128],"id":"dc698d87-6cef-4ae5-b80d-614a1a4be014","name":"Insert rows in a table","credentials":{"postgres":{"id":"dfJyjunPElTn8XPg","name":"postgress_du_dev"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"cosettings","mode":"list","cachedResultName":"cosettings"},"where":{"values":[{"column":"key","value":"URL_TEST"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[208,0],"id":"d7a30e22-beef-4e06-9887-b60f31202d72","name":"obtener_cosseting","notesInFlow":true,"credentials":{"postgres":{"id":"dfJyjunPElTn8XPg","name":"postgress_du_dev"}},"notes":"Nodo para obtener  flechitas"},{"parameters":{"content":"## Flechitas"},"type":"n8n-nodes-base.stickyNote","position":[-32,208],"typeVersion":1,"id":"80c2a795-ab12-48ae-9418-96faad974050","name":"Sticky Note"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"obtener_cosseting","type":"main","index":0}]]},"HTTP Request":{"main":[[],[{"node":"Insert rows in a table","type":"main","index":0}]]},"obtener_cosseting":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2853a01e-c46c-447c-8444-e41e47fc8984","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-27T16:29:02.833Z","createdAt":"2026-02-27T16:29:02.833Z","role":"workflow:owner","workflowId":"ZfszLpYpELDIbSIv","projectId":"khlpUs0kaQRR8lOt"}],"activeVersion":null,"tags":[]}