02_readqueuesunattransmissionok-SNpxHqGjqwGTt4Wn.json
{"createdAt":"2025-09-24T20:16:03.020Z","updatedAt":"2025-10-17T12:10:59.958Z","id":"SNpxHqGjqwGTt4Wn","name":"02_ReadQueueSunatTransmissionOK","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"![Source example](https://devdportu38.dpworld.pe/Theme/images/logoempresa/DPWCALLAO.png#full-width)\n## Sunat Transmission","height":304,"width":256},"type":"n8n-nodes-base.stickyNote","position":[2688,1280],"typeVersion":1,"id":"b48d8af9-ac5c-46cf-af62-612dc874a367","name":"Sticky Note1"},{"parameters":{"jsCode":"return [{\n  json: JSON.parse($input.first().json.content)\n}]\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2944,1776],"id":"f57526da-80e0-4777-adb5-dd85da07ea49","name":"Parse Reading","notesInFlow":false},{"parameters":{"jsCode":"// Decrementa y clampa originaldata.retryCount\nconst item = $input.first().json;\nconst current = Number(item.originaldata?.retryCount ?? 0);\nconst next = Math.max(current - 1, 0);\nitem.originaldata = item.originaldata || {};\nitem.originaldata.retryCount = next;\n\n// (Opcional) si quieres “acarrear” secondsToRetry desde la última respuesta:\nif (item.response?.result?.secondsToRetry != null) {\n  item.originaldata.secondsToRetry = Number(item.response.result.secondsToRetry);\n}\n\nreturn [{ json: item }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4256,1792],"id":"7184b36b-b1c9-402a-a8cb-69fd864d6a8a","name":"Update Count Retry"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2e9c24c4-5c3f-4426-bd89-e2b22123ebe8","leftValue":"={{ $json.originaldata.retryCount }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4480,1792],"id":"db330807-6102-4be5-9563-1855089b51d4","name":"Validate Retries"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.response.status }}","rightValue":"SUCCESS","operator":{"type":"string","operation":"equals"},"id":"6f59abc1-c070-4d53-8868-a7966791fe44"}],"combinator":"and"},"renameOutput":true,"outputKey":"SUCCESS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ed496190-4e85-49cd-8ceb-305d07d380ec","leftValue":"={{ $json.response.status }}","rightValue":"WARNING","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"WARNING"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3d626c03-1e22-438c-83c7-d0879c949812","leftValue":"={{ $json.response.status }}","rightValue":"ERROR","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ERROR"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[3616,1520],"id":"d860db30-aebd-48c6-9c56-e74c8eb9d0af","name":"Validation Reponse"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"response\": {{ $json.statusResponse }},\n  \"originaldata\": {\n    \"RequestExportId\": {{ $('Parse Reading').item.json.RequestExportId || null }},\n    \"DamId\": {{ $('Parse Reading').item.json.DamId || null }},\n    \"RdId\": {{ $('Parse Reading').item.json.RdId || 0 }},\n    \"TransmissionType\": \"{{ $('Parse Reading').item.json.TransmissionType || '' }}\",\n    \"Dam\": \"{{ $('Parse Reading').item.json.Dam || '' }}\",\n    \"Regime\": \"{{ $('Parse Reading').item.json.Regime || '' }}\",\n    \"Year\": \"{{ $('Parse Reading').item.json.Year || '' }}\",\n    \"TopologyId\": {{ $('Parse Reading').item.json.TopologyId || null }},\n    \"retryCount\": {{ $('Parse Reading').item.json.retryCount || 3 }},\n    \"secondsToRetry\": {{ $json.result?.secondsToRetry || 30 }}\n  }\n}\n","includeOtherFields":"=","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3392,1536],"id":"0224adc1-21f7-483e-a193-3d6fba46176c","name":"Parse Response"},{"parameters":{"method":"POST","url":"http://10.208.101.92:1801/api/CRUD/sendEmail","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"email\": \"dpwc.docyprocesosaduaneros@dpworld.com;franklin.milla@dpworld.com;manuel.cuya@dpworld.com\",\n    \"subject\": \"Transmisión automática RM - Error Generación XML - DAM:{{ $json.originaldata.Year }}-{{ $json.originaldata.Regime }}-{{ $json.originaldata.Dam }}\",\n    \"body\": \"<html><body><p>Estimados,</p><p>La siguiente solicitud de exportación: <b>{{ $json.originaldata.RequestExportId }}</b>, con DAM: {{ $json.originaldata.Year }}-{{ $json.originaldata.Regime }}-{{ $json.originaldata.Dam }}</p><p>Ha dado error en la generación de XML al <b>superar la cantidad de intentos</b> por lo siguiente:<p><p style='color: red'><b>{{ $json.response.message }}</b><p></br><p>Favor verificar y solucionar el error en el módulo de 'DAM', y luego continuar con la transmisión de forma manual.<p><p>Atte,</p><p>DP World</p></body></html>\"\n}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4704,1744],"id":"68a5c282-ea7a-4999-96ef-e4c95aa5a614","name":"Send Email Retries"},{"parameters":{"method":"POST","url":"http://10.208.101.92:1801/api/CRUD/sendEmail","sendBody":true,"specifyBody":"json","jsonBody":"={{$json}}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4704,1552],"id":"19188e98-5209-46b6-9199-be6096e21eec","name":"Send Email Error"},{"parameters":{"assignments":{"assignments":[{"id":"5abf7038-95d9-43a0-a7bb-038c31c4202d","name":"error.message","value":"={{$json[\"error\"][\"message\"]}}","type":"string"},{"id":"68151956-e363-4b07-8706-1257f5f39495","name":"error.stack","value":"={{$json[\"error\"][\"stack\"]}}","type":"string"},{"id":"d5d2eb49-2655-4ee8-afe7-e99be5dd3458","name":"node.name","value":"={{ $workflow.name }}","type":"string"},{"id":"1f3de402-3184-49cd-a84c-7249954e1c9a","name":"data.damid","value":"={{ $json.DamId }}","type":"string"},{"id":"04719210-a722-4dbf-abfd-3a747fe655f8","name":"data.rdid","value":"={{ $json.RdId }}","type":"string"},{"id":"b96561d0-e61e-4126-af56-84301f867e02","name":"data.transmissiontype","value":"={{ $json.TransmissionType }}","type":"string"},{"id":"ecd08711-02a3-4b41-8ec3-11ba22af71cc","name":"data.dam","value":"={{ $json.Dam }}","type":"string"},{"id":"c67ba122-9ad2-4491-99fc-fbdb278d4970","name":"data.year","value":"={{ $json.Year }}","type":"string"},{"id":"dc07e139-54c9-47ad-98b9-423d0ba3bae6","name":"data.regime","value":"={{ $json.Regime }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4064,2112],"id":"00eeb643-c8a1-4c67-a412-043590211297","name":"Parse Error Response"},{"parameters":{"method":"POST","url":"http://10.208.101.92:1801/api/CRUD/sendEmail","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"email\": \"dpwc.docyprocesosaduaneros@dpworld.com;franklin.milla@dpworld.com;manuel.cuya@dpworld.com\",\n    \"subject\": \"Transmisión automática RM - Error Generación XML - DAM:{{ $json.data.year }}-{{ $json.data.regime }}-{{ $json.data.dam }}\",\n    \"body\": \"<html><body><p>Estimados,</p><p>La siguiente solicitud de exportación: <b>{{ $json.data.damid }}</b>, con DAM: {{ $json.data.year }}-{{ $json.data.regime }}-{{ $json.data.dam }}, ha generado el siguiente error: </p><p>{{ $json.error.message }}</p><p>Favor de comunicarse con TI y generar la transmisión de forma manual.</p><p>Atte,</p><p>DP World</p></body></html>\"\n}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4288,2112],"id":"736512d9-9681-4d85-823c-f8ad1cd11fe2","name":"Send Email Error WorkFlow"},{"parameters":{"amount":"={{ $json.originaldata.secondsToRetry || 30 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[4928,1968],"id":"250443d9-b490-478a-bf77-9cfcaee2fd8e","name":"Pause","webhookId":"16f1026b-b8be-462b-9afb-bca611824110"},{"parameters":{"method":"POST","url":"https://sp2dca-apiis1.dpwc.local:5043/api/aw-fast/FastGateway/ReleaseTransmissionAutomatic","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.originalData }}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5152,1744],"id":"a0c6f8b6-4005-496e-8a6c-9537e328df36","name":"Release Transmission"},{"parameters":{"assignments":{"assignments":[{"id":"5dedd9df-f31f-440d-80e5-b0e202d7dd78","name":"mailStatus","value":"={{ $json.status }}","type":"string"},{"id":"14800a2c-d48c-4c83-8b09-b659403b963b","name":"originalData","value":"={{ $('Read Queue Sunat Transmission').item.json.content }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4928,1744],"id":"0638b4d6-f439-4a91-8712-6dc87bbc020c","name":"Parse Email Response"},{"parameters":{"queue":"queue_sunat_transmission","options":{"acknowledge":"laterMessageNode"}},"type":"n8n-nodes-base.rabbitmqTrigger","typeVersion":1,"position":[2720,1776],"id":"d1bbee32-1382-4a74-bc19-627a082aedab","name":"Read Queue Sunat Transmission","credentials":{"rabbitmq":{"id":"vsvI9Lg7vTP32Drt","name":"RabbitMQ account"}}},{"parameters":{"method":"POST","url":"https://sp2dca-apiis1.dpwc.local:5043/api/aw-fast/FastGateway/SendSUNAT","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n   \"RequestExportId\":{{ $json.RequestExportId }},\n   \"DamId\":{{ $json.DamId }},\n   \"RdId\": {{ $json.RdId }},\n   \"TransmissionType\":\"{{ $json.TransmissionType }}\",\n   \"Dam\":\"{{ $json.Dam }}\",\n   \"Regime\":\"{{ $json.Regime }}\",\n   \"Year\":\"{{ $json.Year }}\",\n   \"TopologyId\":{{ $json.TopologyId }},\n   \"User\":\"send_json_to_n8n_dev\",\n   \"Password\":\"Dport!2025!:::\"\n}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3168,1776],"id":"b69dad0c-33ce-47b9-bf45-89e8f7af9f24","name":"Send WS Send Sunat","credentials":{"httpBasicAuth":{"id":"AcT919njxjFmHrNy","name":"send_sunat_queues"}},"onError":"continueErrorOutput"},{"parameters":{"queue":"queue_sunat_transmission","sendInputData":false,"message":"={{ JSON.stringify($json.originaldata) }}","options":{}},"type":"n8n-nodes-base.rabbitmq","typeVersion":1.1,"position":[5152,1968],"id":"6e0b3d14-0c5f-4037-a997-0c39d5334c21","name":"Re Send Queue Sunat Transmission","credentials":{"rabbitmq":{"id":"vsvI9Lg7vTP32Drt","name":"RabbitMQ account"}}},{"parameters":{"operation":"deleteMessage"},"type":"n8n-nodes-base.rabbitmq","typeVersion":1.1,"position":[5376,1744],"id":"632b5223-0a3d-4e2f-ad76-e326edbba643","name":"Delete Queue Sunat Transmission","credentials":{"rabbitmq":{"id":"vsvI9Lg7vTP32Drt","name":"RabbitMQ account"}}},{"parameters":{"queue":"queue_query_ticket","sendInputData":false,"message":"={{ JSON.stringify($json.originaldata) }}","options":{}},"type":"n8n-nodes-base.rabbitmq","typeVersion":1.1,"position":[4864,1392],"id":"b599bae3-915e-4256-89bf-bf5bc6a39256","name":"Send New Queue Query Ticket","credentials":{"rabbitmq":{"id":"vsvI9Lg7vTP32Drt","name":"RabbitMQ account"}}},{"parameters":{"assignments":{"assignments":[{"id":"02d79ead-d09a-42b8-b35f-508d72f06807","name":"email","value":"dpwc.docyprocesosaduaneros@dpworld.com;franklin.milla@dpworld.com;manuel.cuya@dpworld.com","type":"string"},{"id":"a379c177-99fb-47b3-a8df-e40b89e4eab5","name":"subject","value":"=Transmisión automática RM - Error Generación XML - DAM:{{ $json.originaldata.Year }}-{{ $json.originaldata.Regime }}-{{ $json.originaldata.Dam }}","type":"string"},{"id":"cb22ddbc-51f1-44da-8f73-9322cbff1528","name":"body","value":"=<html><body><p>Estimados,</p><p>La siguiente solicitud de exportación: <b><b>{{ $json.originaldata.DamId }} , con DAM: {{ $json.originaldata.Year }}-{{ $json.originaldata.Regime }}-{{ $json.originaldata.Dam }}</b></p><p>Ha dado error en la generación de XML por lo siguiente:</p><p style='color: red'><b>{{ $json.response.message }}</b></p><p>Detalle:</p><p>{{ $('Send WS Send Sunat').item.json.statusResponse.message }}</p><p>Atte,</p><p>DP World</p></body></html>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4304,1568],"id":"38dba958-8d5c-4e81-9069-faf85b94b926","name":"Edit Fields"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[4384,1392],"id":"bf972e47-e0c1-4be1-a814-39cab2e1c260","name":"Wait","webhookId":"4823f243-4a77-477c-9861-b4172b869435"}],"connections":{"Parse Reading":{"main":[[{"node":"Send WS Send Sunat","type":"main","index":0}]]},"Update Count Retry":{"main":[[{"node":"Validate Retries","type":"main","index":0}]]},"Validate Retries":{"main":[[{"node":"Send Email Retries","type":"main","index":0}],[{"node":"Pause","type":"main","index":0}]]},"Validation Reponse":{"main":[[{"node":"Wait","type":"main","index":0}],[{"node":"Update Count Retry","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Parse Response":{"main":[[{"node":"Validation Reponse","type":"main","index":0}]]},"Send Email Retries":{"main":[[{"node":"Parse Email Response","type":"main","index":0}]]},"Send Email Error":{"main":[[{"node":"Parse Email Response","type":"main","index":0}]]},"Parse Error Response":{"main":[[{"node":"Send Email Error WorkFlow","type":"main","index":0}]]},"Send Email Error WorkFlow":{"main":[[{"node":"Parse Email Response","type":"main","index":0}]]},"Pause":{"main":[[{"node":"Re Send Queue Sunat Transmission","type":"main","index":0}]]},"Release Transmission":{"main":[[{"node":"Delete Queue Sunat Transmission","type":"main","index":0}]]},"Parse Email Response":{"main":[[{"node":"Release Transmission","type":"main","index":0}]]},"Read Queue Sunat Transmission":{"main":[[{"node":"Parse Reading","type":"main","index":0}]]},"Send WS Send Sunat":{"main":[[{"node":"Parse Response","type":"main","index":0}],[{"node":"Parse Error Response","type":"main","index":0}]]},"Re Send Queue Sunat Transmission":{"main":[[{"node":"Delete Queue Sunat Transmission","type":"main","index":0}]]},"Send New Queue Query Ticket":{"main":[[{"node":"Delete Queue Sunat Transmission","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Send Email Error","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Send New Queue Query Ticket","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"KVW9hshItNEvzyI4"},"staticData":null,"meta":null,"pinData":{},"versionId":"761e6ff6-09ea-460b-bf56-4377ddb6f78a","triggerCount":1,"shared":[{"createdAt":"2025-09-24T20:16:03.020Z","updatedAt":"2025-09-24T20:16:03.020Z","role":"workflow:owner","workflowId":"SNpxHqGjqwGTt4Wn","projectId":"qKHJHnveidvROPB6"}],"tags":[{"createdAt":"2025-09-23T20:55:21.169Z","updatedAt":"2025-09-25T20:25:47.066Z","id":"AqVIfFmictF9YGtn","name":"GDC-2490"}]}