03_readqueuequeryticketok-mvEjeTAx0ZSKvJfv.json
{"updatedAt":"2025-12-11T20:50:08.611Z","createdAt":"2025-09-26T18:09:28.275Z","id":"mvEjeTAx0ZSKvJfv","name":"03_ReadQueueQueryTicketOK","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"\n## CONSULTA TICKET","height":1440,"width":3408},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"5f3f5c59-22cf-49cc-8f24-22c29b24943f","name":"Sticky Note1"},{"parameters":{"jsCode":"return [{\n  json: JSON.parse($input.first().json.content)\n}]\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[288,832],"id":"cc4c43a4-6077-4e03-aae9-ed6a48cbe935","name":"Parse Reading","notesInFlow":false},{"parameters":{"jsCode":"const item = $input.first().json;\n\nconst current = Number(\n  item.originaldata?.retryCount\n  ?? $('ParseSuccessResponse').first().json.originaldata.retryCount\n  ?? $('Send WS Query Ticket').first().json.result?.retryCount\n  ?? 0\n);\n\nconst next = Math.max(current - 1, 0);\n\nitem.originaldata = item.originaldata || {};\nitem.originaldata.retryCount = next;\n\nconst secondsToRetry = item.response?.statusResponse?.secondsToRetry;\nif (secondsToRetry != null) {\n  item.originaldata.secondsToRetry = Number(secondsToRetry);\n}\n\nreturn [{ json: item }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1408,976],"id":"f52783d8-b8e8-46af-b4e0-3fcb806acdf7","name":"Update Count Retry"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2e9c24c4-5c3f-4426-bd89-e2b22123ebe8","leftValue":"={{ $json.originaldata.retryCount }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1632,976],"id":"12fd3725-ba0f-483a-a499-da203b6dafe5","name":"Validate Retries"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('ParseSuccessResponse').item.json.response.status }}","rightValue":"SUCCESS","operator":{"type":"string","operation":"equals"},"id":"6f59abc1-c070-4d53-8868-a7966791fe44"}],"combinator":"and"},"renameOutput":true,"outputKey":"SUCCESS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ed496190-4e85-49cd-8ceb-305d07d380ec","leftValue":"={{ $('ParseSuccessResponse').item.json.response.status }}","rightValue":"WARNING","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"WARNING"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3d626c03-1e22-438c-83c7-d0879c949812","leftValue":"={{ $('ParseSuccessResponse').item.json.response.status }}","rightValue":"ERROR","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ERROR"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1184,528],"id":"7a4203d4-9020-481a-b56f-08342d00e668","name":"Validation Reponse"},{"parameters":{"method":"POST","url":"http://10.208.101.92:1801/api/CRUD/sendEmail","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"email\": \"dpwc.docyprocesosaduaneros@dpworld.com;franklin.milla@dpworld.com;manuel.cuya@dpworld.com\",\n    \"subject\": \"Transmisión automática RM - Error Consulta TICKET - DAM:{{ $('ParseSuccessResponse').item.json.originaldata.Year }}-{{ $('ParseSuccessResponse').item.json.originaldata.Regime }}-{{ $('ParseSuccessResponse').item.json.originaldata.Dam }}\",\n    \"body\": \"<html><body><p>Estimados,</p><p>La siguiente solicitud de exportación: {{ $('ParseSuccessResponse').item.json.originaldata.RequestExportId }}<b></b>, con DAM: {{ $('ParseSuccessResponse').item.json.originaldata.Year }}-{{ $('ParseSuccessResponse').item.json.originaldata.Regime }}-{{ $('ParseSuccessResponse').item.json.originaldata.Dam }}</p><p>Ha dado error en la Consulta TICKET al <b>superar la cantidad de intentos</b> por lo siguiente:<p><p style='color: red'><b>{{ $('Validation Reponse').item.json.message }}</b><p></br><p>Favor verificar y solucionar el error en el módulo de {{ $('ParseSuccessResponse').item.json.originaldata.TransmissionType === 'RM' ? 'DAM' : 'RD' }}, y luego continuar con la transmisión de forma manual.<p><p>Atte,</p><p>DP World</p></body></html>\"\n}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1856,880],"id":"f397525b-0824-4040-9336-dfdd2bf48a99","name":"Send Email Retries"},{"parameters":{"method":"POST","url":"http://10.208.101.92:1801/api/CRUD/sendEmail","sendBody":true,"specifyBody":"json","jsonBody":"={{ \n  JSON.stringify({\n    email: \"dpwc.docyprocesosaduaneros@dpworld.com;franklin.milla@dpworld.com;manuel.cuya@dpworld.com\",TransmissionType\n    subject: \"Transmisión automática ${$('ParseSuccessResponse').item.json.originaldata.TransmissionType} - Error Consulta TICKET - DAM: \" +\n      $('ParseSuccessResponse').item.json.originaldata.Year + \"-\" +\n      $('ParseSuccessResponse').item.json.originaldata.Regime + \"-\" +\n      $('ParseSuccessResponse').item.json.originaldata.Dam,\n    body: `<html><body>\n      <p>Estimados,</p>\n      <p>La siguiente solicitud de exportación: \n      <b>${$('ParseSuccessResponse').item.json.originaldata.RequestExportId}</b>, \n      con DAM: ${$('ParseSuccessResponse').item.json.originaldata.Year}-\n      ${$('ParseSuccessResponse').item.json.originaldata.Regime}-\n      ${$('ParseSuccessResponse').item.json.originaldata.Dam}</p>\n      <p>Ha dado error en la Consulta TICKET por lo siguiente:</p>\n      <p style='color: red'><b>${$json.message || $json.statusResponse.message}</b></p>\n      <p>Favor verificar y solucionar el error en el módulo de ${$('ParseSuccessResponse').item.json.originaldata.TransmissionType} === 'RM' ? 'DAM' : 'RD', \n      y luego continuar con la transmisión de forma manual.</p>\n      <p>Atte,<br>DP World</p>\n    </body></html>`\n  })\n}}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1856,688],"id":"816abaac-b4b5-4700-b949-16e2ad62dde5","name":"Send Email Error"},{"parameters":{"assignments":{"assignments":[{"id":"5abf7038-95d9-43a0-a7bb-038c31c4202d","name":"error.message","value":"={{ $('ParseErrorResponse').item.json.response.message }}","type":"string"},{"id":"68151956-e363-4b07-8706-1257f5f39495","name":"error.stack","value":"={{ $('ParseErrorResponse').item.json.response.stacktrace }}","type":"string"},{"id":"d5d2eb49-2655-4ee8-afe7-e99be5dd3458","name":"node.name","value":"={{ $workflow.name }}","type":"string"},{"id":"1f3de402-3184-49cd-a84c-7249954e1c9a","name":"data.damid","value":"={{ $('ParseErrorResponse').item.json.originaldata.DamId }}","type":"string"},{"id":"04719210-a722-4dbf-abfd-3a747fe655f8","name":"=data.rdid","value":"={{ $('ParseErrorResponse').item.json.originaldata.RdId }}","type":"string"},{"id":"b96561d0-e61e-4126-af56-84301f867e02","name":"data.transmissiontype","value":"={{ $('ParseErrorResponse').item.json.originaldata.TransmissionType }}","type":"string"},{"id":"ecd08711-02a3-4b41-8ec3-11ba22af71cc","name":"data.dam","value":"={{ $('ParseErrorResponse').item.json.originaldata.Dam }}","type":"string"},{"id":"c67ba122-9ad2-4491-99fc-fbdb278d4970","name":"data.year","value":"={{ $('ParseErrorResponse').item.json.originaldata.Year }}","type":"string"},{"id":"dc07e139-54c9-47ad-98b9-423d0ba3bae6","name":"data.regime","value":"={{ $('ParseErrorResponse').item.json.originaldata.Regime }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1632,1200],"id":"23ec87ce-5fa1-46c0-bfc2-702971ab35c9","name":"Parse Error Response"},{"parameters":{"method":"POST","url":"http://10.208.101.92:1801/api/CRUD/sendEmail","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"email\": \"dpwc.docyprocesosaduaneros@dpworld.com;franklin.milla@dpworld.com;manuel.cuya@dpworld.com\",\n    \"subject\": \"Transmisión automática {{ $json.data.TransmissionType }} - Error Consulta TICKET - DAM:{{ $json.data.year }}-{{ $json.data.regime }}-{{ $json.data.dam }}\",\n    \"body\": \"<html><body><p>Estimados,</p><p>La siguiente solicitud de exportación: <b>{{ $json.data.damid }}</b>, con DAM: {{ $json.data.year }}-{{ $json.data.regime }}-{{ $json.data.dam }}, ha generado el siguiente error: </p><p>{{ $json.error.message }}</p><p>Favor de comunicarse con TI y generar la consulta de ticket de forma manual.</p><p>Atte,</p><p>DP World</p></body></html>\"\n}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1856,1200],"id":"0ab1c7fe-7cc7-4219-b1c7-1e74163416b4","name":"Send Email Error WorkFlow"},{"parameters":{"amount":"={{ $('Send WS Query Ticket').item.json.result.secondsToRetry || 30 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2528,1024],"id":"11957d45-e5ce-4ebb-959a-06ffd7b1a89d","name":"Pause","webhookId":"679674a9-2d13-48d8-a8f5-76fd5ca00fd9"},{"parameters":{"method":"POST","url":"https://sp2dca-apiis1.dpwc.local:5043/api/aw-fast/FastGateway/ReleaseTransmissionAutomatic","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.originalData }}","options":{"allowUnauthorizedCerts":true,"timeout":120000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2512,688],"id":"cb1b5639-2c81-42a4-8515-3508d4c76be6","name":"Release Transmission","onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"5dedd9df-f31f-440d-80e5-b0e202d7dd78","name":"mailStatus","value":"={{ $json.status }}","type":"string"},{"id":"14800a2c-d48c-4c83-8b09-b659403b963b","name":"originalData","value":"={{ $('Read Queue Query Ticket').item.json.content }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2352,688],"id":"0c5e17ec-3719-4e7f-a0fd-a966a369ecdc","name":"Parse Email Response"},{"parameters":{"queue":"queue_query_ticket","options":{"acknowledge":"laterMessageNode"}},"type":"n8n-nodes-base.rabbitmqTrigger","typeVersion":1,"position":[64,832],"id":"0a6bbfd6-f934-4e2f-8b22-701177bf28fd","name":"Read Queue Query Ticket","credentials":{"rabbitmq":{"id":"vsvI9Lg7vTP32Drt","name":"RabbitMQ account"}}},{"parameters":{"method":"POST","url":"https://sp2dca-apiis1.dpwc.local:5043/api/aw-fast/FastGateway/ConsultTICKET","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n   \"RequestExportId\":{{ $json.RequestExportId }},\n   \"DamId\":{{ $json.DamId }},\n   \"RdId\": {{ $json.RdId }},\n   \"TransmissionType\":\"{{ $json.TransmissionType }}\",\n   \"Dam\":\"{{ $json.Dam }}\",\n   \"Regime\":\"{{ $json.Regime }}\",\n   \"Year\":\"{{ $json.Year }}\",\n   \"TopologyId\":{{ $json.TopologyId }},\n   \"User\":\"{{ $json.User }}\",\n   \"Password\":\"{{ $json.Password }}\"\n}","options":{"allowUnauthorizedCerts":true,"timeout":120000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[512,832],"id":"cce5ddad-d411-46d0-8452-b5e14f669980","name":"Send WS Query Ticket","credentials":{"httpBasicAuth":{"id":"AcT919njxjFmHrNy","name":"send_sunat_queues"}},"onError":"continueErrorOutput"},{"parameters":{"queue":"queue_query_ticket","sendInputData":false,"message":"={{\n  JSON.stringify({\n    ...$('ParseSuccessResponse').item.json.originaldata,\n    retryCount: $json.originaldata.retryCount \n  })\n}}\n","options":{}},"type":"n8n-nodes-base.rabbitmq","typeVersion":1.1,"position":[2752,1024],"id":"9e9ad205-ac82-4615-bca6-08d6c5010366","name":"Re Send Queue Query Ticket","credentials":{"rabbitmq":{"id":"vsvI9Lg7vTP32Drt","name":"RabbitMQ account"}}},{"parameters":{"queue":"queue_query_channel","sendInputData":false,"message":"={{ JSON.stringify($('ParseSuccessResponse').item.json.originaldata) }}","options":{}},"type":"n8n-nodes-base.rabbitmq","typeVersion":1.1,"position":[2752,128],"id":"e9a54253-df0e-4cab-ab21-4488bee498fc","name":"Send New Queue Query Channel","credentials":{"rabbitmq":{"id":"vsvI9Lg7vTP32Drt","name":"RabbitMQ account"}}},{"parameters":{"operation":"deleteMessage"},"type":"n8n-nodes-base.rabbitmq","typeVersion":1.1,"position":[3184,608],"id":"91d9c858-ca08-4f80-accc-f1431ae22d2c","name":"Delete Queue Query Ticket","credentials":{"rabbitmq":{"id":"vsvI9Lg7vTP32Drt","name":"RabbitMQ account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c64bc5a3-f294-4d51-8475-e735e93362a4","leftValue":"={{ $('ParseSuccessResponse').item.json.originaldata.TransmissionType }}","rightValue":"RM","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1968,48],"id":"ea7465e7-feac-4c69-b7f7-aa5568a3a342","name":"Validate Transmission Type"},{"parameters":{"amount":"={{ Number($json?.value ?? 20) }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2528,128],"id":"1af5191c-538f-4511-9694-45426ed0c476","name":"Wait","webhookId":"89a06c7a-9e17-42f7-9f21-08f6e75be11b"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"response\": {{ $json.statusResponse }},\n  \"originaldata\": {\n    \"RequestExportId\": {{ $('Parse Reading').item.json.RequestExportId || null }},\n    \"DamId\": {{ $('Parse Reading').item.json.DamId || null }},\n    \"RdId\": {{ $('Parse Reading').item.json.RdId || 0 }},\n    \"TransmissionType\": \"{{ $('Parse Reading').item.json.TransmissionType || '' }}\",\n    \"Dam\": \"{{ $('Parse Reading').item.json.Dam || '' }}\",\n    \"Regime\": \"{{ $('Parse Reading').item.json.Regime || '' }}\",\n    \"Year\": \"{{ $('Parse Reading').item.json.Year || '' }}\",\n    \"User\": \"{{ $('Parse Reading').item.json.User || '' }}\",\n    \"Password\": \"{{ $('Parse Reading').item.json.Password || '' }}\",\n    \"TopologyId\": {{ $('Parse Reading').item.json.TopologyId || null }},\n\"retryCount\": {{ $('Parse Reading').item.json.retryCount ?? $json.result?.retryCount ?? 3 }},\n\"secondsToRetry\": {{ $json.result?.secondsToRetry ?? 30 }}\n\n  }\n}\n","includeOtherFields":"=","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[736,544],"id":"31d5cb4f-078b-4efe-bcd6-351e05b0f62f","name":"ParseSuccessResponse"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"log_n8n","mode":"list","cachedResultName":"log_n8n"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"message","value":"={{ $json.response.message }}"},{"column":"stacktrace","value":"={{ $json.response.key }}"},{"column":"node","value":"Send WS Query Ticket"},{"column":"request","value":"={{ $json.originaldata }}"},{"column":"response","value":"={{ $json.response }}"},{"column":"recordid","value":"={{ $json.originaldata.RequestExportId }}"},{"column":"key","value":"={{ $json.response.key }}"},{"column":"status","value":"={{ $json.response.status }}"},{"column":"flow","value":"={{ $workflow.name }}"}]},"options":{}},"name":"InsertSuccessLog","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[960,544],"id":"0dec8c4e-ff1a-483e-aa99-a5777c18d5a4","credentials":{"postgres":{"id":"d53NEEOjDqHRzRm6","name":"Postgres account 2"}}},{"parameters":{"mode":"raw","jsonOutput":"={{\n  {\n    response: {\n       status: \"ERROR\",\n       message: $json.error?.message ?? $json.message ?? 'Error desconocido',\n      stacktrace: $json.error?.stack ?? '',\n       \"key\": 8000},\n    originaldata: {\n      RequestExportId: $('Parse Reading').item.json.RequestExportId ?? null,\n      DamId: $('Parse Reading').item.json.DamId ?? null,\n      RdId: $('Parse Reading').item.json.RdId ?? 0,\n      TransmissionType: $('Parse Reading').item.json.TransmissionType ?? '',\n      Dam: $('Parse Reading').item.json.Dam ?? '',\n      Regime: $('Parse Reading').item.json.Regime ?? '',\n      Year: $('Parse Reading').item.json.Year ?? '',\n      User: $('Parse Reading').item.json.User ?? '',\n      Password: $('Parse Reading').item.json.Password ?? '',\n      TopologyId: $('Parse Reading').item.json.TopologyId ?? null,\n      retryCount: $('Parse Reading').item.json.retryCount ?? 3,\n      secondsToRetry: $json.result?.secondsToRetry ?? 30,\n    }\n    \n  }\n}}","includeOtherFields":"=","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1184,1200],"id":"8c7a4f37-3124-4ca8-a708-f1e370a618b2","name":"ParseErrorResponse"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"mode":"list","value":"log_n8n"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"node","value":"Send WS Query Ticket"},{"column":"recordid","value":"={{ $json.originaldata.RequestExportId }}"},{"column":"request","value":"={{ $json.originaldata }}"},{"column":"response","value":"={{ $('Send WS Query Ticket').item.json.error }}"},{"column":"status","value":"={{ $('Send WS Query Ticket').item.json.error.name }}"},{"column":"message","value":"={{ $('Send WS Query Ticket').item.json.error.message }}"},{"column":"key","value":"8000"},{"column":"stacktrace","value":"={{ $('Send WS Query Ticket').item.json.error.stack }}"},{"column":"flow","value":"={{ $workflow.name }}"}]},"options":{}},"name":"InsertErrorLog","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1408,1200],"id":"a95b54db-a88d-46fe-8d91-7f64654ae625","credentials":{"postgres":{"id":"d53NEEOjDqHRzRm6","name":"Postgres account 2"}}},{"parameters":{"mode":"raw","jsonOutput":"={{\n{\n  response: {\n    status: $json.statusResponse?.status || $json.error?.name,\n    message: $json.statusResponse?.message || $json.error?.message,\n    stacktrace: $json.error?.stack || '',\n    key: $json.statusResponse?.key || 8000\n  },\n  originaldata: {\n    RequestExportId: $node[\"Parse Reading\"].json.RequestExportId || null,\n    DamId: $node[\"Parse Reading\"].json.DamId || null,\n    RdId: $node[\"Parse Reading\"].json.RdId || 0,\n    TransmissionType: $node[\"Parse Reading\"].json.TransmissionType || '',\n    Dam: $node[\"Parse Reading\"].json.Dam || '',\n    Regime: $node[\"Parse Reading\"].json.Regime || '',\n    Year: $node[\"Parse Reading\"].json.Year || '',\n    User: $node[\"Parse Reading\"].json.User || '',\n    Password: $node[\"Parse Reading\"].json.Password || '',\n    TopologyId: $node[\"Parse Reading\"].json.TopologyId || null,\n    retryCount: $node[\"Parse Reading\"].json.retryCount || 3,\n    secondsToRetry: $json.result?.secondsToRetry || 30\n  }\n}\n}}\n","includeOtherFields":"=","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2736,688],"id":"688f014e-ac3c-4779-9239-0bff1822366c","name":"ParseResponse"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"log_n8n","mode":"list","cachedResultName":"log_n8n"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"message","value":"={{ $json.response.message }}"},{"column":"stacktrace","value":"={{ $json.response.stacktrace }}"},{"column":"node","value":"Release Transmission"},{"column":"request","value":"={{ $json.originaldata }}"},{"column":"response","value":"={{ $json.response }}"},{"column":"recordid","value":"={{ $json.originaldata.RequestExportId }}"},{"column":"key","value":"={{ $json.response.key }}"},{"column":"status","value":"={{ $json.response.status }}"},{"column":"flow","value":"={{ $workflow.name }}"}]},"options":{}},"name":"InsertLog","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[2960,688],"id":"a3aaf357-e747-4dbe-b1aa-867baea5cbdc","credentials":{"postgres":{"id":"d53NEEOjDqHRzRm6","name":"Postgres account 2"}}},{"parameters":{"method":"POST","url":"https://sp2dca-apiis1.dpwc.local:5043/api/aw-fast/FastGateway/DisapproveRequestExport","sendBody":true,"specifyBody":"json","jsonBody":"={{ \n  JSON.stringify({\n    RequestExportId: $('Parse Reading').item.json.RequestExportId,\n    DamId: $('Parse Reading').item.json.DamId,\n    RdId: $('Parse Reading').item.json.RdId,\n    TransmissionType: $('Parse Reading').item.json.TransmissionType,\n    Dam: $('Parse Reading').item.json.Dam,\n    Regime: $('Parse Reading').item.json.Regime,\n    Year: $('Parse Reading').item.json.Year,\n    TopologyId: $('Parse Reading').item.json.TopologyId,\n    User: $('Parse Reading').item.json.User,\n    Password: $('Parse Reading').item.json.Password,\n    Motive: $json.message\n  })\n}}\n","options":{"allowUnauthorizedCerts":true,"timeout":120000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1808,288],"id":"eaea3909-969f-449b-9e41-c4d36327962d","name":"Disaprove Export Request","onError":"continueErrorOutput"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.key }}","rightValue":304,"operator":{"type":"number","operation":"equals"},"id":"b1483312-6a2f-43a0-a270-3f88c8120ccc"}],"combinator":"and"},"renameOutput":true,"outputKey":"304"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2e2e0eea-1cf1-49c5-b454-c19803073b14","leftValue":"={{ $json.key }}","rightValue":305,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"305"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0f5199ff-0b1a-441d-a6ba-1363a80a9efc","leftValue":"={{ $json.key }}","rightValue":306,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"306"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c5470d8b-703b-445b-931e-eeb00ef90463","leftValue":"={{ $json.key }}","rightValue":307,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"307"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4c22d8b0-9e44-413e-ac13-5f5b2cf44f70","leftValue":"={{ $json.key }}","rightValue":308,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"308"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"acc23a56-08f6-4c12-9ad2-1c1a11b5ed1d","leftValue":"={{ $json.key }}","rightValue":309,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"309"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f09d6b18-acf1-432e-bd5e-e8b2e3b286d7","leftValue":"={{ $json.key }}","rightValue":314,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"314"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"OTROS"}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[1408,448],"id":"c28c2151-ff2b-48ff-acb7-685c4d485014","name":"ValidateError"},{"parameters":{"method":"POST","url":"http://10.208.101.92:1801/api/CRUD/sendEmail","sendBody":true,"specifyBody":"json","jsonBody":"={{ \n  JSON.stringify({\n    email: \"dpwc.docyprocesosaduaneros@dpworld.com;franklin.milla@dpworld.com;manuel.cuya@dpworld.com\",\n    subject: \"Transmisión automática \" + $('ParseSuccessResponse').item.json.originaldata.TransmissionType +\" - Error al Rechazar Solicitud - DAM: \" +\n      $('ParseSuccessResponse').item.json.originaldata.Year + \"-\" +\n      $('ParseSuccessResponse').item.json.originaldata.Regime + \"-\" +\n      $('ParseSuccessResponse').item.json.originaldata.Dam,\n    body: `<html><body>\n      <p>Estimados,</p>\n      <p>La siguiente solicitud de exportación: \n      <b>${$('ParseSuccessResponse').item.json.originaldata.RequestExportId}</b>, \n      con DAM: ${$('ParseSuccessResponse').item.json.originaldata.Year}-\n      ${$('ParseSuccessResponse').item.json.originaldata.Regime}-\n      ${$('ParseSuccessResponse').item.json.originaldata.Dam}</p>\n      <p>Ha dado error en al querer rechazar la solicitud en automático(por errores SUNAT) por lo siguiente:</p>\n      <p style='color: red'><b>${$json.message || $json.statusResponse.message}</b></p>\n      <p>Favor rechazar la solcicitud en Dport de forma manual.</p>\n      <p>Atte,<br>DP World</p>\n    </body></html>`\n  })\n}}\n","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2032,528],"id":"ad6cd2a6-2349-4aab-a747-c156296d223f","name":"Send Email Disaprove"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"24b73304-24c1-433e-816c-f0f47fc019e5","leftValue":"={{ $json.statusResponse.status }}","rightValue":"ERROR","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2112,304],"id":"6e9d1a9f-5783-435f-a241-dccfe2b4b0bc","name":"ValidaRespuestaDisaprove"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"cosettings","mode":"list","cachedResultName":"cosettings"},"limit":1,"where":{"values":[{"column":"key","value":"DELAY_BETWEEN_QUERY_TICKET_QUERY_CHANNEL"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2288,32],"id":"2645a97d-6509-472c-bba6-1bd04fa1aaf0","name":"DELAY_BETWEEN_QUERY_TICKET_QUERY_CHANNEL","credentials":{"postgres":{"id":"d53NEEOjDqHRzRm6","name":"Postgres account 2"}}}],"connections":{"Parse Reading":{"main":[[{"node":"Send WS Query Ticket","type":"main","index":0}]]},"Update Count Retry":{"main":[[{"node":"Validate Retries","type":"main","index":0}]]},"Validate Retries":{"main":[[{"node":"Send Email Retries","type":"main","index":0}],[{"node":"Pause","type":"main","index":0}]]},"Validation Reponse":{"main":[[{"node":"Validate Transmission Type","type":"main","index":0}],[{"node":"Update Count Retry","type":"main","index":0}],[{"node":"ValidateError","type":"main","index":0}]]},"Send Email Retries":{"main":[[{"node":"Parse Email Response","type":"main","index":0}]]},"Send Email Error":{"main":[[{"node":"Parse Email Response","type":"main","index":0}]]},"Parse Error Response":{"main":[[{"node":"Send Email Error WorkFlow","type":"main","index":0}]]},"Send Email Error WorkFlow":{"main":[[{"node":"Parse Email Response","type":"main","index":0}]]},"Pause":{"main":[[{"node":"Re Send Queue Query Ticket","type":"main","index":0}]]},"Release Transmission":{"main":[[{"node":"ParseResponse","type":"main","index":0}]]},"Parse Email Response":{"main":[[{"node":"Release Transmission","type":"main","index":0}]]},"Read Queue Query Ticket":{"main":[[{"node":"Parse Reading","type":"main","index":0}]]},"Send WS Query Ticket":{"main":[[{"node":"ParseSuccessResponse","type":"main","index":0}],[{"node":"ParseErrorResponse","type":"main","index":0}]]},"Re Send Queue Query Ticket":{"main":[[{"node":"Delete Queue Query Ticket","type":"main","index":0}]]},"Send New Queue Query Channel":{"main":[[{"node":"Delete Queue Query Ticket","type":"main","index":0}]]},"Validate Transmission Type":{"main":[[{"node":"DELAY_BETWEEN_QUERY_TICKET_QUERY_CHANNEL","type":"main","index":0}],[{"node":"Delete Queue Query Ticket","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Send New Queue Query Channel","type":"main","index":0}]]},"ParseSuccessResponse":{"main":[[{"node":"InsertSuccessLog","type":"main","index":0}]]},"InsertSuccessLog":{"main":[[{"node":"Validation Reponse","type":"main","index":0}]]},"ParseErrorResponse":{"main":[[{"node":"InsertErrorLog","type":"main","index":0}]]},"InsertErrorLog":{"main":[[{"node":"Parse Error Response","type":"main","index":0}]]},"ParseResponse":{"main":[[{"node":"InsertLog","type":"main","index":0}]]},"InsertLog":{"main":[[{"node":"Delete Queue Query Ticket","type":"main","index":0}]]},"Disaprove Export Request":{"main":[[{"node":"ValidaRespuestaDisaprove","type":"main","index":0}],[{"node":"Send Email Disaprove","type":"main","index":0}]]},"ValidateError":{"main":[[{"node":"Disaprove Export Request","type":"main","index":0}],[{"node":"Disaprove Export Request","type":"main","index":0}],[{"node":"Disaprove Export Request","type":"main","index":0}],[{"node":"Disaprove Export Request","type":"main","index":0}],[{"node":"Disaprove Export Request","type":"main","index":0}],[{"node":"Disaprove Export Request","type":"main","index":0}],[{"node":"Disaprove Export Request","type":"main","index":0}],[{"node":"Send Email Error","type":"main","index":0}]]},"Send Email Disaprove":{"main":[[{"node":"Parse Email Response","type":"main","index":0}]]},"ValidaRespuestaDisaprove":{"main":[[{"node":"Parse Email Response","type":"main","index":0}],[{"node":"Send Email Disaprove","type":"main","index":0}]]},"DELAY_BETWEEN_QUERY_TICKET_QUERY_CHANNEL":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"KVW9hshItNEvzyI4"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"dca5ec9c-674f-49c2-9f90-fb2e8d101ef1","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-09-26T18:09:28.275Z","createdAt":"2025-09-26T18:09:28.275Z","role":"workflow:owner","workflowId":"mvEjeTAx0ZSKvJfv","projectId":"qKHJHnveidvROPB6"}],"activeVersion":null,"tags":[{"updatedAt":"2025-09-25T20:25:47.066Z","createdAt":"2025-09-23T20:55:21.169Z","id":"AqVIfFmictF9YGtn","name":"GDC-2490"}]}