04_readqueuequerychannelok-VeovbIiHMiWNGZLG.json
{"updatedAt":"2025-11-28T21:09:06.015Z","createdAt":"2025-11-28T19:54:58.137Z","id":"VeovbIiHMiWNGZLG","name":"04_ReadQueueQueryChannelOK","active":false,"isArchived":true,"nodes":[{"parameters":{"content":"## CONSULTA CANAL","height":1184,"width":3248,"color":3},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"5d3ddb27-8425-4ebe-8fcc-79cc9c24e6fc","name":"Sticky Note1"},{"parameters":{"jsCode":"return [{\n  json: JSON.parse($input.first().json.content)\n}]\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[304,640],"id":"7b26beab-f54c-4fb1-b946-2ce565b99cc4","name":"Parse Reading","notesInFlow":false},{"parameters":{"jsCode":"// Decrementa y clampa originaldata.retryCount\nconst item = $input.first().json;\nconst current = Number($('Send WS Query Channel').first().json.result.retryCount ?? $('ParseSuccessResponse').first().json.originaldata.retryCount);\nconst next = Math.max(current - 1, 0);\nitem.originaldata = item.originaldata || {};\nitem.originaldata.retryCount = next;\n\n// (Opcional) si quieres “acarrear” secondsToRetry desde la última respuesta:\nif (item.response?.result?.secondsToRetry != null) {\n  item.originaldata.secondsToRetry = Number(item.response.result.secondsToRetry);\n}\n\nreturn [{ json: item }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1424,624],"id":"cfab43d7-b908-40fd-a0db-e3e819fd0f1a","name":"Update Count Retry"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2e9c24c4-5c3f-4426-bd89-e2b22123ebe8","leftValue":"={{ $json.originaldata.retryCount }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1648,624],"id":"62362420-621c-45e4-9820-5fd1f50d7d20","name":"Validate Retries"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('ParseSuccessResponse').item.json.response.status }}","rightValue":"SUCCESS","operator":{"type":"string","operation":"equals"},"id":"6f59abc1-c070-4d53-8868-a7966791fe44"}],"combinator":"and"},"renameOutput":true,"outputKey":"SUCCESS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ed496190-4e85-49cd-8ceb-305d07d380ec","leftValue":"={{ $('ParseSuccessResponse').item.json.response.status }}","rightValue":"WARNING","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"WARNING"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3d626c03-1e22-438c-83c7-d0879c949812","leftValue":"={{ $('ParseSuccessResponse').item.json.response.status }}","rightValue":"ERROR","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ERROR"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1200,336],"id":"4bee7bb2-0172-44a6-a0a5-18d9c234cbd4","name":"Validation Reponse"},{"parameters":{"method":"POST","url":"https://extapidportrest.dpworld.pe:5443/api/CRUD/sendEmail","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"email\": \"dpwc.docyprocesosaduaneros@dpworld.com;franklin.milla@dpworld.com;manuel.cuya@dpworld.com\",\n    \"subject\": \"Transmisión automática {{ $('ParseSuccessResponse').item.json.originaldata.TransmissionType }} - Error Consulta Canal SUNAT - DAM:{{ $('ParseSuccessResponse').item.json.originaldata.Year }}-{{ $('ParseSuccessResponse').item.json.originaldata.Regime }}-{{ $('ParseSuccessResponse').item.json.originaldata.Dam }}\",\n    \"body\": \"<html><body><p>Estimados,</p><p>La siguiente solicitud de exportación: <b>{{ $('ParseSuccessResponse').item.json.originaldata.RequestExportId }}</b>, con DAM: {{ $('ParseSuccessResponse').item.json.originaldata.Year }}-{{ $('ParseSuccessResponse').item.json.originaldata.Regime }}-{{ $('ParseSuccessResponse').item.json.originaldata.Dam }}</p><p>Ha dado error en la Consulta Canal SUNAT al <b>superar la cantidad de intentos</b> por lo siguiente:<p><p style='color: red'><b>{{ $('Validation Reponse').item.json.message }}</b><p></br><p>Favor verificar y solucionar el error en el módulo de {{$('ParseSuccessResponse').item.json.originaldata.TransmissionType === 'RM' ? 'DAM' : 'RD' }}, y luego continuar con la transmisión de forma manual.<p><p>Atte,</p><p>DP World</p></body></html>\"\n}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1872,512],"id":"2f9d00fe-8ddb-4d96-8314-06694c030d09","name":"Send Email Retries"},{"parameters":{"method":"POST","url":"https://extapidportrest.dpworld.pe:5443/api/CRUD/sendEmail","sendBody":true,"specifyBody":"json","jsonBody":"={{$json}}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1872,320],"id":"f5f6b3b0-3655-41cc-bb69-016663aa3f86","name":"Send Email Error"},{"parameters":{"assignments":{"assignments":[{"id":"5abf7038-95d9-43a0-a7bb-038c31c4202d","name":"error.message","value":"={{ $('ParseErrorResponse').item.json.response.message }}","type":"string"},{"id":"68151956-e363-4b07-8706-1257f5f39495","name":"error.stack","value":"={{ $('ParseErrorResponse').item.json.response.stacktrace }}","type":"string"},{"id":"d5d2eb49-2655-4ee8-afe7-e99be5dd3458","name":"node.name","value":"={{ $workflow.name }}","type":"string"},{"id":"1f3de402-3184-49cd-a84c-7249954e1c9a","name":"data.damid","value":"={{ $('ParseErrorResponse').item.json.originaldata.DamId }}","type":"string"},{"id":"04719210-a722-4dbf-abfd-3a747fe655f8","name":"data.rdid","value":"={{ $('ParseErrorResponse').item.json.originaldata.RdId }}","type":"string"},{"id":"b96561d0-e61e-4126-af56-84301f867e02","name":"data.transmissiontype","value":"={{ $('ParseErrorResponse').item.json.originaldata.TransmissionType }}","type":"string"},{"id":"ecd08711-02a3-4b41-8ec3-11ba22af71cc","name":"data.dam","value":"={{ $('ParseErrorResponse').item.json.originaldata.Dam }}","type":"string"},{"id":"c67ba122-9ad2-4491-99fc-fbdb278d4970","name":"data.year","value":"={{ $('ParseErrorResponse').item.json.originaldata.Year }}","type":"string"},{"id":"dc07e139-54c9-47ad-98b9-423d0ba3bae6","name":"data.regime","value":"={{ $('ParseErrorResponse').item.json.originaldata.Regime }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1648,880],"id":"4cd9076f-ea98-4bdc-ba6e-f2c9f5372807","name":"Parse Error Response"},{"parameters":{"method":"POST","url":"https://extapidportrest.dpworld.pe:5443/api/CRUD/sendEmail","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"email\": \"dpwc.docyprocesosaduaneros@dpworld.com;franklin.milla@dpworld.com;manuel.cuya@dpworld.com\",\n    \"subject\": \"Transmisión automática {{$json.data.TransmissionType}} - Error Consulta Canal SUNAT  - DAM:{{ $json.data.year }}-{{ $json.data.regime }}-{{ $json.data.dam }}\",\n    \"body\": \"<html><body><p>Estimados,</p><p>La siguiente solicitud de exportación: <b>{{ $json.data.damid }}</b>, con DAM: {{ $json.data.year }}-{{ $json.data.regime }}-{{ $json.data.dam }}, ha generado el siguiente error: </p><p>{{ $json.error.message }}</p><p>Favor de comunicarse con TI y generar la consulta de canal de forma manual.</p><p>Atte,</p><p>DP World</p></body></html>\"\n}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1872,880],"id":"201fe0d6-6d25-45f6-ab0b-1edfdc9606b0","name":"Send Email Error WorkFlow"},{"parameters":{"amount":"={{ $('Send WS Query Channel').item.json.result.secondsToRetry || 30 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2544,704],"id":"9098263c-5ecb-4f8d-966a-86b98b2f6cf5","name":"Pause","webhookId":"f6a10b35-0ef2-4757-bf57-bdd9f700bcab"},{"parameters":{"method":"POST","url":"https://dpw-fast-be.dpwc.local:5043/api/aw-fast/FastGateway/ReleaseTransmissionAutomatic","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.originalData }}","options":{"allowUnauthorizedCerts":true,"timeout":120000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2320,480],"id":"d8329c98-8d20-4aad-91f6-4a589f3f8587","name":"Release Transmission","onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"5dedd9df-f31f-440d-80e5-b0e202d7dd78","name":"mailStatus","value":"={{ $json.status }}","type":"string"},{"id":"14800a2c-d48c-4c83-8b09-b659403b963b","name":"originalData","value":"={{ $('Read Queue Query Channel').item.json.content }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2096,480],"id":"5afb3e61-0e79-4e52-b7e1-8060c2723e81","name":"Parse Email Response"},{"parameters":{"assignments":{"assignments":[{"id":"02d79ead-d09a-42b8-b35f-508d72f06807","name":"email","value":"dpwc.docyprocesosaduaneros@dpworld.com;franklin.milla@dpworld.com;manuel.cuya@dpworld.com","type":"string"},{"id":"a379c177-99fb-47b3-a8df-e40b89e4eab5","name":"subject","value":"=Transmisión automática {{ $('ParseSuccessResponse').item.json.originaldata.TransmissionType }} - Error Consulta Canal SUNAT - DAM:{{ $('ParseSuccessResponse').item.json.originaldata.Year }}-{{ $('ParseSuccessResponse').item.json.originaldata.Regime }}-{{ $('ParseSuccessResponse').item.json.originaldata.Dam }}","type":"string"},{"id":"cb22ddbc-51f1-44da-8f73-9322cbff1528","name":"body","value":"=<html><body><p>Estimados,</p><p>La siguiente solicitud de exportación: <b><b>{{ $('ParseSuccessResponse').item.json.originaldata.DamId }} , con DAM: {{ $('ParseSuccessResponse').item.json.originaldata.Year }}-{{ $('ParseSuccessResponse').item.json.originaldata.Regime }}-{{ $('ParseSuccessResponse').item.json.originaldata.Dam }}</b></p><p>Ha dado error en la Consulta Canal SUNAT por lo siguiente:</p><p style='color: red'><b>{{ $json.response.message }}</b></p><p>Detalle:</p><p>{{ $('Send WS Query Channel').item.json.statusResponse.message }}</p><p>Favor verificar y solucionar el error en el módulo de {{$('ParseSuccessResponse').item.json.originaldata.TransmissionType === 'RM' ? 'DAM' : 'RD' }}, y luego continuar con la transmisión de forma manual.<p<p>Atte,</p><p>DP World</p></body></html>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1648,320],"id":"f23aac2d-c418-4b51-943b-f98852c22b2d","name":"Edit Fields"},{"parameters":{"queue":"queue_query_channel","options":{"acknowledge":"laterMessageNode"}},"type":"n8n-nodes-base.rabbitmqTrigger","typeVersion":1,"position":[80,640],"id":"d53714df-06fa-4a4a-88be-251a6052d3da","name":"Read Queue Query Channel"},{"parameters":{"operation":"deleteMessage"},"type":"n8n-nodes-base.rabbitmq","typeVersion":1.1,"position":[2992,512],"id":"b2f3df17-4978-4a5a-b87c-0e4f547ab22e","name":"Delete Queue Query Channel"},{"parameters":{"queue":"queue_query_channel","sendInputData":false,"message":"={{ JSON.stringify($('ParseSuccessResponse').item.json.originaldata) }}","options":{}},"type":"n8n-nodes-base.rabbitmq","typeVersion":1.1,"position":[2768,704],"id":"fc9ec528-9ca6-4764-91a7-5dfd08daa3e5","name":"Re Send Queue Query Channel"},{"parameters":{"queue":"queue_channel_replicate","sendInputData":false,"message":"={{ JSON.stringify($('ParseSuccessResponse').item.json.originaldata) }}","options":{}},"type":"n8n-nodes-base.rabbitmq","typeVersion":1.1,"position":[2768,176],"id":"058cbd55-e741-4426-9136-11a4a1b9dd91","name":"Send New Queue Channel Replicate"},{"parameters":{"method":"POST","url":"https://dpw-fast-be.dpwc.local:5043/api/aw-fast/FastGateway/ConsultCHANNEL","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n   \"RequestExportId\":{{ $json.RequestExportId }},\n   \"DamId\":{{ $json.DamId }},\n   \"RdId\": {{ $json.RdId }},\n   \"TransmissionType\":\"{{ $json.TransmissionType }}\",\n   \"Dam\":\"{{ $json.Dam }}\",\n   \"Regime\":\"{{ $json.Regime }}\",\n   \"Year\":\"{{ $json.Year }}\",\n   \"TopologyId\":{{ $json.TopologyId }},\n      \"User\":\"{{ $json.User }}\",\n   \"Password\":\"{{ $json.Password }}\"\n}","options":{"allowUnauthorizedCerts":true,"timeout":120000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[528,640],"id":"d61c6723-f4fc-4986-aa16-3c5192e40c91","name":"Send WS Query Channel","onError":"continueErrorOutput"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"response\": {{ $json.statusResponse }},\n  \"originaldata\": {\n    \"RequestExportId\": {{ $('Parse Reading').item.json.RequestExportId || null }},\n    \"DamId\": {{ $('Parse Reading').item.json.DamId || null }},\n    \"RdId\": {{ $('Parse Reading').item.json.RdId || 0 }},\n    \"TransmissionType\": \"{{ $('Parse Reading').item.json.TransmissionType || '' }}\",\n    \"Dam\": \"{{ $('Parse Reading').item.json.Dam || '' }}\",\n    \"Regime\": \"{{ $('Parse Reading').item.json.Regime || '' }}\",\n    \"Year\": \"{{ $('Parse Reading').item.json.Year || '' }}\",\n    \"User\": \"{{ $('Parse Reading').item.json.User || '' }}\",\n    \"Password\": \"{{ $('Parse Reading').item.json.Password || '' }}\",\n    \"TopologyId\": {{ $('Parse Reading').item.json.TopologyId || null }},\n    \"retryCount\": {{ $('Parse Reading').item.json.retryCount || 3 }},\n    \"secondsToRetry\": {{ $json.result?.secondsToRetry || 30 }}\n  }\n}\n","includeOtherFields":"=","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[752,352],"id":"af29a456-b5b1-4a16-a69e-036ae85fc2c1","name":"ParseSuccessResponse"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"log_n8n","mode":"list","cachedResultName":"log_n8n"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"message","value":"={{ $json.response.message }}"},{"column":"stacktrace","value":"={{ $json.response.key }}"},{"column":"node","value":"Send WS Query Channel"},{"column":"request","value":"={{ $json.originaldata }}"},{"column":"response","value":"={{ $json.response }}"},{"column":"recordid","value":"={{ $json.originaldata.RequestExportId }}"},{"column":"key","value":"={{ $json.response.key }}"},{"column":"status","value":"={{ $json.response.status }}"},{"column":"flow","value":"={{ $workflow.name }}"}]},"options":{}},"name":"InsertSuccessLog","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[976,352],"id":"56cd9950-72ec-4cbc-9f2e-2cfae88d732e"},{"parameters":{"mode":"raw","jsonOutput":"={{\n  {\n    response: {\n       status: \"ERROR\",\n       message: $json.error?.message ?? $json.message ?? 'Error desconocido',\n      stacktrace: $json.error?.stack ?? '',\n       \"key\": 8000},\n    originaldata: {\n      RequestExportId: $('Parse Reading').item.json.RequestExportId ?? null,\n      DamId: $('Parse Reading').item.json.DamId ?? null,\n      RdId: $('Parse Reading').item.json.RdId ?? 0,\n      TransmissionType: $('Parse Reading').item.json.TransmissionType ?? '',\n      Dam: $('Parse Reading').item.json.Dam ?? '',\n      Regime: $('Parse Reading').item.json.Regime ?? '',\n      Year: $('Parse Reading').item.json.Year ?? '',\n      User: $('Parse Reading').item.json.User ?? '',\n      Password: $('Parse Reading').item.json.Password ?? '',\n      TopologyId: $('Parse Reading').item.json.TopologyId ?? null,\n      retryCount: $('Parse Reading').item.json.retryCount ?? 3,\n      secondsToRetry: $json.result?.secondsToRetry ?? 30,\n    }\n    \n  }\n}}","includeOtherFields":"=","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1200,880],"id":"bcfa95a7-fedc-42b1-b698-a74525828d8f","name":"ParseErrorResponse"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"mode":"list","value":"log_n8n"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"node","value":"Send WS Query Channel"},{"column":"recordid","value":"={{ $json.originaldata.RequestExportId }}"},{"column":"request","value":"={{ $json.originaldata }}"},{"column":"response","value":"={{ $('Send WS Query Channel').item.json.error }}"},{"column":"status","value":"={{ $('Send WS Query Channel').item.json.error.name }}"},{"column":"message","value":"={{ $('Send WS Query Channel').item.json.error.message }}"},{"column":"key","value":"8000"},{"column":"stacktrace","value":"={{ $('Send WS Query Channel').item.json.error.stack }}"},{"column":"flow","value":"={{ $workflow.name }}"}]},"options":{}},"name":"InsertErrorLog","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1424,880],"id":"9a09a04d-4df0-43ee-b402-536b30a5dc90"},{"parameters":{"mode":"raw","jsonOutput":"={{\n{\n  response: {\n    status: $json.statusResponse?.status || $json.error?.name,\n    message: $json.statusResponse?.message || $json.error?.message,\n    stacktrace: $json.error?.stack || '',\n    key: $json.statusResponse?.key || 8000\n  },\n  originaldata: {\n    RequestExportId: $node[\"Parse Reading\"].json.RequestExportId || null,\n    DamId: $node[\"Parse Reading\"].json.DamId || null,\n    RdId: $node[\"Parse Reading\"].json.RdId || 0,\n    TransmissionType: $node[\"Parse Reading\"].json.TransmissionType || '',\n    Dam: $node[\"Parse Reading\"].json.Dam || '',\n    Regime: $node[\"Parse Reading\"].json.Regime || '',\n    Year: $node[\"Parse Reading\"].json.Year || '',\n    User: $node[\"Parse Reading\"].json.User || '',\n    Password: $node[\"Parse Reading\"].json.Password || '',\n    TopologyId: $node[\"Parse Reading\"].json.TopologyId || null,\n    retryCount: $node[\"Parse Reading\"].json.retryCount || 3,\n    secondsToRetry: $json.result?.secondsToRetry || 30\n  }\n}\n}}\n","includeOtherFields":"=","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2544,480],"id":"e07a0093-f29b-4769-92b7-c2213df5a714","name":"ParseResponse"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"log_n8n","mode":"list","cachedResultName":"log_n8n"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"message","value":"={{ $json.response.message }}"},{"column":"stacktrace","value":"={{ $json.response.stacktrace }}"},{"column":"node","value":"Release Transmission"},{"column":"request","value":"={{ $json.originaldata }}"},{"column":"response","value":"={{ $json.response }}"},{"column":"recordid","value":"={{ $json.originaldata.RequestExportId }}"},{"column":"key","value":"={{ $json.response.key }}"},{"column":"status","value":"={{ $json.response.status }}"},{"column":"flow","value":"={{ $workflow.name }}"}]},"options":{}},"name":"InsertLog","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[2768,480],"id":"dc62b789-55be-445d-a5ed-dc48ee7f8ef7"}],"connections":{"Parse Reading":{"main":[[{"node":"Send WS Query Channel","type":"main","index":0}]]},"Update Count Retry":{"main":[[{"node":"Validate Retries","type":"main","index":0}]]},"Validate Retries":{"main":[[{"node":"Send Email Retries","type":"main","index":0}],[{"node":"Pause","type":"main","index":0}]]},"Validation Reponse":{"main":[[{"node":"Send New Queue Channel Replicate","type":"main","index":0}],[{"node":"Update Count Retry","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Send Email Retries":{"main":[[{"node":"Parse Email Response","type":"main","index":0}]]},"Send Email Error":{"main":[[{"node":"Parse Email Response","type":"main","index":0}]]},"Parse Error Response":{"main":[[{"node":"Send Email Error WorkFlow","type":"main","index":0}]]},"Send Email Error WorkFlow":{"main":[[{"node":"Parse Email Response","type":"main","index":0}]]},"Pause":{"main":[[{"node":"Re Send Queue Query Channel","type":"main","index":0}]]},"Release Transmission":{"main":[[{"node":"ParseResponse","type":"main","index":0}]]},"Parse Email Response":{"main":[[{"node":"Release Transmission","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Send Email Error","type":"main","index":0}]]},"Read Queue Query Channel":{"main":[[{"node":"Parse Reading","type":"main","index":0}]]},"Re Send Queue Query Channel":{"main":[[{"node":"Delete Queue Query Channel","type":"main","index":0}]]},"Send New Queue Channel Replicate":{"main":[[{"node":"Delete Queue Query Channel","type":"main","index":0}]]},"Send WS Query Channel":{"main":[[{"node":"ParseSuccessResponse","type":"main","index":0}],[{"node":"ParseErrorResponse","type":"main","index":0}]]},"ParseSuccessResponse":{"main":[[{"node":"InsertSuccessLog","type":"main","index":0}]]},"InsertSuccessLog":{"main":[[{"node":"Validation Reponse","type":"main","index":0}]]},"ParseErrorResponse":{"main":[[{"node":"InsertErrorLog","type":"main","index":0}]]},"InsertErrorLog":{"main":[[{"node":"Parse Error Response","type":"main","index":0}]]},"ParseResponse":{"main":[[{"node":"InsertLog","type":"main","index":0}]]},"InsertLog":{"main":[[{"node":"Delete Queue Query Channel","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"bccd32c9-96b7-45d5-b4ea-2ffe090893fa","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-11-28T19:54:58.137Z","createdAt":"2025-11-28T19:54:58.137Z","role":"workflow:owner","workflowId":"VeovbIiHMiWNGZLG","projectId":"peICgeWYzX52SL0e"}],"activeVersion":null,"tags":[{"updatedAt":"2025-11-28T19:59:37.668Z","createdAt":"2025-11-28T19:59:37.668Z","id":"BT1Zxxp7uWSAfULy","name":"GDC-5525"}]}