04_readqueuequerychannelok-0r2OV4MQwfxM8Xbe.json
{"updatedAt":"2025-12-11T21:10:01.299Z","createdAt":"2025-09-30T15:37:47.901Z","id":"0r2OV4MQwfxM8Xbe","name":"04_ReadQueueQueryChannelOK","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## CONSULTA CANAL","height":1184,"width":3248,"color":3},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"09456a6e-db90-4a15-bb6f-e148acbb6c8e","name":"Sticky Note1"},{"parameters":{"jsCode":"return [{\n  json: JSON.parse($input.first().json.content)\n}]\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[304,640],"id":"d3984afa-f21c-4c98-b3ba-a8d059049797","name":"Parse Reading","notesInFlow":false},{"parameters":{"jsCode":"const item = $input.first().json;\n\nconst current = Number(\n  item.originaldata?.retryCount\n  ?? $('ParseSuccessResponse').first().json.originaldata.retryCount\n  ?? $('Send WS Query Channel').first().json.result?.retryCount\n  ?? 0\n);\n\nconst next = Math.max(current - 1, 0);\n\nitem.originaldata = item.originaldata || {};\nitem.originaldata.retryCount = next;\n\nconst secondsToRetry = item.response?.statusResponse?.secondsToRetry;\nif (secondsToRetry != null) {\n  item.originaldata.secondsToRetry = Number(secondsToRetry);\n}\n\nreturn [{ json: item }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1424,624],"id":"d03435c6-d1fa-4c98-96bc-b24995aa72eb","name":"Update Count Retry"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2e9c24c4-5c3f-4426-bd89-e2b22123ebe8","leftValue":"={{ $json.originaldata.retryCount }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1648,624],"id":"2ada3bf7-7607-47f8-81af-3058f3da7afe","name":"Validate Retries"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('ParseSuccessResponse').item.json.response.status }}","rightValue":"SUCCESS","operator":{"type":"string","operation":"equals"},"id":"6f59abc1-c070-4d53-8868-a7966791fe44"}],"combinator":"and"},"renameOutput":true,"outputKey":"SUCCESS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ed496190-4e85-49cd-8ceb-305d07d380ec","leftValue":"={{ $('ParseSuccessResponse').item.json.response.status }}","rightValue":"WARNING","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"WARNING"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3d626c03-1e22-438c-83c7-d0879c949812","leftValue":"={{ $('ParseSuccessResponse').item.json.response.status }}","rightValue":"ERROR","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ERROR"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1200,336],"id":"ddcaf854-f850-424a-a2f0-f4b504c7e404","name":"Validation Reponse"},{"parameters":{"method":"POST","url":"http://10.208.101.92:1801/api/CRUD/sendEmail","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"email\": \"dpwc.docyprocesosaduaneros@dpworld.com;franklin.milla@dpworld.com;manuel.cuya@dpworld.com\",\n    \"subject\": \"Transmisión automática {{ $('ParseSuccessResponse').item.json.originaldata.TransmissionType }} - Error Consulta Canal SUNAT - DAM:{{ $('ParseSuccessResponse').item.json.originaldata.Year }}-{{ $('ParseSuccessResponse').item.json.originaldata.Regime }}-{{ $('ParseSuccessResponse').item.json.originaldata.Dam }}\",\n    \"body\": \"<html><body><p>Estimados,</p><p>La siguiente solicitud de exportación: <b>{{ $('ParseSuccessResponse').item.json.originaldata.RequestExportId }}</b>, con DAM: {{ $('ParseSuccessResponse').item.json.originaldata.Year }}-{{ $('ParseSuccessResponse').item.json.originaldata.Regime }}-{{ $('ParseSuccessResponse').item.json.originaldata.Dam }}</p><p>Ha dado error en la Consulta Canal SUNAT al <b>superar la cantidad de intentos</b> por lo siguiente:<p><p style='color: red'><b>{{ $('Validation Reponse').item.json.message }}</b><p></br><p>Favor verificar y solucionar el error en el módulo de {{$('ParseSuccessResponse').item.json.originaldata.TransmissionType === 'RM' ? 'DAM' : 'RD' }}, y luego continuar con la transmisión de forma manual.<p><p>Atte,</p><p>DP World</p></body></html>\"\n}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1872,512],"id":"8b99fec8-0cbc-469b-9435-62b4c5dafd4a","name":"Send Email Retries"},{"parameters":{"method":"POST","url":"http://10.208.101.92:1801/api/CRUD/sendEmail","sendBody":true,"specifyBody":"json","jsonBody":"={{$json}}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1872,320],"id":"29fd3995-2140-4827-bedc-5695980635c4","name":"Send Email Error"},{"parameters":{"assignments":{"assignments":[{"id":"5abf7038-95d9-43a0-a7bb-038c31c4202d","name":"error.message","value":"={{ $('ParseErrorResponse').item.json.response.message }}","type":"string"},{"id":"68151956-e363-4b07-8706-1257f5f39495","name":"error.stack","value":"={{ $('ParseErrorResponse').item.json.response.stacktrace }}","type":"string"},{"id":"d5d2eb49-2655-4ee8-afe7-e99be5dd3458","name":"node.name","value":"={{ $workflow.name }}","type":"string"},{"id":"1f3de402-3184-49cd-a84c-7249954e1c9a","name":"data.damid","value":"={{ $('ParseErrorResponse').item.json.originaldata.DamId }}","type":"string"},{"id":"04719210-a722-4dbf-abfd-3a747fe655f8","name":"data.rdid","value":"={{ $('ParseErrorResponse').item.json.originaldata.RdId }}","type":"string"},{"id":"b96561d0-e61e-4126-af56-84301f867e02","name":"data.transmissiontype","value":"={{ $('ParseErrorResponse').item.json.originaldata.TransmissionType }}","type":"string"},{"id":"ecd08711-02a3-4b41-8ec3-11ba22af71cc","name":"data.dam","value":"={{ $('ParseErrorResponse').item.json.originaldata.Dam }}","type":"string"},{"id":"c67ba122-9ad2-4491-99fc-fbdb278d4970","name":"data.year","value":"={{ $('ParseErrorResponse').item.json.originaldata.Year }}","type":"string"},{"id":"dc07e139-54c9-47ad-98b9-423d0ba3bae6","name":"data.regime","value":"={{ $('ParseErrorResponse').item.json.originaldata.Regime }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1648,880],"id":"59da66b2-7fa3-45b0-ac94-43439fbd5a4a","name":"Parse Error Response"},{"parameters":{"method":"POST","url":"http://10.208.101.92:1801/api/CRUD/sendEmail","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"email\": \"dpwc.docyprocesosaduaneros@dpworld.com;franklin.milla@dpworld.com;manuel.cuya@dpworld.com\",\n    \"subject\": \"Transmisión automática {{$json.data.TransmissionType}} - Error Consulta Canal SUNAT  - DAM:{{ $json.data.year }}-{{ $json.data.regime }}-{{ $json.data.dam }}\",\n    \"body\": \"<html><body><p>Estimados,</p><p>La siguiente solicitud de exportación: <b>{{ $json.data.damid }}</b>, con DAM: {{ $json.data.year }}-{{ $json.data.regime }}-{{ $json.data.dam }}, ha generado el siguiente error: </p><p>{{ $json.error.message }}</p><p>Favor de comunicarse con TI y generar la consulta de canal de forma manual.</p><p>Atte,</p><p>DP World</p></body></html>\"\n}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1872,880],"id":"476d4cad-528c-432f-a674-633ba1c26f2a","name":"Send Email Error WorkFlow"},{"parameters":{"amount":"={{ $('Send WS Query Channel').item.json.result.secondsToRetry || 30 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2544,704],"id":"3ad61f64-dd05-4751-91ce-31eaf1120066","name":"Pause","webhookId":"f6a10b35-0ef2-4757-bf57-bdd9f700bcab"},{"parameters":{"method":"POST","url":"https://sp2dca-apiis1.dpwc.local:5043/api/aw-fast/FastGateway/ReleaseTransmissionAutomatic","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.originalData }}","options":{"allowUnauthorizedCerts":true,"timeout":120000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2320,480],"id":"c830f315-dabe-48dd-b3ee-becbaf485635","name":"Release Transmission","onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"5dedd9df-f31f-440d-80e5-b0e202d7dd78","name":"mailStatus","value":"={{ $json.status }}","type":"string"},{"id":"14800a2c-d48c-4c83-8b09-b659403b963b","name":"originalData","value":"={{ $('Read Queue Query Channel').item.json.content }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2096,480],"id":"20ed4838-b2eb-4f4b-8089-fe3b72272e7c","name":"Parse Email Response"},{"parameters":{"assignments":{"assignments":[{"id":"02d79ead-d09a-42b8-b35f-508d72f06807","name":"email","value":"dpwc.docyprocesosaduaneros@dpworld.com;franklin.milla@dpworld.com;manuel.cuya@dpworld.com","type":"string"},{"id":"a379c177-99fb-47b3-a8df-e40b89e4eab5","name":"subject","value":"=Transmisión automática {{ $('ParseSuccessResponse').item.json.originaldata.TransmissionType }} - Error Consulta Canal SUNAT - DAM:{{ $('ParseSuccessResponse').item.json.originaldata.Year }}-{{ $('ParseSuccessResponse').item.json.originaldata.Regime }}-{{ $('ParseSuccessResponse').item.json.originaldata.Dam }}","type":"string"},{"id":"cb22ddbc-51f1-44da-8f73-9322cbff1528","name":"body","value":"=<html><body><p>Estimados,</p><p>La siguiente solicitud de exportación: <b><b>{{ $('ParseSuccessResponse').item.json.originaldata.DamId }} , con DAM: {{ $('ParseSuccessResponse').item.json.originaldata.Year }}-{{ $('ParseSuccessResponse').item.json.originaldata.Regime }}-{{ $('ParseSuccessResponse').item.json.originaldata.Dam }}</b></p><p>Ha dado error en la Consulta Canal SUNAT por lo siguiente:</p><p style='color: red'><b>{{ $json.response.message }}</b></p><p>Detalle:</p><p>{{ $('Send WS Query Channel').item.json.statusResponse.message }}</p><p>Favor verificar y solucionar el error en el módulo de {{$('ParseSuccessResponse').item.json.originaldata.TransmissionType === 'RM' ? 'DAM' : 'RD' }}, y luego continuar con la transmisión de forma manual.<p<p>Atte,</p><p>DP World</p></body></html>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1648,320],"id":"99006898-e48e-43fb-9663-4a65ddd27f08","name":"Edit Fields"},{"parameters":{"queue":"queue_query_channel","options":{"acknowledge":"laterMessageNode"}},"type":"n8n-nodes-base.rabbitmqTrigger","typeVersion":1,"position":[80,640],"id":"21afd4e5-6cff-4d61-a508-06f618bc00bb","name":"Read Queue Query Channel","credentials":{"rabbitmq":{"id":"vsvI9Lg7vTP32Drt","name":"RabbitMQ account"}}},{"parameters":{"operation":"deleteMessage"},"type":"n8n-nodes-base.rabbitmq","typeVersion":1.1,"position":[2992,512],"id":"c7786473-de38-4deb-92bc-0a694d7fc209","name":"Delete Queue Query Channel","credentials":{"rabbitmq":{"id":"vsvI9Lg7vTP32Drt","name":"RabbitMQ account"}}},{"parameters":{"queue":"queue_query_channel","sendInputData":false,"message":"={{\n  JSON.stringify({\n    ...$('ParseSuccessResponse').item.json.originaldata,\n    retryCount: $json.originaldata.retryCount \n  })\n}}\n","options":{}},"type":"n8n-nodes-base.rabbitmq","typeVersion":1.1,"position":[2768,704],"id":"6dc453fa-1a43-492f-9ded-7d3f616c1c8e","name":"Re Send Queue Query Channel","credentials":{"rabbitmq":{"id":"vsvI9Lg7vTP32Drt","name":"RabbitMQ account"}}},{"parameters":{"queue":"queue_channel_replicate","sendInputData":false,"message":"={{ JSON.stringify($('ParseSuccessResponse').item.json.originaldata) }}","options":{}},"type":"n8n-nodes-base.rabbitmq","typeVersion":1.1,"position":[2768,176],"id":"c1cb8e23-25d5-445e-8c38-f699e8e84278","name":"Send New Queue Channel Replicate","credentials":{"rabbitmq":{"id":"vsvI9Lg7vTP32Drt","name":"RabbitMQ account"}}},{"parameters":{"method":"POST","url":"https://sp2dca-apiis1.dpwc.local:5043/api/aw-fast/FastGateway/ConsultCHANNEL","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n   \"RequestExportId\":{{ $json.RequestExportId }},\n   \"DamId\":{{ $json.DamId }},\n   \"RdId\": {{ $json.RdId }},\n   \"TransmissionType\":\"{{ $json.TransmissionType }}\",\n   \"Dam\":\"{{ $json.Dam }}\",\n   \"Regime\":\"{{ $json.Regime }}\",\n   \"Year\":\"{{ $json.Year }}\",\n   \"TopologyId\":{{ $json.TopologyId }},\n      \"User\":\"{{ $json.User }}\",\n   \"Password\":\"{{ $json.Password }}\"\n}","options":{"allowUnauthorizedCerts":true,"timeout":120000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[528,640],"id":"53a87960-025f-45c9-ae4f-77f31a1771d5","name":"Send WS Query Channel","credentials":{"httpBasicAuth":{"id":"AcT919njxjFmHrNy","name":"send_sunat_queues"}},"onError":"continueErrorOutput"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"response\": {{ $json.statusResponse }},\n  \"originaldata\": {\n    \"RequestExportId\": {{ $('Parse Reading').item.json.RequestExportId || null }},\n    \"DamId\": {{ $('Parse Reading').item.json.DamId || null }},\n    \"RdId\": {{ $('Parse Reading').item.json.RdId || 0 }},\n    \"TransmissionType\": \"{{ $('Parse Reading').item.json.TransmissionType || '' }}\",\n    \"Dam\": \"{{ $('Parse Reading').item.json.Dam || '' }}\",\n    \"Regime\": \"{{ $('Parse Reading').item.json.Regime || '' }}\",\n    \"Year\": \"{{ $('Parse Reading').item.json.Year || '' }}\",\n    \"User\": \"{{ $('Parse Reading').item.json.User || '' }}\",\n    \"Password\": \"{{ $('Parse Reading').item.json.Password || '' }}\",\n    \"TopologyId\": {{ $('Parse Reading').item.json.TopologyId || null }},\n    \"retryCount\": {{ $('Parse Reading').item.json.retryCount ?? $json.result?.retryCount ?? 3 }},\n    \"secondsToRetry\": {{ $json.result?.secondsToRetry || 30 }}\n  }\n}\n","includeOtherFields":"=","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[752,352],"id":"76ce4c46-08f6-4f25-b8e8-a17e57f702c6","name":"ParseSuccessResponse"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"log_n8n","mode":"list","cachedResultName":"log_n8n"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"message","value":"={{ $json.response.message }}"},{"column":"stacktrace","value":"={{ $json.response.key }}"},{"column":"node","value":"Send WS Query Channel"},{"column":"request","value":"={{ $json.originaldata }}"},{"column":"response","value":"={{ $json.response }}"},{"column":"recordid","value":"={{ $json.originaldata.RequestExportId }}"},{"column":"key","value":"={{ $json.response.key }}"},{"column":"status","value":"={{ $json.response.status }}"},{"column":"flow","value":"={{ $workflow.name }}"}]},"options":{}},"name":"InsertSuccessLog","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[976,352],"id":"91879d3a-867f-4003-a976-535291e7849c","credentials":{"postgres":{"id":"d53NEEOjDqHRzRm6","name":"Postgres account 2"}}},{"parameters":{"mode":"raw","jsonOutput":"={{\n  {\n    response: {\n       status: \"ERROR\",\n       message: $json.error?.message ?? $json.message ?? 'Error desconocido',\n      stacktrace: $json.error?.stack ?? '',\n       \"key\": 8000},\n    originaldata: {\n      RequestExportId: $('Parse Reading').item.json.RequestExportId ?? null,\n      DamId: $('Parse Reading').item.json.DamId ?? null,\n      RdId: $('Parse Reading').item.json.RdId ?? 0,\n      TransmissionType: $('Parse Reading').item.json.TransmissionType ?? '',\n      Dam: $('Parse Reading').item.json.Dam ?? '',\n      Regime: $('Parse Reading').item.json.Regime ?? '',\n      Year: $('Parse Reading').item.json.Year ?? '',\n      User: $('Parse Reading').item.json.User ?? '',\n      Password: $('Parse Reading').item.json.Password ?? '',\n      TopologyId: $('Parse Reading').item.json.TopologyId ?? null,\n      retryCount: $('Parse Reading').item.json.retryCount ?? 3,\n      secondsToRetry: $json.result?.secondsToRetry ?? 30,\n    }\n    \n  }\n}}","includeOtherFields":"=","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1200,880],"id":"b43df9e0-3e34-4f31-a9dc-09ea60be24db","name":"ParseErrorResponse"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"mode":"list","value":"log_n8n"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"node","value":"Send WS Query Channel"},{"column":"recordid","value":"={{ $json.originaldata.RequestExportId }}"},{"column":"request","value":"={{ $json.originaldata }}"},{"column":"response","value":"={{ $('Send WS Query Channel').item.json.error }}"},{"column":"status","value":"={{ $('Send WS Query Channel').item.json.error.name }}"},{"column":"message","value":"={{ $('Send WS Query Channel').item.json.error.message }}"},{"column":"key","value":"8000"},{"column":"stacktrace","value":"={{ $('Send WS Query Channel').item.json.error.stack }}"},{"column":"flow","value":"={{ $workflow.name }}"}]},"options":{}},"name":"InsertErrorLog","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1424,880],"id":"e86f335f-b05a-4a02-beb7-f4768d04f2cb","credentials":{"postgres":{"id":"d53NEEOjDqHRzRm6","name":"Postgres account 2"}}},{"parameters":{"mode":"raw","jsonOutput":"={{\n{\n  response: {\n    status: $json.statusResponse?.status || $json.error?.name,\n    message: $json.statusResponse?.message || $json.error?.message,\n    stacktrace: $json.error?.stack || '',\n    key: $json.statusResponse?.key || 8000\n  },\n  originaldata: {\n    RequestExportId: $node[\"Parse Reading\"].json.RequestExportId || null,\n    DamId: $node[\"Parse Reading\"].json.DamId || null,\n    RdId: $node[\"Parse Reading\"].json.RdId || 0,\n    TransmissionType: $node[\"Parse Reading\"].json.TransmissionType || '',\n    Dam: $node[\"Parse Reading\"].json.Dam || '',\n    Regime: $node[\"Parse Reading\"].json.Regime || '',\n    Year: $node[\"Parse Reading\"].json.Year || '',\n    User: $node[\"Parse Reading\"].json.User || '',\n    Password: $node[\"Parse Reading\"].json.Password || '',\n    TopologyId: $node[\"Parse Reading\"].json.TopologyId || null,\n    retryCount: $node[\"Parse Reading\"].json.retryCount || 3,\n    secondsToRetry: $json.result?.secondsToRetry || 30\n  }\n}\n}}\n","includeOtherFields":"=","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2544,480],"id":"0f4d7dde-c9ba-4adf-8b80-49e94a42ec6d","name":"ParseResponse"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"log_n8n","mode":"list","cachedResultName":"log_n8n"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"message","value":"={{ $json.response.message }}"},{"column":"stacktrace","value":"={{ $json.response.stacktrace }}"},{"column":"node","value":"Release Transmission"},{"column":"request","value":"={{ $json.originaldata }}"},{"column":"response","value":"={{ $json.response }}"},{"column":"recordid","value":"={{ $json.originaldata.RequestExportId }}"},{"column":"key","value":"={{ $json.response.key }}"},{"column":"status","value":"={{ $json.response.status }}"},{"column":"flow","value":"={{ $workflow.name }}"}]},"options":{}},"name":"InsertLog","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[2768,480],"id":"4a3c816b-832a-4145-9c2f-3be6191ed35c","credentials":{"postgres":{"id":"d53NEEOjDqHRzRm6","name":"Postgres account 2"}}}],"connections":{"Parse Reading":{"main":[[{"node":"Send WS Query Channel","type":"main","index":0}]]},"Update Count Retry":{"main":[[{"node":"Validate Retries","type":"main","index":0}]]},"Validate Retries":{"main":[[{"node":"Send Email Retries","type":"main","index":0}],[{"node":"Pause","type":"main","index":0}]]},"Validation Reponse":{"main":[[{"node":"Send New Queue Channel Replicate","type":"main","index":0}],[{"node":"Update Count Retry","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Send Email Retries":{"main":[[{"node":"Parse Email Response","type":"main","index":0}]]},"Send Email Error":{"main":[[{"node":"Parse Email Response","type":"main","index":0}]]},"Parse Error Response":{"main":[[{"node":"Send Email Error WorkFlow","type":"main","index":0}]]},"Send Email Error WorkFlow":{"main":[[{"node":"Parse Email Response","type":"main","index":0}]]},"Pause":{"main":[[{"node":"Re Send Queue Query Channel","type":"main","index":0}]]},"Release Transmission":{"main":[[{"node":"ParseResponse","type":"main","index":0}]]},"Parse Email Response":{"main":[[{"node":"Release Transmission","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Send Email Error","type":"main","index":0}]]},"Read Queue Query Channel":{"main":[[{"node":"Parse Reading","type":"main","index":0}]]},"Re Send Queue Query Channel":{"main":[[{"node":"Delete Queue Query Channel","type":"main","index":0}]]},"Send New Queue Channel Replicate":{"main":[[{"node":"Delete Queue Query Channel","type":"main","index":0}]]},"Send WS Query Channel":{"main":[[{"node":"ParseSuccessResponse","type":"main","index":0}],[{"node":"ParseErrorResponse","type":"main","index":0}]]},"ParseSuccessResponse":{"main":[[{"node":"InsertSuccessLog","type":"main","index":0}]]},"InsertSuccessLog":{"main":[[{"node":"Validation Reponse","type":"main","index":0}]]},"ParseErrorResponse":{"main":[[{"node":"InsertErrorLog","type":"main","index":0}]]},"InsertErrorLog":{"main":[[{"node":"Parse Error Response","type":"main","index":0}]]},"ParseResponse":{"main":[[{"node":"InsertLog","type":"main","index":0}]]},"InsertLog":{"main":[[{"node":"Delete Queue Query Channel","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"KVW9hshItNEvzyI4"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c6c56562-0fe9-4ec2-b13c-ee99d45a3715","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-09-30T15:37:47.901Z","createdAt":"2025-09-30T15:37:47.901Z","role":"workflow:owner","workflowId":"0r2OV4MQwfxM8Xbe","projectId":"qKHJHnveidvROPB6"}],"activeVersion":null,"tags":[{"updatedAt":"2025-09-25T20:25:47.066Z","createdAt":"2025-09-23T20:55:21.169Z","id":"AqVIfFmictF9YGtn","name":"GDC-2490"}]}