05_readqueuechannelreplicateok-12BieRZyOSiiGVE4.json
{"createdAt":"2025-10-01T14:18:57.556Z","updatedAt":"2025-10-03T13:30:29.319Z","id":"12BieRZyOSiiGVE4","name":"05_ReadQueueChannelReplicateOK","active":true,"isArchived":false,"nodes":[{"parameters":{"content":"![Source example](https://devdportu38.dpworld.pe/Theme/images/logoempresa/DPWCALLAO.png#full-width)\n## Channel Replicate","height":304,"width":256},"type":"n8n-nodes-base.stickyNote","position":[2688,1280],"typeVersion":1,"id":"21aba5fd-2c8f-48a0-a56e-33bbc2b9f26f","name":"Sticky Note1"},{"parameters":{"jsCode":"return [{\n  json: JSON.parse($input.first().json.content)\n}]\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2944,1904],"id":"e5c1565c-0745-4a55-9082-f677ac58f372","name":"Parse Reading","notesInFlow":false},{"parameters":{"jsCode":"// Decrementa y clampa originaldata.retryCount\nconst item = $input.first().json;\nconst current = Number(item.originaldata?.retryCount ?? 0);\nconst next = Math.max(current - 1, 0);\nitem.originaldata = item.originaldata || {};\nitem.originaldata.retryCount = next;\n\n// (Opcional) si quieres “acarrear” secondsToRetry desde la última respuesta:\nif (item.response?.result?.secondsToRetry != null) {\n  item.originaldata.secondsToRetry = Number(item.response.result.secondsToRetry);\n}\n\nreturn [{ json: item }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3840,1888],"id":"c52f2cc4-e762-40f0-a482-7dd2ab15b9fa","name":"Update Count Retry"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2e9c24c4-5c3f-4426-bd89-e2b22123ebe8","leftValue":"={{ $json.originaldata.retryCount }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4064,1888],"id":"38414adf-ddde-4a8a-bd03-0deae5e2c6b0","name":"Validate Retries"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.response.status }}","rightValue":"SUCCESS","operator":{"type":"string","operation":"equals"},"id":"6f59abc1-c070-4d53-8868-a7966791fe44"}],"combinator":"and"},"renameOutput":true,"outputKey":"SUCCESS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ed496190-4e85-49cd-8ceb-305d07d380ec","leftValue":"={{ $json.response.status }}","rightValue":"WARNING","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"WARNING"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3d626c03-1e22-438c-83c7-d0879c949812","leftValue":"={{ $json.response.status }}","rightValue":"ERROR","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ERROR"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[3616,1648],"id":"267c9f9a-4fdd-4f6c-bda7-696eb1552e28","name":"Validation Reponse"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"response\": {{ $json.statusResponse }},\n  \"originaldata\": {\n    \"RequestExportId\": {{ $('Parse Reading').item.json.RequestExportId || null }},\n    \"DamId\": {{ $('Parse Reading').item.json.DamId || null }},\n    \"RdId\": {{ $('Parse Reading').item.json.RdId || 0 }},\n    \"TransmissionType\": \"{{ $('Parse Reading').item.json.TransmissionType || '' }}\",\n    \"Dam\": \"{{ $('Parse Reading').item.json.Dam || '' }}\",\n    \"Regime\": \"{{ $('Parse Reading').item.json.Regime || '' }}\",\n    \"Year\": \"{{ $('Parse Reading').item.json.Year || '' }}\",\n    \"TopologyId\": {{ $('Parse Reading').item.json.TopologyId || null }},\n    \"retryCount\": {{ $('Parse Reading').item.json.retryCount || 3 }},\n    \"secondsToRetry\": {{ $json.result?.secondsToRetry || 30 }}\n  }\n}\n","includeOtherFields":"=","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3392,1664],"id":"298d13af-76d3-4310-ae05-39e9d7bf95e0","name":"Parse Response"},{"parameters":{"method":"POST","url":"http://10.208.101.92:1801/api/CRUD/sendEmail","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"email\": \"dpwc.docyprocesosaduaneros@dpworld.com;franklin.milla@dpworld.com;manuel.cuya@dpworld.com\",\n    \"subject\": \"Transmisión automática RM - Error Generación XML - DAM:{{ $json.originaldata.Year }}-{{ $json.originaldata.Regime }}-{{ $json.originaldata.Dam }}\",\n    \"body\": \"<html><body><p>Estimados,</p><p>La siguiente solicitud de exportación: <b>{{ $json.originaldata.RequestExportId }}</b>, con DAM: {{ $json.originaldata.Year }}-{{ $json.originaldata.Regime }}-{{ $json.originaldata.Dam }}</p><p>Ha dado error en la generación de XML al <b>superar la cantidad de intentos</b> por lo siguiente:<p><p style='color: red'><b>{{ $json.response.message }}</b><p></br><p>Favor verificar y solucionar el error en el módulo de 'DAM', y luego continuar con la transmisión de forma manual.<p><p>Atte,</p><p>DP World</p></body></html>\"\n}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4288,1808],"id":"22bef639-b8d5-4e8a-ae56-ff18756b3fb0","name":"Send Email Retries"},{"parameters":{"method":"POST","url":"http://10.208.101.92:1801/api/CRUD/sendEmail","sendBody":true,"specifyBody":"json","jsonBody":"={{$json}}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4288,1520],"id":"d445e3db-6454-477f-8a08-1c2c2745c549","name":"Send Email Error"},{"parameters":{"assignments":{"assignments":[{"id":"5abf7038-95d9-43a0-a7bb-038c31c4202d","name":"error.message","value":"={{$json[\"error\"][\"message\"]}}","type":"string"},{"id":"68151956-e363-4b07-8706-1257f5f39495","name":"error.stack","value":"={{$json[\"error\"][\"stack\"]}}","type":"string"},{"id":"d5d2eb49-2655-4ee8-afe7-e99be5dd3458","name":"node.name","value":"={{ $workflow.name }}","type":"string"},{"id":"1f3de402-3184-49cd-a84c-7249954e1c9a","name":"data.damid","value":"={{ $json.DamId }}","type":"string"},{"id":"04719210-a722-4dbf-abfd-3a747fe655f8","name":"data.rdid","value":"={{ $json.RdId }}","type":"string"},{"id":"b96561d0-e61e-4126-af56-84301f867e02","name":"data.transmissiontype","value":"={{ $json.TransmissionType }}","type":"string"},{"id":"ecd08711-02a3-4b41-8ec3-11ba22af71cc","name":"data.dam","value":"={{ $json.Dam }}","type":"string"},{"id":"c67ba122-9ad2-4491-99fc-fbdb278d4970","name":"data.year","value":"={{ $json.Year }}","type":"string"},{"id":"dc07e139-54c9-47ad-98b9-423d0ba3bae6","name":"data.regime","value":"={{ $json.Regime }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4064,2128],"id":"5685a9fc-a56e-4630-84ac-99119a8aa938","name":"Parse Error Response"},{"parameters":{"method":"POST","url":"http://10.208.101.92:1801/api/CRUD/sendEmail","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"email\": \"dpwc.docyprocesosaduaneros@dpworld.com;franklin.milla@dpworld.com;manuel.cuya@dpworld.com\",\n    \"subject\": \"Transmisión automática RM - Error Generación XML - DAM:{{ $json.data.year }}-{{ $json.data.regime }}-{{ $json.data.dam }}\",\n    \"body\": \"<html><body><p>Estimados,</p><p>La siguiente solicitud de exportación: <b>{{ $json.data.damid }}</b>, con DAM: {{ $json.data.year }}-{{ $json.data.regime }}-{{ $json.data.dam }}, ha generado el siguiente error: </p><p>{{ $json.error.message }}</p><p>Favor de comunicarse con TI y generar la transmisión de forma manual.</p><p>Atte,</p><p>DP World</p></body></html>\"\n}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4288,2128],"id":"15637c22-7043-43e7-83b9-0ab87abea262","name":"Send Email Error WorkFlow"},{"parameters":{"amount":"={{ $json.originaldata.secondsToRetry || 30 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[4512,1952],"id":"9f90d3a6-d168-4092-9e70-173ef47c739e","name":"Pause","webhookId":"4ac7add6-7c65-4497-813e-ad976cb79a9a"},{"parameters":{"method":"POST","url":"https://sp2dca-apiis1.dpwc.local:5043/api/aw-fast/FastGateway/ReleaseTransmissionAutomatic","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.originalData }}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4736,1520],"id":"24518706-e29b-4320-9361-819b1f5fd553","name":"Release Transmission"},{"parameters":{"assignments":{"assignments":[{"id":"5dedd9df-f31f-440d-80e5-b0e202d7dd78","name":"mailStatus","value":"={{ $json.status }}","type":"string"},{"id":"14800a2c-d48c-4c83-8b09-b659403b963b","name":"originalData","value":"={{ $('Read Queue Channel Replicate').item.json.content }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4512,1520],"id":"a6286341-6e72-49d8-af35-4dca3e7602a9","name":"Parse Email Response"},{"parameters":{"assignments":{"assignments":[{"id":"02d79ead-d09a-42b8-b35f-508d72f06807","name":"email","value":"dpwc.docyprocesosaduaneros@dpworld.com;franklin.milla@dpworld.com;manuel.cuya@dpworld.com","type":"string"},{"id":"a379c177-99fb-47b3-a8df-e40b89e4eab5","name":"subject","value":"=Transmisión automática RM - Error Generación XML - DAM:{{ $json.originaldata.Year }}-{{ $json.originaldata.Regime }}-{{ $json.originaldata.Dam }}","type":"string"},{"id":"cb22ddbc-51f1-44da-8f73-9322cbff1528","name":"body","value":"=<html><body><p>Estimados,</p><p>La siguiente solicitud de exportación: <b><b>{{ $json.originaldata.DamId }} , con DAM: {{ $json.originaldata.Year }}-{{ $json.originaldata.Regime }}-{{ $json.originaldata.Dam }}</b></p><p>Ha dado error en la generación de XML por lo siguiente:</p><p style='color: red'><b>{{ $json.response.message }}</b></p><p>Detalle:</p><p>{{ $('Send WS Channel Replicate').item.json.statusResponse.message }}</p><p>Atte,</p><p>DP World</p></body></html>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4064,1520],"id":"011faad7-a6f7-4f2b-b7ae-6f0f9d2ab5c7","name":"Edit Fields"},{"parameters":{"queue":"queue_channel_replicate","options":{"acknowledge":"laterMessageNode"}},"type":"n8n-nodes-base.rabbitmqTrigger","typeVersion":1,"position":[2720,1904],"id":"177b668c-fc04-4fe9-9145-8cc6599869ed","name":"Read Queue Channel Replicate","credentials":{"rabbitmq":{"id":"vsvI9Lg7vTP32Drt","name":"RabbitMQ account"}}},{"parameters":{"queue":"queue_channel_replicate","sendInputData":false,"message":"={{ JSON.stringify($json.originaldata) }}","options":{}},"type":"n8n-nodes-base.rabbitmq","typeVersion":1.1,"position":[4736,1952],"id":"9ffa3177-1a1f-4c30-aede-cc3dfc40ab0a","name":"Re Send Queue Channel Replicate","credentials":{"rabbitmq":{"id":"vsvI9Lg7vTP32Drt","name":"RabbitMQ account"}}},{"parameters":{"operation":"deleteMessage"},"type":"n8n-nodes-base.rabbitmq","typeVersion":1.1,"position":[4960,1664],"id":"8b9919fa-46d4-4044-b7f4-44dec5e3d0dd","name":"Delete Queue Channel Replicate","credentials":{"rabbitmq":{"id":"vsvI9Lg7vTP32Drt","name":"RabbitMQ account"}}},{"parameters":{"method":"POST","url":"https://sp2dca-apiis1.dpwc.local:5043/api/aw-fast/FastGateway/ConsultCHANNEL","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n   \"RequestExportId\":{{ $json.RequestExportId }},\n   \"DamId\":{{ $json.DamId }},\n   \"RdId\": {{ $json.RdId }},\n   \"TransmissionType\":\"{{ $json.TransmissionType }}\",\n   \"Dam\":\"{{ $json.Dam }}\",\n   \"Regime\":\"{{ $json.Regime }}\",\n   \"Year\":\"{{ $json.Year }}\",\n   \"TopologyId\":{{ $json.TopologyId }},\n   \"User\":\"send_json_to_n8n_dev\",\n   \"Password\":\"Dport!2025!:::\"\n}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3168,1904],"id":"f1d6a469-5236-4dc6-8008-c59d06f1e7c2","name":"Send WS Channel Replicate","credentials":{"httpBasicAuth":{"id":"AcT919njxjFmHrNy","name":"send_sunat_queues"}},"onError":"continueErrorOutput"}],"connections":{"Parse Reading":{"main":[[{"node":"Send WS Channel Replicate","type":"main","index":0}]]},"Update Count Retry":{"main":[[{"node":"Validate Retries","type":"main","index":0}]]},"Validate Retries":{"main":[[{"node":"Send Email Retries","type":"main","index":0}],[{"node":"Pause","type":"main","index":0}]]},"Validation Reponse":{"main":[[{"node":"Delete Queue Channel Replicate","type":"main","index":0}],[{"node":"Update Count Retry","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Parse Response":{"main":[[{"node":"Validation Reponse","type":"main","index":0}]]},"Send Email Retries":{"main":[[{"node":"Parse Email Response","type":"main","index":0}]]},"Send Email Error":{"main":[[{"node":"Parse Email Response","type":"main","index":0}]]},"Parse Error Response":{"main":[[{"node":"Send Email Error WorkFlow","type":"main","index":0}]]},"Send Email Error WorkFlow":{"main":[[{"node":"Parse Email Response","type":"main","index":0}]]},"Pause":{"main":[[{"node":"Re Send Queue Channel Replicate","type":"main","index":0}]]},"Release Transmission":{"main":[[{"node":"Delete Queue Channel Replicate","type":"main","index":0}]]},"Parse Email Response":{"main":[[{"node":"Release Transmission","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Send Email Error","type":"main","index":0}]]},"Read Queue Channel Replicate":{"main":[[{"node":"Parse Reading","type":"main","index":0}]]},"Re Send Queue Channel Replicate":{"main":[[{"node":"Delete Queue Channel Replicate","type":"main","index":0}]]},"Send WS Channel Replicate":{"main":[[{"node":"Parse Response","type":"main","index":0}],[{"node":"Parse Error Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"b8894798-7fc9-4777-8eb1-68d0cbc3c20f","triggerCount":1,"shared":[{"createdAt":"2025-10-01T14:18:57.556Z","updatedAt":"2025-10-01T14:18:57.556Z","role":"workflow:owner","workflowId":"12BieRZyOSiiGVE4","projectId":"qKHJHnveidvROPB6"}],"tags":[{"createdAt":"2025-09-23T20:55:21.169Z","updatedAt":"2025-09-25T20:25:47.066Z","id":"AqVIfFmictF9YGtn","name":"GDC-2490"}]}