agent_dport_instructions-qF18uOZLEK5p2lhP.json
{"updatedAt":"2025-12-24T15:28:49.935Z","createdAt":"2025-12-23T17:56:26.903Z","id":"qF18uOZLEK5p2lhP","name":"Agent_DPort_Instructions","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[592,192],"id":"4a85e034-85d5-43cc-9f97-9f4aa7eeb50a","name":"When chat message received","webhookId":"9a78a168-206d-4ccd-8658-006c3ea4b078"},{"parameters":{"promptType":"define","text":"=Responde el siguiente mensaje:\n{{ $json.chatInput }}\n\n","options":{"systemMessage":"Eres un asistente que responde con el 'ID_DPort' necesarios, para realizar al acción que desea el usuario. Recuerda responder en formato JSON, con el listado del campo 'ID_DPort'.\n\nUtiliza la herramienta DataDPortIDs para extraer la descripción acerca de cada ID de la tabla, y busca el que necesita el usuario."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[768,192],"id":"b82caf94-aebe-4aec-b339-9e9274fddcc9","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[672,432],"id":"3a2dc9ab-a369-46b4-ad20-a8f42894dd35","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"mfxxvZG0LEPVHsIq","name":"OpenAI-FMCR-account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[816,432],"id":"9265bc3d-4488-4fda-815a-d601eb431966","name":"Simple Memory"},{"parameters":{"descriptionType":"manual","toolDescription":"Get information about IDs and description from each action in web DPort.","operation":"get","dataTableId":{"__rl":true,"value":"CMnZWKGWpcSsZ4ct","mode":"id"},"returnAll":true},"type":"n8n-nodes-base.dataTableTool","typeVersion":1,"position":[1008,384],"id":"1aac6ca5-56cf-4007-adba-6b29ebcfa474","name":"Get row(s) in Data table"}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Get row(s) in Data table":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"028255df-f885-4235-816d-1832cf57e7ba","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-12-23T17:56:26.903Z","createdAt":"2025-12-23T17:56:26.903Z","role":"workflow:owner","workflowId":"qF18uOZLEK5p2lhP","projectId":"wFDHVvmNL44UdYE2"}],"activeVersion":null,"tags":[]}