agente-ws-dtrails-gA5nEme7efe6adwa.json
{"createdAt":"2025-09-02T20:47:47.011Z","updatedAt":"2025-10-07T15:00:54.271Z","id":"gA5nEme7efe6adwa","name":"Agente WS DTraiLS","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"82223b0a-2f9a-4e31-bee5-b1a1cd4e3aa4","name":"Parsed","value":"={{ JSON.parse($json[\"data\"]) }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-976,176],"id":"f0bb6c18-f39c-46ee-a3f6-262e1361f525","name":"DataParser","disabled":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-720,-48],"id":"0a3086c4-66b2-4975-a3de-fd7db33ae47d","name":"When chat message received","webhookId":"83ef4642-417c-4ca7-938d-5a8f2e33187e"},{"parameters":{"promptType":"define","text":"=# Rol\n- Eres un asistente que responde **solo** con la información de **LeeDtrails**.\n\n# Tareas\n- Responde a: `{{ $json.chatInput }}`.\n- Pide y valida datos mínimos, luego consulta LeeDtrails (método **POST**).\n- Mensajes claros y concisos (máx. **1000 caracteres**).\n\n# Estrategia de diálogo (paso a paso)\n- **Una sola pregunta por turno.** No avances hasta recibir respuesta.\n- **No repitas** preguntas ya contestadas. Si el usuario da varios datos a la vez, **salta** a la próxima pregunta faltante.\n- **Orden de captura** y textos:\n  1) “¡Hola! ¿Cuál es tu **nombre**?”\n  2) “¿Qué deseas consultar? **Importación** o **Exportación**”\n  3) Si Importación → “Indica el **BL**”; si Exportación → “Indica el **Booking**”\n  4) “¿Cuál es el **número de contenedor**?”\n  5) “Confirmo: Nombre {{nombre}}, Operación {{operacion}}, Doc {{documentoTipo}}, Contenedor {{contenedor}}. ¿Procedo a consultar?”\n\n# Llamada a herramienta (cuando todo esté completo)\nPOST LeeDtrails con:\n```json\n{\n  \"nombre\": \"{{nombre}}\",\n  \"operacion\": \"{{operacion}}\",\n  \"documentoTipo\": \"{{documentoTipo}}\",\n  \"contenedor\": \"{{contenedor}}\"\n}\n\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-448,-48],"id":"9a2760be-3532-4cd4-a937-b6c3656c27ac","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-592,176],"id":"cd07c0d5-3dd4-45bf-943a-beb828bd8d1f","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"nGnVyaNNhuv5AM6t","name":"OpenAi FMCR"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-416,192],"id":"d8a4113d-2580-435b-b28d-b759ff5f0fb7","name":"Simple Memory"},{"parameters":{"method":"POST","url":"http://10.208.101.120:5432/api/DTraiLS/postDocumentsByFilters?prDocument=&prContenedor=&fechaCita=&estadoViaje=&producto=&prRucEmpresa=20516791722&prApplicationName=DTRAILS&prVersion=1.2.0&prUrlAPI=http://10.208.101.91:5555/","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"prDocument","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"},{"name":"prContenedor","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', ``, 'string') }}"},{"name":"fechaCita","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', ``, 'string') }}"},{"name":"estadoViaje","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', ``, 'string') }}"},{"name":"producto","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', ``, 'string') }}"},{"name":"prRucEmpresa","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters5_Value', ``, 'string') }}"},{"name":"prApplicationName","value":"DTRAILS"},{"name":"prVersion","value":"1.2.1"},{"name":"prUrlAPI","value":"http://10.208.101.91:5555/"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-240,176],"id":"ca7aaafc-3557-4e7f-b737-6f72ac24dfff","name":"LeeDtrails","credentials":{"httpBasicAuth":{"id":"6lPqNkWTf9eAP1NG","name":"AdminDtrailsDev"}}}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"LeeDtrails":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3dc3399d-6477-4511-9cf0-1daeaf7d60a7","triggerCount":0,"shared":[{"createdAt":"2025-09-02T20:47:47.011Z","updatedAt":"2025-09-02T20:47:47.011Z","role":"workflow:owner","workflowId":"gA5nEme7efe6adwa","projectId":"qKHJHnveidvROPB6"}],"tags":[]}