analist-ZpCoiYpJAqKPrJow.json
{"updatedAt":"2025-10-01T16:11:13.778Z","createdAt":"2025-09-01T12:16:54.330Z","id":"ZpCoiYpJAqKPrJow","name":"Analist","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-528,-112],"id":"b98c6ac0-908e-4cdb-8cfc-ec098e40fd19","name":"When chat message received","webhookId":"1605b1ef-dedf-4959-af41-3701e2a33fc3"},{"parameters":{"inputText":"={{ $json.chatInput }}","options":{}},"type":"@n8n/n8n-nodes-langchain.sentimentAnalysis","typeVersion":1.1,"position":[-320,-112],"id":"10564d17-7a70-42ca-9823-48be26f2f9ce","name":"Sentiment Analysis"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-320,128],"id":"a1ce8a09-f2e1-4c62-8751-2e34f58e3ca1","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"nGnVyaNNhuv5AM6t","name":"OpenAi FMCR"}}}],"connections":{"When chat message received":{"main":[[{"node":"Sentiment Analysis","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Sentiment Analysis","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3533afc2-e4eb-4a50-b748-d13e8854908d","triggerCount":0,"shared":[{"updatedAt":"2025-09-01T12:16:54.330Z","createdAt":"2025-09-01T12:16:54.330Z","role":"workflow:owner","workflowId":"ZpCoiYpJAqKPrJow","projectId":"qKHJHnveidvROPB6"}],"tags":[]}