backupflujos-fZXs5uLW79jGwcj6.json
{"updatedAt":"2025-11-26T16:38:54.982Z","createdAt":"2025-09-18T19:02:36.293Z","id":"fZXs5uLW79jGwcj6","name":"BackupFlujos","active":false,"isArchived":false,"nodes":[{"parameters":{"filters":{},"requestOptions":{}},"id":"7a020d03-10bb-4e51-a26c-20649c571736","name":"Captura de Workflows","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1920,656],"alwaysOutputData":false,"credentials":{"n8nApi":{"id":"bmFPRAGkmi5lb4qt","name":"n8n account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2368,656],"id":"7e420613-5e1a-45fd-b6d0-266f0567381a","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2592,384],"id":"fb391d28-d469-48f2-98c3-1a3e9b8cfac3","name":"No Operation, do nothing"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1024,656],"id":"2742d3b5-a1f5-44e2-be7b-1f8ac5189236","name":"Nodo Programado"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $('Establecer campos').item.json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Establecer campos').item.json['Repository Name'] }}","mode":"name"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ $('Establecer campos').item.json.commitDate }}"},"id":"f036cc95-2772-4082-b3c2-d54c1b6073e5","name":"Actualizador de Archivos","type":"n8n-nodes-base.github","typeVersion":1,"position":[2816,656],"webhookId":"ad758c2a-4f50-4db1-a3f3-a422c67ac0a2","credentials":{"githubApi":{"id":"kuMsjnEQHxoLinfh","name":"GitHub account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('Establecer campos').item.json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Establecer campos').item.json['Repository Name'] }}","mode":"name"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ $('Establecer campos').item.json.commitDate }}"},"id":"5131508b-59dd-4bd7-811f-30b5ac21fffc","name":"Uploader de Archivos","type":"n8n-nodes-base.github","typeVersion":1,"position":[2816,848],"webhookId":"3ba252a0-adac-44b6-9376-d870f52e28bd","credentials":{"githubApi":{"id":"kuMsjnEQHxoLinfh","name":"GitHub account"}}},{"parameters":{"assignments":{"assignments":[{"id":"a1d52ea6-5912-4988-94c2-115ad59c1996","name":"Repository Owner","value":"mcuya","type":"string"},{"id":"1c15b2e1-bf09-4643-8bba-3215119d2d6b","name":"Repository Name","value":"n8n_work","type":"string"},{"id":"712f49ff-8f02-4ac3-aee8-11db8ebe5843","name":"commitDate","value":"={{ (() => {\n  const now = new Date();\n  const day = String(now.getDate()).padStart(2, '0');\n  const month = String(now.getMonth() + 1).padStart(2, '0');\n  const year = now.getFullYear();\n  const hours = String(now.getHours()).padStart(2, '0');\n  const minutes = String(now.getMinutes()).padStart(2, '0');\n  return `${day}-${month}-${year}/${hours}:${minutes}`;\n})() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1248,656],"id":"18604e41-9979-41cb-97a0-7dd773173416","name":"Establecer campos"},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"={{ $json[\"Repository Owner\"] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $json['Repository Name'] }}","mode":"name"}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1472,656],"id":"ef451c49-cbbe-468e-8d04-993bd30f749f","name":"Listar archivos","webhookId":"05c29369-ddf5-4cea-ad82-2360b9460243","alwaysOutputData":true,"credentials":{"githubApi":{"id":"kuMsjnEQHxoLinfh","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"2ce1a646-d4f8-43ab-a6c3-642c79f3a8fd","name":"Convertir a binario","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[2144,656]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combinar archivos'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"b5c66840-be70-4983-bc35-ea4999532b37","name":"Si existe","type":"n8n-nodes-base.if","typeVersion":1,"position":[2592,576]},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1696,656],"id":"e33b43c3-55ec-4a1d-9154-7c86d88a202c","name":"Combinar archivos"}],"connections":{"Captura de Workflows":{"main":[[{"node":"Convertir a binario","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Si existe","type":"main","index":0}]]},"Nodo Programado":{"main":[[{"node":"Establecer campos","type":"main","index":0}]]},"Actualizador de Archivos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Uploader de Archivos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Establecer campos":{"main":[[{"node":"Listar archivos","type":"main","index":0}]]},"Listar archivos":{"main":[[{"node":"Combinar archivos","type":"main","index":0}]]},"Convertir a binario":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Si existe":{"main":[[{"node":"Actualizador de Archivos","type":"main","index":0}],[{"node":"Uploader de Archivos","type":"main","index":0}]]},"Combinar archivos":{"main":[[{"node":"Captura de Workflows","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Nodo Programado":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9f3f8ac6-3194-4c1c-a368-9e9c873d8900","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-09-18T19:02:36.293Z","createdAt":"2025-09-18T19:02:36.293Z","role":"workflow:owner","workflowId":"fZXs5uLW79jGwcj6","projectId":"qKHJHnveidvROPB6"}],"activeVersion":null,"tags":[]}