backupflujos-fZXs5uLW79jGwcj6.json
{"updatedAt":"2026-01-09T15:03:28.815Z","createdAt":"2025-09-18T19:02:36.293Z","id":"fZXs5uLW79jGwcj6","name":"BackupFlujos","active":false,"isArchived":false,"nodes":[{"parameters":{"filters":{},"requestOptions":{}},"id":"9700d8c2-1ed5-48e1-a50c-44e1e21c3b24","name":"Captura de Workflows","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[736,936],"alwaysOutputData":false,"credentials":{"n8nApi":{"id":"bmFPRAGkmi5lb4qt","name":"n8n account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1184,936],"id":"c398ee17-3293-4275-9189-1422f765081b","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1408,672],"id":"31a3c8de-f10b-43a7-ba4d-71ad4db0a235","name":"No Operation, do nothing"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-160,936],"id":"fce8f682-37ed-41b0-9b3b-e9ee4ebe1f41","name":"Nodo Programado"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $('Establecer campos').item.json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Establecer campos').item.json['Repository Name'] }}","mode":"name"},"filePath":"={{ $('Preparar ruta').item.json.filePath }}","fileContent":"={{ $json.data }}","commitMessage":"={{ $('Establecer campos').item.json.commitDate }}"},"id":"40cc374a-e4e3-4eec-83d3-dbe20800bc56","name":"Actualizador de Archivos","type":"n8n-nodes-base.github","typeVersion":1,"position":[2080,936],"webhookId":"ad758c2a-4f50-4db1-a3f3-a422c67ac0a2","credentials":{"githubApi":{"id":"kuMsjnEQHxoLinfh","name":"GitHub account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('Establecer campos').item.json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Establecer campos').item.json['Repository Name'] }}","mode":"name"},"filePath":"={{ $('Preparar ruta').item.json.filePath }}","fileContent":"={{ $json.data }}","commitMessage":"={{ $('Establecer campos').item.json.commitDate }}"},"id":"aed5f9fc-81dd-407a-88b3-203670206c1b","name":"Uploader de Archivos","type":"n8n-nodes-base.github","typeVersion":1,"position":[2080,1128],"webhookId":"3ba252a0-adac-44b6-9376-d870f52e28bd","credentials":{"githubApi":{"id":"kuMsjnEQHxoLinfh","name":"GitHub account"}}},{"parameters":{"assignments":{"assignments":[{"id":"a1d52ea6-5912-4988-94c2-115ad59c1996","name":"Repository Owner","value":"mcuya","type":"string"},{"id":"1c15b2e1-bf09-4643-8bba-3215119d2d6b","name":"Repository Name","value":"n8n_work","type":"string"},{"id":"712f49ff-8f02-4ac3-aee8-11db8ebe5843","name":"commitDate","value":"={{ (() => {\n  const now = new Date();\n  const day = String(now.getDate()).padStart(2, '0');\n  const month = String(now.getMonth() + 1).padStart(2, '0');\n  const year = now.getFullYear();\n  const hours = String(now.getHours()).padStart(2, '0');\n  const minutes = String(now.getMinutes()).padStart(2, '0');\n  return `${day}-${month}-${year}/${hours}:${minutes}`;\n})() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[64,936],"id":"896e8853-d7ba-43b7-9c72-33faee7b7e02","name":"Establecer campos"},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"={{ $json[\"Repository Owner\"] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $json['Repository Name'] }}","mode":"name"}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[288,936],"id":"b12b9df8-5e76-4a6c-a797-c0a7902be04f","name":"Listar archivos","webhookId":"05c29369-ddf5-4cea-ad82-2360b9460243","alwaysOutputData":true,"credentials":{"githubApi":{"id":"kuMsjnEQHxoLinfh","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ String(($json.name ?? 'sin-nombre')).replace(/[\\r\\n]+/g,' ').trim().replace(/\\s+/g, '-').replace(/[^\\w.-]+/g, '-').toLowerCase() + '-' + String(($json.id ?? $itemIndex)).trim() + '.json' }}"}},"id":"e635c795-9efc-4d93-9248-bfa348dc125d","name":"Convertir a binario","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[960,936]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combinar archivos'].json.name }}","operation":"contains","value2":"={{ $('Preparar ruta').item.json.filePath }}"}]}},"id":"d5d1ace0-64d5-4948-946c-52beaab7ffbd","name":"Si existe","type":"n8n-nodes-base.if","typeVersion":1,"position":[1856,864]},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[512,936],"id":"3899c121-d46c-4033-b009-eef2c4cc3a93","name":"Combinar archivos"},{"parameters":{"assignments":{"assignments":[{"id":"d5800024-b409-4061-b80c-71619023e562","name":"filePath","value":"={{ ($binary.data.fileName || ('sin-nombre-' + $itemIndex + '.json')).replace(/[\\r\\n]+/g,'').trim() }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"8824d164-cb78-4799-a522-bd5e33599487","name":"Preparar ruta","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1408,864]},{"parameters":{"operation":"binaryToPropery","options":{}},"id":"43de07a5-14bf-4d87-8b79-b708f89c83da","name":"Extract from File (Base64)","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1632,864]},{"parameters":{"content":"# I'm a note \n## I'm a note \n### I'm a note \n\n\n![Source example](https://n8n.io/brandguidelines/logo-dark.svg)","height":272,"width":640},"type":"n8n-nodes-base.stickyNote","position":[-144,544],"typeVersion":1,"id":"298bb071-d72b-4c4a-abca-cdd27be8bc44","name":"Sticky Note"}],"connections":{"Captura de Workflows":{"main":[[{"node":"Convertir a binario","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Preparar ruta","type":"main","index":0}]]},"Nodo Programado":{"main":[[{"node":"Establecer campos","type":"main","index":0}]]},"Actualizador de Archivos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Uploader de Archivos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Establecer campos":{"main":[[{"node":"Listar archivos","type":"main","index":0}]]},"Listar archivos":{"main":[[{"node":"Combinar archivos","type":"main","index":0}]]},"Convertir a binario":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Si existe":{"main":[[{"node":"Actualizador de Archivos","type":"main","index":0}],[{"node":"Uploader de Archivos","type":"main","index":0}]]},"Combinar archivos":{"main":[[{"node":"Captura de Workflows","type":"main","index":0}]]},"Preparar ruta":{"main":[[{"node":"Extract from File (Base64)","type":"main","index":0}]]},"Extract from File (Base64)":{"main":[[{"node":"Si existe","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Nodo Programado":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6b72a43b-c9cd-4a57-b13d-25ff35427231","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-09-18T19:02:36.293Z","createdAt":"2025-09-18T19:02:36.293Z","role":"workflow:owner","workflowId":"fZXs5uLW79jGwcj6","projectId":"qKHJHnveidvROPB6"}],"activeVersion":null,"tags":[]}