calling_soap_ws-fxYfxoaSxMuqwwaK.json
{"updatedAt":"2025-12-11T15:54:30.916Z","createdAt":"2025-12-05T15:47:51.340Z","id":"fxYfxoaSxMuqwwaK","name":"Calling_Soap_WS","active":false,"isArchived":true,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"96804d14-9f15-4c40-810d-0238e23df57e","name":"BLNBR","value":"SDBD7S002437","type":"string"},{"id":"3bc70250-3aea-4fa5-b801-0cf504e2ffea","name":"CONTAINERNBR","value":"NYKU9824860","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[800,-528],"id":"13b1b883-e75e-4ab8-82fc-3ae0f4af93e7","name":"Edit Fields","disabled":true},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[400,-528],"id":"bda1e19c-5e4a-48e4-97c6-895e60395915","name":"When clicking ‘Execute workflow’","disabled":true},{"parameters":{"method":"POST","url":"http://10.208.101.92:8029/WebServices/Querys.asmx","sendHeaders":true,"headerParameters":{"parameters":[{"name":"SOAPAction","value":"http://tempuri.org/GetTest"}]},"sendBody":true,"contentType":"raw","rawContentType":"text/xml; charset=utf-8","body":"=<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:tem=\"http://tempuri.org/\">\n  <soapenv:Header/>\n  <soapenv:Body>\n    <tem:GetTest>\n      <tem:BLNBR>{{ $json.BLNBR }}</tem:BLNBR>\n      <tem:CONTAINERNBR>{{ $json.CONTAINERNBR }}</tem:CONTAINERNBR>\n    </tem:GetTest>\n  </soapenv:Body>\n</soapenv:Envelope>\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1024,-528],"id":"44cebf2a-0d82-4ee3-bf7d-a6706e9dc10a","name":"HTTP Request","disabled":true},{"parameters":{"jsCode":"const out = [];\n\n// Helpers\nconst a1 = (x) => Array.isArray(x) ? x[0] : x;\nconst arr = (x) => Array.isArray(x) ? x : (x == null ? [] : [x]);\nconst getStr = (x) => {\n  const v = a1(x);\n  if (v == null) return null;\n  // algunos parseos devuelven strings envueltas en array\n  return typeof v === 'string' ? v : (Array.isArray(v) ? String(a1(v)) : String(v));\n};\nconst toISO = (s) => {\n  if (!s) return null;\n  const [date, time = '00:00:00'] = s.trim().split(' ');\n  const [d, m, y] = (date || '').split('/');\n  const [hh='00', mm='00', ss='00'] = (time || '').split(':');\n  if (!y || !m || !d) return null;\n  return `${y}-${m.padStart(2,'0')}-${d.padStart(2,'0')}T${hh.padStart(2,'0')}:${mm.padStart(2,'0')}:${ss.padStart(2,'0')}`;\n};\n// Busca una propiedad por \"localName\" (ignora prefijo) y aceptando contains\nfunction pick(obj, fragment, {contains = false} = {}) {\n  if (!obj || typeof obj !== 'object') return undefined;\n  const keys = Object.keys(obj);\n  const match = keys.find(k => {\n    const local = k.includes(':') ? k.split(':').pop() : k;\n    return contains\n      ? local.toLowerCase().includes(fragment.toLowerCase())\n      : local.toLowerCase() === fragment.toLowerCase();\n  });\n  return match ? obj[match] : undefined;\n}\n\nfor (const item of $input.all()) {\n  // Soporta que el XML->JSON haya quedado en data, body o raíz\n  const rootCandidate = item.json.data ?? item.json.body ?? item.json;\n\n  // Algunas configs quitan el elemento raíz y dejan directamente Body/Response en el root\n  const maybeEnvelope = a1(pick(rootCandidate, 'Envelope')) ?? rootCandidate;\n  const maybeBody     = a1(pick(maybeEnvelope, 'Body')) ?? a1(pick(rootCandidate, 'Body')) ?? maybeEnvelope;\n\n  // GetTestResponse y GetTestResult pueden venir con namespace o variaciones\n  const respObj = a1(pick(maybeBody, 'GetTestResponse') ?? pick(maybeBody, 'GetTestResponse', {contains: true}) ?? maybeBody);\n  const resObj  = a1(pick(respObj, 'GetTestResult') ?? pick(respObj, 'GetTestResult', {contains: true}));\n\n  if (!resObj) {\n    out.push({\n      json: {\n        error: 'No se encontró GetTestResult',\n        hint: 'Desactiva Normalize Tags en el nodo XML y verifica Property Name. Este code intenta root=data/body/raíz y arrays por nivel.',\n        debug: {\n          rootKeys: Object.keys(rootCandidate || {}),\n          bodyKeys: Object.keys(maybeBody || {}),\n          respKeys: Object.keys(respObj || {})\n        }\n      }\n    });\n    continue;\n  }\n\n  // --- TRACKING ---\n  const trackingObj = a1(resObj.TRACKING);\n  const tracking = {\n    document:  getStr(trackingObj?.DOCUMENT),\n    container: getStr(trackingObj?.CONTAINER),\n    operation: getStr(trackingObj?.OPERATION),\n  };\n\n  // --- EVENTS ---\n  const eventsWrap = a1(resObj.EVENTS) || {};\n  const rawEvents = arr(eventsWrap.TrackingDportDetailViewModel);\n  const events = rawEvents.map(ev => {\n    const e = a1(ev);\n    const rawDate = getStr(e?.TRACKINGDATE);\n    return {\n      tracking_date_raw: rawDate,\n      tracking_date_iso: toISO(rawDate),\n      icon_event:        getStr(e?.ICON_EVENT),\n      diff_hours:        getStr(e?.DIFF_HOURS), // maneja <DIFF_HOURS /> -> ''\n      name_milestone:    getStr(e?.NAME_MILESTONE),\n      description:       getStr(e?.DESCRIPTION),\n      init_or_end:       (getStr(e?.INITOREND) || '').toLowerCase() === 'true'\n    };\n  });\n\n  out.push({\n    json: {\n      status:      getStr(resObj.STATUS),\n      tracking,\n      date_arrive: getStr(resObj.DATE_ARRIVE),\n      last_action: getStr(resObj.LAST_ACTION),\n      events\n    }\n  });\n}\n\nreturn out;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1472,-528],"id":"f7a3ad53-cee4-4791-8c7b-0fc9cb94c80e","name":"Code in JavaScript","disabled":true},{"parameters":{"options":{"explicitArray":true,"normalizeTags":false}},"type":"n8n-nodes-base.xml","typeVersion":1,"position":[1248,-528],"id":"24098f05-c2c4-4303-90f8-ba8b6f86bc9d","name":"XML","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"3e14d927-7e9b-4e24-a7e8-8104fdb21a97","name":"ssssssss","value":"={{$json[\"soap:Body\"][0].GetTestResponse[0].GetTestResult[0].STATUS[0]}}\n\n{{ $json['soap:Envelope']['xmlns:soap'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[608,-528],"id":"d4d71975-bbe7-40c1-9d70-bc53c52ffe96","name":"Edit Fields1","disabled":true},{"parameters":{"public":true,"initialMessages":"Hola! 👋\nMi nombre es Elena. Cómo puedo ayudarte Hoy ?","options":{"subtitle":"Estamos para ayudarte las 24 horas del día.","title":"Asistente! 👋"}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[0,-256],"id":"a7473f94-6f5d-4c16-8656-e6b3a8565424","name":"When chat message received","webhookId":"90213d58-f2d1-462d-87f3-4ea970b8074c"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1072,0],"id":"a66c4406-3986-425b-ae16-47ee713bd464","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"mfxxvZG0LEPVHsIq","name":"OpenAI-FMCR-account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[912,64],"id":"3d70d58e-b006-42d3-9a8b-973f69e89493","name":"Simple Memory"},{"parameters":{"method":"POST","url":"http://10.208.101.120:5432/api/DTraiLS/postDocumentsByFilters?prDocument=&prContenedor=&fechaCita=&estadoViaje=&producto=&prRucEmpresa=20516791722&prApplicationName=DTRAILS&prVersion=1.2.0&prUrlAPI=http://10.208.101.91:5555/","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"prDocument","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"},{"name":"prContenedor","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', ``, 'string') }}"},{"name":"fechaCita","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', ``, 'string') }}"},{"name":"estadoViaje","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', ``, 'string') }}"},{"name":"producto","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', ``, 'string') }}"},{"name":"prRucEmpresa","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters5_Value', ``, 'string') }}"},{"name":"prApplicationName","value":"DTRAILS"},{"name":"prVersion","value":"1.2.1"},{"name":"prUrlAPI","value":"http://10.208.101.91:5555/"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[1504,-272],"id":"1355da1c-4057-4164-b3a7-bf3ab3fbfae9","name":"LeeDtrails","credentials":{"httpBasicAuth":{"id":"2QO339Qv8swWCP3w","name":"ChatBot-TestCredential"}},"disabled":true},{"parameters":{"method":"POST","url":"http://10.208.101.92:8029/WebServices/Querys.asmx","sendHeaders":true,"headerParameters":{"parameters":[{"name":"SOAPAction","value":"http://tempuri.org/GetTest"}]},"sendBody":true,"contentType":"raw","rawContentType":"text/xml; charset=utf-8","body":"=<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:tem=\"http://tempuri.org/\">\n  <soapenv:Header/>\n  <soapenv:Body>\n    <tem:GetTest>\n      <tem:BLNBR>?</tem:BLNBR>\n      <tem:CONTAINERNBR>?</tem:CONTAINERNBR>\n    </tem:GetTest>\n  </soapenv:Body>\n</soapenv:Envelope>\n","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[1328,16],"id":"e363ec5c-4a66-4fb6-85cd-b754d23243de","name":"LeeTracking"},{"parameters":{"promptType":"define","text":"=# Rol\n- Eres un asistente que responde **solo** con la información de la herramienta **LeeTracking**.\n\n# Tareas\n- Responde a: `{{ $json.chatInput }}`.\n- Pide y valida datos mínimos como Numero de Documento(BL-Importación / Booking-Exportación) y Numero de Contenedor, luego consulta LeeTracking (método **POST**).\n- Mensajes claros y concisos (máx. **1000 caracteres**).\n\n# Estrategia de diálogo (paso a paso)\n- **Una sola pregunta por turno.** No avances hasta recibir respuesta.\n- **No repitas** preguntas ya contestadas. Si el usuario da varios datos a la vez, **salta** a la próxima pregunta faltante.\n- **Orden de captura** y textos:\n  1) “¡Hola! ¿Cuál es tu **nombre**?”\n  2) “¿Qué deseas consultar? **Importación** o **Exportación**”\n  3) Si Importación → “Indica el **BL**”; si Exportación → “Indica el **Booking**”\n  4) “¿Cuál es el **número de contenedor**?”\n  5) “Confirmo: Nombre {{nombre}}, Operación {{operacion}}, Doc {{documentoTipo}}, Contenedor {{contenedor}}. ¿Procedo a consultar?”\n\n# Llamada a herramienta (cuando todo esté completo)\nPOST LeeTracking, y reemplaza los siguientes campos en el body del request:\nBLNBR = {{documentoTipo}}\nCONTAINERNBR = {{contenedor}}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1072,-224],"id":"50506364-9108-4afc-aa0d-9b3fccf11ad7","name":"AI Agent","disabled":true},{"parameters":{"model":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"gpt-3.5-turbo"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[272,-32],"id":"56b3f114-ac47-4cd4-bb71-152c763e6d80","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"mfxxvZG0LEPVHsIq","name":"OpenAI-FMCR-account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[416,96],"id":"a0661abe-c8da-4a57-a958-51aae3ee301b","name":"Simple Memory1"},{"parameters":{"toolDescription":"Esta tool consulta información SOAP para obtener la trazabilidad del contenedor. \nRequiere dos parámetros:\n- BLNBR: El ID del documento\n- CONTAINERNBR: El ID del contenedor\n\nÚsala cuando el usuario pida información sobre trazabilidad.\n\nEl body del request debe tener el formato:\n\n<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:tem=\"http://tempuri.org/\">\n   <soapenv:Header/>\n   <soapenv:Body>\n      <tem:GetTest>\n         <!--Optional:-->\n<tem:BLNBR>?</tem:BLNBR>\n<!--Optional:-->\n<tem:CONTAINERNBR>?</tem:CONTAINERNBR>\n      </tem:GetTest>\n   </soapenv:Body>\n</soapenv:Envelope>\n\nDebes alterar el argumento 'BLNBR' y 'CONTAINERNBR' según la información enviada desde el Agente.","method":"POST","url":"http://10.208.101.92:8029/WebServices/Querys.asmx","sendBody":true,"contentType":"raw","rawContentType":"text/xml; charset=utf-8","body":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Body', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[560,-48],"id":"da7c8c53-117f-4efb-9939-7db28e102e9b","name":"LeeTracking1"},{"parameters":{"promptType":"define","text":"=Eres un asistente que ayuda con consultas SOAP. \nCuando el usuario solicite información, debes identificar:\n- Documento: identificador de documento\n- Contenedor: identificador del contenedor\n\nUsa la tool disponible con estos argumentos para obtener la información.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[336,-256],"id":"b5a293d6-a58e-4054-b23f-f1099ed17c71","name":"AI Agent1"}],"connections":{"Edit Fields":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"XML","type":"main","index":0}]]},"XML":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"LeeTracking":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"LeeTracking1":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d55ca76a-4f15-441e-b876-824b3c3352c6","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-12-05T15:47:51.340Z","createdAt":"2025-12-05T15:47:51.340Z","role":"workflow:owner","workflowId":"fxYfxoaSxMuqwwaK","projectId":"wFDHVvmNL44UdYE2"}],"activeVersion":null,"tags":[]}