callingsoapws-Pjn68vfT2GWFSBuT.json
{"updatedAt":"2025-11-11T20:07:30.240Z","createdAt":"2025-11-10T14:53:08.256Z","id":"Pjn68vfT2GWFSBuT","name":"CallingSoapWS","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"96804d14-9f15-4c40-810d-0238e23df57e","name":"BLNBR","value":"SDBD7S002437","type":"string"},{"id":"3bc70250-3aea-4fa5-b801-0cf504e2ffea","name":"CONTAINERNBR","value":"NYKU9824860","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1200,-656],"id":"5361b81c-889a-495a-be6d-589de2c03964","name":"Edit Fields","disabled":true},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1600,-656],"id":"b59b4a21-4cc8-40a1-b67c-410fa9765427","name":"When clicking ‘Execute workflow’","disabled":true},{"parameters":{"method":"POST","url":"http://10.208.101.92:8029/WebServices/Querys.asmx","sendHeaders":true,"headerParameters":{"parameters":[{"name":"SOAPAction","value":"http://tempuri.org/GetTest"}]},"sendBody":true,"contentType":"raw","rawContentType":"text/xml; charset=utf-8","body":"=<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:tem=\"http://tempuri.org/\">\n  <soapenv:Header/>\n  <soapenv:Body>\n    <tem:GetTest>\n      <tem:BLNBR>{{ $json.BLNBR }}</tem:BLNBR>\n      <tem:CONTAINERNBR>{{ $json.CONTAINERNBR }}</tem:CONTAINERNBR>\n    </tem:GetTest>\n  </soapenv:Body>\n</soapenv:Envelope>\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-976,-656],"id":"86a05f35-451d-46eb-ab47-b9697f2bfff3","name":"HTTP Request","disabled":true},{"parameters":{"jsCode":"const out = [];\n\n// Helpers\nconst a1 = (x) => Array.isArray(x) ? x[0] : x;\nconst arr = (x) => Array.isArray(x) ? x : (x == null ? [] : [x]);\nconst getStr = (x) => {\n  const v = a1(x);\n  if (v == null) return null;\n  // algunos parseos devuelven strings envueltas en array\n  return typeof v === 'string' ? v : (Array.isArray(v) ? String(a1(v)) : String(v));\n};\nconst toISO = (s) => {\n  if (!s) return null;\n  const [date, time = '00:00:00'] = s.trim().split(' ');\n  const [d, m, y] = (date || '').split('/');\n  const [hh='00', mm='00', ss='00'] = (time || '').split(':');\n  if (!y || !m || !d) return null;\n  return `${y}-${m.padStart(2,'0')}-${d.padStart(2,'0')}T${hh.padStart(2,'0')}:${mm.padStart(2,'0')}:${ss.padStart(2,'0')}`;\n};\n// Busca una propiedad por \"localName\" (ignora prefijo) y aceptando contains\nfunction pick(obj, fragment, {contains = false} = {}) {\n  if (!obj || typeof obj !== 'object') return undefined;\n  const keys = Object.keys(obj);\n  const match = keys.find(k => {\n    const local = k.includes(':') ? k.split(':').pop() : k;\n    return contains\n      ? local.toLowerCase().includes(fragment.toLowerCase())\n      : local.toLowerCase() === fragment.toLowerCase();\n  });\n  return match ? obj[match] : undefined;\n}\n\nfor (const item of $input.all()) {\n  // Soporta que el XML->JSON haya quedado en data, body o raíz\n  const rootCandidate = item.json.data ?? item.json.body ?? item.json;\n\n  // Algunas configs quitan el elemento raíz y dejan directamente Body/Response en el root\n  const maybeEnvelope = a1(pick(rootCandidate, 'Envelope')) ?? rootCandidate;\n  const maybeBody     = a1(pick(maybeEnvelope, 'Body')) ?? a1(pick(rootCandidate, 'Body')) ?? maybeEnvelope;\n\n  // GetTestResponse y GetTestResult pueden venir con namespace o variaciones\n  const respObj = a1(pick(maybeBody, 'GetTestResponse') ?? pick(maybeBody, 'GetTestResponse', {contains: true}) ?? maybeBody);\n  const resObj  = a1(pick(respObj, 'GetTestResult') ?? pick(respObj, 'GetTestResult', {contains: true}));\n\n  if (!resObj) {\n    out.push({\n      json: {\n        error: 'No se encontró GetTestResult',\n        hint: 'Desactiva Normalize Tags en el nodo XML y verifica Property Name. Este code intenta root=data/body/raíz y arrays por nivel.',\n        debug: {\n          rootKeys: Object.keys(rootCandidate || {}),\n          bodyKeys: Object.keys(maybeBody || {}),\n          respKeys: Object.keys(respObj || {})\n        }\n      }\n    });\n    continue;\n  }\n\n  // --- TRACKING ---\n  const trackingObj = a1(resObj.TRACKING);\n  const tracking = {\n    document:  getStr(trackingObj?.DOCUMENT),\n    container: getStr(trackingObj?.CONTAINER),\n    operation: getStr(trackingObj?.OPERATION),\n  };\n\n  // --- EVENTS ---\n  const eventsWrap = a1(resObj.EVENTS) || {};\n  const rawEvents = arr(eventsWrap.TrackingDportDetailViewModel);\n  const events = rawEvents.map(ev => {\n    const e = a1(ev);\n    const rawDate = getStr(e?.TRACKINGDATE);\n    return {\n      tracking_date_raw: rawDate,\n      tracking_date_iso: toISO(rawDate),\n      icon_event:        getStr(e?.ICON_EVENT),\n      diff_hours:        getStr(e?.DIFF_HOURS), // maneja <DIFF_HOURS /> -> ''\n      name_milestone:    getStr(e?.NAME_MILESTONE),\n      description:       getStr(e?.DESCRIPTION),\n      init_or_end:       (getStr(e?.INITOREND) || '').toLowerCase() === 'true'\n    };\n  });\n\n  out.push({\n    json: {\n      status:      getStr(resObj.STATUS),\n      tracking,\n      date_arrive: getStr(resObj.DATE_ARRIVE),\n      last_action: getStr(resObj.LAST_ACTION),\n      events\n    }\n  });\n}\n\nreturn out;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-528,-656],"id":"077d3a80-c38f-45ca-aa0a-f17f6034fd3d","name":"Code in JavaScript","disabled":true},{"parameters":{"options":{"explicitArray":true,"normalizeTags":false}},"type":"n8n-nodes-base.xml","typeVersion":1,"position":[-752,-656],"id":"f242767b-dfd3-4f56-a98f-060a2533e583","name":"XML","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"3e14d927-7e9b-4e24-a7e8-8104fdb21a97","name":"ssssssss","value":"={{$json[\"soap:Body\"][0].GetTestResponse[0].GetTestResult[0].STATUS[0]}}\n\n{{ $json['soap:Envelope']['xmlns:soap'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1392,-656],"id":"a1e6fe9c-0d72-4304-bc9b-0100b8c38753","name":"Edit Fields1","disabled":true},{"parameters":{"public":true,"initialMessages":"Hola! 👋\nMi nombre es Elena. Cómo puedo ayudarte Hoy ?","options":{"subtitle":"Estamos para ayudarte las 24 horas del día.","title":"Asistente! 👋"}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-1792,-384],"id":"48247e07-cf21-45e0-96b2-701f6f8c6fc0","name":"When chat message received","webhookId":"90213d58-f2d1-462d-87f3-4ea970b8074c"},{"parameters":{"promptType":"define","text":"=# Rol\n- Eres un asistente que responde **solo** con la información de la herramienta **LeeTracking**.\n\n# Tareas\n- Responde a: `{{ $json.chatInput }}`.\n- Pide y valida datos mínimos como Numero de Documento(BL-Importación / Booking-Exportación) y Numero de Contenedor, luego consulta LeeTracking (método **POST**).\n- Mensajes claros y concisos (máx. **1000 caracteres**).\n\n# Estrategia de diálogo (paso a paso)\n- **Una sola pregunta por turno.** No avances hasta recibir respuesta.\n- **No repitas** preguntas ya contestadas. Si el usuario da varios datos a la vez, **salta** a la próxima pregunta faltante.\n- **Orden de captura** y textos:\n  1) “¡Hola! ¿Cuál es tu **nombre**?”\n  2) “¿Qué deseas consultar? **Importación** o **Exportación**”\n  3) Si Importación → “Indica el **BL**”; si Exportación → “Indica el **Booking**”\n  4) “¿Cuál es el **número de contenedor**?”\n  5) “Confirmo: Nombre {{nombre}}, Operación {{operacion}}, Doc {{documentoTipo}}, Contenedor {{contenedor}}. ¿Procedo a consultar?”\n\n# Llamada a herramienta (cuando todo esté completo)\nPOST LeeDtrails con:\nBLNBR = {{documentoTipo}}\nCONTAINERNBR = {{contenedor}}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-1408,-384],"id":"06b6e9f9-685f-4ef9-914b-f27a604f480c","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1408,-160],"id":"49ed3d5f-fe38-49b6-93db-efc204f44fe2","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"nGnVyaNNhuv5AM6t","name":"OpenAi FMCR"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-1312,0],"id":"19749112-5f22-4573-9c76-304e6cc66bf6","name":"Simple Memory"},{"parameters":{"method":"POST","url":"http://10.208.101.120:5432/api/DTraiLS/postDocumentsByFilters?prDocument=&prContenedor=&fechaCita=&estadoViaje=&producto=&prRucEmpresa=20516791722&prApplicationName=DTRAILS&prVersion=1.2.0&prUrlAPI=http://10.208.101.91:5555/","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"prDocument","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"},{"name":"prContenedor","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', ``, 'string') }}"},{"name":"fechaCita","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', ``, 'string') }}"},{"name":"estadoViaje","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', ``, 'string') }}"},{"name":"producto","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', ``, 'string') }}"},{"name":"prRucEmpresa","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters5_Value', ``, 'string') }}"},{"name":"prApplicationName","value":"DTRAILS"},{"name":"prVersion","value":"1.2.1"},{"name":"prUrlAPI","value":"http://10.208.101.91:5555/"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-496,-400],"id":"33d1b7fc-ab03-472b-93e7-1b9edd4611d3","name":"LeeDtrails","credentials":{"httpBasicAuth":{"id":"6lPqNkWTf9eAP1NG","name":"AdminDtrailsDev"}},"disabled":true},{"parameters":{"method":"POST","url":"http://10.208.101.92:8029/WebServices/Querys.asmx","sendHeaders":true,"headerParameters":{"parameters":[{"name":"SOAPAction","value":"http://tempuri.org/GetTest"}]},"sendBody":true,"contentType":"raw","rawContentType":"text/xml; charset=utf-8","body":"=<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:tem=\"http://tempuri.org/\">\n  <soapenv:Header/>\n  <soapenv:Body>\n    <tem:GetTest>\n      <tem:BLNBR>?</tem:BLNBR>\n      <tem:CONTAINERNBR>?</tem:CONTAINERNBR>\n    </tem:GetTest>\n  </soapenv:Body>\n</soapenv:Envelope>\n","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[-1152,-144],"id":"9324d010-eb99-4856-b6ff-244f4308f674","name":"LeeTracking"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[]]},"Edit Fields":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"XML","type":"main","index":0}]]},"XML":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Edit Fields1":{"main":[[]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"LeeDtrails":{"ai_tool":[[]]},"LeeTracking":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"053b74c9-1a5a-4a4b-a81e-acff415591d9","triggerCount":1,"shared":[{"updatedAt":"2025-11-10T14:53:08.256Z","createdAt":"2025-11-10T14:53:08.256Z","role":"workflow:owner","workflowId":"Pjn68vfT2GWFSBuT","projectId":"qKHJHnveidvROPB6"}],"tags":[]}