calling_soap_ws-EhbMcMtgoeGRS7ZT.json
{"updatedAt":"2025-12-11T15:54:27.859Z","createdAt":"2025-12-04T20:41:16.263Z","id":"EhbMcMtgoeGRS7ZT","name":"Calling_Soap_WS","active":false,"isArchived":true,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"96804d14-9f15-4c40-810d-0238e23df57e","name":"BLNBR","value":"SDBD7S002437","type":"string"},{"id":"3bc70250-3aea-4fa5-b801-0cf504e2ffea","name":"CONTAINERNBR","value":"NYKU9824860","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[400,0],"id":"56db66a4-61a1-4e63-beac-36f385eafc38","name":"Edit Fields","disabled":true},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"5f03d5d7-e4a5-4fc4-8f4c-b72b705920e9","name":"When clicking ‘Execute workflow’","disabled":true},{"parameters":{"method":"POST","url":"http://10.208.101.92:8029/WebServices/Querys.asmx","sendHeaders":true,"headerParameters":{"parameters":[{"name":"SOAPAction","value":"http://tempuri.org/GetTest"}]},"sendBody":true,"contentType":"raw","rawContentType":"text/xml; charset=utf-8","body":"=<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:tem=\"http://tempuri.org/\">\n  <soapenv:Header/>\n  <soapenv:Body>\n    <tem:GetTest>\n      <tem:BLNBR>{{ $json.BLNBR }}</tem:BLNBR>\n      <tem:CONTAINERNBR>{{ $json.CONTAINERNBR }}</tem:CONTAINERNBR>\n    </tem:GetTest>\n  </soapenv:Body>\n</soapenv:Envelope>\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[624,0],"id":"687cb6a9-cbd6-4a72-9145-4ccde010eb02","name":"HTTP Request","disabled":true},{"parameters":{"jsCode":"const out = [];\n\n// Helpers\nconst a1 = (x) => Array.isArray(x) ? x[0] : x;\nconst arr = (x) => Array.isArray(x) ? x : (x == null ? [] : [x]);\nconst getStr = (x) => {\n  const v = a1(x);\n  if (v == null) return null;\n  // algunos parseos devuelven strings envueltas en array\n  return typeof v === 'string' ? v : (Array.isArray(v) ? String(a1(v)) : String(v));\n};\nconst toISO = (s) => {\n  if (!s) return null;\n  const [date, time = '00:00:00'] = s.trim().split(' ');\n  const [d, m, y] = (date || '').split('/');\n  const [hh='00', mm='00', ss='00'] = (time || '').split(':');\n  if (!y || !m || !d) return null;\n  return `${y}-${m.padStart(2,'0')}-${d.padStart(2,'0')}T${hh.padStart(2,'0')}:${mm.padStart(2,'0')}:${ss.padStart(2,'0')}`;\n};\n// Busca una propiedad por \"localName\" (ignora prefijo) y aceptando contains\nfunction pick(obj, fragment, {contains = false} = {}) {\n  if (!obj || typeof obj !== 'object') return undefined;\n  const keys = Object.keys(obj);\n  const match = keys.find(k => {\n    const local = k.includes(':') ? k.split(':').pop() : k;\n    return contains\n      ? local.toLowerCase().includes(fragment.toLowerCase())\n      : local.toLowerCase() === fragment.toLowerCase();\n  });\n  return match ? obj[match] : undefined;\n}\n\nfor (const item of $input.all()) {\n  // Soporta que el XML->JSON haya quedado en data, body o raíz\n  const rootCandidate = item.json.data ?? item.json.body ?? item.json;\n\n  // Algunas configs quitan el elemento raíz y dejan directamente Body/Response en el root\n  const maybeEnvelope = a1(pick(rootCandidate, 'Envelope')) ?? rootCandidate;\n  const maybeBody     = a1(pick(maybeEnvelope, 'Body')) ?? a1(pick(rootCandidate, 'Body')) ?? maybeEnvelope;\n\n  // GetTestResponse y GetTestResult pueden venir con namespace o variaciones\n  const respObj = a1(pick(maybeBody, 'GetTestResponse') ?? pick(maybeBody, 'GetTestResponse', {contains: true}) ?? maybeBody);\n  const resObj  = a1(pick(respObj, 'GetTestResult') ?? pick(respObj, 'GetTestResult', {contains: true}));\n\n  if (!resObj) {\n    out.push({\n      json: {\n        error: 'No se encontró GetTestResult',\n        hint: 'Desactiva Normalize Tags en el nodo XML y verifica Property Name. Este code intenta root=data/body/raíz y arrays por nivel.',\n        debug: {\n          rootKeys: Object.keys(rootCandidate || {}),\n          bodyKeys: Object.keys(maybeBody || {}),\n          respKeys: Object.keys(respObj || {})\n        }\n      }\n    });\n    continue;\n  }\n\n  // --- TRACKING ---\n  const trackingObj = a1(resObj.TRACKING);\n  const tracking = {\n    document:  getStr(trackingObj?.DOCUMENT),\n    container: getStr(trackingObj?.CONTAINER),\n    operation: getStr(trackingObj?.OPERATION),\n  };\n\n  // --- EVENTS ---\n  const eventsWrap = a1(resObj.EVENTS) || {};\n  const rawEvents = arr(eventsWrap.TrackingDportDetailViewModel);\n  const events = rawEvents.map(ev => {\n    const e = a1(ev);\n    const rawDate = getStr(e?.TRACKINGDATE);\n    return {\n      tracking_date_raw: rawDate,\n      tracking_date_iso: toISO(rawDate),\n      icon_event:        getStr(e?.ICON_EVENT),\n      diff_hours:        getStr(e?.DIFF_HOURS), // maneja <DIFF_HOURS /> -> ''\n      name_milestone:    getStr(e?.NAME_MILESTONE),\n      description:       getStr(e?.DESCRIPTION),\n      init_or_end:       (getStr(e?.INITOREND) || '').toLowerCase() === 'true'\n    };\n  });\n\n  out.push({\n    json: {\n      status:      getStr(resObj.STATUS),\n      tracking,\n      date_arrive: getStr(resObj.DATE_ARRIVE),\n      last_action: getStr(resObj.LAST_ACTION),\n      events\n    }\n  });\n}\n\nreturn out;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1072,0],"id":"3099642a-a194-460c-b60a-09190e1c00d3","name":"Code in JavaScript","disabled":true},{"parameters":{"options":{"explicitArray":true,"normalizeTags":false}},"type":"n8n-nodes-base.xml","typeVersion":1,"position":[848,0],"id":"b804ad29-3f08-4621-8c77-ede8b86c844b","name":"XML","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"3e14d927-7e9b-4e24-a7e8-8104fdb21a97","name":"ssssssss","value":"={{$json[\"soap:Body\"][0].GetTestResponse[0].GetTestResult[0].STATUS[0]}}\n\n{{ $json['soap:Envelope']['xmlns:soap'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,0],"id":"e1d21626-af9e-43a0-ac48-45bb20ced58f","name":"Edit Fields1","disabled":true},{"parameters":{"public":true,"authentication":"basicAuth","initialMessages":"Hi there! 👋\nMy name is JPonce. How can I assist you today?","options":{"customCss":":root {\n  /* Colors */\n  --chat--color-primary: #e74266;\n  --chat--color-primary-shade-50: #db4061;\n  --chat--color-primary-shade-100: #cf3c5c;\n  --chat--color-secondary: #20b69e;\n  --chat--color-secondary-shade-50: #1ca08a;\n  --chat--color-white: #ffffff;\n  --chat--color-light: #f2f4f8;\n  --chat--color-light-shade-50: #e6e9f1;\n  --chat--color-light-shade-100: #c2c5cc;\n  --chat--color-medium: #d2d4d9;\n  --chat--color-dark: #101330;\n  --chat--color-disabled: #d2d4d9;\n  --chat--color-typing: #404040;\n\n  /* Base Layout */\n  --chat--spacing: 1rem;\n  --chat--border-radius: 0.25rem;\n  --chat--transition-duration: 0.15s;\n  --chat--font-family: (\n    -apple-system,\n    BlinkMacSystemFont,\n    'Segoe UI',\n    Roboto,\n    Oxygen-Sans,\n    Ubuntu,\n    Cantarell,\n    'Helvetica Neue',\n    sans-serif\n  );\n\n  /* Window Dimensions */\n  --chat--window--width: 400px;\n  --chat--window--height: 600px;\n  --chat--window--bottom: var(--chat--spacing);\n  --chat--window--right: var(--chat--spacing);\n  --chat--window--z-index: 9999;\n  --chat--window--border: 1px solid var(--chat--color-light-shade-50);\n  --chat--window--border-radius: var(--chat--border-radius);\n  --chat--window--margin-bottom: var(--chat--spacing);\n\n  /* Header Styles */\n  --chat--header-height: auto;\n  --chat--header--padding: var(--chat--spacing);\n  --chat--header--background: var(--chat--color-dark);\n  --chat--header--color: var(--chat--color-light);\n  --chat--header--border-top: none;\n  --chat--header--border-bottom: none;\n  --chat--header--border-left: none;\n  --chat--header--border-right: none;\n  --chat--heading--font-size: 2em;\n  --chat--subtitle--font-size: inherit;\n  --chat--subtitle--line-height: 1.8;\n\n  /* Message Styles */\n  --chat--message--font-size: 1rem;\n  --chat--message--padding: var(--chat--spacing);\n  --chat--message--border-radius: var(--chat--border-radius);\n  --chat--message-line-height: 1.5;\n  --chat--message--margin-bottom: calc(var(--chat--spacing) * 1);\n  --chat--message--bot--background: var(--chat--color-white);\n  --chat--message--bot--color: var(--chat--color-dark);\n  --chat--message--bot--border: none;\n  --chat--message--user--background: var(--chat--color-secondary);\n  --chat--message--user--color: var(--chat--color-white);\n  --chat--message--user--border: none;\n  --chat--message--pre--background: rgba(0, 0, 0, 0.05);\n  --chat--messages-list--padding: var(--chat--spacing);\n\n  /* Toggle Button */\n  --chat--toggle--size: 64px;\n  --chat--toggle--width: var(--chat--toggle--size);\n  --chat--toggle--height: var(--chat--toggle--size);\n  --chat--toggle--border-radius: 50%;\n  --chat--toggle--background: var(--chat--color-primary);\n  --chat--toggle--hover--background: var(--chat--color-primary-shade-50);\n  --chat--toggle--active--background: var(--chat--color-primary-shade-100);\n  --chat--toggle--color: var(--chat--color-white);\n\n  /* Input Area */\n  --chat--textarea--height: 50px;\n  --chat--textarea--max-height: 30rem;\n  --chat--input--font-size: inherit;\n  --chat--input--border: 0;\n  --chat--input--border-radius: 0;\n  --chat--input--padding: 0.8rem;\n  --chat--input--background: var(--chat--color-white);\n  --chat--input--text-color: initial;\n  --chat--input--line-height: 1.5;\n  --chat--input--placeholder--font-size: var(--chat--input--font-size);\n  --chat--input--border-active: 0;\n  --chat--input--left--panel--width: 2rem;\n\n  /* Button Styles */\n  --chat--button--color: var(--chat--color-light);\n  --chat--button--background: var(--chat--color-primary);\n  --chat--button--padding: calc(var(--chat--spacing) * 1 / 2) var(--chat--spacing);\n  --chat--button--border-radius: var(--chat--border-radius);\n  --chat--button--hover--color: var(--chat--color-light);\n  --chat--button--hover--background: var(--chat--color-primary-shade-50);\n  --chat--close--button--color-hover: var(--chat--color-primary);\n\n  /* Send and File Buttons */\n  --chat--input--send--button--background: var(--chat--color-white);\n  --chat--input--send--button--color: var(--chat--color-secondary);\n  --chat--input--send--button--background-hover: var(--chat--color-primary-shade-50);\n  --chat--input--send--button--color-hover: var(--chat--color-secondary-shade-50);\n  --chat--input--file--button--background: var(--chat--color-white);\n  --chat--input--file--button--color: var(--chat--color-secondary);\n  --chat--input--file--button--background-hover: var(--chat--input--file--button--background);\n  --chat--input--file--button--color-hover: var(--chat--color-secondary-shade-50);\n  --chat--files-spacing: 0.25rem;\n\n  /* Body and Footer */\n  --chat--body--background: var(--chat--color-light);\n  --chat--footer--background: var(--chat--color-light);\n  --chat--footer--color: var(--chat--color-dark);\n}\n\n\n/* You can override any class styles, too. Right-click inspect in Chat UI to find class to override. */\n.chat-message {\n\tmax-width: 50%;\n}"}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-16,272],"id":"a701fc54-2e5f-4d5c-8486-79ce9c89b5cf","name":"When chat message received","webhookId":"90213d58-f2d1-462d-87f3-4ea970b8074c","credentials":{"httpBasicAuth":{"id":"2QO339Qv8swWCP3w","name":"ChatBot-TestCredential"}}},{"parameters":{"method":"POST","url":"http://10.208.101.120:5432/api/DTraiLS/postDocumentsByFilters?prDocument=&prContenedor=&fechaCita=&estadoViaje=&producto=&prRucEmpresa=20516791722&prApplicationName=DTRAILS&prVersion=1.2.0&prUrlAPI=http://10.208.101.91:5555/","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"prDocument","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"},{"name":"prContenedor","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', ``, 'string') }}"},{"name":"fechaCita","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', ``, 'string') }}"},{"name":"estadoViaje","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', ``, 'string') }}"},{"name":"producto","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', ``, 'string') }}"},{"name":"prRucEmpresa","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters5_Value', ``, 'string') }}"},{"name":"prApplicationName","value":"DTRAILS"},{"name":"prVersion","value":"1.2.1"},{"name":"prUrlAPI","value":"http://10.208.101.91:5555/"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[1104,256],"id":"65ddf677-d11e-46c3-be29-24fdb8108825","name":"LeeDtrails","credentials":{"httpBasicAuth":{"id":"2QO339Qv8swWCP3w","name":"ChatBot-TestCredential"}},"disabled":true},{"parameters":{"method":"POST","url":"http://10.208.101.92:8029/WebServices/Querys.asmx","sendHeaders":true,"headerParameters":{"parameters":[{"name":"SOAPAction","value":"http://tempuri.org/GetTest"}]},"sendBody":true,"contentType":"raw","rawContentType":"text/xml; charset=utf-8","body":"=<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:tem=\"http://tempuri.org/\">\n  <soapenv:Header/>\n  <soapenv:Body>\n    <tem:GetTest>\n      <tem:BLNBR>?</tem:BLNBR>\n      <tem:CONTAINERNBR>?</tem:CONTAINERNBR>\n    </tem:GetTest>\n  </soapenv:Body>\n</soapenv:Envelope>\n","options":{"timeout":10}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[528,432],"id":"2c83df8f-b102-4a42-9a0d-1d3d4bf6946b","name":"LeeTracking"},{"parameters":{"promptType":"define","text":"https://jira.dpworld.pe/browse/GDC-1884","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[240,272],"id":"f5d6d9a1-495f-4d06-a9c6-3d6ef218cbab","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[64,480],"id":"9b35a49d-4d3e-4aa9-b6bd-f6c8b802546d","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"mfxxvZG0LEPVHsIq","name":"OpenAI-FMCR-account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[256,480],"id":"62d1942c-6c8a-4afb-81bf-7a2b9bfdb01c","name":"Simple Memory"}],"connections":{"Edit Fields":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"XML","type":"main","index":0}]]},"XML":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"LeeTracking":{"ai_tool":[[]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cac34fcd-6d7c-4cec-aad0-ef6d9294e42e","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-12-04T20:41:16.263Z","createdAt":"2025-12-04T20:41:16.263Z","role":"workflow:owner","workflowId":"EhbMcMtgoeGRS7ZT","projectId":"wFDHVvmNL44UdYE2"}],"activeVersion":null,"tags":[{"updatedAt":"2025-12-04T20:41:35.106Z","createdAt":"2025-12-04T20:41:35.106Z","id":"BnFPvRfPwbAIN7CT","name":"GDC-1234"}]}