chatbot_n8n_internalexternal-UI1rUJx3Ygl4pQJo.json
{"updatedAt":"2026-01-08T20:44:32.338Z","createdAt":"2026-01-08T19:13:25.137Z","id":"UI1rUJx3Ygl4pQJo","name":"Chatbot_n8n_InternalExternal","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"chatdbot","authentication":"basicAuth","responseMode":"responseNode","options":{"ignoreBots":false}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[304,256],"id":"0024ab70-7459-4dda-99c0-aee46a6ed546","name":"Webhook","webhookId":"33a770ca-0371-4e3f-8cf4-1eef91e2dfe8","credentials":{"httpBasicAuth":{"id":"2QO339Qv8swWCP3w","name":"ChatBot-TestCredential"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1600,240],"id":"730ece70-cd95-43d5-aa22-3bbe0630bd30","name":"Respond to Webhook"},{"parameters":{"assignments":{"assignments":[{"id":"e3d2f3df-a430-4210-a5fb-59a6265839be","name":"sessionId","value":"={{ $json.body.sessionId }}","type":"string"},{"id":"52a3fd03-16fb-403a-be6e-9df70fd401c2","name":"message","value":"={{ $json.body.message }}","type":"string"},{"id":"f81f3489-72ea-4666-a89e-c7143fc9fbee","name":"user","value":"={{ $json.body.user }}","type":"string"},{"id":"aacaabfa-c499-45aa-b7ce-ba4a2784ffef","name":"topology","value":"={{ $json.body.topology }}","type":"number"},{"id":"2a10b29f-bc96-414d-8f7f-81246d641758","name":"isInternal","value":"={{ $json.body.isInternal ?? False }}","type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[512,256],"id":"adddc5f9-2758-4193-8da0-5d95e2e37548","name":"Extrae data"},{"parameters":{"assignments":{"assignments":[{"id":"3310e64f-0be5-473a-acbc-c0a5d0115ac1","name":"message","value":"={{ $json.output }}","type":"string"},{"id":"4344205c-58c2-4b9b-9500-66a93eaad5a6","name":"success","value":true,"type":"boolean"},{"id":"ae2f292c-1a68-4c32-bf6c-69b4fd513169","name":"timestamp","value":"={{ $now }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1424,240],"id":"3c7d9814-58c8-40b0-83cd-7ea0305fb7ea","name":"Build response"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b9cd5c72-7e71-45eb-8a3a-bf5f15a41115","leftValue":"={{ $json.isInternal }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[704,256],"id":"07714266-27a9-4e9c-bb7a-f1b1206b7721","name":"If"},{"parameters":{"workflowId":{"__rl":true,"value":"soNRqVTYf0sV1X2f","mode":"list","cachedResultUrl":"/workflow/soNRqVTYf0sV1X2f","cachedResultName":"Internal-Agent-DBot"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1056,176],"id":"6b0f59b7-0226-4d47-934f-c55c30fec25b","name":"Call 'Internal-Agent-DBot'"},{"parameters":{"workflowId":{"__rl":true,"value":"70zbH2Zc1LQk4fRQ","mode":"list","cachedResultUrl":"/workflow/70zbH2Zc1LQk4fRQ","cachedResultName":"External-Agent-DBot"},"workflowInputs":{"mappingMode":"defineBelow","value":{"message":"={{ $json.message }}"},"matchingColumns":["contenedor","operacion","documento","message"],"schema":[{"id":"contenedor","displayName":"contenedor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":true},{"id":"operacion","displayName":"operacion","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":true},{"id":"documento","displayName":"documento","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":true},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1056,384],"name":"Call External-Agent-DBot","id":"e2603e76-e788-430e-af3e-ccfc7a1a414c"}],"connections":{"Webhook":{"main":[[{"node":"Extrae data","type":"main","index":0}]]},"Extrae data":{"main":[[{"node":"If","type":"main","index":0}]]},"Build response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"If":{"main":[[{"node":"Call 'Internal-Agent-DBot'","type":"main","index":0}],[{"node":"Call External-Agent-DBot","type":"main","index":0}]]},"Respond to Webhook":{"main":[[]]},"Call 'Internal-Agent-DBot'":{"main":[[{"node":"Build response","type":"main","index":0}]]},"Call External-Agent-DBot":{"main":[[{"node":"Build response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0435108b-9068-40ee-b09d-a8f23ca4f00b","activeVersionId":"fc0f04c8-789b-41e2-8a28-8a364ef144cc","triggerCount":1,"shared":[{"updatedAt":"2026-01-08T19:13:25.137Z","createdAt":"2026-01-08T19:13:25.137Z","role":"workflow:owner","workflowId":"UI1rUJx3Ygl4pQJo","projectId":"wFDHVvmNL44UdYE2"}],"activeVersion":{"updatedAt":"2026-01-08T20:41:47.138Z","createdAt":"2026-01-08T20:41:41.678Z","versionId":"fc0f04c8-789b-41e2-8a28-8a364ef144cc","workflowId":"UI1rUJx3Ygl4pQJo","nodes":[{"parameters":{"httpMethod":"POST","path":"chatdbot","authentication":"basicAuth","responseMode":"responseNode","options":{"ignoreBots":false}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[304,256],"id":"0024ab70-7459-4dda-99c0-aee46a6ed546","name":"Webhook","webhookId":"33a770ca-0371-4e3f-8cf4-1eef91e2dfe8","credentials":{"httpBasicAuth":{"id":"2QO339Qv8swWCP3w","name":"ChatBot-TestCredential"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1600,240],"id":"730ece70-cd95-43d5-aa22-3bbe0630bd30","name":"Respond to Webhook"},{"parameters":{"assignments":{"assignments":[{"id":"e3d2f3df-a430-4210-a5fb-59a6265839be","name":"sessionId","value":"={{ $json.body.sessionId }}","type":"string"},{"id":"52a3fd03-16fb-403a-be6e-9df70fd401c2","name":"message","value":"={{ $json.body.message }}","type":"string"},{"id":"f81f3489-72ea-4666-a89e-c7143fc9fbee","name":"user","value":"={{ $json.body.user }}","type":"string"},{"id":"aacaabfa-c499-45aa-b7ce-ba4a2784ffef","name":"topology","value":"={{ $json.body.topology }}","type":"number"},{"id":"2a10b29f-bc96-414d-8f7f-81246d641758","name":"isInternal","value":"={{ $json.body.isInternal ?? False }}","type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[512,256],"id":"adddc5f9-2758-4193-8da0-5d95e2e37548","name":"Extrae data"},{"parameters":{"assignments":{"assignments":[{"id":"3310e64f-0be5-473a-acbc-c0a5d0115ac1","name":"message","value":"={{ $json.output }}","type":"string"},{"id":"4344205c-58c2-4b9b-9500-66a93eaad5a6","name":"success","value":true,"type":"boolean"},{"id":"ae2f292c-1a68-4c32-bf6c-69b4fd513169","name":"timestamp","value":"={{ $now }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1424,240],"id":"3c7d9814-58c8-40b0-83cd-7ea0305fb7ea","name":"Build response"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b9cd5c72-7e71-45eb-8a3a-bf5f15a41115","leftValue":"={{ $json.isInternal }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[704,256],"id":"07714266-27a9-4e9c-bb7a-f1b1206b7721","name":"If"},{"parameters":{"workflowId":{"__rl":true,"value":"soNRqVTYf0sV1X2f","mode":"list","cachedResultUrl":"/workflow/soNRqVTYf0sV1X2f","cachedResultName":"Internal-Agent-DBot"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1056,160],"id":"6b0f59b7-0226-4d47-934f-c55c30fec25b","name":"Call 'Internal-Agent-DBot'"},{"parameters":{"workflowId":{"__rl":true,"value":"70zbH2Zc1LQk4fRQ","mode":"list"},"workflowInputs":{"mappingMode":"defineBelow","value":{"contenedor":"={{ $json.contenedor }}","operacion":"={{ $json.operacion }}","documento":"={{ $json.documento }}","message":"={{ $json.message }}"},"matchingColumns":["contenedor","operacion","documento","message"],"schema":[{"id":"contenedor","displayName":"contenedor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"operacion","displayName":"operacion","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"documento","displayName":"documento","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1056,432],"name":"Call External-Agent-DBot","id":"e2603e76-e788-430e-af3e-ccfc7a1a414c"}],"connections":{"Webhook":{"main":[[{"node":"Extrae data","type":"main","index":0}]]},"Extrae data":{"main":[[{"node":"If","type":"main","index":0}]]},"Build response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"If":{"main":[[{"node":"Call 'Internal-Agent-DBot'","type":"main","index":0}],[{"node":"Call External-Agent-DBot","type":"main","index":0}]]},"Respond to Webhook":{"main":[[]]},"Call 'Internal-Agent-DBot'":{"main":[[{"node":"Build response","type":"main","index":0}]]},"Call External-Agent-DBot":{"main":[[{"node":"Build response","type":"main","index":0}]]}},"authors":"Julio Raime","name":"Version fc0f04c8","description":"","autosaved":false},"tags":[{"updatedAt":"2025-12-04T20:41:35.106Z","createdAt":"2025-12-04T20:41:35.106Z","id":"BnFPvRfPwbAIN7CT","name":"GDC-1234"}]}