chatbot_n8n_tracking_working-xrf3mIhQ6UmJ8iWg.json
{"updatedAt":"2025-12-15T17:27:04.126Z","createdAt":"2025-12-05T19:30:43.479Z","id":"xrf3mIhQ6UmJ8iWg","name":"Chatbot_n8n_tracking_working","active":true,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"=CONVERSACIÓN ACTUAL:\n{{ $json.message }}\n\nESTADO DE CAPTURA:\n- Nombre: {{ $json.nombre || 'Pendiente' }}\n- Operación: {{ $json.operacion || 'Pendiente' }}\n- Documento: {{ $json.documento || 'Pendiente' }}\n- Contenedor: {{ $json.contenedor || 'Pendiente' }}\n\nFLUJO DE PREGUNTAS (usa estos textos exactos):\n1. Si falta nombre: \"¡Hola! ¿Cuál es tu nombre?\"\n2. Si falta operación: \"¿Qué deseas consultar? Importación o Exportación\"\n3. Si falta documento:\n   - Importación: \"Indica el BL\"\n   - Exportación: \"Indica el Booking\"\n4. Si falta contenedor: \"¿Cuál es el número de contenedor?\"\n5. Si tienes todos los datos: \"Confirmo: Nombre {{nombre}}, Operación {{operacion}}, Doc {{documento}}, Contenedor {{contenedor}}. ¿Procedo a consultar?\"\n6. Si confirman: Ejecuta TrackingTool con el JSON requerido\n\nIMPORTANTE: Analiza qué información ya tienes y haz solo la siguiente pregunta faltante. \n\nResponde en formato HTML, ya que la respuesta estará embebida en un div, respecto a los detalles de los eventos solo muestra los datos TrackingDate y Name_Milestone, en formato vertical como un timeline.","options":{"systemMessage":"Eres un asistente de seguimiento de carga marítima. Tu objetivo es recopilar información del usuario y consultar la herramienta TrackingTool.\n\nREGLAS IMPORTANTES:\n- Haz UNA sola pregunta por turno\n- No repitas preguntas ya respondidas\n- Si el usuario da varios datos a la vez, acepta todos y salta a la siguiente pregunta faltante\n- Respuestas máximo 1000 caracteres\n- Tono profesional pero amigable\n- Solo usas información de TrackingTool, no inventes datos.\n\nDATOS A CAPTURAR (en orden):\n1. Nombre del usuario\n2. Tipo de operación (Importación o Exportación)\n3. Número de documento (BL para Importación, Booking para Exportación)\n4. Número de contenedor\n\nFORMATO DE LLAMADA A HERRAMIENTA:\nCuando tengas todos los datos, genera JSON:\n{\n  \"BLNBR\": \"[número de documento]\",\n  \"CONTAINERNBR\": \"[número de contenedor]\"\n}\n\nResponde en formato HTML, ya que la respuesta estará embebida en un div, respecto a los detalles de los eventos solo muestra los datos TrackingDate y Name_Milestone, en formato vertical como un timeline. Si el usuario solicita más información de lo respondido, debes indicarle que solo has sido creado para responder con los eventos de contenedores."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[800,256],"id":"5bf74ae1-aef6-4998-82ac-088d6ed129a7","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[672,464],"id":"d7cd1155-7a67-4c6d-84c8-3b4ce0488dd6","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"mfxxvZG0LEPVHsIq","name":"OpenAI-FMCR-account"}}},{"parameters":{"description":"Consulta el tracking de un contenedor. Requiere BLNBR (número de documento BL o Booking) y CONTAINERNBR (número de contenedor).\n\n","jsCode":"\nconst BLNBR = query.BLNBR || '';\nconst CONTAINERNBR = query.CONTAINERNBR || '';\n\n// Validar parámetros\nif (!BLNBR || !CONTAINERNBR) {\n  return JSON.stringify({\n    error: 'Faltan parámetros requeridos',\n    recibido: { BLNBR, CONTAINERNBR }\n  });\n}\n\n// Construir SOAP body\nconst soapBody = `<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:tem=\"http://tempuri.org/\">\n  <soapenv:Header/>\n  <soapenv:Body>\n    <tem:GetTest>\n      <tem:BLNBR>${BLNBR}</tem:BLNBR>\n      <tem:CONTAINERNBR>${CONTAINERNBR}</tem:CONTAINERNBR>\n    </tem:GetTest>\n  </soapenv:Body>\n</soapenv:Envelope>`;\n\n// Llamada SOAP\ntry {\n  const response = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'http://10.208.101.92:8029/WebServices/Querys.asmx',\n    headers: {\n      'Content-Type': 'text/xml; charset=utf-8',\n      'SOAPAction': 'http://tempuri.org/GetTest'\n    },\n    body: soapBody\n  });\n  return response;\n  \n} catch (error) {\n  return JSON.stringify({\n    error: 'Error al llamar al servicio SOAP',\n    mensaje: error.message,\n    parametros_enviados: { BLNBR, CONTAINERNBR }\n  }, null, 2);\n}","specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"BLNBR\": \"string\",\n    \"CONTAINERNBR\": \"string\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.3,"position":[1040,464],"id":"ab9b8606-a8f2-4555-8a5b-721f2ecc84cb","name":"TrackingTool"},{"parameters":{"httpMethod":"POST","path":"dbotchat","authentication":"basicAuth","responseMode":"responseNode","options":{"ignoreBots":false}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[400,256],"id":"8a604282-cb78-4cb4-9a99-7dcdbe0e0faa","name":"Webhook","webhookId":"6f17aec0-8110-4378-9cbf-d5d577ec291f","credentials":{"httpBasicAuth":{"id":"2QO339Qv8swWCP3w","name":"ChatBot-TestCredential"}}},{"parameters":{"assignments":{"assignments":[{"id":"e3d2f3df-a430-4210-a5fb-59a6265839be","name":"sessionId","value":"={{ $json.body.sessionId }}","type":"string"},{"id":"52a3fd03-16fb-403a-be6e-9df70fd401c2","name":"message","value":"={{ $json.body.message }}","type":"string"},{"id":"f81f3489-72ea-4666-a89e-c7143fc9fbee","name":"user","value":"={{ $json.body.user }}","type":"string"},{"id":"aacaabfa-c499-45aa-b7ce-ba4a2784ffef","name":"topology","value":"={{ $json.body.topology }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[608,256],"id":"c3c78eb7-0ea9-41f6-b111-5c54e3a6f293","name":"Edit Fields"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1152,256],"id":"2624769c-ab05-489e-a97d-19e079668250","name":"Respond to Webhook"},{"parameters":{"contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[848,464],"id":"4a583047-f79f-47c4-b01d-1a9e61e49ff7","name":"Simple Memory"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"TrackingTool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c4ce5a9d-497b-4bb1-9500-292fac9b21e4","activeVersionId":"c4ce5a9d-497b-4bb1-9500-292fac9b21e4","triggerCount":1,"shared":[{"updatedAt":"2025-12-05T19:30:43.479Z","createdAt":"2025-12-05T19:30:43.479Z","role":"workflow:owner","workflowId":"xrf3mIhQ6UmJ8iWg","projectId":"wFDHVvmNL44UdYE2"}],"activeVersion":{"updatedAt":"2025-12-15T17:27:04.128Z","createdAt":"2025-12-15T17:27:04.128Z","versionId":"c4ce5a9d-497b-4bb1-9500-292fac9b21e4","workflowId":"xrf3mIhQ6UmJ8iWg","nodes":[{"parameters":{"promptType":"define","text":"=CONVERSACIÓN ACTUAL:\n{{ $json.message }}\n\nESTADO DE CAPTURA:\n- Nombre: {{ $json.nombre || 'Pendiente' }}\n- Operación: {{ $json.operacion || 'Pendiente' }}\n- Documento: {{ $json.documento || 'Pendiente' }}\n- Contenedor: {{ $json.contenedor || 'Pendiente' }}\n\nFLUJO DE PREGUNTAS (usa estos textos exactos):\n1. Si falta nombre: \"¡Hola! ¿Cuál es tu nombre?\"\n2. Si falta operación: \"¿Qué deseas consultar? Importación o Exportación\"\n3. Si falta documento:\n   - Importación: \"Indica el BL\"\n   - Exportación: \"Indica el Booking\"\n4. Si falta contenedor: \"¿Cuál es el número de contenedor?\"\n5. Si tienes todos los datos: \"Confirmo: Nombre {{nombre}}, Operación {{operacion}}, Doc {{documento}}, Contenedor {{contenedor}}. ¿Procedo a consultar?\"\n6. Si confirman: Ejecuta TrackingTool con el JSON requerido\n\nIMPORTANTE: Analiza qué información ya tienes y haz solo la siguiente pregunta faltante. \n\nResponde en formato HTML, ya que la respuesta estará embebida en un div, respecto a los detalles de los eventos solo muestra los datos TrackingDate y Name_Milestone, en formato vertical como un timeline.","options":{"systemMessage":"Eres un asistente de seguimiento de carga marítima. Tu objetivo es recopilar información del usuario y consultar la herramienta TrackingTool.\n\nREGLAS IMPORTANTES:\n- Haz UNA sola pregunta por turno\n- No repitas preguntas ya respondidas\n- Si el usuario da varios datos a la vez, acepta todos y salta a la siguiente pregunta faltante\n- Respuestas máximo 1000 caracteres\n- Tono profesional pero amigable\n- Solo usas información de TrackingTool, no inventes datos.\n\nDATOS A CAPTURAR (en orden):\n1. Nombre del usuario\n2. Tipo de operación (Importación o Exportación)\n3. Número de documento (BL para Importación, Booking para Exportación)\n4. Número de contenedor\n\nFORMATO DE LLAMADA A HERRAMIENTA:\nCuando tengas todos los datos, genera JSON:\n{\n  \"BLNBR\": \"[número de documento]\",\n  \"CONTAINERNBR\": \"[número de contenedor]\"\n}\n\nResponde en formato HTML, ya que la respuesta estará embebida en un div, respecto a los detalles de los eventos solo muestra los datos TrackingDate y Name_Milestone, en formato vertical como un timeline. Si el usuario solicita más información de lo respondido, debes indicarle que solo has sido creado para responder con los eventos de contenedores."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[800,256],"id":"5bf74ae1-aef6-4998-82ac-088d6ed129a7","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[672,464],"id":"d7cd1155-7a67-4c6d-84c8-3b4ce0488dd6","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"mfxxvZG0LEPVHsIq","name":"OpenAI-FMCR-account"}}},{"parameters":{"description":"Consulta el tracking de un contenedor. Requiere BLNBR (número de documento BL o Booking) y CONTAINERNBR (número de contenedor).\n\n","jsCode":"\nconst BLNBR = query.BLNBR || '';\nconst CONTAINERNBR = query.CONTAINERNBR || '';\n\n// Validar parámetros\nif (!BLNBR || !CONTAINERNBR) {\n  return JSON.stringify({\n    error: 'Faltan parámetros requeridos',\n    recibido: { BLNBR, CONTAINERNBR }\n  });\n}\n\n// Construir SOAP body\nconst soapBody = `<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:tem=\"http://tempuri.org/\">\n  <soapenv:Header/>\n  <soapenv:Body>\n    <tem:GetTest>\n      <tem:BLNBR>${BLNBR}</tem:BLNBR>\n      <tem:CONTAINERNBR>${CONTAINERNBR}</tem:CONTAINERNBR>\n    </tem:GetTest>\n  </soapenv:Body>\n</soapenv:Envelope>`;\n\n// Llamada SOAP\ntry {\n  const response = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'http://10.208.101.92:8029/WebServices/Querys.asmx',\n    headers: {\n      'Content-Type': 'text/xml; charset=utf-8',\n      'SOAPAction': 'http://tempuri.org/GetTest'\n    },\n    body: soapBody\n  });\n  return response;\n  \n} catch (error) {\n  return JSON.stringify({\n    error: 'Error al llamar al servicio SOAP',\n    mensaje: error.message,\n    parametros_enviados: { BLNBR, CONTAINERNBR }\n  }, null, 2);\n}","specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"BLNBR\": \"string\",\n    \"CONTAINERNBR\": \"string\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.3,"position":[1040,464],"id":"ab9b8606-a8f2-4555-8a5b-721f2ecc84cb","name":"TrackingTool"},{"parameters":{"httpMethod":"POST","path":"dbotchat","authentication":"basicAuth","responseMode":"responseNode","options":{"ignoreBots":false}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[400,256],"id":"8a604282-cb78-4cb4-9a99-7dcdbe0e0faa","name":"Webhook","webhookId":"6f17aec0-8110-4378-9cbf-d5d577ec291f","credentials":{"httpBasicAuth":{"id":"2QO339Qv8swWCP3w","name":"ChatBot-TestCredential"}}},{"parameters":{"assignments":{"assignments":[{"id":"e3d2f3df-a430-4210-a5fb-59a6265839be","name":"sessionId","value":"={{ $json.body.sessionId }}","type":"string"},{"id":"52a3fd03-16fb-403a-be6e-9df70fd401c2","name":"message","value":"={{ $json.body.message }}","type":"string"},{"id":"f81f3489-72ea-4666-a89e-c7143fc9fbee","name":"user","value":"={{ $json.body.user }}","type":"string"},{"id":"aacaabfa-c499-45aa-b7ce-ba4a2784ffef","name":"topology","value":"={{ $json.body.topology }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[608,256],"id":"c3c78eb7-0ea9-41f6-b111-5c54e3a6f293","name":"Edit Fields"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1152,256],"id":"2624769c-ab05-489e-a97d-19e079668250","name":"Respond to Webhook"},{"parameters":{"contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[848,464],"id":"4a583047-f79f-47c4-b01d-1a9e61e49ff7","name":"Simple Memory"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"TrackingTool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]}},"authors":"Julio Raime","name":null,"description":null},"tags":[{"updatedAt":"2025-12-04T20:41:35.106Z","createdAt":"2025-12-04T20:41:35.106Z","id":"BnFPvRfPwbAIN7CT","name":"GDC-1234"}]}