chatbot_n8n_tracking_working-xrf3mIhQ6UmJ8iWg.json
{"updatedAt":"2026-01-09T15:33:35.144Z","createdAt":"2025-12-05T19:30:43.479Z","id":"xrf3mIhQ6UmJ8iWg","name":"Chatbot_n8n_tracking_working","active":true,"isArchived":false,"nodes":[{"parameters":{"description":"Consulta el tracking de un contenedor. Requiere BLNBR (número de documento BL o Booking) y CONTAINERNBR (número de contenedor).\n\n","jsCode":"\nconst BLNBR = query.BLNBR || '';\nconst CONTAINERNBR = query.CONTAINERNBR || '';\n\n// Validar parámetros\nif (!BLNBR || !CONTAINERNBR) {\n  return JSON.stringify({\n    error: 'Faltan parámetros requeridos',\n    recibido: { BLNBR, CONTAINERNBR }\n  });\n}\n\n// Construir SOAP body\nconst soapBody = `<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:tem=\"http://tempuri.org/\">\n  <soapenv:Header/>\n  <soapenv:Body>\n    <tem:GetTest>\n      <tem:BLNBR>${BLNBR}</tem:BLNBR>\n      <tem:CONTAINERNBR>${CONTAINERNBR}</tem:CONTAINERNBR>\n    </tem:GetTest>\n  </soapenv:Body>\n</soapenv:Envelope>`;\n\n// Llamada SOAP\ntry {\n  const response = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'http://10.208.101.92:8029/WebServices/Querys.asmx',\n    headers: {\n      'Content-Type': 'text/xml; charset=utf-8',\n      'SOAPAction': 'http://tempuri.org/GetTest'\n    },\n    body: soapBody\n  });\n  return response;\n  \n} catch (error) {\n  return JSON.stringify({\n    error: 'Error al llamar al servicio SOAP',\n    mensaje: error.message,\n    parametros_enviados: { BLNBR, CONTAINERNBR }\n  }, null, 2);\n}","specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"BLNBR\": \"string\",\n    \"CONTAINERNBR\": \"string\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.3,"position":[960,240],"id":"ab9b8606-a8f2-4555-8a5b-721f2ecc84cb","name":"TrackingTool"},{"parameters":{"httpMethod":"POST","path":"dbotchat","authentication":"basicAuth","responseMode":"responseNode","options":{"ignoreBots":false}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[320,336],"id":"8a604282-cb78-4cb4-9a99-7dcdbe0e0faa","name":"Webhook","webhookId":"6f17aec0-8110-4378-9cbf-d5d577ec291f","credentials":{"httpBasicAuth":{"id":"2QO339Qv8swWCP3w","name":"ChatBot-TestCredential"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1392,192],"id":"2624769c-ab05-489e-a97d-19e079668250","name":"Respond to Webhook"},{"parameters":{"assignments":{"assignments":[{"id":"e3d2f3df-a430-4210-a5fb-59a6265839be","name":"sessionId","value":"={{ $json.body.sessionId }}","type":"string"},{"id":"52a3fd03-16fb-403a-be6e-9df70fd401c2","name":"message","value":"={{ $json.body.message }}","type":"string"},{"id":"f81f3489-72ea-4666-a89e-c7143fc9fbee","name":"user","value":"={{ $json.body.user }}","type":"string"},{"id":"aacaabfa-c499-45aa-b7ce-ba4a2784ffef","name":"topology","value":"={{ $json.body.topology }}","type":"number"},{"id":"2a10b29f-bc96-414d-8f7f-81246d641758","name":"isInitial","value":"={{ $json.body.isInitial ?? False }}","type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[512,336],"id":"c3c78eb7-0ea9-41f6-b111-5c54e3a6f293","name":"Extrae data","onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"3310e64f-0be5-473a-acbc-c0a5d0115ac1","name":"message","value":"={{ $json.output }}","type":"string"},{"id":"4344205c-58c2-4b9b-9500-66a93eaad5a6","name":"success","value":true,"type":"boolean"},{"id":"ae2f292c-1a68-4c32-bf6c-69b4fd513169","name":"timestamp","value":"={{ $now }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1216,64],"id":"707fcf97-18ae-439c-ac62-c4610f815026","name":"Build response"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"responsesApiEnabled":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[736,240],"id":"31772129-6026-49b2-ac8e-1c64133c02db","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"mfxxvZG0LEPVHsIq","name":"OpenAI-FMCR-account"}}},{"parameters":{"contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[848,256],"id":"e1ab1d62-70c6-4a12-92e8-1a1ca62771f6","name":"Simple Memory"},{"parameters":{"promptType":"define","text":"=CONVERSACIÓN ACTUAL:\n{{ $json.message }}\n\nESTADO DE CAPTURA:\n- Operación: {{ $json.operacion || 'Pendiente' }}\n- Documento: {{ $json.documento || 'Pendiente' }}\n- Contenedor: {{ $json.contenedor || 'Pendiente' }}\n\nFLUJO DE PREGUNTAS (usa estos textos exactos):\n1. Si falta operación: \"¿Qué deseas consultar? Importación o Exportación\"\n2. Si falta documento:\n   - Importación: \"Indica el BL\"\n   - Exportación: \"Indica el Booking\"\n3. Si falta contenedor: \"¿Cuál es el número de contenedor?\"\n4. Si tienes todos los datos: \"Confirmo: Operación {{operacion}}, Doc {{documento}}, Contenedor {{contenedor}}. ¿Procedo a consultar?\"\n5. Si confirman: Ejecuta TrackingTool con el JSON requerido\n\nIMPORTANTE: Analiza qué información ya tienes y haz solo la siguiente pregunta faltante.\n\nResponde en formato markdown.","options":{"systemMessage":"Eres \"Porty\", un asistente de seguimiento de carga marítima. Tu objetivo es recopilar información del usuario y consultar la herramienta TrackingTool.\n\nREGLAS IMPORTANTES:\n-  Si el usuario te dice su nombre, tú debes decirle para qué has sido creado.\n- Haz UNA sola pregunta por turno\n- No repitas preguntas ya respondidas\n- Si el usuario da varios datos a la vez, acepta todos y salta a la siguiente pregunta faltante\n- Respuestas máximo 1000 caracteres\n- Tono profesional pero amigable\n- Solo usas información de TrackingTool, no inventes datos.\n- Incluye el  nombre del usuario en algunas de tus respuestas para sonar amigable.\n\nDATOS A CAPTURAR (en orden):\n1. Nombre del usuario\n2. Tipo de operación (Importación o Exportación)\n3. Número de documento (BL para Importación, Booking para Exportación)\n4. Número de contenedor\n\nFORMATO DE LLAMADA A HERRAMIENTA:\nCuando tengas todos los datos, genera JSON:\n{\n  \"BLNBR\": \"[número de documento]\",\n  \"CONTAINERNBR\": \"[número de contenedor]\"\n}\n\nRrespecto a los detalles de los eventos solo muestra los datos TrackingDate y Name_Milestone, en formato vertical como un timeline. Si el usuario solicita más información de lo respondido, debes indicarle que solo has sido creado para responder con los eventos de contenedores.\n\nResponde en formato markdown."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[768,80],"id":"5bf74ae1-aef6-4998-82ac-088d6ed129a7","name":"AI Agent - ChatBot","onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"3310e64f-0be5-473a-acbc-c0a5d0115ac1","name":"message","value":"=Tenemos inconvenientes en estos momentos, inténtalo más tarde.","type":"string"},{"id":"4344205c-58c2-4b9b-9500-66a93eaad5a6","name":"success","value":false,"type":"boolean"},{"id":"ae2f292c-1a68-4c32-bf6c-69b4fd513169","name":"timestamp","value":"={{ $now }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1216,352],"id":"de23f5d2-20a4-4620-a5ac-10b8add057aa","name":"Build error response"}],"connections":{"TrackingTool":{"ai_tool":[[{"node":"AI Agent - ChatBot","type":"ai_tool","index":0}]]},"Webhook":{"main":[[{"node":"Extrae data","type":"main","index":0}]]},"Extrae data":{"main":[[{"node":"AI Agent - ChatBot","type":"main","index":0}],[{"node":"Build error response","type":"main","index":0}]]},"Build response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent - ChatBot","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent - ChatBot","type":"ai_memory","index":0}]]},"AI Agent - ChatBot":{"main":[[{"node":"Build response","type":"main","index":0}],[{"node":"Build error response","type":"main","index":0}]]},"Build error response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"428721e9-3733-4d90-8b95-4d0c9eff14e3","activeVersionId":"3e762420-411d-4a18-83a1-6b4afdbfbae6","triggerCount":1,"shared":[{"updatedAt":"2025-12-05T19:30:43.479Z","createdAt":"2025-12-05T19:30:43.479Z","role":"workflow:owner","workflowId":"xrf3mIhQ6UmJ8iWg","projectId":"wFDHVvmNL44UdYE2"}],"activeVersion":{"updatedAt":"2025-12-23T17:55:18.665Z","createdAt":"2025-12-23T17:55:18.665Z","versionId":"3e762420-411d-4a18-83a1-6b4afdbfbae6","workflowId":"xrf3mIhQ6UmJ8iWg","nodes":[{"parameters":{"description":"Consulta el tracking de un contenedor. Requiere BLNBR (número de documento BL o Booking) y CONTAINERNBR (número de contenedor).\n\n","jsCode":"\nconst BLNBR = query.BLNBR || '';\nconst CONTAINERNBR = query.CONTAINERNBR || '';\n\n// Validar parámetros\nif (!BLNBR || !CONTAINERNBR) {\n  return JSON.stringify({\n    error: 'Faltan parámetros requeridos',\n    recibido: { BLNBR, CONTAINERNBR }\n  });\n}\n\n// Construir SOAP body\nconst soapBody = `<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:tem=\"http://tempuri.org/\">\n  <soapenv:Header/>\n  <soapenv:Body>\n    <tem:GetTest>\n      <tem:BLNBR>${BLNBR}</tem:BLNBR>\n      <tem:CONTAINERNBR>${CONTAINERNBR}</tem:CONTAINERNBR>\n    </tem:GetTest>\n  </soapenv:Body>\n</soapenv:Envelope>`;\n\n// Llamada SOAP\ntry {\n  const response = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'http://10.208.101.92:8029/WebServices/Querys.asmx',\n    headers: {\n      'Content-Type': 'text/xml; charset=utf-8',\n      'SOAPAction': 'http://tempuri.org/GetTest'\n    },\n    body: soapBody\n  });\n  return response;\n  \n} catch (error) {\n  return JSON.stringify({\n    error: 'Error al llamar al servicio SOAP',\n    mensaje: error.message,\n    parametros_enviados: { BLNBR, CONTAINERNBR }\n  }, null, 2);\n}","specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"BLNBR\": \"string\",\n    \"CONTAINERNBR\": \"string\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.3,"position":[1040,464],"id":"ab9b8606-a8f2-4555-8a5b-721f2ecc84cb","name":"TrackingTool"},{"parameters":{"httpMethod":"POST","path":"dbotchat","authentication":"basicAuth","responseMode":"responseNode","options":{"ignoreBots":false}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[400,256],"id":"8a604282-cb78-4cb4-9a99-7dcdbe0e0faa","name":"Webhook","webhookId":"6f17aec0-8110-4378-9cbf-d5d577ec291f","credentials":{"httpBasicAuth":{"id":"2QO339Qv8swWCP3w","name":"ChatBot-TestCredential"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1328,256],"id":"2624769c-ab05-489e-a97d-19e079668250","name":"Respond to Webhook"},{"parameters":{"assignments":{"assignments":[{"id":"e3d2f3df-a430-4210-a5fb-59a6265839be","name":"sessionId","value":"={{ $json.body.sessionId }}","type":"string"},{"id":"52a3fd03-16fb-403a-be6e-9df70fd401c2","name":"message","value":"={{ $json.body.message }}","type":"string"},{"id":"f81f3489-72ea-4666-a89e-c7143fc9fbee","name":"user","value":"={{ $json.body.user }}","type":"string"},{"id":"aacaabfa-c499-45aa-b7ce-ba4a2784ffef","name":"topology","value":"={{ $json.body.topology }}","type":"number"},{"id":"2a10b29f-bc96-414d-8f7f-81246d641758","name":"isInitial","value":"={{ $json.body.isInitial ?? False }}","type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[608,256],"id":"c3c78eb7-0ea9-41f6-b111-5c54e3a6f293","name":"Extrae data"},{"parameters":{"assignments":{"assignments":[{"id":"3310e64f-0be5-473a-acbc-c0a5d0115ac1","name":"message","value":"={{ $json.output }}","type":"string"},{"id":"4344205c-58c2-4b9b-9500-66a93eaad5a6","name":"success","value":true,"type":"boolean"},{"id":"ae2f292c-1a68-4c32-bf6c-69b4fd513169","name":"timestamp","value":"={{ $now }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1136,256],"id":"707fcf97-18ae-439c-ac62-c4610f815026","name":"Build response"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"responsesApiEnabled":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[672,464],"id":"31772129-6026-49b2-ac8e-1c64133c02db","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"mfxxvZG0LEPVHsIq","name":"OpenAI-FMCR-account"}}},{"parameters":{"contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[816,464],"id":"e1ab1d62-70c6-4a12-92e8-1a1ca62771f6","name":"Simple Memory"},{"parameters":{"promptType":"define","text":"=CONVERSACIÓN ACTUAL:\n{{ $json.message }}\n\nESTADO DE CAPTURA:\n- Operación: {{ $json.operacion || 'Pendiente' }}\n- Documento: {{ $json.documento || 'Pendiente' }}\n- Contenedor: {{ $json.contenedor || 'Pendiente' }}\n\nFLUJO DE PREGUNTAS (usa estos textos exactos):\n1. Si falta operación: \"¿Qué deseas consultar? Importación o Exportación\"\n2. Si falta documento:\n   - Importación: \"Indica el BL\"\n   - Exportación: \"Indica el Booking\"\n3. Si falta contenedor: \"¿Cuál es el número de contenedor?\"\n4. Si tienes todos los datos: \"Confirmo: Operación {{operacion}}, Doc {{documento}}, Contenedor {{contenedor}}. ¿Procedo a consultar?\"\n5. Si confirman: Ejecuta TrackingTool con el JSON requerido\n\nIMPORTANTE: Analiza qué información ya tienes y haz solo la siguiente pregunta faltante.\n\nResponde en formato markdown.","options":{"systemMessage":"Eres \"Porty\", un asistente de seguimiento de carga marítima. Tu objetivo es recopilar información del usuario y consultar la herramienta TrackingTool.\n\nREGLAS IMPORTANTES:\n-  Si el usuario te dice su nombre, tú debes decirle para qué has sido creado.\n- Haz UNA sola pregunta por turno\n- No repitas preguntas ya respondidas\n- Si el usuario da varios datos a la vez, acepta todos y salta a la siguiente pregunta faltante\n- Respuestas máximo 1000 caracteres\n- Tono profesional pero amigable\n- Solo usas información de TrackingTool, no inventes datos.\n- Incluye el  nombre del usuario en algunas de tus respuestas para sonar amigable.\n\nDATOS A CAPTURAR (en orden):\n1. Nombre del usuario\n2. Tipo de operación (Importación o Exportación)\n3. Número de documento (BL para Importación, Booking para Exportación)\n4. Número de contenedor\n\nFORMATO DE LLAMADA A HERRAMIENTA:\nCuando tengas todos los datos, genera JSON:\n{\n  \"BLNBR\": \"[número de documento]\",\n  \"CONTAINERNBR\": \"[número de contenedor]\"\n}\n\nRrespecto a los detalles de los eventos solo muestra los datos TrackingDate y Name_Milestone, en formato vertical como un timeline. Si el usuario solicita más información de lo respondido, debes indicarle que solo has sido creado para responder con los eventos de contenedores.\n\nResponde en formato markdown."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[816,256],"id":"5bf74ae1-aef6-4998-82ac-088d6ed129a7","name":"AI Agent - ChatBot"}],"connections":{"TrackingTool":{"ai_tool":[[{"node":"AI Agent - ChatBot","type":"ai_tool","index":0}]]},"Webhook":{"main":[[{"node":"Extrae data","type":"main","index":0}]]},"Extrae data":{"main":[[{"node":"AI Agent - ChatBot","type":"main","index":0}]]},"Build response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent - ChatBot","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent - ChatBot","type":"ai_memory","index":0}]]},"AI Agent - ChatBot":{"main":[[{"node":"Build response","type":"main","index":0}]]}},"authors":"Julio Raime","name":null,"description":null,"autosaved":false},"tags":[{"updatedAt":"2026-01-08T19:13:46.271Z","createdAt":"2026-01-08T19:13:46.271Z","id":"2b1AFAwjjDIYXEVe","name":"GDC-2552"}]}