copyfilestogoogledrivedpwl-ql4WmKYMgjcnijJZRnlZ8.json
{"updatedAt":"2026-02-06T19:38:23.341Z","createdAt":"2026-02-06T19:38:23.341Z","id":"ql4WmKYMgjcnijJZRnlZ8","name":"CopyFilesToGoogleDriveDpwl","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"xlsx","binaryPropertyName":"={{ $('ValidarExtension').item.binary.Archivo }}","options":{"headerRow":true,"includeEmptyCells":true}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[320,384],"id":"5d22e413-0460-441d-8f3e-a76bf7bdc1dc","name":"Extract from File","alwaysOutputData":false},{"parameters":{"formTitle":"Carga Archivo","formDescription":"Carga Archivo","formFields":{"values":[{"fieldName":"Archivo","fieldLabel":"Archivo","fieldType":"file","multipleFiles":false,"acceptFileTypes":".xlsx, xls","requiredField":true}]},"responseMode":"lastNode","options":{"appendAttribution":false}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.4,"position":[-752,528],"id":"4a0585b5-9161-4021-9da6-80d0c4c2c45f","name":"CargarArchivo","webhookId":"da4ec096-dad4-4ebe-b696-eaafd695394d"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"3a0e691b-51a9-40d1-963a-8b1f6eda5dbf","leftValue":"={{ $json.Archivo.filename }}","rightValue":"\\.(xlsx|xls)$","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-528,528],"id":"e55a9370-9fe7-429c-8c4a-0e6d218414c3","name":"ValidarExtension"},{"parameters":{"assignments":{"assignments":[{"id":"090727dd-c873-46ee-ae6d-e7969fccb01e","name":"ListaCampos","value":"='USETYPE,fromstoreloc,changedate,DESCRIPCION,quantity,PN'","type":"string"},{"id":"383a8f39-c284-4391-8f4d-badd3112d3ec","name":"Carpeta","value":"Repuestos Reefer","type":"string"},{"id":"a57b63db-5d6c-4d9d-af68-3cd768fffdf2","name":"CarpetaID","value":"https://drive.google.com/drive/u/1/folders/1FGJCez0LlE-CQtr6w8-ons5EkVdmGuiX","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0],"id":"34742796-8337-45a6-84b9-03bbab032347","name":"DefinirListaCampos"},{"parameters":{"assignments":{"assignments":[{"id":"090727dd-c873-46ee-ae6d-e7969fccb01e","name":"ListaCampos","value":"='ConversationID,ASUNTO,FROM,TO,Importancia de correo,Fecha de registro,MessageID,Carpeta,Bandeja,Fecha de repuesta,KPI_Tiem_Atenc,\t\nResponder o no?,Contador de cadena,Quien responde,Categorización Asunto'","type":"string"},{"id":"383a8f39-c284-4391-8f4d-badd3112d3ec","name":"Carpeta","value":"Perfil de Linea","type":"string"},{"id":"cb511bf7-b827-4511-9d11-09ed2f588ee9","name":"CarpetaID","value":"https://drive.google.com/drive/u/1/folders/1nEREgcUKDtfH8pdtXdGGN3nxX3P-EPTc","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,192],"id":"8f58c619-badc-45a2-8596-749d1ba7824a","name":"DefinirListaCampos1"},{"parameters":{"assignments":{"assignments":[{"id":"090727dd-c873-46ee-ae6d-e7969fccb01e","name":"ListaCampos","value":"='Number,Transaction Type,Ctr Number,ISO Type,Category,Unit Frght Kind,Truck Visit Entered Yard,Truck Visit Exited Yard,Line Id,Appt Nbr,Unit Nep - Booking Llenado,BL,Booking Number,ARR/TRI,Unit BLMasterSparcs,Truck Visit Gate,Start Date,Handled,FrghtKND,Time Completed,Sede,Fecha,Semana,TAMAÑO,TU,Container Type,CHE,GATE OUT,TURNAROUND,Aceptable,TARGET,CLASS,H INGRESO,TURNO,Conteo,Mes,Año,Día,ARR DAS TRI,Clase,Condición'","type":"string"},{"id":"383a8f39-c284-4391-8f4d-badd3112d3ec","name":"Carpeta","value":"Data Gates","type":"string"},{"id":"ffe16953-b631-4d95-ac71-700399e7c54b","name":"CarpetaID","value":"https://drive.google.com/drive/u/1/folders/1kK11YeBTfOyZowN4kORH_A5uR1d82dd8","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,384],"id":"65fa3eb3-ccf6-45a0-ac87-33994262a1ab","name":"DefinirListaCampos2"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $('CargarArchivo').item.json.Archivo.filename }}","rightValue":"Consumos.xlsx","operator":{"type":"string","operation":"equals"},"id":"b07f88c6-ad0a-4fca-ba09-ff5feb604e22"}],"combinator":"and"},"renameOutput":true,"outputKey":"Consumos"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"92c25795-5ff3-4db9-bd3e-b0b008a7260c","leftValue":"={{ $('CargarArchivo').item.json.Archivo.filename }}","rightValue":"EjecutivoRecepcion.xlsx","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"EjecutivoRecepcion"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"097dca6e-5278-4aa7-a62a-863b14ee2321","leftValue":"={{ $('CargarArchivo').item.json.Archivo.filename }}","rightValue":"DataGates.xlsx","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"DataGates"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"c3811f97-c34b-480e-972c-d1fd63d87aaf","leftValue":"={{ $('CargarArchivo').item.json.Archivo.filename }}","rightValue":"Citas.xlsx","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Citas"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"d038d7f3-a818-4859-a028-29d18f5efaca","leftValue":"={{ $('CargarArchivo').item.json.Archivo.filename }}","rightValue":"EjecutivoRespuestas.xlsx","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"EjecutivoRespuestas"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Otros"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-304,336],"id":"e5bb1ea6-e127-4141-ae26-543daeb10c14","name":"ValidarTipoArchivo"},{"parameters":{"jsCode":"try {\n  // ✅ Nombres EXACTOS de tus nodos (según tu captura)\n  const candidateNodes = ['DefinirListaCampos', 'DefinirListaCampos1', 'DefinirListaCampos2', 'DefinirListaCampos3', 'DefinirListaCampos4'];\n\n  const safeFirst = (nodeName) => {\n    try {\n      return $(nodeName).first(); // puede fallar si el nodo no está disponible en esta ejecución\n    } catch (e) {\n      return undefined;\n    }\n  };\n\n  const getListaCampos = () => {\n    // A) Si llega en el input del nodo actual\n    const fromInput = $input.first()?.json?.ListaCampos;\n    if (fromInput) return fromInput;\n\n    // B) Si no, busca el primero disponible entre los 3 nodos\n    for (const name of candidateNodes) {\n      const n = safeFirst(name);\n      const v = n?.json?.ListaCampos;\n      if (v) return v;\n    }\n    return '';\n  };\n\n  // Quita comillas externas repetidas: \"'a,b,c'\" -> a,b,c  o  \"\\\"a,b\\\"\" -> a,b\n  const stripOuterQuotes = (s) => {\n    let out = String(s ?? '').trim();\n    while (\n      (out.startsWith(\"'\") && out.endsWith(\"'\")) ||\n      (out.startsWith('\"') && out.endsWith('\"'))\n    ) {\n      out = out.slice(1, -1).trim();\n    }\n    return out;\n  };\n\n  // Convierte ListaCampos a array (soporta CSV, ;, saltos de línea, o JSON array en string)\n  const parseListaCampos = (v) => {\n    if (Array.isArray(v)) return v;\n    const s0 = stripOuterQuotes(v);\n    if (!s0) return [];\n\n    if (s0.startsWith('[')) {\n      try {\n        const parsed = JSON.parse(s0);\n        if (Array.isArray(parsed)) return parsed;\n      } catch (_) {}\n    }\n\n    return s0\n      .split(/[,;\\n\\r\\t]+/)\n      .map(x => x.trim())\n      .filter(Boolean);\n  };\n\n  const listaCamposRaw = getListaCampos();\n  const expectedHeaders = parseListaCampos(listaCamposRaw);\n\n  const norm = (s) => String(s ?? '').trim().toLowerCase();\n\n  const items = $input.all().map(i => i.json);\n  if (items.length === 0) {\n    return [{ json: { ok: false, message: 'No se detectaron filas en el Excel.' } }];\n  }\n\n  if (expectedHeaders.length === 0) {\n    return [{\n      json: {\n        ok: false,\n        message: 'ListaCampos está vacío o no llegó desde ninguno de los nodos DefinirListaCampos*.',\n        debug: { listaCamposRaw }\n      }\n    }];\n  }\n\n  // ✅ Binario: hacerlo “safe” por si ese nodo no está en la rama\n  let originalBinary;\n  try {\n    originalBinary = $('CargarArchivo').first()?.binary?.Archivo;\n  } catch (e) {\n    originalBinary = undefined;\n  }\n\n  // Detectar headers reales\n  let actualHeaders = [];\n\n  if (items[0]?.row && typeof items[0].row === 'object') {\n    const keys = Object.keys(items[0].row);\n    const numericKeys = keys.length > 0 && keys.every(k => /^\\d+$/.test(k));\n    if (numericKeys) {\n      actualHeaders = Object.values(items[0].row).map(norm);\n    } else {\n      actualHeaders = Object.keys(items[0].row).map(norm);\n    }\n  } else {\n    actualHeaders = Object.keys(items[0] ?? {}).map(norm);\n  }\n\n  const expectedNorm = expectedHeaders.map(norm);\n  const actualSet = new Set(actualHeaders);\n  const expectedSet = new Set(expectedNorm);\n\n  const missing = expectedNorm.filter(h => !actualSet.has(h));\n  const extra = actualHeaders.filter(h => !expectedSet.has(h));\n\n  const ok = missing.length === 0 && extra.length === 0;\n\n  return [{\n    json: {\n      ok,\n      expected: expectedNorm,\n      actual: actualHeaders,\n      missing,\n      extra,\n      message: ok\n        ? 'El archivo tiene exactamente los campos esperados.'\n        : 'Los campos no coinciden exactamente con la lista esperada.',\n      debug: { listaCamposRaw } // útil para ver de dónde vino\n    },\n    binary: originalBinary ? { Archivo: originalBinary } : {}\n  }];\n\n} catch (e) {\n  // ✅ Garantiza que SIEMPRE se devuelva un array de items\n  return [{\n    json: {\n      ok: false,\n      message: 'Error en Validar Columnas (Code node).',\n      error: String(e?.message ?? e),\n      stack: e?.stack,\n    }\n  }];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[544,384],"id":"f0fc817d-ba2c-4ee6-b353-979651dbd054","name":"ValidarColumnas"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"d922d14a-1eba-46f4-9459-6b96a86e2089","leftValue":"={{ $json.message }}","rightValue":"El archivo tiene exactamente los campos esperados.","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[768,384],"id":"52d84390-07ce-4643-95bc-0665537a98c7","name":"¿ColumnasCorrectas?"},{"parameters":{"inputDataFieldName":"Archivo","name":"={{ $binary.Archivo.fileName }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('DefinirListaCampos4').first().json.CarpetaID ?? $('DefinirListaCampos3').first().json.CarpetaID ?? $('DefinirListaCampos2').first().json.CarpetaID ?? $('DefinirListaCampos1').first().json.CarpetaID ?? $('DefinirListaCampos').first().json.CarpetaID }}\n","mode":"url"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[992,320],"id":"76b1144f-a097-43d4-8738-df1776681ddb","name":"SubirArchivo","credentials":{"googleDriveOAuth2Api":{"id":"s4AiT80qRhSWhpQL","name":"Google Drive account"}}},{"parameters":{"operation":"completion","completionTitle":"OK","completionMessage":"Archivo Subido Correctamente","options":{}},"type":"n8n-nodes-base.form","typeVersion":2.5,"position":[1216,320],"id":"21518a88-60ac-466b-a325-1adfbbd8396a","name":"MensajeOK","webhookId":"476d4a77-bab8-4302-a910-4f8664a6752f"},{"parameters":{"assignments":{"assignments":[{"id":"090727dd-c873-46ee-ae6d-e7969fccb01e","name":"ListaCampos","value":"='Nbr,State,Created,Slot Start Time,Gate,Trans Type,Creator,Line Op,Ctr Type ISO,Tamaño'","type":"string"},{"id":"383a8f39-c284-4391-8f4d-badd3112d3ec","name":"Carpeta","value":"Data Gates","type":"string"},{"id":"ffe16953-b631-4d95-ac71-700399e7c54b","name":"CarpetaID","value":"https://drive.google.com/drive/u/1/folders/1kK11YeBTfOyZowN4kORH_A5uR1d82dd8","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,576],"id":"95b1b937-0594-47d0-93fa-b954b3a81b8c","name":"DefinirListaCampos3"},{"parameters":{"assignments":{"assignments":[{"id":"090727dd-c873-46ee-ae6d-e7969fccb01e","name":"ListaCampos","value":"='ConversationID,ASUNTO,FROM,TO,Importancia de correo,Categoria,Fecha de registro,MessageID'","type":"string"},{"id":"383a8f39-c284-4391-8f4d-badd3112d3ec","name":"Carpeta","value":"Data Gates","type":"string"},{"id":"ffe16953-b631-4d95-ac71-700399e7c54b","name":"CarpetaID","value":"https://drive.google.com/drive/u/1/folders/1kK11YeBTfOyZowN4kORH_A5uR1d82dd8","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,768],"id":"7857d72d-ca35-4df2-a696-246461172408","name":"DefinirListaCampos4"},{"parameters":{"operation":"completion","completionTitle":"Error","completionMessage":"=Archivo: {{ $('CargarArchivo').item.json.Archivo.filename }}\nTipo de Archivo NO válido","options":{}},"type":"n8n-nodes-base.form","typeVersion":2.5,"position":[-304,656],"id":"1381bedd-3dcb-4664-86c9-206389dfe8d2","name":"ErrorTipoNOValido","webhookId":"476d4a77-bab8-4302-a910-4f8664a6752f"},{"parameters":{"operation":"completion","completionTitle":"Error","completionMessage":"=Archivo: {{ $('CargarArchivo').item.json.Archivo.filename }}\nNombre de Archivo NO válido","options":{}},"type":"n8n-nodes-base.form","typeVersion":2.5,"position":[0,960],"id":"0acdd620-baf5-49b2-bef3-cb48bbe460db","name":"ErrorNombreArchivoIncorrecto","webhookId":"476d4a77-bab8-4302-a910-4f8664a6752f"},{"parameters":{"operation":"completion","completionTitle":"Error","completionMessage":"=Archivo: {{ $('CargarArchivo').item.json.Archivo.filename }}\nColmunas del archivo No concuerdan con el formato indicado","options":{}},"type":"n8n-nodes-base.form","typeVersion":2.5,"position":[992,512],"id":"4354ea13-785a-43ef-bfd0-381b5b3a06e9","name":"ErrorColumnasNoCorrectas","webhookId":"476d4a77-bab8-4302-a910-4f8664a6752f"}],"connections":{"Extract from File":{"main":[[{"node":"ValidarColumnas","type":"main","index":0}]]},"CargarArchivo":{"main":[[{"node":"ValidarExtension","type":"main","index":0}]]},"ValidarExtension":{"main":[[{"node":"ValidarTipoArchivo","type":"main","index":0}],[{"node":"ErrorTipoNOValido","type":"main","index":0}]]},"DefinirListaCampos":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"DefinirListaCampos1":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"DefinirListaCampos2":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"ValidarTipoArchivo":{"main":[[{"node":"DefinirListaCampos","type":"main","index":0}],[{"node":"DefinirListaCampos1","type":"main","index":0}],[{"node":"DefinirListaCampos2","type":"main","index":0}],[{"node":"DefinirListaCampos3","type":"main","index":0}],[{"node":"DefinirListaCampos4","type":"main","index":0}],[{"node":"ErrorNombreArchivoIncorrecto","type":"main","index":0}]]},"ValidarColumnas":{"main":[[{"node":"¿ColumnasCorrectas?","type":"main","index":0}]]},"¿ColumnasCorrectas?":{"main":[[{"node":"SubirArchivo","type":"main","index":0}],[{"node":"ErrorColumnasNoCorrectas","type":"main","index":0}]]},"SubirArchivo":{"main":[[{"node":"MensajeOK","type":"main","index":0}]]},"DefinirListaCampos3":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"DefinirListaCampos4":{"main":[[{"node":"Extract from File","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"cf082492-3d77-47bd-acd8-08bd5beb8668","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-06T19:38:23.341Z","createdAt":"2026-02-06T19:38:23.341Z","role":"workflow:owner","workflowId":"ql4WmKYMgjcnijJZRnlZ8","projectId":"qKHJHnveidvROPB6"}],"activeVersion":null,"tags":[]}