enviocolainicialbase_daue-0SRcdaakrN_Y0wKGqwoxN.json
{"updatedAt":"2026-02-27T21:15:41.936Z","createdAt":"2026-02-23T16:06:13.273Z","id":"0SRcdaakrN_Y0wKGqwoxN","name":"EnvioColaInicialBase_DAUE","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"send_queue","authentication":"basicAuth","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-432,-192],"id":"7a21fb60-8a82-4f91-9df1-a8d113d181ec","name":"From_Dport","webhookId":"fd26a72f-448c-4a67-ad3f-8c5d6b4ecc7e","credentials":{"httpBasicAuth":{"id":"oLD7fPFDLdNYPBuY","name":"test-diego"}}},{"parameters":{"functionCode":"const body = $json.body || {};\n\nconst camposObligatorios = ['RequestExportId', 'DamId', 'RdId', 'TransmissionType', 'Dam', 'Regime', 'Year', 'TopologyId'];\n\nfor (const campo of camposObligatorios) {\n  if (!body.hasOwnProperty(campo) || body[campo] === '') {\n    throw new Error(`Falta el campo: ${campo}`);\n  }\n}\n\nreturn [\n  {\n    json: {\n      ...body\n    }\n  }\n];"},"name":"Validar Entrada","type":"n8n-nodes-base.function","typeVersion":1,"position":[-160,-192],"id":"5e354466-f286-4fb7-b06b-5950183022f5"},{"parameters":{"queue":"={{ $json.queueName }}","sendInputData":false,"message":"={{ JSON.stringify($('From_Dport').item.json.body) }}","options":{}},"type":"n8n-nodes-base.rabbitmq","typeVersion":1.1,"position":[528,-288],"id":"749f3a31-c3f8-4242-bc37-036b8f9c572c","name":"RabbitMQ","credentials":{"rabbitmq":{"id":"djaHZlIVYJrdjpga","name":"RabbitMQ-RCE"}}},{"parameters":{"functionCode":"return [{\n  json: {\n    success: true,\n    message: \"OK\"\n  }\n}];"},"name":"Evaluar Resultado","type":"n8n-nodes-base.function","typeVersion":1,"position":[752,-288],"id":"7f77ff72-9267-4e29-a5dc-8155ff4339cb"},{"parameters":{"options":{}},"name":"Respuesta personalizada","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[960,-288],"id":"fe8053ab-72a5-4a1f-9a57-bcb01b5dd250"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.TransmissionType }}","rightValue":"RCE","operator":{"type":"string","operation":"equals"},"id":"f3cd42dc-1ceb-4481-bf47-d46d1e7eaede"}],"combinator":"and"},"renameOutput":true,"outputKey":"RCE"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"db1e9fe9-c799-486a-b3a0-0c68d996b64e","leftValue":"={{ $json.TransmissionType }}","rightValue":"RM","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"RM"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[64,-208],"id":"b9620485-73f5-4c4a-990b-746819481a79","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"32ecdd3a-aad1-46da-b6a8-721cf719d285","name":"queueName","value":"=queue_rce_test","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[288,-384],"id":"2bf193f6-4ac6-46b3-bac7-eb59722ea763","name":"ColaRCE"},{"parameters":{"assignments":{"assignments":[{"id":"32ecdd3a-aad1-46da-b6a8-721cf719d285","name":"queueName","value":"=queue_xml_generate","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[288,-192],"id":"aee2d13e-cf6b-4920-8c0b-0f4d45c2efbb","name":"ColaRM"},{"parameters":{"fromEmail":"=servicio.n8n@dpworld.pe","toEmail":"=  diego.urrunaga@dpworld.com;fmcuya@gmail.com","subject":"=ERROR LEER COLA INCIAL","html":"=El tipo de transmision enviado no es correcto","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[288,0],"id":"1f812988-9f38-45e0-a7d2-2f8d3fd883f9","name":"EnvioCorreoError","webhookId":"e3110f90-ad12-473d-9fbd-1fe1da6ffe99","credentials":{"smtp":{"id":"0z7zg9Husy7eWHOP","name":"SMTP from n8n"}}}],"connections":{"From_Dport":{"main":[[{"node":"Validar Entrada","type":"main","index":0}]]},"Validar Entrada":{"main":[[{"node":"Switch","type":"main","index":0}]]},"RabbitMQ":{"main":[[{"node":"Evaluar Resultado","type":"main","index":0}]]},"Evaluar Resultado":{"main":[[{"node":"Respuesta personalizada","type":"main","index":0}]]},"Switch":{"main":[[{"node":"ColaRCE","type":"main","index":0}],[{"node":"ColaRM","type":"main","index":0}],[{"node":"EnvioCorreoError","type":"main","index":0}]]},"ColaRCE":{"main":[[{"node":"RabbitMQ","type":"main","index":0}]]},"ColaRM":{"main":[[{"node":"RabbitMQ","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6fd207ea-3209-4bb7-aee8-3c2ad45c209b","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-02-23T16:06:13.273Z","createdAt":"2026-02-23T16:06:13.273Z","role":"workflow:owner","workflowId":"0SRcdaakrN_Y0wKGqwoxN","projectId":"khlpUs0kaQRR8lOt"}],"activeVersion":null,"tags":[]}