errorhandlepostgre-QNhSJgEAfqzRmdHZ.json
{"updatedAt":"2025-10-16T20:31:36.682Z","createdAt":"2025-10-16T20:28:03.313Z","id":"QNhSJgEAfqzRmdHZ","name":"ErrorHandlePostgre","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"ff219a21-1095-4737-a577-cabaa9c53b49","name":"Start","type":"n8n-nodes-base.start","typeVersion":1,"position":[0,0]},{"parameters":{"values":{"string":[{"name":"mensaje","value":"={{$json[\"mensaje\"]}}"},{"name":"stacktrace","value":"={{$json[\"stacktrace\"]}}"},{"name":"nodo","value":"={{$json[\"nodo\"]}}"},{"name":"request","value":"={{$json[\"request\"]}}"},{"name":"response","value":"={{$json[\"response\"]}}"}]},"options":{}},"name":"Set Datos","type":"n8n-nodes-base.set","typeVersion":2,"position":[208,0],"id":"e552de21-173a-440a-867a-90f01e940bd4"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":"errores_log","options":{}},"name":"Insertar en PostgreSQL","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[400,0],"id":"f58a43d4-7466-45be-a379-4f55bd5b42d1","credentials":{"postgres":{"id":"d53NEEOjDqHRzRm6","name":"Postgres account 2"}}}],"connections":{"Start":{"main":[[{"node":"Set Datos","type":"main","index":0}]]},"Set Datos":{"main":[[{"node":"Insertar en PostgreSQL","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b072251a-2a33-4f96-9c32-25956e378234","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-10-16T20:28:03.313Z","createdAt":"2025-10-16T20:28:03.313Z","role":"workflow:owner","workflowId":"QNhSJgEAfqzRmdHZ","projectId":"qKHJHnveidvROPB6"}],"activeVersion":null,"tags":[]}