error_handler_to_postgres-eU8Kr4AQh6ZBRgRI.json
{"updatedAt":"2025-10-16T21:47:32.259Z","createdAt":"2025-10-16T20:43:33.410Z","id":"eU8Kr4AQh6ZBRgRI","name":"error_handler_to_postgres","active":false,"isArchived":true,"nodes":[{"parameters":{},"id":"0134ed00-316d-4eb1-b3d9-adc806a3d6c6","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"values":{"string":[{"name":"mensaje","value":"={{$json.error?.message || $json.message || 'Error desconocido'}}"},{"name":"stacktrace","value":"={{$json.error?.stack || $json.stack || ''}}"},{"name":"nodo","value":"={{$json.node?.name || $json.lastNodeExecuted || 'desconocido'}}"},{"name":"request","value":"={{($json.request || $json.workflow || {}).toJsonString()}}"},{"name":"response","value":"={{($json.response || $json.execution || {}).toJsonString()}}"}]},"options":{}},"id":"21c94aa4-6c85-4200-bfc7-0206fec0dd91","name":"Preparar payload","type":"n8n-nodes-base.set","typeVersion":2,"position":[272,0]},{"parameters":{"workflowId":"ErrorHandlePostgre","options":{}},"id":"dbb909e1-7fb1-4cf2-a307-50e3f1511c8b","name":"Registrar Error en BD","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[560,0]}],"connections":{"Error Trigger":{"main":[[{"node":"Preparar payload","type":"main","index":0}]]},"Preparar payload":{"main":[[{"node":"Registrar Error en BD","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"540ef2e2-7b55-4922-a1a5-65f685458ab7","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-10-16T20:43:33.410Z","createdAt":"2025-10-16T20:43:33.410Z","role":"workflow:owner","workflowId":"eU8Kr4AQh6ZBRgRI","projectId":"qKHJHnveidvROPB6"}],"activeVersion":null,"tags":[]}