flujotestgian-S8ayTQBkXJwNyT0Z.json
{"updatedAt":"2026-02-25T14:49:59.519Z","createdAt":"2026-02-25T14:36:32.923Z","id":"S8ayTQBkXJwNyT0Z","name":"flujoTestGian","active":false,"isArchived":false,"nodes":[{"parameters":{"respondWith":"json","responseBody":"={\n  \"myField\":\"{{ $json.TipoTran }}\"\n} ","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[352,-272],"id":"aba37ec8-7fed-4571-a850-5fb534b3c174","name":"Respond to Webhook"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ebd2c62e-5ae1-4894-a859-073f1c6a9249","leftValue":"={{ $json.body.TransmissionType }}","rightValue":"RC","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-144,-240],"id":"ff97c0df-259d-414d-a86e-d87ee9884fec","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"4eecbd51-17ae-4d84-8143-71e32142a202","name":"TipoTran","value":"={{ $json.body.TransmissionType }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,-400],"id":"32ec4d4d-7895-4c2f-b741-8ddc938fcb4e","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"4eecbd51-17ae-4d84-8143-71e32142a202","name":"TipoTran","value":"=tttttt","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,-112],"id":"0ccc1c08-d573-475b-a467-6820a9b944a6","name":"Edit Fields1"},{"parameters":{"httpMethod":"POST","path":"test-envio","authentication":"basicAuth","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-368,-240],"id":"6980e0f0-bc86-4a43-9844-ea9fe57a406a","name":"leer","webhookId":"95d5342e-2192-4db2-b6b1-bac0352a2aa4","credentials":{"httpBasicAuth":{"id":"8f1G57mggiXMbQjs","name":"giancarlotest"}}},{"parameters":{"height":320,"width":400},"type":"n8n-nodes-base.stickyNote","position":[-608,-336],"typeVersion":1,"id":"f361aedc-7b93-4b66-a13b-3e26677cd94b","name":"Sticky Note"},{"parameters":{"height":320,"width":400},"type":"n8n-nodes-base.stickyNote","position":[-192,-320],"typeVersion":1,"id":"db90ee7c-c57d-447c-8f80-f9d72061afb4","name":"Sticky Note1"}],"connections":{"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"leer":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c04fb431-bd7b-41dd-8ee0-1f741f385ad7","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-25T14:36:32.923Z","createdAt":"2026-02-25T14:36:32.923Z","role":"workflow:owner","workflowId":"S8ayTQBkXJwNyT0Z","projectId":"qKHJHnveidvROPB6"}],"activeVersion":null,"tags":[]}