form--2-campos----validar-descripcion---responder-hzoEqx9GqjDzd71A.json
{"updatedAt":"2025-11-12T12:47:29.871Z","createdAt":"2025-11-12T12:45:49.986Z","id":"hzoEqx9GqjDzd71A","name":"Form (2 campos) → validar descripcion → responder","active":false,"isArchived":true,"nodes":[{"parameters":{"path":"bf6c53dd-ab71-434c-92cb-7393b2f624de","formTitle":"Validar descripción","formDescription":"Ingrese ID y descripción","options":{}},"id":"9be32c60-878f-4e8a-af73-bb26907881ef","name":"Form Trigger (inicio)","type":"n8n-nodes-base.formTrigger","typeVersion":1,"position":[-1008,32],"webhookId":"bf6c53dd-ab71-434c-92cb-7393b2f624de"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json[\"descripcion\"] }}","operation":"equal","value2":"nuevo"}]},"options":{}},"id":"3fbb3751-5ec2-4a95-8aa4-5f1a767f9cfa","name":"IF descripcion == 'nuevo'","type":"n8n-nodes-base.if","typeVersion":2,"position":[-784,32]},{"parameters":{"options":{}},"id":"b2f28c77-7a2d-42a3-ab8c-eb5e1c1c145d","name":"Form Ending → OK","type":"n8n-nodes-base.form","typeVersion":1,"position":[-560,-64],"webhookId":"cdc2081f-1a2b-4193-8f7f-33c7f65f2351"},{"parameters":{"options":{}},"id":"1336e15e-3884-41e3-ab4b-bbfd1bb0be7b","name":"Form Ending → DUPLICADO","type":"n8n-nodes-base.form","typeVersion":1,"position":[-560,128],"webhookId":"6fc18aa2-9055-4ca0-ae8c-3a311b1d0633"}],"connections":{"Form Trigger (inicio)":{"main":[[{"node":"IF descripcion == 'nuevo'","type":"main","index":0}]]},"IF descripcion == 'nuevo'":{"main":[[{"node":"Form Ending → OK","type":"main","index":0}],[{"node":"Form Ending → DUPLICADO","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"526e2310-4a06-4441-be10-adbd20325701","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-11-12T12:45:49.986Z","createdAt":"2025-11-12T12:45:49.986Z","role":"workflow:owner","workflowId":"hzoEqx9GqjDzd71A","projectId":"qKHJHnveidvROPB6"}],"activeVersion":null,"tags":[]}