generaqueryfromexceltarifas-0cuMflkk8DC4ictG.json
{"updatedAt":"2026-02-16T17:18:32.031Z","createdAt":"2026-02-16T17:18:00.051Z","id":"0cuMflkk8DC4ictG","name":"GeneraQueryFromExcelTarifas","active":false,"isArchived":true,"nodes":[{"parameters":{"operation":"xlsx","binaryPropertyName":"Archivo","options":{"headerRow":true,"includeEmptyCells":true}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1408,1936],"id":"193cb1b6-3ca3-49f7-88d1-fb52c40a55e1","name":"Extract from File"},{"parameters":{"formTitle":"Carga Archivo","formDescription":"Carga Archivo","formFields":{"values":[{"fieldName":"Archivo","fieldLabel":"Archivo","fieldType":"file","multipleFiles":false,"acceptFileTypes":".xlsx, xls","requiredField":true}]},"responseMode":"lastNode","options":{"appendAttribution":false},"path":"ccb946d8-d681-4252-b590-c888769508a1"},"type":"n8n-nodes-base.formTrigger","typeVersion":2.4,"position":[1072,1936],"id":"e870512f-ff38-4c15-86e2-ef6185d5b19e","name":"CargarArchivo","webhookId":"ccb946d8-d681-4252-b590-c888769508a1"},{"parameters":{"promptType":"define","text":"={{ JSON.stringify($json) }}","options":{"systemMessage":"=Eres un experto generando queries para Oracle. El usuario te entregará un JSON con los datos de UNA SOLA FILA del Excel.\n\nCon esa fila, genera UN (1) MERGE para la tabla AFOR.INSPAPROBACIONAUTOMATICA.\n- Los campos distintos, por los que debes hacer merge son: LINEACODIGO, TIPOCONTENEDOR, TAMANIOCONTENEDOR, TECNOLOGIA, TOPOLOGYID y TIPOLIMPIEZAACEPTADO. Valida siempre que el campo TECNOLOGIA puede ser null.\n- Devuelve SOLO SQL en formato plano sin saltos de linea ni caracteres especiales.\n- No pidas más información.\n- Si un campo viene vacío, usa NULL.\n- para el campo FECHACREACION usa el sysdate si es INSERT si es UPDATE NO lo actualices en su lugar usa el campo FECHAACTUALIZACION con el valor SYSDATE\n- para el campo CREADOR usa el \"n8n_user\" si es INSERT si es UPDATE NO lo actualices en su lugar usa el campo ACTUALIZADOR con el valor \"n8n_user\"\n- para el sequence del ID usa el sequence AFOR.INSPAPROBACIONAUTOMATICA_SEQ\n\nEstructura de la tabla:\n  CREATE TABLE \"AFOR\".\"INSPAPROBACIONAUTOMATICA\" (\n  \"ID\" NUMBER(19,0) NOT NULL ENABLE,\n  \"LINEAGKEY\" NUMBER(19,0),\n  \"LINEACODIGO\" VARCHAR2(5 BYTE),\n  \"TIPOCONTENEDOR\" VARCHAR2(15 BYTE),\n  \"TAMANIOCONTENEDOR\" VARCHAR2(15 BYTE),\n  \"TECNOLOGIA\" VARCHAR2(15 BYTE) DEFAULT NULL,\n  \"DIASVALIDEZPTI\" NUMBER(5,0),\n  \"PTIACEPTADO\" CHAR(2 BYTE),\n  \"PRESUPUESTOACEPTADO\" CHAR(2 BYTE),\n  \"LEAKTESTACEPTADO\" CHAR(2 BYTE),\n  \"LIMITEPRESUPUESTOCAJA\" NUMBER(16,4),\n  \"LIMITEPRESUPUESTOMAQUINA\" NUMBER(16,4),\n  \"LIMITEPRESUPUESTOTOTAL\" NUMBER(16,4),\n  \"LIMITEPRESUPUESTOLIMPIEZA\" NUMBER(16,4),\n  \"TOPOLOGYID\" NUMBER(19,0),\n  \"TIPOLIMPIEZAACEPTADO\" VARCHAR2(15 BYTE),\n  \"IDESTADO\" NUMBER(5,0),\n  \"CREADOR\" VARCHAR2(50 BYTE) DEFAULT NULL,\n  \"FECHACREACION\" TIMESTAMP(6),\n  \"ACTUALIZADOR\" VARCHAR2(50 BYTE) DEFAULT NULL,\n  \"FECHAACTUALIZACION\" TIMESTAMP(6)\n  );"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[1696,1936],"id":"4d5138aa-486f-4298-a836-0c59c1e134ce","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1696,2176],"id":"fe7ec5c1-186c-4ae2-8580-bdd31a65ea69","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"lNzaDvTxnmr5Mm19","name":"OpenAiChatBot"}}},{"parameters":{"content":"## Carga Archivo Excel\n#### Formato Aprobaciones Automáticas","height":288,"width":320},"type":"n8n-nodes-base.stickyNote","position":[960,1808],"typeVersion":1,"id":"94edc57e-99d4-4e1f-be07-0c8473f177af","name":"Sticky Note"},{"parameters":{"content":"## Extrae Datos del Archivo\n#### Formato Aprobaciones Automáticas","height":288,"width":320,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1296,1808],"typeVersion":1,"id":"277d4584-22fd-4d57-abc1-aa28f27a968e","name":"Sticky Note1"},{"parameters":{"content":"## Agente IA\n#### Lee Formato Aprobaciones Automáticas y lo convierte a SQL (Merge)","height":288,"width":480,"color":4},"type":"n8n-nodes-base.stickyNote","position":[1632,1808],"typeVersion":1,"id":"b3fc4a82-792e-4248-bb10-ab7b54434faf","name":"Sticky Note2"},{"parameters":{"content":"# Aprobación Automatica M&R","height":656,"width":1280,"color":6},"type":"n8n-nodes-base.stickyNote","position":[896,1648],"typeVersion":1,"id":"e611c269-a6a5-4d51-a2e2-875989abb66f","name":"Sticky Note3"}],"connections":{"CargarArchivo":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6e9a956c-91b2-4017-a498-5927cb59bc00","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-16T17:18:00.051Z","createdAt":"2026-02-16T17:18:00.051Z","role":"workflow:owner","workflowId":"0cuMflkk8DC4ictG","projectId":"qKHJHnveidvROPB6"}],"activeVersion":null,"tags":[{"updatedAt":"2026-02-09T12:36:18.570Z","createdAt":"2026-02-09T12:36:18.570Z","id":"zfkG0He1jWaRWJ19","name":"M&R"}]}