generaqueryfromexcelaprobacionautomaticacodigo--737FrvahPAw0dweqK7zy.json
{"updatedAt":"2026-02-11T15:00:56.421Z","createdAt":"2026-02-10T15:40:52.442Z","id":"-737FrvahPAw0dweqK7zy","name":"GeneraQueryFromExcelAprobacionAutomaticaCodigo","active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Carga Archivo","formDescription":"Carga Archivo","formFields":{"values":[{"fieldName":"Archivo","fieldLabel":"Archivo","fieldType":"file","multipleFiles":false,"acceptFileTypes":".xlsx, xls","requiredField":true}]},"responseMode":"lastNode","options":{"appendAttribution":false}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.4,"position":[-176,-144],"id":"75bfd0e4-0122-4a77-a87e-6d16df2bc449","name":"CargarArchivo","webhookId":"f9712d9f-a9ee-4e4f-a143-fb51feec35fc"},{"parameters":{"operation":"xlsx","binaryPropertyName":"Archivo","options":{"headerRow":true,"includeEmptyCells":true}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[48,-144],"id":"24419e59-16ba-449b-831e-dfa542e311a7","name":"Extract from File"},{"parameters":{"content":"# Aprobación Automatica M&R","height":768,"width":1296,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-432,-464],"id":"b86bfa10-2ed7-4620-a3a8-5141c735c1ec","name":"Sticky Note"},{"parameters":{"operation":"completion","respondWith":"returnBinary","completionTitle":"repuesta","completionMessage":"respuesta","options":{}},"type":"n8n-nodes-base.form","typeVersion":1,"position":[528,-144],"id":"4bc20f61-7f98-4d41-8444-cc09f88cbae0","name":"DescargaArchivo","webhookId":"b5ebe23d-bfc9-46f8-b40b-93fa537c7d5f"},{"parameters":{"jsCode":"function isEmpty(v) {\n  return v === undefined || v === null || (typeof v === 'string' && v.trim() === '');\n}\n\nfunction sqlString(v) {\n  if (isEmpty(v)) return 'NULL';\n  const s = String(v).replace(/'/g, \"''\");\n  return `'${s}'`;\n}\n\nfunction sqlNumber(v) {\n  if (isEmpty(v)) return 'NULL';\n  const s = String(v).trim().replace(',', '.');\n  const n = Number(s);\n  if (Number.isNaN(n)) return 'NULL';\n  return s;\n}\n\nfunction sqlChar2(v) {\n  if (isEmpty(v)) return 'NULL';\n  const s = String(v).trim();\n  if (!s) return 'NULL';\n  return sqlString(s.slice(0, 2));\n}\n\nconst merges = [];\nconst items = $input.all();\n\nfor (const it of items) {\n  const r = it.json;\n\n  const LINEAGKEY = sqlNumber(r.LINEAGKEY);\n  const LINEACODIGO = sqlString(r.LINEACODIGO);\n  const TIPOCONTENEDOR = sqlString(r.TIPOCONTENEDOR);\n  const TAMANIOCONTENEDOR = sqlString(r.TAMANIOCONTENEDOR);\n  const TECNOLOGIA = sqlString(r.TECNOLOGIA); // puede ser NULL\n  const DIASVALIDEZPTI = sqlNumber(r.DIASVALIDEZPTI);\n\n  const PTIACEPTADO = sqlChar2(r.PTIACEPTADO);\n  const PRESUPUESTOACEPTADO = sqlChar2(r.PRESUPUESTOACEPTADO);\n  const LEAKTESTACEPTADO = sqlChar2(r.LEAKTESTACEPTADO);\n\n  const LIMITEPRESUPUESTOCAJA = sqlNumber(r.LIMITEPRESUPUESTOCAJA);\n  const LIMITEPRESUPUESTOMAQUINA = sqlNumber(r.LIMITEPRESUPUESTOMAQUINA);\n  const LIMITEPRESUPUESTOTOTAL = sqlNumber(r.LIMITEPRESUPUESTOTOTAL);\n  const LIMITEPRESUPUESTOLIMPIEZA = sqlNumber(r.LIMITEPRESUPUESTOLIMPIEZA);\n\n  const TOPOLOGYID = sqlNumber(r.TOPOLOGYID);\n  const TIPOLIMPIEZAACEPTADO = sqlString(r.TIPOLIMPIEZAACEPTADO);\n  const IDESTADO = sqlNumber(r.IDESTADO);\n\n  const merge = `MERGE INTO AFOR.INSPAPROBACIONAUTOMATICA t USING (SELECT ${LINEAGKEY} AS LINEAGKEY, ${LINEACODIGO} AS LINEACODIGO, ${TIPOCONTENEDOR} AS TIPOCONTENEDOR, ${TAMANIOCONTENEDOR} AS TAMANIOCONTENEDOR, ${TECNOLOGIA} AS TECNOLOGIA, ${DIASVALIDEZPTI} AS DIASVALIDEZPTI, ${PTIACEPTADO} AS PTIACEPTADO, ${PRESUPUESTOACEPTADO} AS PRESUPUESTOACEPTADO, ${LEAKTESTACEPTADO} AS LEAKTESTACEPTADO, ${LIMITEPRESUPUESTOCAJA} AS LIMITEPRESUPUESTOCAJA, ${LIMITEPRESUPUESTOMAQUINA} AS LIMITEPRESUPUESTOMAQUINA, ${LIMITEPRESUPUESTOTOTAL} AS LIMITEPRESUPUESTOTOTAL, ${LIMITEPRESUPUESTOLIMPIEZA} AS LIMITEPRESUPUESTOLIMPIEZA, ${TOPOLOGYID} AS TOPOLOGYID, ${TIPOLIMPIEZAACEPTADO} AS TIPOLIMPIEZAACEPTADO, ${IDESTADO} AS IDESTADO FROM dual) s ON (t.LINEACODIGO = s.LINEACODIGO AND t.TIPOCONTENEDOR = s.TIPOCONTENEDOR AND t.TAMANIOCONTENEDOR = s.TAMANIOCONTENEDOR AND (t.TECNOLOGIA = s.TECNOLOGIA OR (t.TECNOLOGIA IS NULL AND s.TECNOLOGIA IS NULL)) AND t.TOPOLOGYID = s.TOPOLOGYID AND t.TIPOLIMPIEZAACEPTADO = s.TIPOLIMPIEZAACEPTADO) WHEN MATCHED THEN UPDATE SET t.PTIACEPTADO = s.PTIACEPTADO, t.LEAKTESTACEPTADO = s.LEAKTESTACEPTADO, t.ACTUALIZADOR = 'n8n_user', t.FECHAACTUALIZACION = SYSDATE WHEN NOT MATCHED THEN INSERT (ID, LINEAGKEY, LINEACODIGO, TIPOCONTENEDOR, TAMANIOCONTENEDOR, TECNOLOGIA, DIASVALIDEZPTI, PTIACEPTADO, PRESUPUESTOACEPTADO, LEAKTESTACEPTADO, LIMITEPRESUPUESTOCAJA, LIMITEPRESUPUESTOMAQUINA, LIMITEPRESUPUESTOTOTAL, LIMITEPRESUPUESTOLIMPIEZA, TOPOLOGYID, TIPOLIMPIEZAACEPTADO, IDESTADO, CREADOR, FECHACREACION) VALUES (AFOR.INSPAPROBACIONAUTOMATICA_SEQ.NEXTVAL, s.LINEAGKEY, s.LINEACODIGO, s.TIPOCONTENEDOR, s.TAMANIOCONTENEDOR, s.TECNOLOGIA, s.DIASVALIDEZPTI, s.PTIACEPTADO, s.PRESUPUESTOACEPTADO, s.LEAKTESTACEPTADO, s.LIMITEPRESUPUESTOCAJA, s.LIMITEPRESUPUESTOMAQUINA, s.LIMITEPRESUPUESTOTOTAL, s.LIMITEPRESUPUESTOLIMPIEZA, s.TOPOLOGYID, s.TIPOLIMPIEZAACEPTADO, s.IDESTADO, 'n8n_user', SYSDATE)`;\n\n  merges.push(merge);\n}\n\n// Saltos reales entre sentencias\nconst sqlAll = merges.join(';\\n\\n') + ';\\n';\nconst fileName = `aprobacion_automatica_${new Date().toISOString().replace(/[:.]/g, '-')}.sql`;\n\nreturn [{\n  json: {\n    rowCount: items.length,\n    fileName\n  },\n  binary: {\n    data: await this.helpers.prepareBinaryData(\n      Buffer.from(sqlAll, 'utf8'),\n      fileName,\n      'application/sql'\n    )\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[272,-144],"id":"57b06bac-215c-445e-a4f0-dd7fbe32f57a","name":"GeneraMerge"}],"connections":{"CargarArchivo":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"GeneraMerge","type":"main","index":0}]]},"GeneraMerge":{"main":[[{"node":"DescargaArchivo","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c2baec77-93b9-4aaf-a02b-2e83d2f50d8c","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-10T15:40:52.442Z","createdAt":"2026-02-10T15:40:52.442Z","role":"workflow:owner","workflowId":"-737FrvahPAw0dweqK7zy","projectId":"qKHJHnveidvROPB6"}],"activeVersion":null,"tags":[{"updatedAt":"2026-02-09T12:36:18.570Z","createdAt":"2026-02-09T12:36:18.570Z","id":"zfkG0He1jWaRWJ19","name":"M&R"}]}