generaqueryfromexceltarifascodigo-1uvQNxX81v2ZSNYq.json
{"updatedAt":"2026-02-18T21:43:26.946Z","createdAt":"2026-02-16T17:19:03.059Z","id":"1uvQNxX81v2ZSNYq","name":"GeneraQueryFromExcelTarifasCodigo","active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Carga Archivo","formDescription":"Carga Archivo","formFields":{"values":[{"fieldName":"Archivo","fieldLabel":"Archivo","fieldType":"file","multipleFiles":false,"acceptFileTypes":".xlsx, xls","requiredField":true}]},"responseMode":"lastNode","options":{"appendAttribution":false}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.4,"position":[-176,-144],"id":"35c8bec1-7fb5-4160-a28d-218af590c1c1","name":"CargarArchivo","webhookId":"8adcfdfd-b996-43ea-9e57-07d841746176"},{"parameters":{"operation":"xlsx","binaryPropertyName":"Archivo","options":{"headerRow":true,"includeEmptyCells":true}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[48,-144],"id":"38005110-f2d5-4a0a-a412-dfea5e106b98","name":"Extract from File"},{"parameters":{"content":"# Generacion Tarifas M&R","height":768,"width":1296,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-432,-464],"id":"de9428f5-d1cf-447f-b051-18e1ffa2e579","name":"Sticky Note"},{"parameters":{"operation":"completion","respondWith":"returnBinary","completionTitle":"repuesta","completionMessage":"respuesta","options":{}},"type":"n8n-nodes-base.form","typeVersion":1,"position":[480,-144],"id":"49ce8711-8eb2-4cec-b4fc-d26ba6c08cf7","name":"DescargaArchivo","webhookId":"700df64c-ae36-4a20-bd7f-13dde097a088"},{"parameters":{"jsCode":"function isEmpty(v) {\n  return v === undefined || v === null || (typeof v === 'string' && v.trim() === '');\n}\n\nfunction sqlString(v) {\n  if (isEmpty(v)) return 'NULL';\n  const s = String(v).replace(/'/g, \"''\");\n  return `'${s}'`;\n}\n\nfunction sqlNumber(v) {\n  if (isEmpty(v)) return 'NULL';\n  const s = String(v).trim().replace(',', '.');\n  const n = Number(s);\n  if (Number.isNaN(n)) return 'NULL';\n  return s;\n}\n\nfunction sqlChar2(v) {\n  if (isEmpty(v)) return 'NULL';\n  const s = String(v).trim();\n  if (!s) return 'NULL';\n  return sqlString(s.slice(0, 2));\n}\n\nconst merges = [];\nconst items = $input.all();\n\nfor (const it of items) {\n  const r = it.json;\n\n/******************** NUEVO ******************************/\nconst REPMATGKEY_NO_TOCAR = sqlNumber(r.REPMATGKEY_NO_TOCAR);\nconst TIPO_CONTENEDOR = sqlString(r.TIPO_CONTENEDOR);\nconst CODIGO_TARIFA = sqlString(r.CODIGO_TARIFA);\nconst DESCRIPCION = sqlString(r.DESCRIPCION);\nconst LINEA_NAVIERA = sqlString(r.LINEA_NAVIERA);\nconst SUCURSAL = sqlString(r.SUCURSAL);\nconst COMPONENTE = sqlString(r.COMPONENTE);\nconst METODO_REPARACION = sqlString(r.METODO_REPARACION);\nconst CRITERIO_CALCULO = sqlString(r.CRITERIO_CALCULO);\nconst TIPO_TARIFA = sqlString(r.TIPO_TARIFA);\nconst RANGO_INICIAL = sqlNumber(r.RANGO_INICIAL);\nconst RANGO_FINAL = sqlNumber(r.RANGO_FINAL);\nconst MAXIMO = sqlNumber(r.MAXIMO);\nconst FACOR_HH = sqlNumber(r.FACOR_HH);\nconst PRECIO_MATERIAL = sqlNumber(r.PRECIO_MATERIAL);\nconst TIPO_TARIFA_1 = sqlString(r.TIPO_TARIFA_1);\nconst HORA_HOMBRE = sqlNumber(r.HORA_HOMBRE);\nconst TAMANO_CONTENEDOR = sqlString(r.TAMANO_CONTENEDOR);\nconst FABRICANTE = sqlString(r.FABRICANTE);\nconst TECNOLOGIA_ATM = sqlString(r.TECNOLOGIA_ATM);\nconst TIPO_INGRESO = sqlString(r.TIPO_INGRESO);\nconst CLASE_CONTENEDOR = sqlString(r.CLASE_CONTENEDOR);\nconst ZONA = sqlString(r.ZONA);\nconst UNIDAD_MEDIDA = sqlString(r.UNIDAD_MEDIDA);\nconst COSTO_SENSOR = sqlNumber(r.COSTO_SENSOR);\nconst COSTO_CONTENEDOR = sqlNumber(r.COSTO_CONTENEDOR);\nconst CREATOR = sqlString(r.CREATOR);\nconst CHANGER = sqlString(r.CHANGER);\n\n/*********************************************************/\n  const LINEAGKEY = sqlNumber(r.LINEAGKEY);\n  const LINEACODIGO = sqlString(r.LINEACODIGO);\n  const TIPOCONTENEDOR = sqlString(r.TIPOCONTENEDOR);\n  const TAMANIOCONTENEDOR = sqlString(r.TAMANIOCONTENEDOR);\n  const TECNOLOGIA = sqlString(r.TECNOLOGIA); // puede ser NULL\n  const DIASVALIDEZPTI = sqlNumber(r.DIASVALIDEZPTI);\n\n  const PTIACEPTADO = sqlChar2(r.PTIACEPTADO);\n  const PRESUPUESTOACEPTADO = sqlChar2(r.PRESUPUESTOACEPTADO);\n  const LEAKTESTACEPTADO = sqlChar2(r.LEAKTESTACEPTADO);\n\n  const LIMITEPRESUPUESTOCAJA = sqlNumber(r.LIMITEPRESUPUESTOCAJA);\n  const LIMITEPRESUPUESTOMAQUINA = sqlNumber(r.LIMITEPRESUPUESTOMAQUINA);\n  const LIMITEPRESUPUESTOTOTAL = sqlNumber(r.LIMITEPRESUPUESTOTOTAL);\n  const LIMITEPRESUPUESTOLIMPIEZA = sqlNumber(r.LIMITEPRESUPUESTOLIMPIEZA);\n\n  const TOPOLOGYID = sqlNumber(r.TOPOLOGYID);\n  const TIPOLIMPIEZAACEPTADO = sqlString(r.TIPOLIMPIEZAACEPTADO);\n  const IDESTADO = sqlNumber(r.IDESTADO);\n\n  const merge = `\n  MERGE INTO USRTOSBIP.CUSTOM_REPAIR_MATERIAL TAB USING (SELECT ${CODIGO_TARIFA} AS CODIGO,${DESCRIPCION} AS DESCRIP,(SELECT GKEY FROM USRTOSBIP.CUSTOM_MANUFACTURER FAB WHERE FAB.CUSTOMMAN_NOMBRE = ${FABRICANTE}) AS FABGKEY,(SELECT FAC.GKEY FROM USRTOSBIP.ARGO_FACILITY FAC INNER JOIN USRTOSBIP.ARGO_COMPLEX CPX ON CPX.GKEY = FAC.CPX_GKEY WHERE FAC.ID = ${SUCURSAL} AND CPX.ID = 'NEP' AND ROWNUM=1) AS FCYGKEY,(SELECT GKEY FROM USRTOSBIP.CUSTOM_REPAIR_ELEMENT ELE WHERE ELE.CUSTOMREPELM_ID = '') AS LOCGKEY,(SELECT GKEY FROM USRTOSBIP.CUSTOM_REPAIR_PART PART WHERE PART.CUSTOMREPPRT_ID = ${COMPONENTE}) AS PARTGKEY,(SELECT GKEY FROM USRTOSBIP.CUSTOM_REPAIR_CODE CODREP WHERE CODREP.CUSTOMREPCOD_ID = ${METODO_REPARACION}) AS CODREPGKEY,(SELECT CUS.GKEY FROM USRTOSBIP.BIL_CUSTOMER CUS INNER JOIN USRTOSBIP.ARGO_FACILITY FCY ON FCY.CPX_GKEY=CUS.COMPLEX_GKEY INNER JOIN USRTOSBIP.ARGO_COMPLEX CPX ON CPX.GKEY = FCY.CPX_GKEY  WHERE CUS.ROLE = 'LINEOP' AND CUS.ID = ${LINEA_NAVIERA} AND FCY.ID=${SUCURSAL} AND CPX.ID = 'NEP' AND ROWNUM=1) AS LINEGKEY,SUBSTR(${CRITERIO_CALCULO}, 1, 1) AS CRITERIOCALCULO,UPPER(${TIPO_TARIFA}) AS TIPOTARIFA,${RANGO_INICIAL} AS RANGOINICIAL,${RANGO_FINAL} AS RANGOFINAL,${MAXIMO} AS MAXIMO,${HORA_HOMBRE} AS TIEMPOBASE,${PRECIO_MATERIAL} AS TARIFABASE,${FACOR_HH} AS HHFACTOR  FROM DUAL ) XLS ON (CUSTOMREPMAT_BUDGET_TYPE=${TIPO_TARIFA_1} AND TAB.CUSTOMREPMAT_ID = XLS.CODIGO AND TAB.CUSTOMREPMAT_MAXIMUM= XLS.MAXIMO AND NVL(CUSTOMREPMAT_CUSTOMER,-1) = NVL(XLS.LINEGKEY,-1) AND TAB.CUSTOMREPMAT_FACILITY = XLS.FCYGKEY AND TAB.CUSTOMREPMAT_REPAIR_PART=XLS.PARTGKEY AND TAB.CUSTOMREPMAT_REPAIR_CODE = XLS.CODREPGKEY) WHEN MATCHED THEN UPDATE SET TAB.CUSTOMREPMAT_DESCRIPTION=XLS.DESCRIP, CUSTOMREPMAT_TIME= XLS.TIEMPOBASE, CUSTOMREPMAT_MATERIAL_COST=XLS.TARIFABASE,CUSTOMREPMAT_HH_FACTOR=XLS.HHFACTOR, CUSTOMREPMAT_CALCULATION_CRITE= XLS.CRITERIOCALCULO, CUSTOMREPMAT_TARIFF_TYPE=XLS.TIPOTARIFA,CUSTOMREPMAT_RANGE_INITIAL= XLS.RANGOINICIAL, CUSTOMREPMAT_RANGE_FINAL=XLS.RANGOFINAL,CUSTOMREPMAT_MANUFACTURER=XLS.FABGKEY, CUSTOMREPMAT_REPAIR_ELEMENT=XLS.LOCGKEY,TAB.CUSTOMREPMAT_CHANGER =${CHANGER},TAB.CUSTOMREPMAT_CHANGED=SYSDATE WHEN NOT MATCHED THEN INSERT (GKEY, CUSTOMREPMAT_ID, CUSTOMREPMAT_DESCRIPTION, CUSTOMREPMAT_TIME, CUSTOMREPMAT_MATERIAL_COST, CUSTOMREPMAT_CALCULATION_CRITE, CUSTOMREPMAT_CUSTOMER, CUSTOMREPMAT_FACILITY, CUSTOMREPMAT_MAXIMUM, CUSTOMREPMAT_TARIFF_TYPE, CUSTOMREPMAT_RANGE_INITIAL,CUSTOMREPMAT_RANGE_FINAL, CUSTOMREPMAT_CREATOR, CUSTOMREPMAT_CREATED,CUSTOMREPMAT_MANUFACTURER,CUSTOMREPMAT_REPAIR_ELEMENT,CUSTOMREPMAT_REPAIR_PART,CUSTOMREPMAT_REPAIR_CODE, CUSTOMREPMAT_BUDGET_TYPE, CUSTOMREPMAT_HH_FACTOR) VALUES(USRTOSBIP.HIBERNATE_SEQUENCE.NEXTVAL, XLS.CODIGO, XLS.DESCRIP, XLS.TIEMPOBASE, XLS.TARIFABASE, XLS.CRITERIOCALCULO,XLS.LINEGKEY, XLS.FCYGKEY, XLS.MAXIMO, XLS.TIPOTARIFA, XLS.RANGOINICIAL, XLS.RANGOFINAL,${CREATOR},SYSDATE, XLS.FABGKEY, XLS.LOCGKEY,XLS.PARTGKEY,XLS.CODREPGKEY,${TIPO_TARIFA_1},XLS.HHFACTOR)`;\n\n  merges.push(merge);\n}\n\n// Saltos reales entre sentencias\nconst sqlAll = merges.join(';\\n\\n') + ';\\n';\nconst fileName = `tarifas_m_r_${new Date().toISOString().replace(/[:.]/g, '-')}.sql`;\n\nreturn [{\n  json: {\n    rowCount: items.length,\n    fileName\n  },\n  binary: {\n    data: await this.helpers.prepareBinaryData(\n      Buffer.from(sqlAll, 'utf8'),\n      fileName,\n      'application/sql'\n    )\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[272,-144],"id":"3051f0f1-2cad-483b-8d6e-61d57997ee14","name":"GeneraMerge"}],"connections":{"CargarArchivo":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"GeneraMerge","type":"main","index":0}]]},"GeneraMerge":{"main":[[{"node":"DescargaArchivo","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3619b155-01fe-4aab-86b3-a3ff0abf5a06","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-16T17:19:03.059Z","createdAt":"2026-02-16T17:19:03.059Z","role":"workflow:owner","workflowId":"1uvQNxX81v2ZSNYq","projectId":"qKHJHnveidvROPB6"}],"activeVersion":null,"tags":[{"updatedAt":"2026-02-09T12:36:18.570Z","createdAt":"2026-02-09T12:36:18.570Z","id":"zfkG0He1jWaRWJ19","name":"M&R"}]}