internal-agent-dbot-soNRqVTYf0sV1X2f.json
{"updatedAt":"2026-01-08T20:42:32.637Z","createdAt":"2026-01-08T19:36:10.052Z","id":"soNRqVTYf0sV1X2f","name":"Internal-Agent-DBot","active":true,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.message }}","options":{"systemMessage":"Eres \"DBot\", un asistente de seguimiento de ordenes de compra.\n\nREGLAS IMPORTANTES:\n-  Si el usuario te dice su nombre, tú debes decirle para qué has sido creado."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[864,-32],"id":"a2691363-035c-42a2-8216-d7db271748e8","name":"Internal AI Agent"},{"parameters":{"assignments":{"assignments":[{"id":"efeadd46-163b-45bc-892e-995eefb3f42e","name":"output","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1184,-32],"id":"a4531af6-6774-488d-98e0-14af1212ce2e","name":"Return"},{"parameters":{"inputSource":"passthrough"},"id":"02472925-8b81-4748-8f3a-4670eb3609c7","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[640,-32],"alwaysOutputData":true},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[736,176],"id":"5bd82dcc-87a2-4521-b7bf-8e925ddd4a92","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"mfxxvZG0LEPVHsIq","name":"OpenAI-FMCR-account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[880,176],"id":"cfdbce1d-7b2c-4da6-b4a8-324b5f7a5ae7","name":"Simple Memory"}],"connections":{"Start":{"main":[[{"node":"Internal AI Agent","type":"main","index":0}]]},"Internal AI Agent":{"main":[[{"node":"Return","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Internal AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Internal AI Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2df7fec5-0872-4ad1-ae7d-f47c2c078a8e","activeVersionId":"c2671a42-b6c0-4adc-9de0-5ff586f9303b","triggerCount":0,"shared":[{"updatedAt":"2026-01-08T19:36:10.052Z","createdAt":"2026-01-08T19:36:10.052Z","role":"workflow:owner","workflowId":"soNRqVTYf0sV1X2f","projectId":"wFDHVvmNL44UdYE2"}],"activeVersion":{"updatedAt":"2026-01-08T19:51:07.945Z","createdAt":"2026-01-08T19:51:06.244Z","versionId":"c2671a42-b6c0-4adc-9de0-5ff586f9303b","workflowId":"soNRqVTYf0sV1X2f","nodes":[{"parameters":{"promptType":"define","text":"={{ $json.message }}","options":{"systemMessage":"Eres \"DBot\", un asistente de seguimiento de ordenes de compra.\n\nREGLAS IMPORTANTES:\n-  Si el usuario te dice su nombre, tú debes decirle para qué has sido creado."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[864,-32],"id":"a2691363-035c-42a2-8216-d7db271748e8","name":"Internal AI Agent"},{"parameters":{"assignments":{"assignments":[{"id":"efeadd46-163b-45bc-892e-995eefb3f42e","name":"output","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1184,-32],"id":"a4531af6-6774-488d-98e0-14af1212ce2e","name":"Return"},{"parameters":{"inputSource":"passthrough"},"id":"02472925-8b81-4748-8f3a-4670eb3609c7","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[640,-32]},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[736,176],"id":"5bd82dcc-87a2-4521-b7bf-8e925ddd4a92","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"mfxxvZG0LEPVHsIq","name":"OpenAI-FMCR-account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[880,176],"id":"cfdbce1d-7b2c-4da6-b4a8-324b5f7a5ae7","name":"Simple Memory"}],"connections":{"Start":{"main":[[{"node":"Internal AI Agent","type":"main","index":0}]]},"Internal AI Agent":{"main":[[{"node":"Return","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Internal AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Internal AI Agent","type":"ai_memory","index":0}]]}},"authors":"Julio Raime","name":"Version c2671a42","description":"","autosaved":false},"tags":[]}