leer-ws-dtrails-HYXLJuH574emUfyq.json
{"createdAt":"2025-10-07T14:34:05.409Z","updatedAt":"2025-10-07T16:59:19.964Z","id":"HYXLJuH574emUfyq","name":"Leer WS DTraiLS","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"http://10.208.101.120:5432/api/DTraiLS/postDocumentsByFilters?prDocument=&prContenedor=&fechaCita=&estadoViaje=&producto=&prRucEmpresa=20516791722&prApplicationName=DTRAILS&prVersion=1.2.0&prUrlAPI=http://10.208.101.91:5555/","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\n    \"prDocument\":\"247028761\",\n    \"prContenedor\":\"MNBU0360443\",\n    \"fechaCita\":\"\",\n    \"estadoViaje\":\"\",\n    \"producto\":\"\",\n    \"prRucEmpresa\":\"20293718220\",\n    \"prApplicationName\":\"DTRAILS\",\n    \"prVersion\":\"1.2.1\",\n    \"prUrlAPI\":\"http://10.208.101.91:5555/\"\n}","options":{"allowUnauthorizedCerts":true}},"id":"3f16a5b6-de8a-4d6a-a7f8-db95bbde2f55","name":"Leer WS DTraiLS","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[-16,48],"credentials":{"httpBasicAuth":{"id":"6lPqNkWTf9eAP1NG","name":"AdminDtrailsDev"}}},{"parameters":{"assignments":{"assignments":[{"id":"82223b0a-2f9a-4e31-bee5-b1a1cd4e3aa4","name":"Parsed","value":"={{ JSON.parse($json[\"data\"]) }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,48],"id":"9f13190e-27f5-44ed-8ff5-286fc3db3a0b","name":"DataParser"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-240,48],"id":"95091d2f-0655-4563-b56f-188b420b3e15","name":"When clicking ‘Execute workflow’"}],"connections":{"Leer WS DTraiLS":{"main":[[{"node":"DataParser","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Leer WS DTraiLS","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3ac34da7-5ce6-4051-9e93-b5f1784f6c2d","triggerCount":0,"shared":[{"createdAt":"2025-10-07T14:34:05.409Z","updatedAt":"2025-10-07T14:34:05.409Z","role":"workflow:owner","workflowId":"HYXLJuH574emUfyq","projectId":"qKHJHnveidvROPB6"}],"tags":[]}