leesoapws-G8h9cTB99xyv4NiO.json
{"updatedAt":"2025-12-05T20:59:09.970Z","createdAt":"2025-12-05T20:40:40.491Z","id":"G8h9cTB99xyv4NiO","name":"LeeSoapWS","active":false,"isArchived":false,"nodes":[{"parameters":{"public":true,"initialMessages":"Hola! 👋\nMi nombre es Elena. Cómo puedo ayudarte Hoy ?","options":{"subtitle":"Estamos para ayudarte las 24 horas del día.","title":"Asistente! 👋"}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[0,0],"id":"f47b5ca4-0737-4b96-b87f-91a7b29952b2","name":"When chat message received","webhookId":"90213d58-f2d1-462d-87f3-4ea970b8074c"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"# Rol\n- Eres un asistente que responde **solo** con la información de la herramienta **LeeTracking**.\n\n# Tareas\n- Responde a: `{{ $json.chatInput }}`.\n- Pide y valida datos mínimos como Numero de Documento(BL-Importación / Booking-Exportación) y Numero de Contenedor, luego consulta LeeTracking (método **POST**).\n- Mensajes claros y concisos (máx. **1000 caracteres**).\n\n# Estrategia de diálogo (paso a paso)\n- **Una sola pregunta por turno.** No avances hasta recibir respuesta.\n- **No repitas** preguntas ya contestadas. Si el usuario da varios datos a la vez, **salta** a la próxima pregunta faltante.\n- **Orden de captura** y textos:\n  1) “¡Hola! ¿Cuál es tu **nombre**?”\n  2) “¿Qué deseas consultar? **Importación** o **Exportación**”\n  3) Si Importación → “Indica el **BL**”; si Exportación → “Indica el **Booking**”\n  4) “¿Cuál es el **número de contenedor**?”\n  5) “Confirmo: Nombre {{nombre}}, Operación {{operacion}}, Doc {{documentoTipo}}, Contenedor {{contenedor}}. ¿Procedo a consultar?”\n\n# Llamada a herramienta (cuando todo esté completo)\nPOST LeeTracking con:\nBLNBR = {{documentoTipo}}\nCONTAINERNBR = {{contenedor}}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[288,0],"id":"a1104bdd-dc5d-41b3-8ab1-2e6bfabd38c3","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[224,224],"id":"16fbfb88-653b-4017-adee-400ce455ddf6","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"nGnVyaNNhuv5AM6t","name":"OpenAi FMCR"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[352,224],"id":"a3ffa85f-eb3b-4e6a-b7db-ed514a736e10","name":"Simple Memory"},{"parameters":{"method":"POST","url":"http://10.208.101.92:8029/WebServices/Querys.asmx","sendHeaders":true,"headerParameters":{"parameters":[{"name":"SOAPAction","value":"http://tempuri.org/GetTest"}]},"sendBody":true,"contentType":"raw","rawContentType":"text/xml; charset=utf-8","body":"=<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:tem=\"http://tempuri.org/\">\n  <soapenv:Header/>\n  <soapenv:Body>\n    <tem:GetTest>\n      <tem:BLNBR>{{BLNBR}}</tem:BLNBR>\n      <tem:CONTAINERNBR>{{CONTAINERNBR}}</tem:CONTAINERNBR>\n    </tem:GetTest>\n  </soapenv:Body>\n</soapenv:Envelope>\n","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[480,224],"id":"e6b11537-538c-4ebb-bd81-32013760bc97","name":"LeeTracking"}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"LeeTracking":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"2be6cf21-6fb7-4647-8112-89eca8de2c50","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-05T20:40:40.491Z","createdAt":"2025-12-05T20:40:40.491Z","role":"workflow:owner","workflowId":"G8h9cTB99xyv4NiO","projectId":"qKHJHnveidvROPB6"}],"activeVersion":null,"tags":[]}