managedatatablecosetting-WUCdHzTXleHd1Soh.json
{"updatedAt":"2025-12-02T15:42:32.001Z","createdAt":"2025-12-02T13:47:14.955Z","id":"WUCdHzTXleHd1Soh","name":"ManageDataTableCosetting","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"CoBA0TFN5e4nlVaD","mode":"list","cachedResultName":"Cosettings","cachedResultUrl":"/projects/qKHJHnveidvROPB6/datatables/CoBA0TFN5e4nlVaD"},"filters":{"conditions":[{"keyName":"key","keyValue":"={{ $json.Key.toUpperCase() }}"}]}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[-448,112],"id":"d71a5ca4-0e18-4458-9cf2-0c211b240341","name":"Search KEY","alwaysOutputData":true},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"CoBA0TFN5e4nlVaD","mode":"list","cachedResultName":"Cosettings","cachedResultUrl":"/projects/qKHJHnveidvROPB6/datatables/CoBA0TFN5e4nlVaD"},"filters":{"conditions":[{"keyValue":"={{ $json.id }}"}]},"columns":{"mappingMode":"defineBelow","value":{"description":"={{ $('Get Cosetting Values').item.json.Description.toUpperCase() }}","value":"={{ $('Get Cosetting Values').item.json.Value.toUpperCase() }}"},"matchingColumns":[],"schema":[{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"key","displayName":"key","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"value","displayName":"value","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[0,16],"id":"705e0458-d093-4536-a707-5b340e029d2b","name":"Update Cosetting"},{"parameters":{"dataTableId":{"__rl":true,"value":"CoBA0TFN5e4nlVaD","mode":"list","cachedResultName":"Cosettings","cachedResultUrl":"/projects/qKHJHnveidvROPB6/datatables/CoBA0TFN5e4nlVaD"},"columns":{"mappingMode":"defineBelow","value":{"description":"={{ $('Get Cosetting Values').item.json.Description.toUpperCase() }}","key":"={{ $('Get Cosetting Values').item.json.Key.toUpperCase() }}","value":"={{ $('Get Cosetting Values').item.json.Value.toUpperCase() }}"},"matchingColumns":[],"schema":[{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"key","displayName":"key","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"value","displayName":"value","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[0,208],"id":"0faf9e39-c9c4-4660-ba8b-4f65d6d12c25","name":"Insert Cosetting"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"93c93f4f-b30a-4787-8e26-372a15f8c1df","leftValue":"={{ $json.key }}","rightValue":0,"operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":"=","options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-224,112],"id":"7b26b360-931d-4b51-a0dc-bab41de47df7","name":"¿ Found ?"},{"parameters":{"formTitle":"Registro Cosetting","formDescription":"Registro Cosetting","formFields":{"values":[{"fieldLabel":"Description","placeholder":"Ingrese la Descripción del Cosetting","requiredField":true},{"fieldLabel":"Key","placeholder":"Ingrese el KEY del Cosetting","requiredField":true},{"fieldLabel":"Value","placeholder":"Ingrese el Valor del Cosetting","requiredField":true}]},"responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[-672,112],"id":"80a9c7be-bde1-4fbc-be0e-4299d9e88630","name":"Get Cosetting Values","webhookId":"e955300d-a7ee-4375-961b-b4225ee84321"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[224,112],"id":"12a247a2-6732-4ba4-8344-94f4cacf7532","name":"End"}],"connections":{"Search KEY":{"main":[[{"node":"¿ Found ?","type":"main","index":0}]]},"Update Cosetting":{"main":[[{"node":"End","type":"main","index":0}]]},"Insert Cosetting":{"main":[[{"node":"End","type":"main","index":0}]]},"¿ Found ?":{"main":[[{"node":"Update Cosetting","type":"main","index":0}],[{"node":"Insert Cosetting","type":"main","index":0}]]},"Get Cosetting Values":{"main":[[{"node":"Search KEY","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"98d6da29-361a-4ccd-bfd7-59f7cb68c797","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-12-02T13:47:14.955Z","createdAt":"2025-12-02T13:47:14.955Z","role":"workflow:owner","workflowId":"WUCdHzTXleHd1Soh","projectId":"qKHJHnveidvROPB6"}],"activeVersion":null,"tags":[]}