managepostgrescosetting-NRji6STLlyzFWnPT.json
{"updatedAt":"2025-12-11T20:50:15.073Z","createdAt":"2025-11-12T12:28:53.374Z","id":"NRji6STLlyzFWnPT","name":"ManagePostgresCosetting","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[96,-416],"id":"9e6c4512-1cc9-49a9-8724-43aa76ae93e0","name":"Fin Operacion"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"cosettings","mode":"list","cachedResultName":"cosettings"},"columns":{"mappingMode":"defineBelow","value":{"description":"={{ $('Captura Valores Cosetting').item.json.descripcion.toUpperCase() }}","key":"={{ $('Captura Valores Cosetting').item.json.key.toUpperCase() }}","value":"={{ $('Captura Valores Cosetting').item.json.value.toUpperCase() }}"},"matchingColumns":[],"schema":[{"id":"cosettingid","displayName":"cosettingid","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"key","displayName":"key","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"value","displayName":"value","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created","displayName":"created","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"modified","displayName":"modified","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-128,-320],"id":"ccb8b471-6ac8-4db0-9aa0-bffe59d016c0","name":"Inserta Cosetting","credentials":{"postgres":{"id":"d53NEEOjDqHRzRm6","name":"Postgres account 2"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"cosettings","mode":"list","cachedResultName":"cosettings"},"columns":{"mappingMode":"defineBelow","value":{"key":"={{ $('Captura Valores Cosetting').item.json.key }}","description":"={{ $('Captura Valores Cosetting').item.json.descripcion }}","value":"={{ $('Captura Valores Cosetting').item.json.value }}","modified":"={{ $now }}"},"matchingColumns":["key"],"schema":[{"id":"cosettingid","displayName":"cosettingid","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"key","displayName":"key","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"value","displayName":"value","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created","displayName":"created","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"modified","displayName":"modified","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-128,-512],"id":"211b33c2-2d67-4910-8e3b-1942756be0ec","name":"Actualiza Cosetting","credentials":{"postgres":{"id":"d53NEEOjDqHRzRm6","name":"Postgres account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"93c93f4f-b30a-4787-8e26-372a15f8c1df","leftValue":"={{ $json.count }}","rightValue":0,"operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"0fe57472-1ba7-45da-9e27-3892ad7cefd7","leftValue":"={{ $json.count.toNumber() }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"looseTypeValidation":"=","options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-352,-416],"id":"acd89b16-21ba-4004-9048-5097b8926781","name":"¿ Existe ?"},{"parameters":{"operation":"executeQuery","query":"SELECT count(*) from public.cosettings WHERE key = '{{ $json.key }}'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-576,-416],"id":"efdb8fd9-af8e-4c78-b72e-43b2aaa9de4d","name":"Busca Key","alwaysOutputData":true,"credentials":{"postgres":{"id":"d53NEEOjDqHRzRm6","name":"Postgres account 2"}}},{"parameters":{"formTitle":"Registro Cosetting","formDescription":"Registro Cosetting","formFields":{"values":[{"fieldLabel":"descripcion","placeholder":"Ingrese la Descripción del Cosetting","requiredField":true},{"fieldLabel":"key","placeholder":"Ingrese el KEY del Cosetting","requiredField":true},{"fieldLabel":"value","placeholder":"Ingrese el Valor del Cosetting","requiredField":true}]},"responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[-800,-416],"id":"5eb44652-caa9-409a-8b34-f53e8436d4fe","name":"Captura Valores Cosetting","webhookId":"e955300d-a7ee-4375-961b-b4225ee84321"}],"connections":{"Inserta Cosetting":{"main":[[{"node":"Fin Operacion","type":"main","index":0}]]},"Actualiza Cosetting":{"main":[[{"node":"Fin Operacion","type":"main","index":0}]]},"¿ Existe ?":{"main":[[{"node":"Actualiza Cosetting","type":"main","index":0}],[{"node":"Inserta Cosetting","type":"main","index":0}]]},"Busca Key":{"main":[[{"node":"¿ Existe ?","type":"main","index":0}]]},"Captura Valores Cosetting":{"main":[[{"node":"Busca Key","type":"main","index":0}]]},"Fin Operacion":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1edaa70b-2d6d-42c3-a192-d2f1c7f91998","activeVersionId":"1edaa70b-2d6d-42c3-a192-d2f1c7f91998","triggerCount":1,"shared":[{"updatedAt":"2025-11-12T12:28:53.374Z","createdAt":"2025-11-12T12:28:53.374Z","role":"workflow:owner","workflowId":"NRji6STLlyzFWnPT","projectId":"qKHJHnveidvROPB6"}],"activeVersion":{"updatedAt":"2026-02-05T18:18:15.214Z","createdAt":"2025-12-02T16:05:34.796Z","versionId":"1edaa70b-2d6d-42c3-a192-d2f1c7f91998","workflowId":"NRji6STLlyzFWnPT","nodes":[{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[96,-416],"id":"9e6c4512-1cc9-49a9-8724-43aa76ae93e0","name":"Fin Operacion"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"cosettings","mode":"list","cachedResultName":"cosettings"},"columns":{"mappingMode":"defineBelow","value":{"description":"={{ $('Captura Valores Cosetting').item.json.descripcion.toUpperCase() }}","key":"={{ $('Captura Valores Cosetting').item.json.key.toUpperCase() }}","value":"={{ $('Captura Valores Cosetting').item.json.value.toUpperCase() }}"},"matchingColumns":[],"schema":[{"id":"cosettingid","displayName":"cosettingid","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"key","displayName":"key","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"value","displayName":"value","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created","displayName":"created","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"modified","displayName":"modified","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-128,-320],"id":"ccb8b471-6ac8-4db0-9aa0-bffe59d016c0","name":"Inserta Cosetting","credentials":{"postgres":{"id":"d53NEEOjDqHRzRm6","name":"Postgres account 2"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"cosettings","mode":"list","cachedResultName":"cosettings"},"columns":{"mappingMode":"defineBelow","value":{"key":"={{ $('Captura Valores Cosetting').item.json.key }}","description":"={{ $('Captura Valores Cosetting').item.json.descripcion }}","value":"={{ $('Captura Valores Cosetting').item.json.value }}","modified":"={{ $now }}"},"matchingColumns":["key"],"schema":[{"id":"cosettingid","displayName":"cosettingid","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"key","displayName":"key","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"value","displayName":"value","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created","displayName":"created","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"modified","displayName":"modified","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-128,-512],"id":"211b33c2-2d67-4910-8e3b-1942756be0ec","name":"Actualiza Cosetting","credentials":{"postgres":{"id":"d53NEEOjDqHRzRm6","name":"Postgres account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"93c93f4f-b30a-4787-8e26-372a15f8c1df","leftValue":"={{ $json.count }}","rightValue":0,"operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"0fe57472-1ba7-45da-9e27-3892ad7cefd7","leftValue":"={{ $json.count.toNumber() }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"looseTypeValidation":"=","options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-352,-416],"id":"acd89b16-21ba-4004-9048-5097b8926781","name":"¿ Existe ?"},{"parameters":{"operation":"executeQuery","query":"SELECT count(*) from public.cosettings WHERE key = '{{ $json.key }}'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-576,-416],"id":"efdb8fd9-af8e-4c78-b72e-43b2aaa9de4d","name":"Busca Key","alwaysOutputData":true,"credentials":{"postgres":{"id":"d53NEEOjDqHRzRm6","name":"Postgres account 2"}}},{"parameters":{"formTitle":"Registro Cosetting","formDescription":"Registro Cosetting","formFields":{"values":[{"fieldLabel":"descripcion","placeholder":"Ingrese la Descripción del Cosetting","requiredField":true},{"fieldLabel":"key","placeholder":"Ingrese el KEY del Cosetting","requiredField":true},{"fieldLabel":"value","placeholder":"Ingrese el Valor del Cosetting","requiredField":true}]},"responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[-800,-416],"id":"5eb44652-caa9-409a-8b34-f53e8436d4fe","name":"Captura Valores Cosetting","webhookId":"e955300d-a7ee-4375-961b-b4225ee84321"}],"connections":{"Inserta Cosetting":{"main":[[{"node":"Fin Operacion","type":"main","index":0}]]},"Actualiza Cosetting":{"main":[[{"node":"Fin Operacion","type":"main","index":0}]]},"¿ Existe ?":{"main":[[{"node":"Actualiza Cosetting","type":"main","index":0}],[{"node":"Inserta Cosetting","type":"main","index":0}]]},"Busca Key":{"main":[[{"node":"¿ Existe ?","type":"main","index":0}]]},"Captura Valores Cosetting":{"main":[[{"node":"Busca Key","type":"main","index":0}]]},"Fin Operacion":{"main":[[]]}},"authors":"Dpw Integration","name":"Version 1edaa70b","description":"","autosaved":false},"tags":[]}