miflujonew-0ZyIrxXoQR5wy3oD8sDWg.json
{"updatedAt":"2026-02-03T18:48:24.264Z","createdAt":"2026-01-29T19:46:30.477Z","id":"0ZyIrxXoQR5wy3oD8sDWg","name":"MiFlujoNew","active":false,"isArchived":true,"nodes":[{"parameters":{"authentication":"basicAuth","formTitle":"Rergistro de Socios","formDescription":"Registro de Socios del Club Dpworld","formFields":{"values":[{"fieldLabel":"Nro. Doc.de Identidad","fieldName":"documentID","requiredField":true},{"fieldLabel":"Nombre","fieldName":"name","requiredField":true},{"fieldLabel":"Apellidos","fieldName":"lastName","requiredField":true},{"fieldLabel":"Nacimeinto","fieldType":"date","fieldName":"birthday","requiredField":true},{"fieldLabel":"Correo","fieldType":"email","fieldName":"email","requiredField":true}]},"options":{"appendAttribution":false,"buttonLabel":"Guardar"}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.5,"position":[-896,-80],"id":"df5d94a1-7f75-4a00-9e54-79a837f9683c","name":"On form submission","webhookId":"f1e520a8-d9d1-496a-b091-4c98f99025ec","credentials":{"httpBasicAuth":{"id":"ZXnbcHpgouxn61vQ","name":"n8nTestUser"}}},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"Hpb70AZse0PAIyX2","mode":"list","cachedResultName":"Asociados","cachedResultUrl":"/projects/qKHJHnveidvROPB6/datatables/Hpb70AZse0PAIyX2"},"filters":{"conditions":[{"keyName":"documentID","keyValue":"={{ $json.documentID }}"}]},"returnAll":true},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-688,-80],"id":"8e1d51aa-a1b2-419a-85ba-6972c52d13ec","name":"Get row(s)","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"3a29a713-2229-44fa-8dc5-53c867bc8173","leftValue":"={{ $json.isEmpty() }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-480,-80],"id":"a676c9f0-984e-407f-a19a-978eefc60043","name":"If"},{"parameters":{"dataTableId":{"__rl":true,"value":"Hpb70AZse0PAIyX2","mode":"list","cachedResultName":"Asociados","cachedResultUrl":"/projects/qKHJHnveidvROPB6/datatables/Hpb70AZse0PAIyX2"},"columns":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"documentID","displayName":"documentID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"birthday","displayName":"birthday","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-272,-176],"id":"039bf078-483d-4142-9454-7505be79748d","name":"Insert row"}],"connections":{"On form submission":{"main":[[{"node":"Get row(s)","type":"main","index":0}]]},"Get row(s)":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Insert row","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"On form submission":[{"json":{"documentID":"09870120","name":"manuel","lastName":"cuya","birthday":"1972-03-16","email":"mcuya@gmail.com","submittedAt":"2026-01-29T15:19:49.548-05:00","formMode":"test"},"pairedItem":{"item":0}}]},"versionId":"24fd4b38-6d99-401d-9d00-60cee714615f","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-29T19:46:30.477Z","createdAt":"2026-01-29T19:46:30.477Z","role":"workflow:owner","workflowId":"0ZyIrxXoQR5wy3oD8sDWg","projectId":"peICgeWYzX52SL0e"}],"activeVersion":null,"tags":[{"updatedAt":"2026-01-29T19:46:44.116Z","createdAt":"2026-01-29T19:46:44.116Z","id":"keWYkTersxQ0RRDM","name":"GDC-12345"}]}