my-workflow-2-40AxcSUV8xSo8dqI.json
{"updatedAt":"2025-10-21T18:55:00.037Z","createdAt":"2025-10-14T15:33:26.052Z","id":"40AxcSUV8xSo8dqI","name":"My workflow 2","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-656,-64],"id":"3020fdcd-d300-4f94-ac0b-e4d9425490a2","name":"When clicking ‘Execute workflow’"},{"parameters":{"batchSize":"={{ $json.veces }}","options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-224,-64],"id":"1c9dbf1e-aaba-41f9-a036-54841ef1c4ed","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[192,-48],"id":"ba03c210-47d3-45e5-8efa-addee9ac9b5b"},{"parameters":{"assignments":{"assignments":[{"id":"fd1e350d-9a62-4ac7-842c-508d7ab3feb1","name":"veces","value":5,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-448,-64],"id":"063c5dce-0524-4a4f-a329-f912cf6fa292","name":"Seteo"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Seteo","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Replace Me","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Seteo":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1afde1ec-3ada-4d6a-8b49-efa02be970cb","triggerCount":0,"shared":[{"updatedAt":"2025-10-14T15:33:26.052Z","createdAt":"2025-10-14T15:33:26.052Z","role":"workflow:owner","workflowId":"40AxcSUV8xSo8dqI","projectId":"qKHJHnveidvROPB6"}],"tags":[]}