my-workflow-6-t54VFEQLgmraqs1n.json
{"updatedAt":"2026-01-08T14:24:38.239Z","createdAt":"2025-12-05T21:16:52.417Z","id":"t54VFEQLgmraqs1n","name":"My workflow 6","active":false,"isArchived":true,"nodes":[{"parameters":{},"id":"b5145c0f-41fe-4f29-b614-24ca5ef91de5","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[128,-96],"typeVersion":1},{"parameters":{"options":{}},"id":"042f7b1a-2cae-408e-86a1-103d5b98cbf2","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[128,112],"webhookId":"c2e664e6-645f-422a-99d3-cf0f4c53c345","typeVersion":1.1},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{}},"id":"af942329-8d65-41dc-ae31-93255b76b8c7","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[640,-96],"typeVersion":1.8},{"parameters":{"assignments":{"assignments":[{"id":"25d97d59-b0cf-46ae-916d-18059b3d6847","name":"chatInput","type":"string","value":"Return a random color but not green or blue"}]},"options":{}},"id":"fb3bc747-0064-4440-8ea7-491e3eac1bdd","name":"Debug Input","type":"n8n-nodes-base.set","position":[336,-96],"typeVersion":3.4},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"id":"5fb4b4b2-1fb5-4401-93b8-01f98a86c3f2","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[624,112],"typeVersion":1.2},{"parameters":{"name":"my_color_selector","description":"Call this tool to get a random color. The input should be a string with comma-separated names of colors to exclude.","jsCode":"const colors = [\n    'red',\n    'green',\n    'blue',\n    'yellow',\n    'pink',\n    'white',\n    'black',\n    'orange',\n    'brown',\n];\n\nconst ignoreColors = query.split(',').map((text) => text.trim());\n\n// remove all the colors that should be ignored\nconst availableColors = colors.filter((color) => {\n    return !ignoreColors.includes(color);\n});\n\n// Select a random color\nreturn availableColors[Math.floor(Math.random() * availableColors.length)];\n"},"id":"9dd5b76d-5472-4ef3-9387-8e7ff2c54000","name":"Code Tool","type":"@n8n/n8n-nodes-langchain.toolCode","position":[848,112],"typeVersion":1.1}],"connections":{"Code Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Debug Input":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Debug Input","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"9c9b4c56-fd2e-4ed7-b9f8-79a87ffdf6e4","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-05T21:16:52.417Z","createdAt":"2025-12-05T21:16:52.417Z","role":"workflow:owner","workflowId":"t54VFEQLgmraqs1n","projectId":"wFDHVvmNL44UdYE2"}],"activeVersion":null,"tags":[]}