readqueuequeryticketsunatok-mvEjeTAx0ZSKvJfv.json
{"createdAt":"2025-09-26T18:09:28.275Z","updatedAt":"2025-10-01T14:52:40.483Z","id":"mvEjeTAx0ZSKvJfv","name":"ReadQueueQueryTicketSunatOK","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"![Source example](https://devdportu38.dpworld.pe/Theme/images/logoempresa/DPWCALLAO.png#full-width)\n## Query Ticket","height":304,"width":256},"type":"n8n-nodes-base.stickyNote","position":[2688,1280],"typeVersion":1,"id":"1caf941a-e616-47c1-887e-9bee1722b110","name":"Sticky Note1"},{"parameters":{"jsCode":"return [{\n  json: JSON.parse($input.first().json.content)\n}]\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2944,1872],"id":"5e48d529-a598-439c-9ab6-f9a338a73c59","name":"Parse Reading","notesInFlow":false},{"parameters":{"jsCode":"// Decrementa y clampa originaldata.retryCount\nconst item = $input.first().json;\nconst current = Number(item.originaldata?.retryCount ?? 0);\nconst next = Math.max(current - 1, 0);\nitem.originaldata = item.originaldata || {};\nitem.originaldata.retryCount = next;\n\n// (Opcional) si quieres “acarrear” secondsToRetry desde la última respuesta:\nif (item.response?.result?.secondsToRetry != null) {\n  item.originaldata.secondsToRetry = Number(item.response.result.secondsToRetry);\n}\n\nreturn [{ json: item }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3840,1896],"id":"800b4ffa-140a-48c7-b20e-a6fda38ed8a6","name":"Update Count Retry"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2e9c24c4-5c3f-4426-bd89-e2b22123ebe8","leftValue":"={{ $json.originaldata.retryCount }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4064,1896],"id":"cb48e94f-5f2a-43e0-a6ab-d7ffd6fe5c3c","name":"Validate Retries"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.response.status }}","rightValue":"SUCCESS","operator":{"type":"string","operation":"equals"},"id":"6f59abc1-c070-4d53-8868-a7966791fe44"}],"combinator":"and"},"renameOutput":true,"outputKey":"SUCCESS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ed496190-4e85-49cd-8ceb-305d07d380ec","leftValue":"={{ $json.response.status }}","rightValue":"WARNING","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"WARNING"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3d626c03-1e22-438c-83c7-d0879c949812","leftValue":"={{ $json.response.status }}","rightValue":"ERROR","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ERROR"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[3616,1616],"id":"d47d5c6a-aa84-4029-a370-5fec185beece","name":"Validation Reponse"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"response\": {{ $json.statusResponse }},\n  \"originaldata\": {\n    \"RequestExportId\": {{ $('Parse Reading').item.json.RequestExportId || null }},\n    \"DamId\": {{ $('Parse Reading').item.json.DamId || null }},\n    \"RdId\": {{ $('Parse Reading').item.json.RdId || 0 }},\n    \"TransmissionType\": \"{{ $('Parse Reading').item.json.TransmissionType || '' }}\",\n    \"Dam\": \"{{ $('Parse Reading').item.json.Dam || '' }}\",\n    \"Regime\": \"{{ $('Parse Reading').item.json.Regime || '' }}\",\n    \"Year\": \"{{ $('Parse Reading').item.json.Year || '' }}\",\n    \"TopologyId\": {{ $('Parse Reading').item.json.TopologyId || null }},\n    \"retryCount\": {{ $('Parse Reading').item.json.retryCount || 3 }},\n    \"secondsToRetry\": {{ $json.result?.secondsToRetry || 30 }}\n  }\n}\n","includeOtherFields":"=","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3392,1632],"id":"b9070d77-61d4-41fe-a5e7-f5e034c46283","name":"Parse Response"},{"parameters":{"method":"POST","url":"http://10.208.101.92:1801/api/CRUD/sendEmail","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"email\": \"dpwc.docyprocesosaduaneros@dpworld.com;franklin.milla@dpworld.com;manuel.cuya@dpworld.com\",\n    \"subject\": \"Transmisión automática RM - Error Generación XML - DAM:{{ $json.originaldata.Year }}-{{ $json.originaldata.Regime }}-{{ $json.originaldata.Dam }}\",\n    \"body\": \"<html><body><p>Estimados,</p><p>La siguiente solicitud de exportación: <b>{{ $json.originaldata.RequestExportId }}</b>, con DAM: {{ $json.originaldata.Year }}-{{ $json.originaldata.Regime }}-{{ $json.originaldata.Dam }}</p><p>Ha dado error en la generación de XML al <b>superar la cantidad de intentos</b> por lo siguiente:<p><p style='color: red'><b>{{ $json.response.message }}</b><p></br><p>Favor verificar y solucionar el error en el módulo de 'DAM', y luego continuar con la transmisión de forma manual.<p><p>Atte,</p><p>DP World</p></body></html>\"\n}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4288,1800],"id":"967a5fdb-da69-4556-893d-7cb508423d41","name":"Send Email Retries"},{"parameters":{"method":"POST","url":"http://10.208.101.92:1801/api/CRUD/sendEmail","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"email\": \"dpwc.docyprocesosaduaneros@dpworld.com;franklin.milla@dpworld.com;manuel.cuya@dpworld.com\",\n    \"subject\": \"Transmisión automática RM - Error Generación XML - DAM:{{ $json.originaldata.Year }}-{{ $json.originaldata.Regime }}-{{ $json.originaldata.Dam }}\",\n    \"body\": \"<html><body><p>Estimados,</p><p>La siguiente solicitud de exportación: <b>{{ $json.originaldata.RequestExportId }}</b>, con DAM: {{ $json.originaldata.Year }}-{{ $json.originaldata.Regime }}-{{ $json.originaldata.Dam }}</p><p>Ha dado error en la generación de XML por lo siguiente:<p><p style='color: red'><b>{{ $json.response.message }}</b><p></br><p>Favor verificar y solucionar el error en el módulo de 'DAM', y luego continuar con la transmisión de forma manual.<p><p>Atte,</p><p>DP World</p></body></html>\"\n}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4288,1608],"id":"32f4235b-7392-41fb-b14a-c811c0d8cd43","name":"Send Email Error"},{"parameters":{"assignments":{"assignments":[{"id":"5abf7038-95d9-43a0-a7bb-038c31c4202d","name":"error.message","value":"={{$json[\"error\"][\"message\"]}}","type":"string"},{"id":"68151956-e363-4b07-8706-1257f5f39495","name":"error.stack","value":"={{$json[\"error\"][\"stack\"]}}","type":"string"},{"id":"d5d2eb49-2655-4ee8-afe7-e99be5dd3458","name":"node.name","value":"={{ $workflow.name }}","type":"string"},{"id":"1f3de402-3184-49cd-a84c-7249954e1c9a","name":"data.damid","value":"={{ $json.DamId }}","type":"string"},{"id":"04719210-a722-4dbf-abfd-3a747fe655f8","name":"data.rdid","value":"={{ $json.RdId }}","type":"string"},{"id":"b96561d0-e61e-4126-af56-84301f867e02","name":"data.transmissiontype","value":"={{ $json.TransmissionType }}","type":"string"},{"id":"ecd08711-02a3-4b41-8ec3-11ba22af71cc","name":"data.dam","value":"={{ $json.Dam }}","type":"string"},{"id":"c67ba122-9ad2-4491-99fc-fbdb278d4970","name":"data.year","value":"={{ $json.Year }}","type":"string"},{"id":"dc07e139-54c9-47ad-98b9-423d0ba3bae6","name":"data.regime","value":"={{ $json.Regime }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4064,2160],"id":"edb4e8fb-9caf-4c31-8aaa-79262629cf29","name":"Parse Error Response"},{"parameters":{"method":"POST","url":"http://10.208.101.92:1801/api/CRUD/sendEmail","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"email\": \"dpwc.docyprocesosaduaneros@dpworld.com;franklin.milla@dpworld.com;manuel.cuya@dpworld.com\",\n    \"subject\": \"Transmisión automática RM - Error Generación XML - DAM:{{ $json.data.year }}-{{ $json.data.regime }}-{{ $json.data.dam }}\",\n    \"body\": \"<html><body><p>Estimados,</p><p>La siguiente solicitud de exportación: <b>{{ $json.data.damid }}</b>, con DAM: {{ $json.data.year }}-{{ $json.data.regime }}-{{ $json.data.dam }}, ha generado el siguiente error: </p><p>{{ $json.error.message }}</p><p>Favor de comunicarse con TI y generar la transmisión de forma manual.</p><p>Atte,</p><p>DP World</p></body></html>\"\n}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4288,2160],"id":"08427f5e-03e9-429b-b8dc-351aea9d9876","name":"Send Email Error WorkFlow"},{"parameters":{"amount":"={{ $json.originaldata.secondsToRetry || 30 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[4512,2064],"id":"44c68c64-b08e-430e-8e42-c3abd136319f","name":"Pause","webhookId":"679674a9-2d13-48d8-a8f5-76fd5ca00fd9"},{"parameters":{"method":"POST","url":"https://sp2dca-apiis1.dpwc.local:5043/api/aw-fast/FastGateway/ReleaseTransmissionAutomatic","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.originalData }}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4736,1800],"id":"3a7f7fb4-1e56-4ae9-a1e0-7f3b174f3b2d","name":"Release Transmission"},{"parameters":{"assignments":{"assignments":[{"id":"5dedd9df-f31f-440d-80e5-b0e202d7dd78","name":"mailStatus","value":"={{ $json.status }}","type":"string"},{"id":"14800a2c-d48c-4c83-8b09-b659403b963b","name":"originalData","value":"={{ $('Read Queue Query Ticket').item.json.content }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4512,1800],"id":"1bc6929b-e19d-4559-a8a8-aa30c337d31f","name":"Parse Email Response"},{"parameters":{"queue":"queue_query_ticket","options":{"acknowledge":"laterMessageNode"}},"type":"n8n-nodes-base.rabbitmqTrigger","typeVersion":1,"position":[2720,1872],"id":"28f98417-a1e5-4f49-92a3-38814ddd73b3","name":"Read Queue Query Ticket","credentials":{"rabbitmq":{"id":"vsvI9Lg7vTP32Drt","name":"RabbitMQ account"}}},{"parameters":{"method":"POST","url":"https://sp2dca-apiis1.dpwc.local:5043/api/aw-fast/FastGateway/ConsultTICKET","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n   \"RequestExportId\":{{ $json.RequestExportId }},\n   \"DamId\":{{ $json.DamId }},\n   \"RdId\": {{ $json.RdId }},\n   \"TransmissionType\":\"{{ $json.TransmissionType }}\",\n   \"Dam\":\"{{ $json.Dam }}\",\n   \"Regime\":\"{{ $json.Regime }}\",\n   \"Year\":\"{{ $json.Year }}\",\n   \"TopologyId\":{{ $json.TopologyId }},\n   \"User\":\"send_json_to_n8n_dev\",\n   \"Password\":\"Dport!2025!:::\"\n}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3168,1872],"id":"05821362-d3f4-475e-99a1-ce76f0ea775d","name":"Send WS Query Ticket","credentials":{"httpBasicAuth":{"id":"AcT919njxjFmHrNy","name":"send_sunat_queues"}},"onError":"continueErrorOutput"},{"parameters":{"queue":"queue_query_ticket","sendInputData":false,"message":"={{ JSON.stringify($json.originaldata) }}","options":{}},"type":"n8n-nodes-base.rabbitmq","typeVersion":1.1,"position":[4736,2064],"id":"6da11e2c-26a4-462f-98e2-eb185a44254f","name":"Re Send Queue Query Ticket","credentials":{"rabbitmq":{"id":"vsvI9Lg7vTP32Drt","name":"RabbitMQ account"}}},{"parameters":{"queue":"queue_query_channel","sendInputData":false,"message":"={{ JSON.stringify($json.originaldata) }}","options":{}},"type":"n8n-nodes-base.rabbitmq","typeVersion":1.1,"position":[4736,1392],"id":"057e3e57-df6a-4515-97e6-e4a544322d4e","name":"Send New Queue Query Channel","credentials":{"rabbitmq":{"id":"vsvI9Lg7vTP32Drt","name":"RabbitMQ account"}}},{"parameters":{"operation":"deleteMessage"},"type":"n8n-nodes-base.rabbitmq","typeVersion":1.1,"position":[4960,1728],"id":"bd01a5d1-5294-4794-9f3b-28b975865403","name":"Delete Queue Query Ticket","credentials":{"rabbitmq":{"id":"vsvI9Lg7vTP32Drt","name":"RabbitMQ account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c64bc5a3-f294-4d51-8475-e735e93362a4","leftValue":"={{ $json.originaldata.TransmissionType }}","rightValue":"RM","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4352,1424],"id":"57e89ca7-f8c0-447c-adda-ef927a1a1a5c","name":"Validate Transmission Type"}],"connections":{"Parse Reading":{"main":[[{"node":"Send WS Query Ticket","type":"main","index":0}]]},"Update Count Retry":{"main":[[{"node":"Validate Retries","type":"main","index":0}]]},"Validate Retries":{"main":[[{"node":"Send Email Retries","type":"main","index":0}],[{"node":"Pause","type":"main","index":0}]]},"Validation Reponse":{"main":[[{"node":"Validate Transmission Type","type":"main","index":0}],[{"node":"Update Count Retry","type":"main","index":0}],[{"node":"Send Email Error","type":"main","index":0}]]},"Parse Response":{"main":[[{"node":"Validation Reponse","type":"main","index":0}]]},"Send Email Retries":{"main":[[{"node":"Parse Email Response","type":"main","index":0}]]},"Send Email Error":{"main":[[{"node":"Parse Email Response","type":"main","index":0}]]},"Parse Error Response":{"main":[[{"node":"Send Email Error WorkFlow","type":"main","index":0}]]},"Send Email Error WorkFlow":{"main":[[{"node":"Parse Email Response","type":"main","index":0}]]},"Pause":{"main":[[{"node":"Re Send Queue Query Ticket","type":"main","index":0}]]},"Release Transmission":{"main":[[{"node":"Delete Queue Query Ticket","type":"main","index":0}]]},"Parse Email Response":{"main":[[{"node":"Release Transmission","type":"main","index":0}]]},"Read Queue Query Ticket":{"main":[[{"node":"Parse Reading","type":"main","index":0}]]},"Send WS Query Ticket":{"main":[[{"node":"Parse Response","type":"main","index":0}],[{"node":"Parse Error Response","type":"main","index":0}]]},"Re Send Queue Query Ticket":{"main":[[{"node":"Delete Queue Query Ticket","type":"main","index":0}]]},"Send New Queue Query Channel":{"main":[[{"node":"Delete Queue Query Ticket","type":"main","index":0}]]},"Validate Transmission Type":{"main":[[{"node":"Send New Queue Query Channel","type":"main","index":0}],[{"node":"Delete Queue Query Ticket","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"4cba8bf2-2a2c-4772-b48a-ca610a397c3c","triggerCount":0,"shared":[{"createdAt":"2025-09-26T18:09:28.275Z","updatedAt":"2025-09-26T18:09:28.275Z","role":"workflow:owner","workflowId":"mvEjeTAx0ZSKvJfv","projectId":"qKHJHnveidvROPB6"}],"tags":[{"createdAt":"2025-09-23T20:55:21.169Z","updatedAt":"2025-09-25T20:25:47.066Z","id":"AqVIfFmictF9YGtn","name":"GDC-2490"}]}