readqueuexmlgenerateinciial-KM8oXl2Shp7mYwap.json
{"updatedAt":"2025-09-16T21:37:08.670Z","createdAt":"2025-09-01T20:39:52.308Z","id":"KM8oXl2Shp7mYwap","name":"ReadQueueXmlGenerateInciial","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://sp2dca-apiis1.dpwc.local:5043//api/aw-fast/FastGateway/GenerateXML","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n   \"RequestExportId\":{{ $json.RequestExportId }},\n   \"DamId\":{{ $json.DamId }},\n   \"RdId\": {{ $json.RdId }},\n   \"TransmissionType\":\"{{ $json.TransmissionType }}\",\n   \"Dam\":\"{{ $json.Dam }}\",\n   \"Regime\":\"{{ $json.Regime }}\",\n   \"Year\":\"{{ $json.Year }}\",\n   \"TopologyId\":{{ $json.TopologyId }},\n   \"User\":\"send_json_to_n8n_dev\",\n   \"Password\":\"Dport!2025!:::\"\n}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-576,-112],"id":"9f9779c1-5786-4bfe-b49f-fe6fb3345177","name":"HTTPGenerateXML","credentials":{"httpBasicAuth":{"id":"AcT919njxjFmHrNy","name":"send_sunat_queues"}}},{"parameters":{"jsCode":"return [{\n  json: JSON.parse($input.first().json.content)\n}]\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-800,-112],"id":"e1e29e54-2f72-4390-9661-c679086a8f40","name":"Parseo"},{"parameters":{"queue":"queue_xml_generate","options":{"acknowledge":"laterMessageNode"}},"type":"n8n-nodes-base.rabbitmqTrigger","typeVersion":1,"position":[-1024,-112],"id":"f0272065-431f-4c7d-8d4c-ad6dfc9f2938","name":"ReadQueueXMLGenerate","credentials":{"rabbitmq":{"id":"vsvI9Lg7vTP32Drt","name":"RabbitMQ account"}}},{"parameters":{"queue":"queue_sunat_transmission","sendInputData":false,"message":"={{ JSON.stringify($json.originaldata) }}","options":{}},"type":"n8n-nodes-base.rabbitmq","typeVersion":1.1,"position":[768,-256],"id":"b0e0855d-536b-4557-8812-4bdd6e874cf2","name":"SendQueueSunatTransmission","credentials":{"rabbitmq":{"id":"vsvI9Lg7vTP32Drt","name":"RabbitMQ account"}}},{"parameters":{"operation":"deleteMessage"},"type":"n8n-nodes-base.rabbitmq","typeVersion":1.1,"position":[976,-64],"id":"d93c9d09-8471-497c-84bd-7d7b223c50c7","name":"DeleteQueueXMLGenerate","credentials":{"rabbitmq":{"id":"vsvI9Lg7vTP32Drt","name":"RabbitMQ account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.response.status }}","rightValue":"SUCCESS","operator":{"type":"string","operation":"equals"},"id":"2da6bda3-6e75-4d78-a6b6-67a8bc126d75"}],"combinator":"and"},"renameOutput":true,"outputKey":"SUCCESS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"86038a08-bbb7-4374-9d32-6caaa8f26a8f","leftValue":"={{ $json.response.status }}","rightValue":"WARNING","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"WARNING"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"93238978-bf9a-4d1b-a63b-18c6616d9bfc","leftValue":"={{ $json.response.status }}","rightValue":"ERROR","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ERROR"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-128,-128],"id":"0fda78be-b087-41e5-9ebf-d579392fa2f9","name":"ResponseValidate"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"response\": {{ $json.statusResponse }},\n  \"originaldata\": {\n    \"RequestExportId\": {{ $('Parseo').item.json.RequestExportId || null }},\n    \"DamId\": {{ $('Parseo').item.json.DamId || null }},\n    \"RdId\": {{ $('Parseo').item.json.RdId || null }},\n    \"TransmissionType\": \"{{ $('Parseo').item.json.TransmissionType || '' }}\",\n    \"Dam\": \"{{ $('Parseo').item.json.Dam || '' }}\",\n    \"Regime\": \"{{ $('Parseo').item.json.Regime || '' }}\",\n    \"Year\": \"{{ $('Parseo').item.json.Year || '' }}\",\n    \"TopologyId\": {{ $('Parseo').item.json.TopologyId || null }},\n    \"retryCount\": {{ $('Parseo').item.json.retryCount || 3 }},\n    \"secondsToRetry\": {{ $json.result?.secondsToRetry || 30 }}\n  }\n}\n","includeOtherFields":"=","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-352,-112],"id":"db3c9f74-ad75-4be4-a833-ced418e06107","name":"ReponseParse"},{"parameters":{"jsCode":"// Decrementa y clampa retryCount\nconst data = $('ReponseParse').first().json.originaldata;\nlet retry = Number(data.retryCount ?? 0);\nif (Number.isNaN(retry)) retry = 0;\ndata.retryCount = Math.max(retry - 1, 0);\nreturn [{ json: data }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[96,80],"id":"c1b97cee-f114-4dc4-9ed6-3fc362275ab2","name":"Code (dec retryCount)"},{"parameters":{"amount":"={{ $json.secondsToRetry || 30 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[576,384],"id":"c4f0d6d7-ef85-44fc-9a7c-e74aea793778","name":"Wait","webhookId":"16f1026b-b8be-462b-9afb-bca611824110"},{"parameters":{"queue":"queue_xml_generate","sendInputData":false,"message":"={{ JSON.stringify($json) }}","options":{}},"type":"n8n-nodes-base.rabbitmq","typeVersion":1.1,"position":[848,368],"id":"8b8e8eb2-9389-48cb-ab97-b83461954a61","name":"SendQueueXMLGenerate","credentials":{"rabbitmq":{"id":"vsvI9Lg7vTP32Drt","name":"RabbitMQ account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"45bd53f7-2602-4b39-9973-69aa053e1815","leftValue":"={{ $json.retryCount }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[320,240],"id":"f1bbd46c-1d78-44b9-bc6e-88dc2e75b0e8","name":"If"}],"connections":{"HTTPGenerateXML":{"main":[[{"node":"ReponseParse","type":"main","index":0}]]},"Parseo":{"main":[[{"node":"HTTPGenerateXML","type":"main","index":0}]]},"ReadQueueXMLGenerate":{"main":[[{"node":"Parseo","type":"main","index":0}]]},"SendQueueSunatTransmission":{"main":[[{"node":"DeleteQueueXMLGenerate","type":"main","index":0}]]},"ResponseValidate":{"main":[[{"node":"Code (dec retryCount)","type":"main","index":0}],[{"node":"SendQueueSunatTransmission","type":"main","index":0}],[{"node":"DeleteQueueXMLGenerate","type":"main","index":0}]]},"ReponseParse":{"main":[[{"node":"ResponseValidate","type":"main","index":0}]]},"Code (dec retryCount)":{"main":[[{"node":"If","type":"main","index":0}]]},"Wait":{"main":[[{"node":"SendQueueXMLGenerate","type":"main","index":0}]]},"SendQueueXMLGenerate":{"main":[[{"node":"DeleteQueueXMLGenerate","type":"main","index":0}]]},"If":{"main":[[{"node":"DeleteQueueXMLGenerate","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3ef3c440-b7b5-498b-9656-200b02ad9245","triggerCount":1,"shared":[{"updatedAt":"2025-09-01T20:39:52.308Z","createdAt":"2025-09-01T20:39:52.308Z","role":"workflow:owner","workflowId":"KM8oXl2Shp7mYwap","projectId":"qKHJHnveidvROPB6"}],"tags":[]}