readqueuexmlgenerateok-fUhEXjGlh1b6vQXc.json
{"createdAt":"2025-09-15T20:56:44.532Z","updatedAt":"2025-09-25T18:25:12.460Z","id":"fUhEXjGlh1b6vQXc","name":"ReadQueueXmlGenerateOK","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"return [{\n  json: JSON.parse($input.first().json.content)\n}]\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1568,104],"id":"9108f15d-36f5-43de-b19c-260f66ab7bf6","name":"Parseo","notesInFlow":false},{"parameters":{"queue":"queue_xml_generate","options":{"acknowledge":"laterMessageNode"}},"type":"n8n-nodes-base.rabbitmqTrigger","typeVersion":1,"position":[-1792,112],"id":"76bd5826-a964-4a12-872a-e85ec4c990ff","name":"Lee Cola XML Generate","credentials":{"rabbitmq":{"id":"vsvI9Lg7vTP32Drt","name":"RabbitMQ account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2e9c24c4-5c3f-4426-bd89-e2b22123ebe8","leftValue":"={{ $json.originaldata.retryCount }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-448,128],"id":"184133df-cdfc-46b0-86f9-5b727e7dfb35","name":"Valida Reintentos"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.response.status }}","rightValue":"SUCCESS","operator":{"type":"string","operation":"equals"},"id":"6f59abc1-c070-4d53-8868-a7966791fe44"}],"combinator":"and"},"renameOutput":true,"outputKey":"SUCCESS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ed496190-4e85-49cd-8ceb-305d07d380ec","leftValue":"={{ $json.response.status }}","rightValue":"WARNING","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"WARNING"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3d626c03-1e22-438c-83c7-d0879c949812","leftValue":"={{ $json.response.status }}","rightValue":"ERROR","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ERROR"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-896,-152],"id":"16aa8810-b213-4ce7-90ef-dae2e84a9497","name":"Validacion Respuesta"},{"parameters":{"method":"POST","url":"https://sp2dca-apiis1.dpwc.local:50943/api/aw-fast/FastGateway/GenerateXML","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n   \"RequestExportId\":{{ $json.RequestExportId }},\n   \"DamId\":{{ $json.DamId }},\n   \"RdId\": {{ $json.RdId }},\n   \"TransmissionType\":\"{{ $json.TransmissionType }}\",\n   \"Dam\":\"{{ $json.Dam }}\",\n   \"Regime\":\"{{ $json.Regime }}\",\n   \"Year\":\"{{ $json.Year }}\",\n   \"TopologyId\":{{ $json.TopologyId }},\n   \"User\":\"send_json_to_n8n_dev\",\n   \"Password\":\"Dport!2025!:::\"\n}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1344,104],"id":"4a00ce94-1c9d-4f69-a4a0-27ea1b48e6ac","name":"Envia WS Generate XML","credentials":{"httpBasicAuth":{"id":"AcT919njxjFmHrNy","name":"send_sunat_queues"}},"onError":"continueErrorOutput"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"response\": {{ $json.statusResponse }},\n  \"originaldata\": {\n    \"RequestExportId\": {{ $('Parseo').item.json.RequestExportId || null }},\n    \"DamId\": {{ $('Parseo').item.json.DamId || null }},\n    \"RdId\": {{ $('Parseo').item.json.RdId || 0 }},\n    \"TransmissionType\": \"{{ $('Parseo').item.json.TransmissionType || '' }}\",\n    \"Dam\": \"{{ $('Parseo').item.json.Dam || '' }}\",\n    \"Regime\": \"{{ $('Parseo').item.json.Regime || '' }}\",\n    \"Year\": \"{{ $('Parseo').item.json.Year || '' }}\",\n    \"TopologyId\": {{ $('Parseo').item.json.TopologyId || null }},\n    \"retryCount\": {{ $('Parseo').item.json.retryCount || 3 }},\n    \"secondsToRetry\": {{ $json.result?.secondsToRetry || 30 }}\n  }\n}\n","includeOtherFields":"=","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1120,-136],"id":"5b293d93-41b0-4d56-a7a1-5d2af3236404","name":"Parseo Respuesta"},{"parameters":{"jsCode":"// Decrementa y clampa originaldata.retryCount\nconst item = $input.first().json;\nconst current = Number(item.originaldata?.retryCount ?? 0);\nconst next = Math.max(current - 1, 0);\nitem.originaldata = item.originaldata || {};\nitem.originaldata.retryCount = next;\n\n// (Opcional) si quieres “acarrear” secondsToRetry desde la última respuesta:\nif (item.response?.result?.secondsToRetry != null) {\n  item.originaldata.secondsToRetry = Number(item.response.result.secondsToRetry);\n}\n\nreturn [{ json: item }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-672,128],"id":"c11cba4e-70e3-4247-bee5-e0666dd02584","name":"Actualiza Conteo Reintentos"},{"parameters":{"amount":"={{ $json.originaldata.secondsToRetry || 30 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[0,296],"id":"d220f0c6-e210-4f11-9a38-fcf41b06ec4d","name":"Pausa","webhookId":"16f1026b-b8be-462b-9afb-bca611824110"},{"parameters":{"queue":"queue_sunat_transmission","sendInputData":false,"message":"={{ JSON.stringify($json.originaldata) }}","options":{}},"type":"n8n-nodes-base.rabbitmq","typeVersion":1.1,"position":[224,-256],"id":"669b85a4-6b91-47ca-b69c-536e76095de0","name":"Envia Nueva Cola SunatTransmission","credentials":{"rabbitmq":{"id":"vsvI9Lg7vTP32Drt","name":"RabbitMQ account"}}},{"parameters":{"queue":"queue_xml_generate","sendInputData":false,"message":"={{ JSON.stringify($json.originaldata) }}","options":{}},"type":"n8n-nodes-base.rabbitmq","typeVersion":1.1,"position":[224,296],"id":"41c02d20-17b9-49d5-a4f2-c69ff918c30a","name":"Reencola XMLGenerate","credentials":{"rabbitmq":{"id":"vsvI9Lg7vTP32Drt","name":"RabbitMQ account"}}},{"parameters":{"operation":"deleteMessage"},"type":"n8n-nodes-base.rabbitmq","typeVersion":1.1,"position":[448,80],"id":"cb779285-afc6-402e-833b-66ee216003b2","name":"Borra de la Cola XMLGenerate","credentials":{"rabbitmq":{"id":"vsvI9Lg7vTP32Drt","name":"RabbitMQ account"}}},{"parameters":{"content":"![Source example](https://devdportu38.dpworld.pe/Theme/images/logoempresa/DPWCALLAO.png#full-width)\n## Generate XML","height":272,"width":208},"type":"n8n-nodes-base.stickyNote","position":[-1920,-464],"typeVersion":1,"id":"138552dc-ea0b-466f-968a-e96335feeefc","name":"Sticky Note1"},{"parameters":{"assignments":{"assignments":[{"id":"5abf7038-95d9-43a0-a7bb-038c31c4202d","name":"error.message","value":"={{$json[\"error\"][\"message\"]}}","type":"string"},{"id":"68151956-e363-4b07-8706-1257f5f39495","name":"error.stack","value":"={{$json[\"error\"][\"stack\"]}}","type":"string"},{"id":"d5d2eb49-2655-4ee8-afe7-e99be5dd3458","name":"node.name","value":"={{ $workflow.name }}","type":"string"},{"id":"1f3de402-3184-49cd-a84c-7249954e1c9a","name":"data.damid","value":"={{ $json.DamId }}","type":"string"},{"id":"04719210-a722-4dbf-abfd-3a747fe655f8","name":"data.rdid","value":"={{ $json.RdId }}","type":"string"},{"id":"b96561d0-e61e-4126-af56-84301f867e02","name":"data.transmissiontype","value":"={{ $json.TransmissionType }}","type":"string"},{"id":"ecd08711-02a3-4b41-8ec3-11ba22af71cc","name":"data.dam","value":"={{ $json.Dam }}","type":"string"},{"id":"c67ba122-9ad2-4491-99fc-fbdb278d4970","name":"data.year","value":"={{ $json.Year }}","type":"string"},{"id":"dc07e139-54c9-47ad-98b9-423d0ba3bae6","name":"data.regime","value":"={{ $json.Regime }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-448,440],"id":"3f0c0699-5078-4ecf-9885-96da46dd8d12","name":"Parseo Respuesta Error"},{"parameters":{"method":"POST","url":"http://10.208.101.92:1801/api/CRUD/sendEmail","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"email\": \"dpwc.docyprocesosaduaneros@dpworld.com;franklin.milla@dpworld.com;manuel.cuya@dpworld.com\",\n    \"subject\": \"Transmisión automática RM - Error Generación XML - DAM:{{ $json.originaldata.Year }}-{{ $json.originaldata.Regime }}-{{ $json.originaldata.Dam }}\",\n    \"body\": \"<html><body><p>Estimados,</p><p>La siguiente solicitud de exportación: <b>{{ $json.originaldata.RequestExportId }}</b>, con DAM: {{ $json.originaldata.Year }}-{{ $json.originaldata.Regime }}-{{ $json.originaldata.Dam }}</p><p>Ha dado error en la generación de XML por lo siguiente:<p><p style='color: red'><b>{{ $json.response.message }}</b><p></br><p>Favor verificar y solucionar el error en el módulo de 'DAM', y luego continuar con la transmisión de forma manual.<p><p>Atte,</p><p>DP World</p></body></html>\"\n}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-224,-112],"id":"ccfb6758-b95e-4904-804e-cc4105afa8f0","name":"SendEmailError"},{"parameters":{"method":"POST","url":"http://10.208.101.92:1801/api/CRUD/sendEmail","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"email\": \"dpwc.docyprocesosaduaneros@dpworld.com;franklin.milla@dpworld.com;manuel.cuya@dpworld.com\",\n    \"subject\": \"Transmisión automática RM - Error Generación XML - DAM:{{ $json.originaldata.Year }}-{{ $json.originaldata.Regime }}-{{ $json.originaldata.Dam }}\",\n    \"body\": \"<html><body><p>Estimados,</p><p>La siguiente solicitud de exportación: <b>{{ $json.originaldata.RequestExportId }}</b>, con DAM: {{ $json.originaldata.Year }}-{{ $json.originaldata.Regime }}-{{ $json.originaldata.Dam }}</p><p>Ha dado error en la generación de XML al <b>superar la cantidad de intentos</b> por lo siguiente:<p><p style='color: red'><b>{{ $json.response.message }}</b><p></br><p>Favor verificar y solucionar el error en el módulo de 'DAM', y luego continuar con la transmisión de forma manual.<p><p>Atte,</p><p>DP World</p></body></html>\"\n}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-224,80],"id":"7a0061ca-b1cf-4acd-a647-1431dd8cde18","name":"SendEmailRetries"},{"parameters":{"method":"POST","url":"https://sp2dca-apiis1.dpwc.local:5043/api/aw-fast/FastGateway/ReleaseTransmissionAutomatic","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.originalData }}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,80],"id":"2b49a754-3bdf-45cb-aa5b-b3270c570541","name":"ReleaseTransmission"},{"parameters":{"assignments":{"assignments":[{"id":"5dedd9df-f31f-440d-80e5-b0e202d7dd78","name":"mailStatus","value":"={{ $json.status }}","type":"string"},{"id":"14800a2c-d48c-4c83-8b09-b659403b963b","name":"originalData","value":"={{ $('Lee Cola XML Generate').item.json.content }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,80],"id":"35efd9f0-138b-482e-ba1c-1580fb80fd2c","name":"EmailResponseParse"},{"parameters":{"method":"POST","url":"http://10.208.101.92:1801/api/CRUD/sendEmail","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"email\": \"dpwc.docyprocesosaduaneros@dpworld.com;franklin.milla@dpworld.com;manuel.cuya@dpworld.com\",\n    \"subject\": \"Transmisión automática RM - Error Generación XML - DAM:{{ $json.data.year }}-{{ $json.data.regime }}-{{ $json.data.dam }}\",\n    \"body\": \"<html><body><p>Estimados,</p><p>La siguiente solicitud de exportación: <b>{{ $json.data.damid }}</b>, con DAM: {{ $json.data.year }}-{{ $json.data.regime }}-{{ $json.data.dam }}, ha generado el siguiente error: </p><p>{{ $json.error.message }}</p><p>Favor de comunicarse con TI y generar la transmisión de forma manual.</p><p>Atte,</p><p>DP World</p></body></html>\"\n}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-224,440],"id":"d47fe0be-07a9-40e4-abbc-544fab071040","name":"SendEmailErrorWS"}],"connections":{"Parseo":{"main":[[{"node":"Envia WS Generate XML","type":"main","index":0}]]},"Lee Cola XML Generate":{"main":[[{"node":"Parseo","type":"main","index":0}]]},"Valida Reintentos":{"main":[[{"node":"SendEmailRetries","type":"main","index":0}],[{"node":"Pausa","type":"main","index":0}]]},"Validacion Respuesta":{"main":[[{"node":"Envia Nueva Cola SunatTransmission","type":"main","index":0}],[{"node":"Actualiza Conteo Reintentos","type":"main","index":0}],[{"node":"SendEmailError","type":"main","index":0}],[],[]]},"Envia WS Generate XML":{"main":[[{"node":"Parseo Respuesta","type":"main","index":0}],[{"node":"Parseo Respuesta Error","type":"main","index":0}]]},"Parseo Respuesta":{"main":[[{"node":"Validacion Respuesta","type":"main","index":0}]]},"Actualiza Conteo Reintentos":{"main":[[{"node":"Valida Reintentos","type":"main","index":0}]]},"Pausa":{"main":[[{"node":"Reencola XMLGenerate","type":"main","index":0}]]},"Envia Nueva Cola SunatTransmission":{"main":[[{"node":"Borra de la Cola XMLGenerate","type":"main","index":0}]]},"Reencola XMLGenerate":{"main":[[{"node":"Borra de la Cola XMLGenerate","type":"main","index":0}]]},"Parseo Respuesta Error":{"main":[[{"node":"SendEmailErrorWS","type":"main","index":0}]]},"SendEmailError":{"main":[[{"node":"EmailResponseParse","type":"main","index":0}]]},"SendEmailRetries":{"main":[[{"node":"EmailResponseParse","type":"main","index":0}]]},"ReleaseTransmission":{"main":[[{"node":"Borra de la Cola XMLGenerate","type":"main","index":0}]]},"EmailResponseParse":{"main":[[{"node":"ReleaseTransmission","type":"main","index":0}]]},"SendEmailErrorWS":{"main":[[{"node":"EmailResponseParse","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"KVW9hshItNEvzyI4"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6ccb97ab-32a7-41a2-bf94-499601f032eb","triggerCount":1,"shared":[{"createdAt":"2025-09-15T20:56:44.532Z","updatedAt":"2025-09-15T20:56:44.532Z","role":"workflow:owner","workflowId":"fUhEXjGlh1b6vQXc","projectId":"qKHJHnveidvROPB6"}],"tags":[{"createdAt":"2025-09-23T20:55:21.169Z","updatedAt":"2025-09-23T20:55:21.169Z","id":"AqVIfFmictF9YGtn","name":"GDC-7777"}]}