readqueuepaylaoda-4Nc03GziFo8WlLhF.json
{"createdAt":"2025-09-19T11:34:56.847Z","updatedAt":"2025-09-22T21:34:16.279Z","id":"4Nc03GziFo8WlLhF","name":"ReadQueuePaylaoda","active":false,"isArchived":false,"nodes":[{"parameters":{"queue":"queue_xml_generate","options":{"acknowledge":"laterMessageNode"}},"type":"n8n-nodes-base.rabbitmqTrigger","typeVersion":1,"position":[-1872,160],"id":"8b13991d-a4fc-4042-a2bd-b9d29a310f96","name":"Lee Cola XML Generate","credentials":{"rabbitmq":{"id":"vsvI9Lg7vTP32Drt","name":"RabbitMQ account"}}},{"parameters":{"jsCode":"const input = JSON.parse($input.first().json.content);\nreturn [{\n  json: {\n    ...input,\n    originaldata: {\n      RequestExportId: input.RequestExportId || null,\n      DamId: input.DamId || null,\n      RdId: input.RdId || 0,\n      TransmissionType: input.TransmissionType || '',\n      Dam: input.Dam || '',\n      Regime: input.Regime || '',\n      Year: input.Year || '',\n      TopologyId: input.TopologyId || null,\n      retryCount: input.retryCount || 3,\n      secondsToRetry: 30\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1632,160],"id":"aad6730b-9e3c-49ba-ae73-f7217fb064f7","name":"Parseo","disabled":true},{"parameters":{"method":"POST","url":"https://sp2dca-apiis1.dpwc.local:59999/api/aw-fast/FastGateway/GenerateXML","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n   \"RequestExportId\":{{ $json.RequestExportId }},\n   \"DamId\":{{ $json.DamId }},\n   \"RdId\": {{ $json.RdId }},\n   \"TransmissionType\":\"{{ $json.TransmissionType }}\",\n   \"Dam\":\"{{ $json.Dam }}\",\n   \"Regime\":\"{{ $json.Regime }}\",\n   \"Year\":\"{{ $json.Year }}\",\n   \"TopologyId\":{{ $json.TopologyId }}\n}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1392,160],"id":"1b876d42-b909-4f5d-a4eb-dde86a5078fd","name":"Envia WS Generate XML","credentials":{"httpBasicAuth":{"id":"AcT919njxjFmHrNy","name":"send_sunat_queues"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.error }}","operator":{"type":"boolean","operation":"exists"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1152,160],"id":"ec80953d-f6a7-48a0-86f4-5b14ca34fd8f","name":"¿Falló HTTP?","disabled":true},{"parameters":{"jsCode":"const current = $input.first().json;\n// Mezcla el error retornado por HTTP con el originaldata del nodo Parseo\nconst originaldata = $('Parseo').item.json.originaldata;\nreturn [{ json: { ...current, originaldata } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-912,0],"id":"c4d5f236-0f52-4c1a-8bd3-401117d44a4d","name":"Adjunta originaldata","disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-672,0],"id":"6358094b-5536-4fe6-9c8c-87f0c9fe42e8","name":"Prep Error Payload","disabled":true},{"parameters":{"workflowId":{"__rl":true,"value":"KVW9hshItNEvzyI4","mode":"list","cachedResultName":"Error Handler - ReadQueueXmlGenerate"},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[-432,0],"id":"3db87534-3f36-4e69-a47d-e0b54d6b1995","name":"Llama Subworkflow Error Sink","disabled":true},{"parameters":{},"type":"n8n-nodes-base.error","typeVersion":1,"position":[-192,0],"id":"9218de26-eb6b-44d6-b377-cec5ca04db1c","name":"Marcar Ejecución en ERROR","disabled":true},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"response\": {{ $json.statusResponse }},\n  \"originaldata\": {{ $('Parseo').item.json.originaldata }}\n}","includeOtherFields":"=","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-912,320],"id":"ee11164b-55bb-4f0b-a992-cbc66c62a992","name":"Parseo Respuesta","disabled":true}],"connections":{"Lee Cola XML Generate":{"main":[[]]},"Parseo":{"main":[[{"node":"Envia WS Generate XML","type":"main","index":0}]]},"Envia WS Generate XML":{"main":[[{"node":"¿Falló HTTP?","type":"main","index":0}]]},"¿Falló HTTP?":{"main":[[{"node":"Adjunta originaldata","type":"main","index":0}],[{"node":"Parseo Respuesta","type":"main","index":0}]]},"Adjunta originaldata":{"main":[[{"node":"Prep Error Payload","type":"main","index":0}]]},"Prep Error Payload":{"main":[[{"node":"Llama Subworkflow Error Sink","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"KVW9hshItNEvzyI4","saveExecutionProgress":true,"saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"dd644607-b0b2-46a0-9eef-5580e053db80","triggerCount":1,"shared":[{"createdAt":"2025-09-19T11:34:56.847Z","updatedAt":"2025-09-19T11:34:56.847Z","role":"workflow:owner","workflowId":"4Nc03GziFo8WlLhF","projectId":"qKHJHnveidvROPB6"}],"tags":[]}