recievesunatqueue-lnGUpCENIBO9aNFA.json
{"updatedAt":"2025-09-01T16:08:08.551Z","createdAt":"2025-08-29T14:24:56.420Z","id":"lnGUpCENIBO9aNFA","name":"RecieveSunatQueue","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"send_sunat_queue","authentication":"basicAuth","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1328,-752],"id":"3eb7b66a-6827-474d-a98f-25593886edc2","name":"From_Dport","webhookId":"fd26a72f-448c-4a67-ad3f-8c5d6b4ecc7e","credentials":{"httpBasicAuth":{"id":"AcT919njxjFmHrNy","name":"send_sunat_queues"}}},{"parameters":{"schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"sunat_queues","mode":"list","cachedResultName":"sunat_queues"},"columns":{"mappingMode":"defineBelow","value":{"queue_type":"={{ $json.body.QueueType }}","queue_state":0,"waiting_time":0,"quantity":0,"top_quantity":0,"is_send_email":0,"transmission_type":"={{ $json.body.TransmissionType }}","dam":"={{ $json.body.Dam }}","regime":"={{ $json.body.Regime }}","year":"={{ $json.body.Year }}","requestexportid":0},"matchingColumns":[],"schema":[{"id":"sunat_queues_id","displayName":"sunat_queues_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"requestexportid","displayName":"requestexportid","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"transmission_type","displayName":"transmission_type","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"queue_type","displayName":"queue_type","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"dam","displayName":"dam","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"regime","displayName":"regime","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"year","displayName":"year","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"queue_state","displayName":"queue_state","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"created","displayName":"created","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"execution","displayName":"execution","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"waiting_time","displayName":"waiting_time","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"quantity","displayName":"quantity","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"top_quantity","displayName":"top_quantity","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"response","displayName":"response","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"is_send_email","displayName":"is_send_email","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-256,-848],"id":"739dfcbc-e4c1-4145-b889-47fb729692c7","name":"Insert Sunat Queue","credentials":{"postgres":{"id":"d53NEEOjDqHRzRm6","name":"Postgres account 2"}},"disabled":true},{"parameters":{"respondWith":"json","responseBody":"={{$json}}","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-656,-752],"id":"3415403c-a3f5-43bd-bcab-afb3b194e0f5","name":"Respond to Webhook"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO sunat_queues \n    (requestexportid, transmission_type, queue_type, dam, regime,year, queue_state,top_quantity)\nVALUES \n    (\n      {{$json.body.RequestExportId}}, \n      '{{ $json.body.TransmissionType }}',{{ $json.body.QueueType }},{{ $json.body.Dam }},{{ $json.body.Regime }},{{ $json.body.Year }},0,0\n    )\nRETURNING *;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1104,-752],"id":"abe04b38-0af3-4c14-8186-bdf7f24fa36d","name":"Insert Sunat Query","credentials":{"postgres":{"id":"d53NEEOjDqHRzRm6","name":"Postgres account 2"}}},{"parameters":{"jsCode":"let output;\n\ntry {\n  if ($json.sunat_queues_id) {\n    // Insert correcto\n    output = {\n      status: \"success\",\n      inserted: $json\n    };\n  } else {\n    // No se devolvió un ID → error\n    output = {\n      status: \"error\",\n      inserted: null\n    };\n  }\n} catch (err) {\n  // Captura cualquier excepción\n  output = {\n    status: \"error\",\n    inserted: null\n  };\n}\n\nreturn [{ json: output }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-880,-752],"id":"0dc8208e-5e60-492e-85b6-ba3ec7e4cfb2","name":"Code"}],"connections":{"From_Dport":{"main":[[{"node":"Insert Sunat Query","type":"main","index":0}]]},"Insert Sunat Queue":{"main":[[]]},"Insert Sunat Query":{"main":[[{"node":"Code","type":"main","index":0}]]},"Respond to Webhook":{"main":[[]]},"Code":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2a8a2e78-c776-4f41-823f-0a30c7f28215","triggerCount":1,"shared":[{"updatedAt":"2025-08-29T14:24:56.420Z","createdAt":"2025-08-29T14:24:56.420Z","role":"workflow:owner","workflowId":"lnGUpCENIBO9aNFA","projectId":"qKHJHnveidvROPB6"}],"tags":[]}