registrodatatablewebhook-mJ7AzEqt_V_SdYW51kCwx.json
{"updatedAt":"2026-02-09T20:41:30.927Z","createdAt":"2026-01-28T21:08:00.027Z","id":"mJ7AzEqt_V_SdYW51kCwx","name":"RegistroDataTableWebHook","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"envio-asociado","authentication":"basicAuth","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-960,-304],"id":"4a26c6db-8e65-4673-96a9-c2300e510ff4","name":"Webhook","webhookId":"d2fec384-1c2d-4117-a0f7-0ac4dd0c6cb5","credentials":{"httpBasicAuth":{"id":"E8T6UoyNijhFPDGo","name":"n8nUser"}}},{"parameters":{"assignments":{"assignments":[{"id":"0e35ec16-5a46-496b-b8dc-1d9e0a4d299e","name":"documentID","value":"={{ $json.body.documentID }}","type":"string"},{"id":"73c928f7-4b30-48dc-9bcd-03614701d3e6","name":"name","value":"={{ $json.body.name }}","type":"string"},{"id":"5a5cdc31-0460-4d0d-9544-d26362f6137e","name":"lastName","value":"={{ $json.body.lastName }}","type":"string"},{"id":"fe0e47dc-066e-4baf-9664-74bd4dc7c4b5","name":"birthday","value":"={{ $json.body.birthday }}","type":"string"},{"id":"e3646fb9-6375-48ad-84aa-73c6ef49f0dc","name":"email","value":"={{ $json.body.email }}","type":"string"},{"id":"4e01a428-d85f-4e16-8aa8-94e0d16f69ba","name":"dataTableName","value":"Asociados","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-736,-304],"id":"36c9f793-6f77-4e84-958b-62a2fc405e14","name":"Edit Fields"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"Hpb70AZse0PAIyX2","mode":"list","cachedResultName":"Asociados","cachedResultUrl":"/projects/qKHJHnveidvROPB6/datatables/Hpb70AZse0PAIyX2"},"filters":{"conditions":[{"keyName":"documentID","keyValue":"={{ $json.documentID }}"}]}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-512,-304],"id":"d5d70d6a-9f26-4f6a-8b4c-6412e0a7d00b","name":"Get row(s)","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"f50a0ea4-b66a-47f7-8965-152c1a16ee99","leftValue":"={{ $json.isEmpty() }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-288,-304],"id":"e9e7143c-c84d-4daf-95bc-a15adccc7bcb","name":"If"},{"parameters":{"dataTableId":{"__rl":true,"value":"Hpb70AZse0PAIyX2","mode":"list","cachedResultName":"Asociados","cachedResultUrl":"/projects/qKHJHnveidvROPB6/datatables/Hpb70AZse0PAIyX2"},"columns":{"mappingMode":"defineBelow","value":{"documentID":"={{ $('Edit Fields').item.json.documentID }}","name":"={{ $('Edit Fields').item.json.name }}","lastName":"={{ $('Edit Fields').item.json.lastName }}","birthday":"={{ $('Edit Fields').item.json.birthday }}","email":"={{ $('Edit Fields').item.json.email }}"},"matchingColumns":[],"schema":[{"id":"documentID","displayName":"documentID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"birthday","displayName":"birthday","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-64,-400],"id":"cd931bb2-4a66-422b-ac49-c9e1ab5b013b","name":"Insert row","onError":"continueErrorOutput"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"ok\": {{ $json.ok }},\n  \"message\" : \"{{ $json.message }}\"\n} ","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[384,-304],"id":"63e94329-874c-4470-ad1c-b0054d24f6fc","name":"Respond to Webhook"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[608,-304],"id":"2ca0e0a5-2914-452e-b3ee-7e7ea4ce3920","name":"No Operation, do nothing"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"ok\": true,\n  \"message\": \"El documento fue registrado satisfactoriamente\"\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,-496],"id":"279481fa-533a-460c-bea0-7c9cd62e0806","name":"Edit Fields1"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"ok\": false,\n  \"message\": \"Se ha producido un error\"\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,-304],"id":"f1ce5755-44f8-43e6-bf6b-7793626ba212","name":"Edit Fields2"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"ok\": false,\n  \"message\": \"El documento ya existe\"\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,-112],"id":"2ea28c73-0c8a-4d9b-8295-a0474b85f8eb","name":"Edit Fields3"}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Get row(s)","type":"main","index":0}]]},"Get row(s)":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Insert row","type":"main","index":0}],[{"node":"Edit Fields3","type":"main","index":0}]]},"Insert row":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Edit Fields2","type":"main","index":0}]]},"Respond to Webhook":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"48e6718c-fcba-46ed-8f1a-3be50270dcbd","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-28T21:08:00.027Z","createdAt":"2026-01-28T21:08:00.027Z","role":"workflow:owner","workflowId":"mJ7AzEqt_V_SdYW51kCwx","projectId":"qKHJHnveidvROPB6"}],"activeVersion":null,"tags":[]}