registroasociados-GSecUpneYSENLBKP2R6ej.json
{"updatedAt":"2026-01-30T14:52:45.301Z","createdAt":"2026-01-27T14:32:51.449Z","id":"GSecUpneYSENLBKP2R6ej","name":"RegistroAsociados","active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Captura de Datos","formDescription":"En este formulario registra tus datos para ser usados en la solicitud","formFields":{"values":[{"fieldLabel":"Doc. Identidad","fieldName":"documentID","requiredField":true},{"fieldLabel":"Nombre","fieldName":"name","requiredField":true},{"fieldLabel":"Apellido","fieldName":"lastName","requiredField":true},{"fieldLabel":"Fecha de Nacimiento","fieldType":"date","fieldName":"birthday","requiredField":true},{"fieldLabel":"Correo","fieldType":"email","fieldName":"email"}]},"options":{"customCss":":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colores vivos y sobrios */\n\t--color-background: #f0f4f8;\n\t--color-test-notice-text: #1b5e20;\n\t--color-test-notice-bg: #e8f5e9;\n\t--color-test-notice-border: #c8e6c9;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #d6dee5;\n\t--color-card-shadow: rgba(30, 60, 90, 0.06);\n\t--color-link: #0077b6;\n\t--color-header: #0d1b2a;\n\t--color-label: #2c3e50;\n\t--color-input-border: #b0bec5;\n\t--color-input-text: #37474f;\n\t--color-focus-border: #00bfa5;\n\t--color-submit-btn-bg: #00796b;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #d32f2f;\n\t--color-required: #ff7043;\n\t--color-clear-button-bg: #78909c;\n\t--color-html-text: #263238;\n\t--color-html-link: #00838f;\n\t--color-header-subtext: #546e7a;\n\n\t/* Bordes */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Espaciado */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensiones */\n\t--container-width: 448px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Otros */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}\n"}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.5,"position":[-1664,-272],"id":"acffddbd-e83d-4d9a-9e63-c2850367d98b","name":"DataRegister","webhookId":"50f7e297-b3bf-417f-95bc-facd013d16ba"},{"parameters":{"assignments":{"assignments":[{"id":"6154f6b2-e6cf-4688-890f-efa429ecab68","name":"nombreDataTable","value":"Asociados","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1440,-272],"id":"4637f8a8-7fbc-456a-8013-83dc8c0b42e6","name":"SetDataTableName"},{"parameters":{"resource":"table","options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-1216,-272],"id":"5aeea120-97ad-44ab-9975-2dbd8968592f","name":"DataTableList"},{"parameters":{"jsCode":"const nombreBuscado = $('SetDataTableName').first().json.nombreDataTable;\n\nlet tablaEncontrada = null;\n\nfor (const item of items) {\n  const tabla = item.json;\n\n  if (tabla.name === nombreBuscado) {\n    tablaEncontrada = tabla.name;\n    break;\n  }\n}\n\nreturn [\n  {\n    json: {\n      existeTabla: tablaEncontrada !== null,\n      nombreTabla: tablaEncontrada || null\n    },\n    pairedItem: {\n      item: 0\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-992,-272],"id":"daa52585-1a81-41ec-8c28-414f2b8afa7e","name":"ValidateDataTableExist"},{"parameters":{"operation":"rowExists","dataTableId":{"__rl":true,"value":"jnx7qJnrCHGBcZcB","mode":"list","cachedResultName":"Asociados","cachedResultUrl":"/projects/qKHJHnveidvROPB6/datatables/jnx7qJnrCHGBcZcB"},"filters":{"conditions":[{"keyName":"documentID","keyValue":"={{ $('DataRegister').item.json.documentID }}"}]}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-544,-368],"id":"8aabc38e-2fca-4a69-9856-60f35e312e62","name":"FindRow","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"58920dea-918c-47d7-8515-743879a3498d","leftValue":"={{ $json.existeTabla }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-768,-272],"id":"665b14dd-eb6b-4eab-b4f8-297499f11bbf","name":"TableExist?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"a86f0807-84cb-47f4-8f5d-633596fee460","leftValue":"={{ $json.isEmpty() }}","rightValue":0,"operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-320,-368],"id":"9dacda05-d5dc-41c2-8d16-6589292166e0","name":"RowExist?"},{"parameters":{"resource":"table","operation":"create","tableName":"={{ $('SetDataTableName').item.json.nombreDataTable }}","columns":{"column":[{"name":"documentID"},{"name":"name"},{"name":"lastName"},{"name":"birthday","type":"date"},{"name":"email"}]},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-320,-128],"id":"51ef95eb-c353-4307-8ff9-3edce4f70b35","name":"DataTableCreate"},{"parameters":{"operation":"completion","completionTitle":"Error","completionMessage":"=El documento {{ $('DataRegister').item.json.documentID }} ya se encuentra registrado ","options":{}},"type":"n8n-nodes-base.form","typeVersion":2.5,"position":[-96,-416],"id":"9f38d95b-d3b4-4ecc-9b60-d5b539f99beb","name":"ErrorMessage","webhookId":"570b0f93-db81-4707-a6a9-c9e620328479"},{"parameters":{"dataTableId":{"__rl":true,"value":"jnx7qJnrCHGBcZcB","mode":"list","cachedResultName":"Asociados","cachedResultUrl":"/projects/qKHJHnveidvROPB6/datatables/jnx7qJnrCHGBcZcB"},"columns":{"mappingMode":"defineBelow","value":{"documentID":"={{ $('DataRegister').item.json.documentID }}","name":"={{ $('DataRegister').item.json.name }}","lastName":"={{ $('DataRegister').item.json.lastName }}","birthday":"={{ $('DataRegister').item.json.birthday }}","email":"={{ $('DataRegister').item.json.email }}"},"matchingColumns":[],"schema":[{"id":"documentID","displayName":"documentID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"birthday","displayName":"birthday","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-96,-176],"id":"b519c7a6-ad98-4041-82e3-9f618a9e533e","name":"RowInsert"},{"parameters":{"operation":"completion","completionTitle":"Success","completionMessage":"=El documento {{ $('DataRegister').item.json.documentID }} se ha registrado satisfactoriamente. ","options":{}},"type":"n8n-nodes-base.form","typeVersion":2.5,"position":[128,-176],"id":"4ad2458f-c5f5-4f4b-b94e-e6654e0eb7ad","name":"SuccessMessage","webhookId":"570b0f93-db81-4707-a6a9-c9e620328479"}],"connections":{"DataRegister":{"main":[[{"node":"SetDataTableName","type":"main","index":0}]]},"SetDataTableName":{"main":[[{"node":"DataTableList","type":"main","index":0}]]},"DataTableList":{"main":[[{"node":"ValidateDataTableExist","type":"main","index":0}]]},"ValidateDataTableExist":{"main":[[{"node":"TableExist?","type":"main","index":0}]]},"FindRow":{"main":[[{"node":"RowExist?","type":"main","index":0}]]},"TableExist?":{"main":[[{"node":"FindRow","type":"main","index":0}],[{"node":"DataTableCreate","type":"main","index":0}]]},"RowExist?":{"main":[[{"node":"ErrorMessage","type":"main","index":0}],[{"node":"RowInsert","type":"main","index":0}]]},"DataTableCreate":{"main":[[{"node":"RowInsert","type":"main","index":0}]]},"RowInsert":{"main":[[{"node":"SuccessMessage","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"54689f10-05e8-499b-b3f9-d89db91c5725","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-27T14:32:51.449Z","createdAt":"2026-01-27T14:32:51.449Z","role":"workflow:owner","workflowId":"GSecUpneYSENLBKP2R6ej","projectId":"qKHJHnveidvROPB6"}],"activeVersion":null,"tags":[]}