sendqueuexmlgenerate-Y7cAZfxUsHYvNxXp.json
{"createdAt":"2025-09-01T20:00:19.239Z","updatedAt":"2025-09-24T17:23:09.654Z","id":"Y7cAZfxUsHYvNxXp","name":"SendQueueXmlGenerate","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"send_sunat_queue","authentication":"basicAuth","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[144,64],"id":"21db10d4-f61b-4e43-bce5-67979bd46176","name":"From_Dport","webhookId":"fd26a72f-448c-4a67-ad3f-8c5d6b4ecc7e","credentials":{"httpBasicAuth":{"id":"AcT919njxjFmHrNy","name":"send_sunat_queues"}}},{"parameters":{"functionCode":"const body = $json.body || {};\n\nconst camposObligatorios = ['RequestExportId', 'DamId', 'RdId', 'TransmissionType', 'Dam', 'Regime', 'Year', 'TopologyId'];\n\nfor (const campo of camposObligatorios) {\n  if (!body.hasOwnProperty(campo) || body[campo] === '') {\n    throw new Error(`Falta el campo: ${campo}`);\n  }\n}\n\nreturn [\n  {\n    json: {\n      ...body\n    }\n  }\n];"},"name":"Validar Entrada","type":"n8n-nodes-base.function","typeVersion":1,"position":[368,64],"id":"da296cbf-b3b8-4f86-b539-d237ae48d9d2"},{"parameters":{"queue":"queue_xml_generate","sendInputData":false,"message":"={{ JSON.stringify($json) }}","options":{}},"type":"n8n-nodes-base.rabbitmq","typeVersion":1.1,"position":[592,64],"id":"c6ae9dcf-f2db-4ec7-9035-73c1994e0161","name":"RabbitMQ","credentials":{"rabbitmq":{"id":"vsvI9Lg7vTP32Drt","name":"RabbitMQ account"}}},{"parameters":{"functionCode":"return [{\n  json: {\n    success: true,\n    message: \"OK\"\n  }\n}];"},"name":"Evaluar Resultado","type":"n8n-nodes-base.function","typeVersion":1,"position":[816,64],"id":"17757542-7280-4e56-bb52-7d7866070fb7"},{"parameters":{"options":{}},"name":"Respuesta personalizada","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1040,64],"id":"2a2ea690-bcec-40f2-bcad-1cde0a814823"}],"connections":{"From_Dport":{"main":[[{"node":"Validar Entrada","type":"main","index":0}]]},"Validar Entrada":{"main":[[{"node":"RabbitMQ","type":"main","index":0}]]},"RabbitMQ":{"main":[[{"node":"Evaluar Resultado","type":"main","index":0}]]},"Evaluar Resultado":{"main":[[{"node":"Respuesta personalizada","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f8b90244-5c3b-46a8-a4fd-edade50b22c9","triggerCount":1,"shared":[{"createdAt":"2025-09-01T20:00:19.239Z","updatedAt":"2025-09-01T20:00:19.239Z","role":"workflow:owner","workflowId":"Y7cAZfxUsHYvNxXp","projectId":"qKHJHnveidvROPB6"}],"tags":[]}