sendsunat-SNpxHqGjqwGTt4Wn.json
{"createdAt":"2025-09-24T20:16:03.020Z","updatedAt":"2025-09-24T21:03:36.879Z","id":"SNpxHqGjqwGTt4Wn","name":"SendSunat","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"return [{\n  json: JSON.parse($input.first().json.content)\n}]\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[352,464],"id":"d93bdb02-caf3-4812-bbef-ddead376671e","name":"Parseo","notesInFlow":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2e9c24c4-5c3f-4426-bd89-e2b22123ebe8","leftValue":"={{ $json.originaldata.retryCount }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1472,496],"id":"8f86b456-a5cd-487d-9bc5-dd9e1bfeac1e","name":"Valida Reintentos"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.response.status }}","rightValue":"SUCCESS","operator":{"type":"string","operation":"equals"},"id":"6f59abc1-c070-4d53-8868-a7966791fe44"}],"combinator":"and"},"renameOutput":true,"outputKey":"SUCCESS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ed496190-4e85-49cd-8ceb-305d07d380ec","leftValue":"={{ $json.response.status }}","rightValue":"WARNING","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"WARNING"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3d626c03-1e22-438c-83c7-d0879c949812","leftValue":"={{ $json.response.status }}","rightValue":"ERROR","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ERROR"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1024,336],"id":"e0995661-5fc8-42b1-bd49-df9ed853a4fa","name":"Validacion Respuesta"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"response\": {{ $json.statusResponse }},\n  \"originaldata\": {\n    \"RequestExportId\": {{ $('Parseo').item.json.RequestExportId || null }},\n    \"DamId\": {{ $('Parseo').item.json.DamId || null }},\n    \"RdId\": {{ $('Parseo').item.json.RdId || 0 }},\n    \"TransmissionType\": \"{{ $('Parseo').item.json.TransmissionType || '' }}\",\n    \"Dam\": \"{{ $('Parseo').item.json.Dam || '' }}\",\n    \"Regime\": \"{{ $('Parseo').item.json.Regime || '' }}\",\n    \"Year\": \"{{ $('Parseo').item.json.Year || '' }}\",\n    \"TopologyId\": {{ $('Parseo').item.json.TopologyId || null }},\n    \"retryCount\": {{ $('Parseo').item.json.retryCount || 3 }},\n    \"secondsToRetry\": {{ $json.result?.secondsToRetry || 30 }}\n  }\n}\n","includeOtherFields":"=","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[800,352],"id":"d085d9e6-3498-4ea7-8bda-6fb4fe3c4224","name":"Parseo Respuesta"},{"parameters":{"jsCode":"// Decrementa y clampa originaldata.retryCount\nconst item = $input.first().json;\nconst current = Number(item.originaldata?.retryCount ?? 0);\nconst next = Math.max(current - 1, 0);\nitem.originaldata = item.originaldata || {};\nitem.originaldata.retryCount = next;\n\n// (Opcional) si quieres “acarrear” secondsToRetry desde la última respuesta:\nif (item.response?.result?.secondsToRetry != null) {\n  item.originaldata.secondsToRetry = Number(item.response.result.secondsToRetry);\n}\n\nreturn [{ json: item }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1248,496],"id":"14e766c0-e7d6-4815-af17-6a401562502c","name":"Actualiza Conteo Reintentos"},{"parameters":{"amount":"={{ $json.originaldata.secondsToRetry || 30 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1696,624],"id":"9fb1dace-aad0-412c-aedd-affcf07d297d","name":"Pausa","webhookId":"16f1026b-b8be-462b-9afb-bca611824110"},{"parameters":{"content":"![Source example](https://devdportu38.dpworld.pe/Theme/images/logoempresa/DPWCALLAO.png#full-width)\n## Sunat Transmission","height":304,"width":256},"type":"n8n-nodes-base.stickyNote","position":[160,-128],"typeVersion":1,"id":"b48d8af9-ac5c-46cf-af62-612dc874a367","name":"Sticky Note1"},{"parameters":{"workflowId":{"__rl":true,"value":"94w66xlDwsvS7XSQ","mode":"list","cachedResultName":"ErrorHandle"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1024,560],"id":"b624a404-c41f-4eac-a844-85a52c5d40f8","name":"Execute Workflow","alwaysOutputData":false},{"parameters":{"assignments":{"assignments":[{"id":"5abf7038-95d9-43a0-a7bb-038c31c4202d","name":"error.message","value":"={{$json[\"error\"][\"message\"]}}","type":"string"},{"id":"68151956-e363-4b07-8706-1257f5f39495","name":"error.stack","value":"={{$json[\"error\"][\"stack\"]}}","type":"string"},{"id":"d5d2eb49-2655-4ee8-afe7-e99be5dd3458","name":"node.name","value":"={{ $workflow.name }}","type":"string"},{"id":"1f3de402-3184-49cd-a84c-7249954e1c9a","name":"data.damid","value":"={{ $json.DamId }}","type":"string"},{"id":"04719210-a722-4dbf-abfd-3a747fe655f8","name":"data.rdid","value":"={{ $json.RdId }}","type":"string"},{"id":"b96561d0-e61e-4126-af56-84301f867e02","name":"data.transmissiontype","value":"={{ $json.TransmissionType }}","type":"string"},{"id":"ecd08711-02a3-4b41-8ec3-11ba22af71cc","name":"data.dam","value":"={{ $json.Dam }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[800,560],"id":"19c60687-44e1-4bec-a272-2b7aac64c304","name":"Parseo Respuesta Error"},{"parameters":{"queue":"queue_sunat_transmission","options":{"acknowledge":"laterMessageNode"}},"type":"n8n-nodes-base.rabbitmqTrigger","typeVersion":1,"position":[128,464],"id":"d9791700-faa7-40ed-95e5-48752ba83dd4","name":"Lee Cola Sunat Transmission","credentials":{"rabbitmq":{"id":"vsvI9Lg7vTP32Drt","name":"RabbitMQ account"}}},{"parameters":{"method":"POST","url":"https://sp2dca-apiis1.dpwc.local:5043/api/aw-fast/FastGateway/SendSUNAT","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n   \"RequestExportId\":{{ $json.RequestExportId }},\n   \"DamId\":{{ $json.DamId }},\n   \"RdId\": {{ $json.RdId }},\n   \"TransmissionType\":\"{{ $json.TransmissionType }}\",\n   \"Dam\":\"{{ $json.Dam }}\",\n   \"Regime\":\"{{ $json.Regime }}\",\n   \"Year\":\"{{ $json.Year }}\",\n   \"TopologyId\":{{ $json.TopologyId }},\n   \"User\":\"send_json_to_n8n_dev\",\n   \"Password\":\"Dport!2025!:::\"\n}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[576,464],"id":"8a84bd90-19aa-4d2b-ab5b-4afb61214dc8","name":"Envia WS Send Sunat","credentials":{"httpBasicAuth":{"id":"AcT919njxjFmHrNy","name":"send_sunat_queues"}},"onError":"continueErrorOutput"},{"parameters":{"queue":"queue_sunat_transmission","sendInputData":false,"message":"={{ JSON.stringify($json.originaldata) }}","options":{}},"type":"n8n-nodes-base.rabbitmq","typeVersion":1.1,"position":[1920,624],"id":"13658aca-6f3a-409f-9ff8-46282e6e2163","name":"Reencola SunatTransmission","credentials":{"rabbitmq":{"id":"vsvI9Lg7vTP32Drt","name":"RabbitMQ account"}}},{"parameters":{"queue":"queue_query_ticket","sendInputData":false,"message":"={{ JSON.stringify($json.originaldata) }}","options":{}},"type":"n8n-nodes-base.rabbitmq","typeVersion":1.1,"position":[1920,208],"id":"eeb67b2b-b5d8-4e3b-a7c9-1c5596db70ca","name":"Envia Nueva Cola QueryTicket","credentials":{"rabbitmq":{"id":"vsvI9Lg7vTP32Drt","name":"RabbitMQ account"}}},{"parameters":{"operation":"deleteMessage"},"type":"n8n-nodes-base.rabbitmq","typeVersion":1.1,"position":[2144,304],"id":"43461f7d-e839-4b60-b1ac-030607354740","name":"Borra de la Cola Sunat Transmission","credentials":{"rabbitmq":{"id":"vsvI9Lg7vTP32Drt","name":"RabbitMQ account"}}}],"connections":{"Parseo":{"main":[[{"node":"Envia WS Send Sunat","type":"main","index":0}]]},"Valida Reintentos":{"main":[[{"node":"Borra de la Cola Sunat Transmission","type":"main","index":0}],[{"node":"Pausa","type":"main","index":0}]]},"Validacion Respuesta":{"main":[[{"node":"Envia Nueva Cola QueryTicket","type":"main","index":0}],[{"node":"Actualiza Conteo Reintentos","type":"main","index":0}],[{"node":"Borra de la Cola Sunat Transmission","type":"main","index":0}]]},"Parseo Respuesta":{"main":[[{"node":"Validacion Respuesta","type":"main","index":0}]]},"Actualiza Conteo Reintentos":{"main":[[{"node":"Valida Reintentos","type":"main","index":0}]]},"Pausa":{"main":[[{"node":"Reencola SunatTransmission","type":"main","index":0}]]},"Parseo Respuesta Error":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Lee Cola Sunat Transmission":{"main":[[{"node":"Parseo","type":"main","index":0}]]},"Envia WS Send Sunat":{"main":[[{"node":"Parseo Respuesta","type":"main","index":0}],[{"node":"Parseo Respuesta Error","type":"main","index":0}]]},"Reencola SunatTransmission":{"main":[[{"node":"Borra de la Cola Sunat Transmission","type":"main","index":0}]]},"Envia Nueva Cola QueryTicket":{"main":[[{"node":"Borra de la Cola Sunat Transmission","type":"main","index":0}]]},"Borra de la Cola Sunat Transmission":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"c5b45e83-3b88-4d14-96a2-1efb815c4c57","triggerCount":0,"shared":[{"createdAt":"2025-09-24T20:16:03.020Z","updatedAt":"2025-09-24T20:16:03.020Z","role":"workflow:owner","workflowId":"SNpxHqGjqwGTt4Wn","projectId":"qKHJHnveidvROPB6"}],"tags":[{"createdAt":"2025-09-23T20:55:21.169Z","updatedAt":"2025-09-23T20:55:21.169Z","id":"AqVIfFmictF9YGtn","name":"GDC-7777"}]}