sendqueuequeryticket-SWeqgArntwP2jh3B.json
{"updatedAt":"2025-10-21T21:26:59.712Z","createdAt":"2025-10-21T15:26:04.571Z","id":"SWeqgArntwP2jh3B","name":"SendQueueQueryTicket","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"send_queue_query_ticket","authentication":"basicAuth","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[144,64],"id":"b1357f45-47f2-42af-8e15-13e2f970915c","name":"From_Dport","webhookId":"54ced1d4-c5b6-4413-b1e3-78862df8c0ae","credentials":{"httpBasicAuth":{"id":"AcT919njxjFmHrNy","name":"send_sunat_queues"}}},{"parameters":{"functionCode":"const body = $json.body || {};\n\nconst camposObligatorios = ['RequestExportId', 'DamId', 'RdId', 'TransmissionType', 'Dam', 'Regime', 'Year', 'TopologyId'];\n\nfor (const campo of camposObligatorios) {\n  if (!body.hasOwnProperty(campo) || body[campo] === '') {\n    throw new Error(`Falta el campo: ${campo}`);\n  }\n}\n\nreturn [\n  {\n    json: {\n      ...body\n    }\n  }\n];"},"name":"Validar Entrada","type":"n8n-nodes-base.function","typeVersion":1,"position":[368,64],"id":"83aaafc7-d9cf-4c45-8e61-cea95aa40f44"},{"parameters":{"queue":"queue_query_ticket","sendInputData":false,"message":"={{ JSON.stringify($json) }}","options":{}},"type":"n8n-nodes-base.rabbitmq","typeVersion":1.1,"position":[592,64],"id":"7f1bf59c-03e8-4c6b-b966-31312f74aa05","name":"RabbitMQ","credentials":{"rabbitmq":{"id":"vsvI9Lg7vTP32Drt","name":"RabbitMQ account"}}},{"parameters":{"functionCode":"return [{\n  json: {\n    success: true,\n    message: \"OK\"\n  }\n}];"},"name":"Evaluar Resultado","type":"n8n-nodes-base.function","typeVersion":1,"position":[816,64],"id":"e14a6f2f-4d2c-4e83-9683-5b12b2bb722f"},{"parameters":{"options":{}},"name":"Respuesta personalizada","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1040,64],"id":"32c8a06f-1031-41e6-8055-a2565da2aa1a"}],"connections":{"From_Dport":{"main":[[{"node":"Validar Entrada","type":"main","index":0}]]},"Validar Entrada":{"main":[[{"node":"RabbitMQ","type":"main","index":0}]]},"RabbitMQ":{"main":[[{"node":"Evaluar Resultado","type":"main","index":0}]]},"Evaluar Resultado":{"main":[[{"node":"Respuesta personalizada","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2dfa0458-c75e-4e57-8680-60e81ac5a6c9","triggerCount":1,"shared":[{"updatedAt":"2025-10-21T15:26:04.571Z","createdAt":"2025-10-21T15:26:04.571Z","role":"workflow:owner","workflowId":"SWeqgArntwP2jh3B","projectId":"qKHJHnveidvROPB6"}],"tags":[{"updatedAt":"2025-09-25T20:25:47.066Z","createdAt":"2025-09-23T20:55:21.169Z","id":"AqVIfFmictF9YGtn","name":"GDC-2490"}]}