sendqueuequerychannel-sFVh1N8s0PohrbRU.json
{"updatedAt":"2025-10-20T20:07:56.758Z","createdAt":"2025-09-30T17:09:59.873Z","id":"sFVh1N8s0PohrbRU","name":"SendQueueQueryChannel","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"send_queue_query_channel","authentication":"basicAuth","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[144,64],"id":"15e3f283-9d67-4a04-b930-0e627f2b7795","name":"From_Dport","webhookId":"601bad6b-2201-403c-8d66-2eea8f4a7c3e","credentials":{"httpBasicAuth":{"id":"AcT919njxjFmHrNy","name":"send_sunat_queues"}}},{"parameters":{"functionCode":"const body = $json.body || {};\n\nconst camposObligatorios = ['RequestExportId', 'DamId', 'RdId', 'TransmissionType', 'Dam', 'Regime', 'Year', 'TopologyId'];\n\nfor (const campo of camposObligatorios) {\n  if (!body.hasOwnProperty(campo) || body[campo] === '') {\n    throw new Error(`Falta el campo: ${campo}`);\n  }\n}\n\nreturn [\n  {\n    json: {\n      ...body\n    }\n  }\n];"},"name":"Validar Entrada","type":"n8n-nodes-base.function","typeVersion":1,"position":[368,64],"id":"06c34a09-149c-4cee-8f09-f48a5d1cd998"},{"parameters":{"queue":"queue_query_channel","sendInputData":false,"message":"={{ JSON.stringify($json) }}","options":{}},"type":"n8n-nodes-base.rabbitmq","typeVersion":1.1,"position":[592,64],"id":"91626460-fc7e-400a-a13a-446c5b40744f","name":"RabbitMQ","credentials":{"rabbitmq":{"id":"vsvI9Lg7vTP32Drt","name":"RabbitMQ account"}}},{"parameters":{"functionCode":"return [{\n  json: {\n    success: true,\n    message: \"OK\"\n  }\n}];"},"name":"Evaluar Resultado","type":"n8n-nodes-base.function","typeVersion":1,"position":[816,64],"id":"f3b7185b-2748-4715-a603-148eaea51287"},{"parameters":{"options":{}},"name":"Respuesta personalizada","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1040,64],"id":"434eed2f-31ae-48d0-885f-408a996c4a29"}],"connections":{"From_Dport":{"main":[[{"node":"Validar Entrada","type":"main","index":0}]]},"Validar Entrada":{"main":[[{"node":"RabbitMQ","type":"main","index":0}]]},"RabbitMQ":{"main":[[{"node":"Evaluar Resultado","type":"main","index":0}]]},"Evaluar Resultado":{"main":[[{"node":"Respuesta personalizada","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"00eab1ec-a326-4e1b-b7c1-4efd736ec015","triggerCount":1,"shared":[{"updatedAt":"2025-09-30T17:09:59.873Z","createdAt":"2025-09-30T17:09:59.873Z","role":"workflow:owner","workflowId":"sFVh1N8s0PohrbRU","projectId":"qKHJHnveidvROPB6"}],"tags":[{"updatedAt":"2025-09-25T20:25:47.066Z","createdAt":"2025-09-23T20:55:21.169Z","id":"AqVIfFmictF9YGtn","name":"GDC-2490"}]}