sendmailsmtp-LAwoPqzIDZ8zuDfB.json
{"updatedAt":"2026-03-04T17:11:05.752Z","createdAt":"2026-02-25T21:27:35.675Z","id":"LAwoPqzIDZ8zuDfB","name":"SendMailSMTP","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-336,-48],"id":"d9e9ed20-34df-4497-96c1-54b1fd250c61","name":"Schedule Trigger"},{"parameters":{"method":"POST","url":"http://localhost:5297/api/eventunit/geteventsunit","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"listRucs\": [\n    7065260673,146693995\n  ],\n  \"cantMinutesForSearch\": 1080\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-128,-48],"id":"e5cd4f0a-dffe-44a0-a1c6-a9eaa6b3fcc2","name":"HTTP Request","alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5270ba4e-dd32-4afb-87bf-956241eb8b39","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[112,-64],"id":"0ea4be9a-7c24-4821-ab7b-3d0a7a30d3ea","name":"If"},{"parameters":{"fromEmail":"={{ $json.from }}","toEmail":"={{ $json.to }}","subject":"={{ $json.subject }}","html":"={{ $json.body }}","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[400,-128],"id":"9f855567-9a89-4834-b308-f15d4b4a3bb4","name":"Send an Email","webhookId":"e3110f90-ad12-473d-9fbd-1fe1da6ffe99"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[48,128],"id":"e9d75d37-6f35-4b17-a406-144a0d46c0af","name":"Code in JavaScript"}],"connections":{"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"Code in JavaScript","type":"main","index":0}]]},"If":{"main":[[{"node":"Send an Email","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{"HTTP Request":[{"json":{"eventTypeId":"UNIT_SEAL","eventPlacedTime":"2023-03-27T00:18:19.107","unitGkey":7138439889,"unitId":"CAIU5534377","blGkey":7138440992,"blNbr":"SHCLL23070485T","consigneeGkey":146693995,"consigneeName":"SAGA FALABELLA S A","vesselName":"CSCL WINTER","vesselIbVyg":"046E","ata":"2025-01-07T12:55:00","isoType":"45R1","basicLength":"BASIC40","transactionSubType":"RI","portRetired":"2023-03-27T00:17:55.269","transactionRucTransport":"20100010217","transactionRucTransportName":"DP WORLD LOGISTICS S.R.L","truckLicenseNbr":"D5S766","scaleWeight":27080,"sealNbr1":"P1786358","sealNbr2":null,"sealNbr3":null,"sealNbr4":null,"category":"IMPRT","freightKind":"MTY"}},{"json":{"eventTypeId":"UNIT_IN_GATE","eventPlacedTime":"2023-03-27T00:59:07.561","unitGkey":7138439889,"unitId":"CAIU5534377","blGkey":7138440992,"blNbr":"SHCLL23070485T","consigneeGkey":146693995,"consigneeName":"SAGA FALABELLA S A","vesselName":"CSCL WINTER","vesselIbVyg":"046E","ata":"2025-01-07T12:55:00","isoType":"45R1","basicLength":"BASIC40","transactionSubType":"RI","portRetired":"2023-03-27T00:17:55.269","transactionRucTransport":"20100010217","transactionRucTransportName":"DP WORLD LOGISTICS S.R.L","truckLicenseNbr":"D5S766","scaleWeight":27080,"sealNbr1":"P1786358","sealNbr2":null,"sealNbr3":null,"sealNbr4":null,"category":"IMPRT","freightKind":"MTY"}},{"json":{"eventTypeId":"UNIT_OUT_GATE","eventPlacedTime":"2023-03-27T14:36:39.993","unitGkey":7114928213,"unitId":"BMOU1454484","blGkey":7114928210,"blNbr":"TLAGT23048","consigneeGkey":7065260673,"consigneeName":"STYWI S A C ","vesselName":"SEASPAN BELLWETHER","vesselIbVyg":"2305E","ata":"2023-03-11T01:48:00","isoType":"22G1","basicLength":"BASIC20","transactionSubType":"DI","portRetired":null,"transactionRucTransport":"20547856318","transactionRucTransportName":"ASA GLOBAL LOGISTIC SAC","truckLicenseNbr":"C9W778","scaleWeight":39680,"sealNbr1":"003601","sealNbr2":null,"sealNbr3":null,"sealNbr4":null,"category":"IMPRT","freightKind":"FCL"}},{"json":{"eventTypeId":"UNIT_OUT_GATE","eventPlacedTime":"2023-03-27T08:05:05.606","unitGkey":7114928344,"unitId":"MOAU0688566","blGkey":7114928210,"blNbr":"TLAGT23048","consigneeGkey":7065260673,"consigneeName":"STYWI S A C ","vesselName":"SEASPAN BELLWETHER","vesselIbVyg":"2305E","ata":"2023-03-11T01:48:00","isoType":"22G1","basicLength":"BASIC20","transactionSubType":"DI","portRetired":null,"transactionRucTransport":"20603242352","transactionRucTransportName":"BIJACIT E.I.R.L","truckLicenseNbr":"B9O860","scaleWeight":38700,"sealNbr1":"003604","sealNbr2":null,"sealNbr3":null,"sealNbr4":null,"category":"IMPRT","freightKind":"FCL"}},{"json":{"eventTypeId":"UNIT_OUT_GATE","eventPlacedTime":"2023-03-27T08:13:34.454","unitGkey":7114928461,"unitId":"TRHU3776255","blGkey":7114928210,"blNbr":"TLAGT23048","consigneeGkey":7065260673,"consigneeName":"STYWI S A C ","vesselName":"SEASPAN BELLWETHER","vesselIbVyg":"2305E","ata":"2023-03-11T01:48:00","isoType":"22G1","basicLength":"BASIC20","transactionSubType":"DI","portRetired":null,"transactionRucTransport":"20603242352","transactionRucTransportName":"BIJACIT E.I.R.L","truckLicenseNbr":"D3D900","scaleWeight":38680,"sealNbr1":"003610","sealNbr2":null,"sealNbr3":null,"sealNbr4":null,"category":"IMPRT","freightKind":"FCL"}},{"json":{"eventTypeId":"UNIT_OUT_GATE","eventPlacedTime":"2023-03-22T11:16:13.022","unitGkey":7114928509,"unitId":"TCLU3909850","blGkey":7114928210,"blNbr":"TLAGT23048","consigneeGkey":7065260673,"consigneeName":"STYWI S A C ","vesselName":"SEASPAN BELLWETHER","vesselIbVyg":"2305E","ata":"2023-03-11T01:48:00","isoType":"22G1","basicLength":"BASIC20","transactionSubType":"DI","portRetired":null,"transactionRucTransport":"20547856318","transactionRucTransportName":"ASA GLOBAL LOGISTIC SAC","truckLicenseNbr":"A5F891","scaleWeight":38430,"sealNbr1":"003608","sealNbr2":null,"sealNbr3":null,"sealNbr4":null,"category":"IMPRT","freightKind":"FCL"}},{"json":{"eventTypeId":"UNIT_OUT_GATE","eventPlacedTime":"2023-03-21T06:16:24.784","unitGkey":7114928520,"unitId":"TEMU5426777","blGkey":7114928210,"blNbr":"TLAGT23048","consigneeGkey":7065260673,"consigneeName":"STYWI S A C ","vesselName":"SEASPAN BELLWETHER","vesselIbVyg":"2305E","ata":"2023-03-11T01:48:00","isoType":"22G1","basicLength":"BASIC20","transactionSubType":"DI","portRetired":null,"transactionRucTransport":"20547856318","transactionRucTransportName":"ASA GLOBAL LOGISTIC SAC","truckLicenseNbr":"TAH867","scaleWeight":42990,"sealNbr1":"003609","sealNbr2":null,"sealNbr3":null,"sealNbr4":null,"category":"IMPRT","freightKind":"FCL"}},{"json":{"eventTypeId":"UNIT_OUT_GATE","eventPlacedTime":"2023-03-22T05:03:20.874","unitGkey":7114928694,"unitId":"NYKU3903072","blGkey":7114928210,"blNbr":"TLAGT23048","consigneeGkey":7065260673,"consigneeName":"STYWI S A C ","vesselName":"SEASPAN BELLWETHER","vesselIbVyg":"2305E","ata":"2023-03-11T01:48:00","isoType":"22G1","basicLength":"BASIC20","transactionSubType":"DI","portRetired":null,"transactionRucTransport":"20547856318","transactionRucTransportName":"ASA GLOBAL LOGISTIC SAC","truckLicenseNbr":"C6N839","scaleWeight":38840,"sealNbr1":"003605","sealNbr2":null,"sealNbr3":null,"sealNbr4":null,"category":"IMPRT","freightKind":"FCL"}},{"json":{"eventTypeId":"UNIT_OUT_GATE","eventPlacedTime":"2023-03-21T05:52:16.607","unitGkey":7114928835,"unitId":"CXDU1744688","blGkey":7114928210,"blNbr":"TLAGT23048","consigneeGkey":7065260673,"consigneeName":"STYWI S A C ","vesselName":"SEASPAN BELLWETHER","vesselIbVyg":"2305E","ata":"2023-03-11T01:48:00","isoType":"22G1","basicLength":"BASIC20","transactionSubType":"DI","portRetired":null,"transactionRucTransport":"20547856318","transactionRucTransportName":"ASA GLOBAL LOGISTIC SAC","truckLicenseNbr":"TAG839","scaleWeight":42790,"sealNbr1":"003602","sealNbr2":null,"sealNbr3":null,"sealNbr4":null,"category":"IMPRT","freightKind":"FCL"}},{"json":{"eventTypeId":"UNIT_OUT_GATE","eventPlacedTime":"2023-03-23T03:48:39.806","unitGkey":7114928879,"unitId":"FTAU1147594","blGkey":7114928210,"blNbr":"TLAGT23048","consigneeGkey":7065260673,"consigneeName":"STYWI S A C ","vesselName":"SEASPAN BELLWETHER","vesselIbVyg":"2305E","ata":"2023-03-11T01:48:00","isoType":"22G1","basicLength":"BASIC20","transactionSubType":"DI","portRetired":null,"transactionRucTransport":"20547856318","transactionRucTransportName":"ASA GLOBAL LOGISTIC SAC","truckLicenseNbr":"C6N839","scaleWeight":38830,"sealNbr1":"003603","sealNbr2":null,"sealNbr3":null,"sealNbr4":null,"category":"IMPRT","freightKind":"FCL"}},{"json":{"eventTypeId":"UNIT_OUT_GATE","eventPlacedTime":"2023-03-27T13:41:37.76","unitGkey":7114928912,"unitId":"TCLU2033803","blGkey":7114928210,"blNbr":"TLAGT23048","consigneeGkey":7065260673,"consigneeName":"STYWI S A C ","vesselName":"SEASPAN BELLWETHER","vesselIbVyg":"2305E","ata":"2023-03-11T01:48:00","isoType":"22G1","basicLength":"BASIC20","transactionSubType":"DI","portRetired":null,"transactionRucTransport":"20547856318","transactionRucTransportName":"ASA GLOBAL LOGISTIC SAC","truckLicenseNbr":"C5U856","scaleWeight":38900,"sealNbr1":"003607","sealNbr2":null,"sealNbr3":null,"sealNbr4":null,"category":"IMPRT","freightKind":"FCL"}},{"json":{"eventTypeId":"UNIT_OUT_GATE","eventPlacedTime":"2023-03-25T03:57:29.073","unitGkey":7114928228,"unitId":"BSIU3089679","blGkey":7114928225,"blNbr":"TLAGT23057","consigneeGkey":7065260673,"consigneeName":"STYWI S A C ","vesselName":"SEASPAN BELLWETHER","vesselIbVyg":"2305E","ata":"2023-03-11T01:48:00","isoType":"22G1","basicLength":"BASIC20","transactionSubType":"DI","portRetired":null,"transactionRucTransport":"20603242352","transactionRucTransportName":"BIJACIT E.I.R.L","truckLicenseNbr":"B9O860","scaleWeight":38500,"sealNbr1":"003621","sealNbr2":null,"sealNbr3":null,"sealNbr4":null,"category":"IMPRT","freightKind":"FCL"}},{"json":{"eventTypeId":"UNIT_OUT_GATE","eventPlacedTime":"2023-03-28T04:47:36.154","unitGkey":7114928749,"unitId":"FCIU5688935","blGkey":7114928225,"blNbr":"TLAGT23057","consigneeGkey":7065260673,"consigneeName":"STYWI S A C ","vesselName":"SEASPAN BELLWETHER","vesselIbVyg":"2305E","ata":"2023-03-11T01:48:00","isoType":"22G1","basicLength":"BASIC20","transactionSubType":"DI","portRetired":null,"transactionRucTransport":"20547856318","transactionRucTransportName":"ASA GLOBAL LOGISTIC SAC","truckLicenseNbr":"C9W778","scaleWeight":39630,"sealNbr1":"003622","sealNbr2":null,"sealNbr3":null,"sealNbr4":null,"category":"IMPRT","freightKind":"FCL"}},{"json":{"eventTypeId":"UNIT_OUT_GATE","eventPlacedTime":"2023-03-28T04:41:25.121","unitGkey":7114928857,"unitId":"TRHU3415247","blGkey":7114928225,"blNbr":"TLAGT23057","consigneeGkey":7065260673,"consigneeName":"STYWI S A C ","vesselName":"SEASPAN BELLWETHER","vesselIbVyg":"2305E","ata":"2023-03-11T01:48:00","isoType":"22G1","basicLength":"BASIC20","transactionSubType":"DI","portRetired":null,"transactionRucTransport":"20547856318","transactionRucTransportName":"ASA GLOBAL LOGISTIC SAC","truckLicenseNbr":"C6N839","scaleWeight":38770,"sealNbr1":"003629","sealNbr2":null,"sealNbr3":null,"sealNbr4":null,"category":"IMPRT","freightKind":"FCL"}},{"json":{"eventTypeId":"UNIT_IN_GATE","eventPlacedTime":"2023-03-28T04:31:22.451","unitGkey":7140426500,"unitId":"TGCU2044033","blGkey":7140426497,"blNbr":"23OM036356","consigneeGkey":7065260673,"consigneeName":"STYWI S A C ","vesselName":"CMA CGM MALTA","vesselIbVyg":"0LI0UN1MA","ata":"2025-02-25T14:56:00","isoType":"22G1","basicLength":"BASIC20","transactionSubType":"RI","portRetired":"2023-03-28T03:45:34.163","transactionRucTransport":"20601915503","transactionRucTransportName":"GRUPO V.S S.A.C.","truckLicenseNbr":"D2T739","scaleWeight":43000,"sealNbr1":"BWT7462","sealNbr2":"BCF1971","sealNbr3":null,"sealNbr4":null,"category":"IMPRT","freightKind":"FCL"}},{"json":{"eventTypeId":"UNIT_SEAL","eventPlacedTime":"2023-03-28T04:31:22.796","unitGkey":7140426500,"unitId":"TGCU2044033","blGkey":7140426497,"blNbr":"23OM036356","consigneeGkey":7065260673,"consigneeName":"STYWI S A C ","vesselName":"CMA CGM MALTA","vesselIbVyg":"0LI0UN1MA","ata":"2025-02-25T14:56:00","isoType":"22G1","basicLength":"BASIC20","transactionSubType":"RI","portRetired":"2023-03-28T03:45:34.163","transactionRucTransport":"20601915503","transactionRucTransportName":"GRUPO V.S S.A.C.","truckLicenseNbr":"D2T739","scaleWeight":43000,"sealNbr1":"BWT7462","sealNbr2":"BCF1971","sealNbr3":null,"sealNbr4":null,"category":"IMPRT","freightKind":"FCL"}},{"json":{"eventTypeId":"UNIT_SEAL","eventPlacedTime":"2023-03-28T03:45:58.761","unitGkey":7140426500,"unitId":"TGCU2044033","blGkey":7140426497,"blNbr":"23OM036356","consigneeGkey":7065260673,"consigneeName":"STYWI S A C ","vesselName":"CMA CGM MALTA","vesselIbVyg":"0LI0UN1MA","ata":"2025-02-25T14:56:00","isoType":"22G1","basicLength":"BASIC20","transactionSubType":"RI","portRetired":"2023-03-28T03:45:34.163","transactionRucTransport":"20601915503","transactionRucTransportName":"GRUPO V.S S.A.C.","truckLicenseNbr":"D2T739","scaleWeight":43000,"sealNbr1":"BWT7462","sealNbr2":"BCF1971","sealNbr3":null,"sealNbr4":null,"category":"IMPRT","freightKind":"FCL"}},{"json":{"eventTypeId":"UNIT_IN_GATE","eventPlacedTime":"2023-03-28T04:17:42.522","unitGkey":7140426590,"unitId":"CMAU0594695","blGkey":7140426497,"blNbr":"23OM036356","consigneeGkey":7065260673,"consigneeName":"STYWI S A C ","vesselName":"CMA CGM MALTA","vesselIbVyg":"0LI0UN1MA","ata":"2025-02-25T14:56:00","isoType":"22G1","basicLength":"BASIC20","transactionSubType":"RI","portRetired":"2023-03-28T03:29:40.302","transactionRucTransport":"20100010217","transactionRucTransportName":"DP WORLD LOGISTICS S.R.L","truckLicenseNbr":"D5S766","scaleWeight":43030,"sealNbr1":"BCE9319","sealNbr2":"BCF0814","sealNbr3":null,"sealNbr4":null,"category":"IMPRT","freightKind":"FCL"}},{"json":{"eventTypeId":"UNIT_SEAL","eventPlacedTime":"2023-03-28T03:29:58.803","unitGkey":7140426590,"unitId":"CMAU0594695","blGkey":7140426497,"blNbr":"23OM036356","consigneeGkey":7065260673,"consigneeName":"STYWI S A C ","vesselName":"CMA CGM MALTA","vesselIbVyg":"0LI0UN1MA","ata":"2025-02-25T14:56:00","isoType":"22G1","basicLength":"BASIC20","transactionSubType":"RI","portRetired":"2023-03-28T03:29:40.302","transactionRucTransport":"20100010217","transactionRucTransportName":"DP WORLD LOGISTICS S.R.L","truckLicenseNbr":"D5S766","scaleWeight":43030,"sealNbr1":"BCE9319","sealNbr2":"BCF0814","sealNbr3":null,"sealNbr4":null,"category":"IMPRT","freightKind":"FCL"}},{"json":{"eventTypeId":"UNIT_SEAL","eventPlacedTime":"2023-03-27T02:15:37.847","unitGkey":7140427156,"unitId":"SEGU1776451","blGkey":7140426497,"blNbr":"23OM036356","consigneeGkey":7065260673,"consigneeName":"STYWI S A C ","vesselName":"CMA CGM MALTA","vesselIbVyg":"0LI0UN1MA","ata":"2025-02-25T14:56:00","isoType":"22G1","basicLength":"BASIC20","transactionSubType":"RI","portRetired":"2023-03-27T02:15:13.643","transactionRucTransport":"20100010217","transactionRucTransportName":"DP WORLD LOGISTICS S.R.L","truckLicenseNbr":"D7Q813","scaleWeight":41490,"sealNbr1":"BCE9363","sealNbr2":"BCF1987","sealNbr3":null,"sealNbr4":null,"category":"IMPRT","freightKind":"FCL"}},{"json":{"eventTypeId":"UNIT_IN_GATE","eventPlacedTime":"2023-03-27T02:41:32.586","unitGkey":7140427156,"unitId":"SEGU1776451","blGkey":7140426497,"blNbr":"23OM036356","consigneeGkey":7065260673,"consigneeName":"STYWI S A C ","vesselName":"CMA CGM MALTA","vesselIbVyg":"0LI0UN1MA","ata":"2025-02-25T14:56:00","isoType":"22G1","basicLength":"BASIC20","transactionSubType":"RI","portRetired":"2023-03-27T02:15:13.643","transactionRucTransport":"20100010217","transactionRucTransportName":"DP WORLD LOGISTICS S.R.L","truckLicenseNbr":"D7Q813","scaleWeight":41490,"sealNbr1":"BCE9363","sealNbr2":"BCF1987","sealNbr3":null,"sealNbr4":null,"category":"IMPRT","freightKind":"FCL"}},{"json":{"eventTypeId":"UNIT_SEAL","eventPlacedTime":"2023-03-27T02:41:32.899","unitGkey":7140427156,"unitId":"SEGU1776451","blGkey":7140426497,"blNbr":"23OM036356","consigneeGkey":7065260673,"consigneeName":"STYWI S A C ","vesselName":"CMA CGM MALTA","vesselIbVyg":"0LI0UN1MA","ata":"2025-02-25T14:56:00","isoType":"22G1","basicLength":"BASIC20","transactionSubType":"RI","portRetired":"2023-03-27T02:15:13.643","transactionRucTransport":"20100010217","transactionRucTransportName":"DP WORLD LOGISTICS S.R.L","truckLicenseNbr":"D7Q813","scaleWeight":41490,"sealNbr1":"BCE9363","sealNbr2":"BCF1987","sealNbr3":null,"sealNbr4":null,"category":"IMPRT","freightKind":"FCL"}},{"json":{"eventTypeId":"UNIT_IN_GATE","eventPlacedTime":"2023-03-28T05:18:16.279","unitGkey":7140427167,"unitId":"TEMU0926682","blGkey":7140426497,"blNbr":"23OM036356","consigneeGkey":7065260673,"consigneeName":"STYWI S A C ","vesselName":"CMA CGM MALTA","vesselIbVyg":"0LI0UN1MA","ata":"2025-02-25T14:56:00","isoType":"22G1","basicLength":"BASIC20","transactionSubType":"RI","portRetired":"2023-03-28T04:41:58.563","transactionRucTransport":"20100010217","transactionRucTransportName":"DP WORLD LOGISTICS S.R.L","truckLicenseNbr":"D7N710","scaleWeight":42390,"sealNbr1":"BCE9369","sealNbr2":"BCF2016","sealNbr3":null,"sealNbr4":null,"category":"IMPRT","freightKind":"LCL"}},{"json":{"eventTypeId":"UNIT_SEAL","eventPlacedTime":"2023-03-28T04:42:16.44","unitGkey":7140427167,"unitId":"TEMU0926682","blGkey":7140426497,"blNbr":"23OM036356","consigneeGkey":7065260673,"consigneeName":"STYWI S A C ","vesselName":"CMA CGM MALTA","vesselIbVyg":"0LI0UN1MA","ata":"2025-02-25T14:56:00","isoType":"22G1","basicLength":"BASIC20","transactionSubType":"RI","portRetired":"2023-03-28T04:41:58.563","transactionRucTransport":"20100010217","transactionRucTransportName":"DP WORLD LOGISTICS S.R.L","truckLicenseNbr":"D7N710","scaleWeight":42390,"sealNbr1":"BCE9369","sealNbr2":"BCF2016","sealNbr3":null,"sealNbr4":null,"category":"IMPRT","freightKind":"LCL"}},{"json":{"eventTypeId":"UNIT_IN_GATE","eventPlacedTime":"2023-03-27T01:17:23.98","unitGkey":7140427602,"unitId":"CMAU0375193","blGkey":7140426497,"blNbr":"23OM036356","consigneeGkey":7065260673,"consigneeName":"STYWI S A C ","vesselName":"CMA CGM MALTA","vesselIbVyg":"0LI0UN1MA","ata":"2025-02-25T14:56:00","isoType":"22G1","basicLength":"BASIC20","transactionSubType":"RI","portRetired":"2023-03-27T01:02:43.297","transactionRucTransport":"20100010217","transactionRucTransportName":"DP WORLD LOGISTICS S.R.L","truckLicenseNbr":"C3H724","scaleWeight":43050,"sealNbr1":"BWW9481","sealNbr2":"BCH4842","sealNbr3":null,"sealNbr4":null,"category":"IMPRT","freightKind":"FCL"}},{"json":{"eventTypeId":"UNIT_SEAL","eventPlacedTime":"2023-03-27T01:17:24.308","unitGkey":7140427602,"unitId":"CMAU0375193","blGkey":7140426497,"blNbr":"23OM036356","consigneeGkey":7065260673,"consigneeName":"STYWI S A C ","vesselName":"CMA CGM MALTA","vesselIbVyg":"0LI0UN1MA","ata":"2025-02-25T14:56:00","isoType":"22G1","basicLength":"BASIC20","transactionSubType":"RI","portRetired":"2023-03-27T01:02:43.297","transactionRucTransport":"20100010217","transactionRucTransportName":"DP WORLD LOGISTICS S.R.L","truckLicenseNbr":"C3H724","scaleWeight":43050,"sealNbr1":"BWW9481","sealNbr2":"BCH4842","sealNbr3":null,"sealNbr4":null,"category":"IMPRT","freightKind":"FCL"}},{"json":{"eventTypeId":"UNIT_SEAL","eventPlacedTime":"2023-03-27T01:04:14.835","unitGkey":7140427602,"unitId":"CMAU0375193","blGkey":7140426497,"blNbr":"23OM036356","consigneeGkey":7065260673,"consigneeName":"STYWI S A C ","vesselName":"CMA CGM MALTA","vesselIbVyg":"0LI0UN1MA","ata":"2025-02-25T14:56:00","isoType":"22G1","basicLength":"BASIC20","transactionSubType":"RI","portRetired":"2023-03-27T01:02:43.297","transactionRucTransport":"20100010217","transactionRucTransportName":"DP WORLD LOGISTICS S.R.L","truckLicenseNbr":"C3H724","scaleWeight":43050,"sealNbr1":"BWW9481","sealNbr2":"BCH4842","sealNbr3":null,"sealNbr4":null,"category":"IMPRT","freightKind":"FCL"}}]},"versionId":"29b9c6e3-4c88-4578-89f1-74ef9b570526","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-25T21:27:35.675Z","createdAt":"2026-02-25T21:27:35.675Z","role":"workflow:owner","workflowId":"LAwoPqzIDZ8zuDfB","projectId":"XyTUGZuLlHoLWyca"}],"activeVersion":null,"tags":[]}