sendqueuechannelreplicate-p9TJtXAgoSt6D6TD.json
{"updatedAt":"2025-10-20T21:15:38.314Z","createdAt":"2025-10-20T20:08:59.169Z","id":"p9TJtXAgoSt6D6TD","name":"SendQueueChannelReplicate","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"send_queue_query_channel","authentication":"basicAuth","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[144,64],"id":"49f947e8-7d1f-4ccf-981f-f4b90612a189","name":"From_Dport","webhookId":"6aa49ec3-6c9e-4e07-9513-8f8f1503fbb3","credentials":{"httpBasicAuth":{"id":"AcT919njxjFmHrNy","name":"send_sunat_queues"}}},{"parameters":{"functionCode":"const body = $json.body || {};\n\nconst camposObligatorios = ['RequestExportId', 'DamId', 'RdId', 'TransmissionType', 'Dam', 'Regime', 'Year', 'TopologyId'];\n\nfor (const campo of camposObligatorios) {\n  if (!body.hasOwnProperty(campo) || body[campo] === '') {\n    throw new Error(`Falta el campo: ${campo}`);\n  }\n}\n\nreturn [\n  {\n    json: {\n      ...body\n    }\n  }\n];"},"name":"Validar Entrada","type":"n8n-nodes-base.function","typeVersion":1,"position":[368,64],"id":"dcda169c-eaf5-41e0-afe9-618dc798e898"},{"parameters":{"queue":"queue_channel_replicate","sendInputData":false,"message":"={{ JSON.stringify($json) }}","options":{}},"type":"n8n-nodes-base.rabbitmq","typeVersion":1.1,"position":[592,64],"id":"2c0668ad-07b8-40fc-a827-98b97487e554","name":"RabbitMQ","credentials":{"rabbitmq":{"id":"vsvI9Lg7vTP32Drt","name":"RabbitMQ account"}}},{"parameters":{"functionCode":"return [{\n  json: {\n    success: true,\n    message: \"OK\"\n  }\n}];"},"name":"Evaluar Resultado","type":"n8n-nodes-base.function","typeVersion":1,"position":[816,64],"id":"0436e05a-0115-4126-83a1-c1776a91ee3f"},{"parameters":{"options":{}},"name":"Respuesta personalizada","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1040,64],"id":"0519b7f2-f78e-4de9-8682-1ce8ae78c697"}],"connections":{"From_Dport":{"main":[[{"node":"Validar Entrada","type":"main","index":0}]]},"Validar Entrada":{"main":[[{"node":"RabbitMQ","type":"main","index":0}]]},"RabbitMQ":{"main":[[{"node":"Evaluar Resultado","type":"main","index":0}]]},"Evaluar Resultado":{"main":[[{"node":"Respuesta personalizada","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e0a1d69a-2721-49f2-a245-fd991c6c545b","triggerCount":1,"shared":[{"updatedAt":"2025-10-20T20:08:59.169Z","createdAt":"2025-10-20T20:08:59.169Z","role":"workflow:owner","workflowId":"p9TJtXAgoSt6D6TD","projectId":"qKHJHnveidvROPB6"}],"tags":[{"updatedAt":"2025-09-25T20:25:47.066Z","createdAt":"2025-09-23T20:55:21.169Z","id":"AqVIfFmictF9YGtn","name":"GDC-2490"}]}