sendqueuesunattransmission-koJfeDS5B8ITc0Vm.json
{"updatedAt":"2025-10-28T19:26:47.308Z","createdAt":"2025-10-01T14:48:02.953Z","id":"koJfeDS5B8ITc0Vm","name":"SendQueueSUnatTransmission","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"queue_sunat_transmission","authentication":"basicAuth","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[144,64],"id":"f2ea96ff-1f9b-4bf3-96ff-f5ef5ca38deb","name":"From_Dport","webhookId":"b5296855-d536-4d9d-8593-4bcbbae0f6b7","credentials":{"httpBasicAuth":{"id":"AcT919njxjFmHrNy","name":"send_sunat_queues"}}},{"parameters":{"functionCode":"const body = $json.body || {};\n\nconst camposObligatorios = ['RequestExportId', 'DamId', 'RdId', 'TransmissionType', 'Dam', 'Regime', 'Year', 'TopologyId'];\n\nfor (const campo of camposObligatorios) {\n  if (!body.hasOwnProperty(campo) || body[campo] === '') {\n    throw new Error(`Falta el campo: ${campo}`);\n  }\n}\n\nreturn [\n  {\n    json: {\n      ...body\n    }\n  }\n];"},"name":"Validar Entrada","type":"n8n-nodes-base.function","typeVersion":1,"position":[368,64],"id":"11b9645b-19ea-4db3-99ce-50768f223657"},{"parameters":{"queue":"queue_sunat_transmission","sendInputData":false,"message":"={{ JSON.stringify($json) }}","options":{}},"type":"n8n-nodes-base.rabbitmq","typeVersion":1.1,"position":[592,64],"id":"cace78fe-e606-4817-a339-10dcc221f4e7","name":"RabbitMQ","credentials":{"rabbitmq":{"id":"vsvI9Lg7vTP32Drt","name":"RabbitMQ account"}}},{"parameters":{"functionCode":"return [{\n  json: {\n    success: true,\n    message: \"OK\"\n  }\n}];"},"name":"Evaluar Resultado","type":"n8n-nodes-base.function","typeVersion":1,"position":[816,64],"id":"f3437cd5-3f4e-4199-9ad1-4f929a842a4c"},{"parameters":{"options":{}},"name":"Respuesta personalizada","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1040,64],"id":"54b77c0e-30e8-4228-a4da-7612bf5c9e1e"}],"connections":{"From_Dport":{"main":[[{"node":"Validar Entrada","type":"main","index":0}]]},"Validar Entrada":{"main":[[{"node":"RabbitMQ","type":"main","index":0}]]},"RabbitMQ":{"main":[[{"node":"Evaluar Resultado","type":"main","index":0}]]},"Evaluar Resultado":{"main":[[{"node":"Respuesta personalizada","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2154dc54-3002-40b8-aa11-9e1f63bdf642","triggerCount":1,"shared":[{"updatedAt":"2025-10-01T14:48:02.953Z","createdAt":"2025-10-01T14:48:02.953Z","role":"workflow:owner","workflowId":"koJfeDS5B8ITc0Vm","projectId":"qKHJHnveidvROPB6"}],"tags":[{"updatedAt":"2025-09-25T20:25:47.066Z","createdAt":"2025-09-23T20:55:21.169Z","id":"AqVIfFmictF9YGtn","name":"GDC-2490"}]}