subedlocumentos-OBV6mBGWWDi02rpG.json
{"updatedAt":"2025-09-01T20:00:00.911Z","createdAt":"2025-09-01T14:29:36.893Z","id":"OBV6mBGWWDi02rpG","name":"SubeDlocumentos","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"=Eres una asistente y usar tu herramienta knowledge_base para respodenr preguntas"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[256,64],"id":"d54b76c3-3f51-4da4-879e-2c6de5a87927","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[256,336],"id":"e5df38bb-99a8-4eef-92f7-b4141a6754e3","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"nGnVyaNNhuv5AM6t","name":"OpenAi FMCR"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionId }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[400,336],"id":"9cf937c9-874f-4ee4-8002-0825342221ed","name":"Simple Memory"},{"parameters":{"formTitle":"Cargar Datos","formFields":{"values":[{"fieldLabel":"Cargar_Base_Prestamos","fieldType":"file","acceptFileTypes":".pdf","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-576,96],"id":"d71bb713-295e-4314-a376-a2119a917f3f","name":"On form submission","webhookId":"ffdf57ac-7b0d-4290-ae8e-2921474390b8"},{"parameters":{"mode":"insert","memoryKey":{"__rl":true,"value":"efectivabanco","mode":"list"},"clearStore":true},"type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1.3,"position":[-432,96],"id":"7b9750f1-3e21-4c56-ade4-98f8f99f87a5","name":"Simple Vector Store"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-432,368],"id":"b278e913-4fb6-4d36-a342-1fb00122ff34","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"nGnVyaNNhuv5AM6t","name":"OpenAi FMCR"}}},{"parameters":{"dataType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[-192,256],"id":"70874d79-b7bd-48fc-8828-891f2d455850","name":"Default Data Loader"},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Eres el knowledge_base del AI Agent","memoryKey":{"__rl":true,"value":"efectivabanco","mode":"list","cachedResultName":"efectivabanco"},"includeDocumentMetadata":false},"type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1.3,"position":[512,416],"id":"325bb8f2-351b-4899-be12-651816ea53e7","name":"knowledge_base"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[16,64],"id":"9206a08b-adf8-4b6b-96db-38e81af010db","name":"When chat message received","webhookId":"ea85d9cb-e1a3-4be8-9e15-8928ef830fb6"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[]]},"On form submission":{"main":[[{"node":"Simple Vector Store","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Simple Vector Store","type":"ai_embedding","index":0},{"node":"knowledge_base","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Simple Vector Store","type":"ai_document","index":0}]]},"knowledge_base":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"abb0932d-b39d-496f-b2e3-500f556b56e6","triggerCount":2,"shared":[{"updatedAt":"2025-09-01T14:29:36.893Z","createdAt":"2025-09-01T14:29:36.893Z","role":"workflow:owner","workflowId":"OBV6mBGWWDi02rpG","projectId":"qKHJHnveidvROPB6"}],"tags":[]}