test-soap-request-TadYd0JRzndqFUwW.json
{"updatedAt":"2026-03-03T21:07:38.028Z","createdAt":"2026-03-03T17:04:15.829Z","id":"TadYd0JRzndqFUwW","name":"TEST SOAP REQUEST","active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"TEST","formFields":{"values":[{"fieldLabel":"CONTENEDOR"},{"fieldLabel":"ESTATUS","fieldType":"dropdown","fieldOptions":{"values":[{"option":"PASO"},{"option":"NO PASO"}]}},{"fieldLabel":"ITV","fieldType":"dropdown","fieldOptions":{"values":[{"option":"=ITV1"},{"option":"EXTERNO (PLACA)"}]}}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.5,"position":[-448,-16],"id":"136547d7-3c71-439b-a82a-1a9f236c7f36","name":"On form submission","webhookId":"41217d61-0abd-4bc1-85ce-6d1752b59006"},{"parameters":{"assignments":{"assignments":[{"id":"90312118-fc28-4385-bfa8-9de55078b37c","name":"CONTENEDOR","value":"={{ $json.CONTENEDOR }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-128,-16],"id":"ebcd2db1-d74f-4e8b-be97-ec9db7ba584f","name":"Edit Fields"},{"parameters":{"method":"POST","url":"http://devn4u40webservice.dpwc.local:9081/apex/services/argoservice","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"text/xml; charset=utf-8"},{"name":"SOAPAction","value":"\"\""}]},"sendBody":true,"contentType":"raw","rawContentType":"text/xml; charset=utf-8","body":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\"\n                  xmlns:tns=\"http://www.navis.com/services/argoservice\"\n                  xmlns:types=\"http://types.webservice.argo.navis.com/v1.0\">\n  <soapenv:Header/>\n  <soapenv:Body>\n    <tns:genericInvoke>\n\n      <scopeCoordinateIdsWsType>\n        <types:operatorId>DPW</types:operatorId>\n        <types:complexId>CLL</types:complexId>\n        <types:facilityId>CLL</types:facilityId>\n        <types:yardId>CLL</types:yardId>\n      </scopeCoordinateIdsWsType>\n\n      <xmlDoc><![CDATA[\n<groovy class-name='DpwCllGvyInjeNSGCTruckDriver' class-location='database' >\n    <parameters> \n        <parameter id='driverTranType' value='update' />\n        <parameter id='driverTrkcGkey' value='0' /> <parameter id='driverCardId' value='25544130' />\n        <parameter id='driverRequestXml' value='&lt;?xml version=\"1.0\" encoding=\"utf-16\"?>\n&lt;snx xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xsi:schemaLocation=\"http://www.navis.com/argo\">\n&lt;truck-driver card-id=\"25544130\" license-nbr=\"Q25544130\" name=\"WALTER LORENZO SINCHI GONZALES\" email-address=\"sinchiyarrinmilagrosceleste@gmail.com\" is-hazard-licensed=\"N\" status=\"OK\" flex-1=\"SINCHI GONZALES\" flex-3=\"WALTER LORENZO\" flex-4=\"0\">\n&lt;custom-dynamic-flex-fields xmlns=\"\">\n&lt;custom-dynamic-flex-field name=\"customFlexFields.driverCustomDFFphone\" value=\"51955314049\" />\n&lt;custom-dynamic-flex-field name=\"customFlexFields.driverCustomDFFfingerprint\" value=\"true\" />\n&lt;custom-dynamic-flex-field name=\"customFlexFields.driverCustomDFFRole\" value=\"DEPOT\" />\n&lt;custom-dynamic-flex-field name=\"customFlexFields.driverCustomDFFTypeDriver\" value=\"Truck\" />\n&lt;custom-dynamic-flex-field name=\"customFlexFields.driverCustomDFFfingerprintcll\" value=\"false\" />\n&lt;/custom-dynamic-flex-fields>\n&lt;/truck-driver>\n&lt;/snx>' /> \n        <parameter id='driverStatusRelation' value='false' />  \n    </parameters> \n</groovy>\n      ]]></xmlDoc>\n\n    </tns:genericInvoke>\n  </soapenv:Body>\n</soapenv:Envelope>","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[192,-16],"id":"43cd81af-22a9-4711-9aa7-0cec40a8979e","name":"ESTE FUNCIONA","credentials":{"httpBasicAuth":{"id":"TW3hOoLOTRS4VTVK","name":"Unnamed credential"}}}],"connections":{"On form submission":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"ESTE FUNCIONA","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"90ab55ad-1566-44b0-89ad-7e892d2e9010","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-03T17:04:15.829Z","createdAt":"2026-03-03T17:04:15.829Z","role":"workflow:owner","workflowId":"TadYd0JRzndqFUwW","projectId":"AABpcXAcT6RuONaC"}],"activeVersion":null,"tags":[]}