testluis-SkEPx0VXU1cI3Fs1FQzQp.json
{"updatedAt":"2026-01-22T15:42:25.237Z","createdAt":"2026-01-21T17:35:21.807Z","id":"SkEPx0VXU1cI3Fs1FQzQp","name":"TestLuis","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"test-luis","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-304,-160],"id":"25b33bc5-89b3-4ae0-8795-b780ded563ae","name":"Webhook","webhookId":"f9eff77d-2912-4629-b984-829fcc995923"},{"parameters":{"promptType":"define","text":"={{ $json.body.detalle }}","options":{"systemMessage":"={{ $json.body.instruccion }} en base a {{ $json.body.detalle }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-80,-160],"id":"05f163ee-2877-4739-b00a-bcb62ac1f457","name":"AI Agent","alwaysOutputData":true},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-192,112],"id":"48ccbfbf-c060-4926-a7eb-ada8498f9fa3","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"pYJ5kiHwDN6PD94H","name":"OpenAiAcceAlpha"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[272,-160],"id":"b5b75ae0-e497-4d7d-a285-0e42f1c7ee6c","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"161e24af-8c1f-47f2-8888-5f54d6b4ff63","activeVersionId":"161e24af-8c1f-47f2-8888-5f54d6b4ff63","triggerCount":1,"shared":[{"updatedAt":"2026-01-21T17:35:21.807Z","createdAt":"2026-01-21T17:35:21.807Z","role":"workflow:owner","workflowId":"SkEPx0VXU1cI3Fs1FQzQp","projectId":"qKHJHnveidvROPB6"}],"activeVersion":{"updatedAt":"2026-01-22T15:42:27.656Z","createdAt":"2026-01-22T15:42:25.239Z","versionId":"161e24af-8c1f-47f2-8888-5f54d6b4ff63","workflowId":"SkEPx0VXU1cI3Fs1FQzQp","nodes":[{"parameters":{"httpMethod":"POST","path":"test-luis","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-304,-160],"id":"25b33bc5-89b3-4ae0-8795-b780ded563ae","name":"Webhook","webhookId":"f9eff77d-2912-4629-b984-829fcc995923"},{"parameters":{"promptType":"define","text":"={{ $json.body.detalle }}","options":{"systemMessage":"={{ $json.body.instruccion }} en base a {{ $json.body.detalle }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-80,-160],"id":"05f163ee-2877-4739-b00a-bcb62ac1f457","name":"AI Agent","alwaysOutputData":true},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-192,112],"id":"48ccbfbf-c060-4926-a7eb-ada8498f9fa3","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"pYJ5kiHwDN6PD94H","name":"OpenAiAcceAlpha"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[272,-160],"id":"b5b75ae0-e497-4d7d-a285-0e42f1c7ee6c","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"authors":"Dpw Integration","name":"Version 161e24af","description":"","autosaved":false},"tags":[]}