test-resize-jpg-nTsle7Szs4PwN0ga.json
{"updatedAt":"2026-02-26T21:57:24.268Z","createdAt":"2026-02-26T20:36:28.589Z","id":"nTsle7Szs4PwN0ga","name":"Test Resize JPG","active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"TEST","formFields":{"values":[{"fieldLabel":"Fotos","fieldType":"file","acceptFileTypes":".jpg, .jpeg, .webp, .tiff, .png"}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.5,"position":[-464,0],"id":"b0be7c47-4874-4c21-8e89-d39c8b701b3b","name":"On form submission","webhookId":"fced2a52-356c-4caf-a7bf-6dea03a4509d"},{"parameters":{"operation":"resize","dataPropertyName":"=data","options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[0,0],"id":"d3099879-67c9-4e52-8fb3-ab65d8b19507","name":"Edit Image"},{"parameters":{"operation":"compress","binaryPropertyName":"={{ Object.keys($binary).join(',') }}","fileName":"mis_fotos_peques.zip"},"type":"n8n-nodes-base.compression","typeVersion":1.1,"position":[448,0],"id":"cd7f96d4-8203-4efa-afca-b5bd3a708d85","name":"Compression"},{"parameters":{"jsCode":"const out = [];\n\nconst bin = $input.item.binary ?? {};\nconst fotoKeys = Object.keys(bin).filter(k => k.startsWith('Fotos_'));\n\nfor (const k of fotoKeys) {\n  const b = bin[k];\n\n  out.push({\n    json: {\n      originalKey: k,\n      fileName: b.fileName,\n      mimeType: b.mimeType,\n    },\n    binary: {\n      // Normalizamos todo a \"data\" para que Edit Image use siempre la misma key\n      data: b,\n    },\n  });\n}\n\nreturn out;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-240,-48],"id":"0bafae2d-01ed-4dfd-b5ec-e3687a02ba8d","name":"Code in JavaScript"},{"parameters":{"jsCode":"// Junta todos los items (cada uno con binary.data) en 1 solo item\n// creando múltiples propiedades binarias: file_0, file_1, ...\n\nconst items = $input.all();\n\nconst mergedBinary = {};\nconst files = [];\n\nitems.forEach((it, i) => {\n  const b = it.binary?.data;\n  if (!b) return;\n\n  const key = `file_${i}`;\n  mergedBinary[key] = {\n    ...b,\n    // asegúrate que cada archivo tenga nombre único dentro del zip\n    fileName: b.fileName || `foto_${i}.jpg`,\n  };\n\n  files.push({\n    key,\n    fileName: mergedBinary[key].fileName,\n    mimeType: mergedBinary[key].mimeType,\n  });\n});\n\nreturn [\n  {\n    json: {\n      files,\n      total: files.length,\n    },\n    binary: mergedBinary,\n  },\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0],"id":"6c4664df-1b8c-4d60-afe2-bb467e7983c1","name":"Code in JavaScript1"},{"parameters":{"formTitle":"Form 2","formFields":{"values":[{"fieldLabel":"Fotos","fieldType":"file","acceptFileTypes":".jpg, .jpeg, .png, .webp, .tiff"}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.5,"position":[-464,288],"id":"7406202f-5f6a-4516-bc00-fc3b87f492f9","name":"On form submission1","webhookId":"ecfe3c65-69a6-4d6e-9f6f-c39488d0ddd0"},{"parameters":{"jsCode":"const out = [];\n\nconst bin = $input.item.binary ?? {};\nconst fotoKeys = Object.keys(bin).filter(k => k.startsWith('Fotos_'));\n\nfor (const k of fotoKeys) {\n  const b = bin[k];\n\n  out.push({\n    json: {\n      originalKey: k,\n      fileName: b.fileName,\n      mimeType: b.mimeType,\n    },\n    binary: {\n      // Normalizamos todo a \"data\" para que Edit Image use siempre la misma key\n      data: b,\n    },\n  });\n}\n\nreturn out;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-240,288],"id":"2d0c0c8c-8875-4a3f-92df-858152fa1bb6","name":"Code in JavaScript2"},{"parameters":{"operation":"write","fileName":"={{ $json.fileName }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1.1,"position":[416,416],"id":"3bc5227b-30f2-4088-9d42-89138c230758","name":"Read/Write Files from Disk"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[0,288],"id":"c0c789c8-bcf8-42cb-a4a8-fc6d92ecc6ee","name":"Loop Over Items"}],"connections":{"On form submission":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Edit Image":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Edit Image","type":"main","index":0}]]},"Compression":{"main":[[]]},"Code in JavaScript1":{"main":[[{"node":"Compression","type":"main","index":0}]]},"On form submission1":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Read/Write Files from Disk":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Read/Write Files from Disk","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"c2f2c680-cdc5-402b-ad29-ab4677202ae2","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-26T20:36:28.589Z","createdAt":"2026-02-26T20:36:28.589Z","role":"workflow:owner","workflowId":"nTsle7Szs4PwN0ga","projectId":"AABpcXAcT6RuONaC"}],"activeVersion":null,"tags":[]}