validar-columnas-excel--xlsx--HTdOfJg6BdZdZNu1k0SA9.json
{"updatedAt":"2026-02-09T20:44:16.299Z","createdAt":"2026-01-19T17:07:30.702Z","id":"HTdOfJg6BdZdZNu1k0SA9","name":"Validar columnas Excel (XLSX)","active":false,"isArchived":true,"nodes":[{"parameters":{"operation":"xlsx","binaryPropertyName":"Archivo","options":{"headerRow":true,"includeEmptyCells":true}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-16,-16],"id":"826a4269-dbeb-48f1-aec7-f8bd9ac5e1ca","name":"Extract from File","alwaysOutputData":false},{"parameters":{"jsCode":"const expectedHeaders = [\n  'nombre',\n  'email',\n  'telefono'\n];\n\nconst norm = (s) => String(s ?? '').trim().toLowerCase();\n\nconst items = $input.all().map(i => i.json);\nif (items.length === 0) {\n  return [{ json: { ok: false, message: 'No se detectaron filas en el Excel.' } }];\n}\n\n// Caso A: headerRow=true -> objetos con claves = nombres de columnas\n// Caso B: viene como { row: { '0': '...', '1': '...' } }\nlet actualHeaders = [];\n\nif (items[0]?.row && typeof items[0].row === 'object') {\n  const keys = Object.keys(items[0].row);\n  const numericKeys = keys.length > 0 && keys.every(k => /^\\d+$/.test(k));\n  if (numericKeys) {\n    // Si son claves numéricas, intentamos usar la primera fila como headers (valores)\n    actualHeaders = Object.values(items[0].row).map(norm);\n  } else {\n    // Si row ya tiene nombres, usamos sus keys\n    actualHeaders = Object.keys(items[0].row).map(norm);\n  }\n} else {\n  actualHeaders = Object.keys(items[0] ?? {}).map(norm);\n}\n\nconst expectedNorm = expectedHeaders.map(norm);\nconst actualSet = new Set(actualHeaders);\nconst expectedSet = new Set(expectedNorm);\n\nconst missing = expectedNorm.filter(h => !actualSet.has(h));\nconst extra = actualHeaders.filter(h => !expectedSet.has(h));\n\nconst ok = missing.length === 0 && extra.length === 0;\n\nreturn [{\n  json: {\n    ok,\n    expected: expectedNorm,\n    actual: actualHeaders,\n    missing,\n    extra,\n    message: ok\n      ? '✅ El archivo tiene exactamente los campos esperados.'\n      : '❌ Los campos no coinciden exactamente con la lista esperada.'\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,-16],"id":"2c8881f8-1459-43ce-8a12-4a3873cb2407","name":"Validar columnas"},{"parameters":{"name":"={{ $('CargarArchivo').item.json.Archivo.filename }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[432,-16],"id":"2d1e9392-0730-463b-9612-91fc98a232c5","name":"Upload file"},{"parameters":{"formTitle":"Carga Archivo","formDescription":"Carga Archivo","formFields":{"values":[{"fieldName":"Archivo","fieldLabel":"Archivo","fieldType":"file","multipleFiles":false,"acceptFileTypes":".xlsx, xls","requiredField":true}]},"responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.4,"position":[-464,80],"id":"ea4542c6-6406-46d2-9994-0d1f0dc1b68f","name":"CargarArchivo","webhookId":"e963d56c-41c0-483a-8dc2-9ebcad17b697"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"3a0e691b-51a9-40d1-963a-8b1f6eda5dbf","leftValue":"={{ $json.Archivo.filename }}","rightValue":"\\.(xlsx|xls)$","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-240,80],"id":"b3a62bae-837e-4660-9946-ba8343508a67","name":"ValidarExtension"},{"parameters":{"operation":"completion","completionTitle":"Error","completionMessage":"Archivo Incorrecto","options":{}},"type":"n8n-nodes-base.form","typeVersion":2.5,"position":[-16,176],"id":"6b930a6a-ce20-4401-b447-d3fa58788722","name":"Form","webhookId":"476d4a77-bab8-4302-a910-4f8664a6752f"},{"parameters":{"operation":"completion","completionTitle":"OK","completionMessage":"Archivo Subido Correctamente","options":{}},"type":"n8n-nodes-base.form","typeVersion":2.5,"position":[656,-16],"id":"484046a9-ce89-473d-aa83-7b8a5d63689d","name":"Form1","webhookId":"476d4a77-bab8-4302-a910-4f8664a6752f"}],"connections":{"Extract from File":{"main":[[{"node":"Validar columnas","type":"main","index":0}]]},"Validar columnas":{"main":[[{"node":"Upload file","type":"main","index":0}]]},"CargarArchivo":{"main":[[{"node":"ValidarExtension","type":"main","index":0}]]},"ValidarExtension":{"main":[[{"node":"Extract from File","type":"main","index":0}],[{"node":"Form","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"Form1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"36e31f04-5923-4caa-bf16-05ec893667f5","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-19T17:07:30.702Z","createdAt":"2026-01-19T17:07:30.702Z","role":"workflow:owner","workflowId":"HTdOfJg6BdZdZNu1k0SA9","projectId":"qKHJHnveidvROPB6"}],"activeVersion":null,"tags":[]}